Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

release-24.1:Backport!8103
  inv/models/object.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8104
  core/etl/loader/serviceprofile.py
  core/etl/loader/subscriberprofile.py
Due: py-lint, mypy, py:test

Fix SLA Scale
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: py-lint, mypy, py:test

fix metrics
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: py-lint, mypy, py:test

fix
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: py-lint, mypy, py:test

Fix SLA Scale
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: py-lint, mypy, py:test

fix black
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: py-lint, mypy, py:test

Update Profile
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: py-lint, mypy, py:test

Fix container padding
  ui/web/main/home/Application.js
Due: prettier, build:web

Fix highlight
  ui/web/css/extjs.css
Due: prettier, build:web

reload inv navigation on disconnect
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/CreateConnectionForm.js
Due: prettier, build:web

inv.inv: reload navigation on disconnect
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/CreateConnectionForm.js
Due: prettier, build:web

#1973 Add snmp diagnostic to periodic discovery.
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/uptime.py
Due: py-lint, mypy, py:test

Merge branch 'noc-1973-periodic-snmp-caps' into 'master'
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/uptime.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8076
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/uptime.py
Due: py-lint, mypy, py:test

Reset credential when changed auth profile.
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Add CLI protocol order.
  sa/models/credentialcheckrule.py
Due: py-lint, mypy, py:test

Fix flake.
  sa/models/credentialcheckrule.py
Due: py-lint, mypy, py:test

#2484 Reformat Diagnostic Check API.
  commands/p-scan.py
  core/checkers/base.py
  core/checkers/cli.py
  core/checkers/cliprotocolchecker.py
  core/checkers/profile.py
  core/checkers/profilechecker.py
  core/checkers/remoteping.py
  core/checkers/snmp.py
  core/checkers/snmpprotocolchecker.py
  core/checkers/tcp.py
  sa/models/credentialcheckrule.py
  sa/models/managedobjectprofile.py
  sa/models/objectdiagnosticconfig.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2484' into 'master'
  commands/p-scan.py
  core/checkers/base.py
  core/checkers/cli.py
  core/checkers/cliprotocolchecker.py
  core/checkers/profile.py
  core/checkers/profilechecker.py
  core/checkers/remoteping.py
  core/checkers/snmp.py
  core/checkers/snmpprotocolchecker.py
  core/checkers/tcp.py
  sa/models/credentialcheckrule.py
  sa/models/managedobjectprofile.py
  sa/models/objectdiagnosticconfig.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8106
  commands/p-scan.py
  core/checkers/base.py
  core/checkers/cli.py
  core/checkers/cliprotocolchecker.py
  core/checkers/profile.py
  core/checkers/profilechecker.py
  core/checkers/remoteping.py
  core/checkers/snmp.py
  core/checkers/snmpprotocolchecker.py
  core/checkers/tcp.py
  sa/models/credentialcheckrule.py
  sa/models/managedobjectprofile.py
  sa/models/objectdiagnosticconfig.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Merge branch 'noc-24.1-bump' into 'master'
  VERSION
  mkdocs.yml
Due: prettier, build:Docs, upload docs

release-24.1:Backport!8089
  VERSION
  mkdocs.yml
Due: prettier, build:Docs, upload docs

Update file config.xml
  ansible/system_roles/clickhouse/templates/config.xml
Due: none

Clickhouse change default broken parts number
  ansible/system_roles/clickhouse/templates/config.xml
Due: none

Merge branch 'ansible-fix-ch-brokenparts' into 'master'
  ansible/system_roles/clickhouse/templates/config.xml
Due: none

Additional widgets
  services/web/apps/main/home/templates/Community.html.j2
  services/web/apps/main/home/views.py
  ui/web/core/layout/Flex.js
Due: py-lint, mypy, prettier, py:test, build:web

release-24.1:Backport!8116
  ansible/system_roles/clickhouse/templates/config.xml
Due: none

Fix
  services/web/apps/main/home/views.py
Due: py-lint, mypy, py:test

NOC Manifest
  docs/noc-maniefest/index.md
  docs/noc-maniefest/index.ru.md
Due: prettier, build:Docs, upload docs

remove unused jobs
  .gitlab-ci.yml
Due: py-lint, prettier

Remove unused ci jobs
  .gitlab-ci.yml
Due: py-lint, prettier

NOC manifest
  docs/noc-community/index.md
  docs/noc-community/index.ru.md
  docs/noc-manifest/index.md
  docs/noc-manifest/index.ru.md
Due: prettier, build:Docs, upload docs

Fix check alarm_consequence_policy without tt_system.
  services/correlator/check.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-consequence-policy-check' into 'master'
  services/correlator/check.py
Due: py-lint, mypy, py:test

Add initial FM Event sync on RemoteSystem.
  core/etl/extractor/base.py
  core/etl/models/fmevent.py
  core/etl/remotesystem/base.py
  core/fm/event.py
  main/models/remotesystem.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

release-24.1:Backport!8120
  services/correlator/check.py
Due: py-lint, mypy, py:test

Fix typo.
  core/etl/extractor/base.py
  core/etl/models/fmevent.py
Due: py-lint, mypy, py:test

Fix flake.
  core/etl/extractor/base.py
  core/fm/event.py
Due: py-lint, mypy, py:test
