Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

FIx some links
  docs/ru/docs/admin/howto/deploy-noc/deploy-noc.md
Due: none

Fix typo.
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix images name
  docs/ru/docs/admin/howto/deploy-noc/deploy-noc.md
  docs/ru/docs/admin/howto/deploy-noc/img/tower-add-node.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-create-dc.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-create-env.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-main-window.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-pull-playbooks.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-run-deploy.png
Due: none

Fix text
  docs/ru/docs/admin/howto/deploy-noc/deploy-noc.md
Due: none

Add cmp datetime format.
  sa/profiles/Alcatel/7302/profile.py
  sa/profiles/DLink/DGS3100/profile.py
  sa/profiles/DLink/DxS/profile.py
  sa/profiles/DLink/DxS_Smart/profile.py
  sa/profiles/Qtech/QSW2800/profile.py
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_interfaces. Add vlan_ids for Vlan interface.
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix calculate ifaces.
  services/web/apps/vc/vlan/views.py
  vc/models/l2domain.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix cmp_version method for profiles.
  sa/profiles/Alcatel/7302/profile.py
  sa/profiles/Alcatel/AOS/profile.py
  sa/profiles/Qtech/QSW2800/profile.py
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix index error on VC migration.
  services/web/apps/vc/vlan/views.py
  vc/migrations/0029_migrate_vc_vlan.py
  vc/models/l2domain.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add is_fatal label to Alarm.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

update docks
  docs/ru/docs/admin/howto/deploy-noc/deploy-noc.md
  docs/ru/docs/admin/howto/deploy-noc/img/7.png
Due: none

Upload New File
  docs/ru/docs/admin/howto/deploy-noc/img/tower-add-service.png
Due: none

Manual add deploy noc
  docs/ru/docs/admin/howto/deploy-noc/deploy-noc.md
  docs/ru/docs/admin/howto/deploy-noc/img/tower-add-node.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-add-service.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-create-dc.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-create-env.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-main-window.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-pull-playbooks.png
  docs/ru/docs/admin/howto/deploy-noc/img/tower-run-deploy.png
  docs/ru/docs/admin/howto/index.md
Due: none

Bump FastAPI
  requirements.txt
Due: none

Fix VC migration.
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Bump FastAPI
  requirements.txt
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Config: Rename metrics section to perfomance
  config.py
  core/quantile/monitor.py
  docs/en/docs/admin/reference/config/perfomance.md
  docs/en/mkdocs.yml
  docs/ru/docs/admin/reference/config/perfomance.md
  docs/ru/mkdocs.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

DistributedAsyncLock
  core/lock/distributed_async.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  config.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  docs/en/docs/admin/reference/config/performance.md
Due: none

Fix typo.
  docs/en/docs/admin/reference/services/metrics.md
Due: none

Fix typo.
  docs/ru/docs/admin/reference/config/performance.md
Due: none

Config: Rename metrics section to perfomance
  config.py
  core/quantile/monitor.py
  docs/en/docs/admin/reference/config/performance.md
  docs/en/docs/admin/reference/services/metrics.md
  docs/en/mkdocs.yml
  docs/ru/docs/admin/reference/config/performance.md
  docs/ru/mkdocs.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

metrics: Persistent state storage
  core/lock/base.py
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add lock
  services/metrics/changelog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Optimize state feeding
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix state handling
  core/cdag/node/base.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix LogRunner.
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Reduce `str` memory usage
  core/cdag/node/base.py
  core/cdag/node/subgraph.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  services/metrics/changelog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

metrics: Fix node cache calculation
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Auto-run compact
  core/lock/distributed_async.py
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Sharded changelog
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  services/metrics/changelog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Configurable flushing and compacting
  config.py
  docs/en/docs/admin/reference/config/metrics.md
  docs/en/mkdocs.yml
  docs/ru/docs/admin/reference/config/metrics.md
  docs/ru/mkdocs.yml
  services/metrics/service.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

metrics: Persistent state storage
  config.py
  core/cdag/node/base.py
  core/cdag/node/subgraph.py
  core/lock/base.py
  core/lock/distributed_async.py
  docs/en/docs/admin/reference/config/metrics.md
  docs/en/mkdocs.yml
  docs/ru/docs/admin/reference/config/metrics.md
  docs/ru/mkdocs.yml
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

SAE. Not use executor for get_object_data.
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
