Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

release-24.1:Backport!8304
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

Move checks to activator service.
  core/checkers/base.py
  core/checkers/loader.py
  core/checkers/profile.py
  core/checkers/remoteping.py
  core/profile/diagnostic.py
  core/script/diagnostic.py
  core/wf/diagnostic.py
  sa/models/managedobjectprofile.py
  sa/models/objectdiagnosticconfig.py
  sa/models/profilecheckrule.py
  services/activator/checkers/__init__.py
  services/activator/checkers/cli.py
  services/activator/checkers/http.py
  services/activator/checkers/snmp.py
  services/activator/checkers/tcp.py
  services/discovery/jobs/periodic/diagnostic.py
  tests/models/test_sa_diagnostics.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-alarm-command-test' into 'master'
  commands/alarm.py
Due: py-lint, mypy, py:test

Add command 'classify'
  commands/classify.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8322
  commands/alarm.py
Due: py-lint, mypy, py:test

Fix imports.
  commands/p-scan.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8318
  commands/p-scan.py
  core/checkers/base.py
  core/checkers/loader.py
  core/checkers/profile.py
  core/checkers/remoteping.py
  core/profile/diagnostic.py
  core/script/diagnostic.py
  core/wf/diagnostic.py
  sa/models/managedobjectprofile.py
  sa/models/objectdiagnosticconfig.py
  sa/models/profilecheckrule.py
  services/activator/checkers/__init__.py
  services/activator/checkers/cli.py
  services/activator/checkers/http.py
  services/activator/checkers/snmp.py
  services/activator/checkers/tcp.py
  services/discovery/jobs/periodic/diagnostic.py
  tests/models/test_sa_diagnostics.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-fix-script-checks' into 'master'
  core/checkers/loader.py
  core/interface/base.py
  sa/interfaces/iping.py
  sa/profiles/Generic/run_checks.py
  services/discovery/jobs/periodic/diagnostic.py
  services/web/apps/main/ref/views.py
Due: py-lint, mypy, py:test

get to post
  ui/web/fm/classificationrule/Application.js
  ui/web/fm/event/Application.js
  ui/web/fm/event/EventInspector.js
  ui/web/fm/ignorepattern/Application.js
Due: eslint, build:web

release-24.1:Backport!8411
  core/checkers/loader.py
  core/interface/base.py
  sa/interfaces/iping.py
  sa/profiles/Generic/run_checks.py
  services/discovery/jobs/periodic/diagnostic.py
  services/web/apps/main/ref/views.py
Due: py-lint, mypy, py:test

Fix mib fm processed.
  cmibs/cisco_mac_notification_mib.py
  collections/fm.eventclassificationrules/Cisco/IOS/Network/MAC/MAC_Learned_SNMP_.json
  core/mib.py
  tests/test_mib.py
Due: py-lint, mypy, prettier, py:test

release-24.1:Backport!8592
  cmibs/cisco_mac_notification_mib.py
  collections/fm.eventclassificationrules/Cisco/IOS/Network/MAC/MAC_Learned_SNMP_.json
  core/mib.py
  tests/test_mib.py
Due: py-lint, mypy, prettier, py:test

close parent panel
  ui/web/fm/classificationrule/Application.js
  ui/web/fm/event/EventInspector.js
  ui/web/fm/ignorepattern/Application.js
Due: eslint, build:web

deselectAll when open filter
  ui/web/fm/event/ApplicationController.js
Due: eslint, build:web

json fix
  ui/web/fm/event/EventInspector.js
Due: eslint, build:web

inv data plugin pencil icon added
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: eslint, build:web

Fix backend.
  services/web/apps/fm/event/views.py
  services/web/apps/fm/ignorepattern/views.py
Due: py-lint, mypy, py:test

Fix Default Workflow in managedobject interaction check.
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-oidrules-for-new-matcher' into 'master'
  core/script/oidrules/match.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-update-diagnostic-checks' into 'master'
  core/profile/diagnostic.py
  core/script/diagnostic.py
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/diagnostic.py
  tests/models/test_sa_diagnostics.py
Due: py-lint, mypy, py:test

Merge branch 'fix_customfield_enumvalues' into 'master'
  main/models/customfield.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8608
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8618
  core/script/oidrules/match.py
Due: py-lint, mypy, py:test

Change pencil icon
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: eslint, build:web

release-24.1:Backport!8281
  main/models/customfield.py
Due: py-lint, mypy, py:test

Merge branch 'master' into 'master'
  main/models/customfield.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8616
  core/profile/diagnostic.py
  core/script/diagnostic.py
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/diagnostic.py
  tests/models/test_sa_diagnostics.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8643
  main/models/customfield.py
Due: py-lint, mypy, py:test

Merge branch 'fix-ipam-reports-vc' into 'master'
  services/web/apps/ip/reportallocated/views.py
  services/web/apps/ip/reportexpanded/views.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-apply-vpn-on-prefixes' into 'master'
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-generic-arp-without-mac' into 'master'
  sa/profiles/Generic/get_arp.py
  sa/profiles/Generic/get_mac_address_table.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2578' into 'master'
  services/ping/service.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-save-default-state-raise' into 'master'
  services/datastream/streams/cfgtarget.py
Due: py-lint, mypy, py:test

Merge branch 'patch-decrese-logging-level' into 'master'
  core/service/stormprotection.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8418
  services/web/apps/ip/reportallocated/views.py
  services/web/apps/ip/reportexpanded/views.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8648
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-profile-diagnostic-error-logging' into 'master'
  core/profile/diagnostic.py
  services/activator/checkers/http.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8654
  sa/profiles/Generic/get_arp.py
  sa/profiles/Generic/get_mac_address_table.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8659
  services/datastream/streams/cfgtarget.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
