Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Ubiquity.AirOS.get_version. Rocket 5AC Lite fix.
  sa/profiles/Sumavision/IPQAM/get_uptime.py
  sa/profiles/Sumavision/IPQAM/snmp_metrics/object_sysuptime.json
  sa/profiles/Ubiquiti/AirOS/get_chassis_id.py
  sa/profiles/Ubiquiti/AirOS/get_version.py
  sa/profiles/Ubiquiti/AirOS/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Set Scale and Units default on UI MetricType form.
  pm/models/metrictype.py
  services/web/apps/pm/scale/views.py
  services/web/apps/sa/service/views.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
  ui/web/pm/scale/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Sumavision.IPQAM.get_metrics. Fix collect Multicast Group metrics for group more than 10.
  sa/profiles/Generic/get_chassis_id.py
  sa/profiles/Generic/get_interface_status_ex.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix circular references on ObjectConnection model.
  inv/models/object.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  sa/profiles/Sumavision/IPQAM/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Configuration Management docs to background.
  docs/ru/docs/user/background/configuration-management/images/confdb-mo-tree-query-colladsed.png
  docs/ru/docs/user/background/configuration-management/images/confdb-mo-tree-query-expanded.png
  docs/ru/docs/user/background/configuration-management/images/confdb-mo-tree-query-form.png
  docs/ru/docs/user/background/configuration-management/images/confdb-mo-tree-query-raw-syslog.png
  docs/ru/docs/user/background/configuration-management/images/confdb-query-edit-form-ntp.png
  docs/ru/docs/user/background/configuration-management/images/confdb-validation-policy-edit-form-eltex.png
  docs/ru/docs/user/background/configuration-management/index.md
  docs/ru/docs/user/reference/concepts/dynamic-classification-policy/index.md
  docs/ru/docs/user/reference/concepts/external-storage/images/ext-storage-form-upload-config.png
  docs/ru/docs/user/reference/concepts/external-storage/images/ext-storage-list1.png
  docs/ru/docs/user/reference/concepts/external-storage/index.md
  docs/ru/docs/user/reference/concepts/interface/index.md
  docs/ru/docs/user/reference/concepts/managed-object-profile/images/mop_form_config_tab_open.png
  docs/ru/docs/user/reference/concepts/managed-object-profile/index.md
  docs/ru/docs/user/reference/concepts/resource-group/index.md
Due: none

Sumavision.IPQAM.get_metrics. Fix collect Multicast Group metrics for group more than 10.
  sa/profiles/Generic/get_chassis_id.py
  sa/profiles/Generic/get_interface_status_ex.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Juniper.JunOS.get_inventory. Fix "values to unpack" trace.
  sa/profiles/Juniper/JUNOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update test.py
  commands/test.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.objectmodels: NAG | SNR | SNR-S2990X-24FQ
  collections/inv.objectmodels/NAG/SNR/SNR-S2990X-24FQ.json
Due: prettier

inv.objectmodels: ModulTech | Transceiver | 1G | MT-PB-3524S-L4C
  collections/inv.objectmodels/ModulTech/Transceiver/1G/MT-PB-3524S-L4C.json
Due: prettier

noc/noc#1681
  ui/web/core/label/LabelDisplay.js
  ui/web/core/label/LabelField.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/CapabilitiesModel.js
Due: prettier

aaa
  sa/profiles/Eltex/MES/get_version.py
  sa/profiles/Eltex/MES/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

aaa
  sa/profiles/Generic/get_mpls_vpn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  sa/profiles/Generic/get_mpls_vpn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Generic.get_mpls_vpn script
  sa/profiles/Generic/get_mpls_vpn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

EdgeCore.ES.get_lldp_neighbors. LLDP Prefer.
  docs/ru/mkdocs.yml
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
  sa/profiles/EdgeCore/ES/profile.py
  services/web/apps/sa/objectlist/views.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use JSONEachRow format for metric report query.
  core/clickhouse/connect.py
  lib/app/reportdatasources/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Develop Card, Handler docs.
  docs/ru/docs/user/background/configuration-management/index.md
  docs/ru/docs/user/reference/concepts/dynamic-classification-policy/index.md
  docs/ru/docs/user/reference/concepts/interface-profile/index.md
  docs/ru/docs/user/reference/concepts/interface/index.md
  docs/ru/docs/user/reference/concepts/label/index.md
  docs/ru/docs/user/reference/concepts/template/index.md
Due: none

Cisco.IOS.get_version - support for Cisco 9300 ver 17
  sa/profiles/Cisco/IOS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add stack interfaces Eltex.MES
  sa/profiles/Eltex/MES/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update get_interfaces.py
  sa/profiles/Eltex/MES/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fux FreeBSD roles
  ansible/noc_roles/noc/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/consul/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/postgres/tasks/os/FreeBSD_12/main.yml
  ansible/vars/FreeBSD_12.yml
Due: prettier

Fix
  ansible/system_roles/grafana/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/postgres/tasks/os/FreeBSD_12/checks.yml
Due: prettier

a:
  collections/sa.profilecheckrules/Eltex/MES/MES_2408B_sysobjectid.json
  collections/sa.profilecheckrules/Eltex/MES/MES_2408CP_sysobjectid.json
Due: prettier

Fix
  collections/sa.profilecheckrules/Eltex/MES/MES_2428B_sysobjectid.json
  collections/sa.profilecheckrules/Eltex/MES/MES_2428P_sysobjectid.json
Due: prettier

Add Eltex profilecheckrules
  collections/sa.profilecheckrules/Eltex/MES/MES_2408B_sysobjectid.json
  collections/sa.profilecheckrules/Eltex/MES/MES_2408CP_sysobjectid.json
  collections/sa.profilecheckrules/Eltex/MES/MES_2428B_sysobjectid.json
  collections/sa.profilecheckrules/Eltex/MES/MES_2428P_sysobjectid.json
Due: prettier

Fix some roles
  ansible/system_roles/liftbridge/tasks/main.yml
  ansible/vars/FreeBSD_12.yml
Due: prettier

Fix
  ansible/vars/FreeBSD_12.yml
Due: prettier

Ansible fix fake_shell
  ansible/system_roles/liftbridge/tasks/main.yml
  ansible/vars/FreeBSD_12.yml
Due: prettier

Fix FreeBSD roles
  ansible/noc_roles/noc/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/consul/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/grafana/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/postgres/tasks/os/FreeBSD_12/checks.yml
  ansible/system_roles/postgres/tasks/os/FreeBSD_12/main.yml
  ansible/vars/FreeBSD_12.yml
Due: prettier

Add Handlers docs.
  docs/ru/docs/admin/reference/discovery/box/hk.md
  docs/ru/docs/admin/reference/discovery/box/ifdesc.md
  docs/ru/docs/dev/reference/card/index.md
  docs/ru/docs/dev/reference/custom/index.md
  docs/ru/docs/dev/reference/handlers/address-resolver.md
  docs/ru/docs/dev/reference/handlers/config-diff-filter.md
  docs/ru/docs/dev/reference/handlers/config-filter.md
  docs/ru/docs/dev/reference/handlers/config-validation.md
  docs/ru/docs/dev/reference/handlers/ds-filter.md
  docs/ru/docs/dev/reference/handlers/housekeeper.md
  docs/ru/docs/dev/reference/handlers/ifacedescription.md
  docs/ru/docs/dev/reference/handlers/index.md
  docs/ru/docs/user/reference/concepts/handler/index.md
  docs/ru/docs/user/reference/concepts/managed-object-profile/index.md
  docs/ru/mkdocs.yml
Due: prettier

Truncate JobLog when save to DB if size more than MAX_DB_LOG_SIZE.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add bucket-late and bucket-duration options to ./noc job command for Running Job stat.
  commands/job.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  docs/ru/docs/admin/reference/discovery/box/hk.md
  docs/ru/docs/dev/reference/handlers/index.md
  docs/ru/docs/user/reference/concepts/managed-object-profile/index.md
Due: none

Add Develop Card, Handler docs.
  docs/ru/docs/admin/reference/discovery/box/hk.md
  docs/ru/docs/admin/reference/discovery/box/ifdesc.md
  docs/ru/docs/dev/reference/card/index.md
  docs/ru/docs/dev/reference/custom/index.md
  docs/ru/docs/dev/reference/handlers/address-resolver.md
  docs/ru/docs/dev/reference/handlers/config-diff-filter.md
  docs/ru/docs/dev/reference/handlers/config-filter.md
  docs/ru/docs/dev/reference/handlers/config-validation.md
  docs/ru/docs/dev/reference/handlers/ds-filter.md
  docs/ru/docs/dev/reference/handlers/housekeeper.md
  docs/ru/docs/dev/reference/handlers/ifacedescription.md
  docs/ru/docs/dev/reference/handlers/index.md
  docs/ru/docs/user/background/configuration-management/index.md
  docs/ru/docs/user/reference/concepts/dynamic-classification-policy/index.md
  docs/ru/docs/user/reference/concepts/handler/index.md
  docs/ru/docs/user/reference/concepts/interface-profile/index.md
  docs/ru/docs/user/reference/concepts/interface/index.md
  docs/ru/docs/user/reference/concepts/label/index.md
  docs/ru/docs/user/reference/concepts/managed-object-profile/index.md
  docs/ru/docs/user/reference/concepts/template/index.md
  docs/ru/mkdocs.yml
Due: prettier

upd(fm.eventclassificationrules): Config_Changed_SYSLOG_.json for juniper
  collections/fm.eventclassificationrules/Juniper/JUNOS/Config/Config_Changed_SYSLOG_.json
Due: prettier

A
  fm/models/eventclass.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
