Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix get_by_id usage
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Due: py-lint, mypy, py:test

Deprecate ./noc test command
  .docker/docker-compose.yml
  .github/workflows/py-tests.yml
  commands/test.py
  config.py
  docs/man/test.md
  tests/confdb/profiles/README.md
  tests/conftest.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

#2722 Add Zabbix Connector integration to Metrics Collector.
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Due: py-lint, mypy, py:test

noc-supp-fix-card-templates-swrvice.html.j2-remove-ToDoContainer
  services/card/templates/service.html.j2
Due: none

release-25.1:Backport!9597
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Due: py-lint, mypy, py:test

Merge branch 'noc-supp-fix-card-ToDoContainer' into 'master'
  services/card/templates/service.html.j2
Due: none

release-23.1:Backport!9581
  services/card/templates/service.html.j2
Due: none

Merge branch 'noc-2722' into 'master'
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9593
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Due: py-lint, mypy, py:test

Conditionan PR coverage (#7)
  .github/workflows/py-tests.yml
  codecov.yml
Due: prettier

Migrate CPClient
  support/cp.py
Due: py-lint, mypy, py:test

Migrate FIAS Extractor
  core/etl/extractor/fias.py
Due: py-lint, mypy, py:test

Fix headers in cp
  support/cp.py
Due: py-lint, mypy, py:test

Fix direction
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Due: prettier, py:test

Jinja2 3.1.6
  pyproject.toml
Due: py-lint

release-25.1:Backport!9677
  config.py
  core/mongo/connection.py
  docs/config-reference/mongo.md
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix overly permissive regular expression ranges (#8)
  sa/profiles/Brocade/ADX/get_vlans.py
  sa/profiles/Brocade/CER-ADV/get_vlans.py
  sa/profiles/Brocade/CER/get_vlans.py
  sa/profiles/Brocade/IronWare/get_vlans.py
  sa/profiles/HP/ProCurve9xxx/get_vlans.py
Due: py-lint, mypy, py:test

Suppress complains about insecure hasing algorithms when non relevant. (#9)
  core/password/hasher.py
Due: py-lint, mypy, py:test

NOC Code of Conduct
  CODE_OF_CONDUCT.md
  docs/blog/posts/noc-coc.md
  docs/man/SUMMARY.md
Due: prettier, build:Docs, upload docs

password generator refactored
  ui/web/aaa/apikey/Application.js
  ui/web/core/PasswordGenerator.js
  ui/web/sa/service/InstancesPanel.js
Due: eslint, build:web

pass generator change symbol
  ui/web/core/PasswordGenerator.js
Due: eslint, build:web

Fix detection network maps' paper size
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

Merge branch 'noc-topo-map-scroll' into 'master'
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

Remove web build
  .gitlab-ci.yml
Due: py-lint, prettier

release-25.1:Backport!9595
  .gitlab-ci.yml
  ui/web/inv/map/MapPanel.js
Due: py-lint, eslint, prettier, build:web

Move documentation to GitHub pages (#10)
  .github/workflows/build-docs.yml
  .gitlab-ci.yml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING.rst
  docs/community-guide/index.md
  docs/community-guide/index.ru.md
  mkdocs.yml
  scripts/docs/minify.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Blog comments (#16)
  docs/blog/posts/csr-proxy-concept/index.md
  docs/blog/posts/licanse-updates.md
  docs/blog/posts/nginx-serving-mkdocs-site/index.md
  docs/blog/posts/noc-24-1-2.md
  docs/blog/posts/noc-24-1-3.md
  docs/blog/posts/noc-24-1.md
  docs/blog/posts/noc-coc.md
  docs/blog/posts/noc-is-now-managed-by-gufo-labs.md
Due: prettier, build:Docs, upload docs

debug: Remove unused regular expression (#17)
  core/debug.py
Due: py-lint, mypy, py:test

home: Update community links (#18)
  services/web/apps/main/home/templates/Community.html.j2
Due: none

Remove unused files (#19)
  INSTALL
  settings.py
  share/osm2pgsql/default.style
  templatetags/__init__.py
  templatetags/template_exists.py
  unittest.cfg
Due: py-lint, mypy, py:test

Run CodeQL only daily (#20)
  .github/workflows/codeql.yml
Due: prettier

Ruff 0.13.2
  .requirements/lint.txt
  pyproject.toml
Due: py-lint
