Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

release-23.1:Backport!8170
  ansible/noc_roles/noc/defaults/main.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Due: prettier

release-24.1:Backport!8172
  .requirements/activator.txt
  .requirements/node.txt
Due: py-lint

Fix unique Error on strip platform migration.
  inv/migrations/0036_strip_platform_name_250.py
Due: py-lint, mypy, py:test

Fix black.
  inv/migrations/0036_strip_platform_name_250.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8154
  core/pm/utils.py
Due: py-lint, mypy, py:test

Merge branch 'fix-RTSUPP-157' into 'master'
  services/web/apps/inv/reportpendinglinks/views.py
Due: py-lint, mypy, py:test

Fix typo.
  inv/migrations/0036_strip_platform_name_250.py
Due: py-lint, mypy, py:test

Docs: Update information about supported Python versions
  docs/blog/posts/noc-24-1.md
  docs/releases/24_1.md
Due: prettier, build:Docs, upload docs

release-23.1:Backport!7580
  services/web/apps/inv/reportpendinglinks/views.py
Due: py-lint, mypy, py:test

#2497 Fix unique Error on strip platform migration.
  inv/migrations/0036_strip_platform_name_250.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2497' into 'master'
  inv/migrations/0036_strip_platform_name_250.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8175
  inv/migrations/0036_strip_platform_name_250.py
Due: py-lint, mypy, py:test

Fix response_model_exclude_none parameter for FastAPI routes
  services/card/base.py
  services/nbi/base.py
Due: py-lint, mypy, py:test

bump js-lib
  requirements/web.json
Due: prettier, py:test

Fix cookie processing and polus get_inventory
  core/script/http/base.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, py:test

fix mistype
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
Due: py-lint, mypy, py:test

fix description with spaces in NAG.SNR.get_interfaces
  sa/profiles/NAG/SNR/get_interfaces.py
Due: py-lint, mypy, py:test

#1708 Add Alarm Severity Policy.
  collections/fm.alarmseverities/CRITICAL.json
  collections/fm.alarmseverities/IGNORE.json
  collections/fm.alarmseverities/INFO.json
  collections/fm.alarmseverities/MAJOR.json
  collections/fm.alarmseverities/MINOR.json
  collections/fm.alarmseverities/WARNING.json
  collections/main.labels/noc_severity_.json
  collections/main.labels/noc_severity_critical.json
  collections/main.labels/noc_severity_ignore.json
  collections/main.labels/noc_severity_info.json
  collections/main.labels/noc_severity_major.json
  collections/main.labels/noc_severity_minor.json
  collections/main.labels/noc_severity_warning.json
  fm/migrations/0057_ararm_rule_severity_to_instance.py
  fm/models/activealarm.py
  fm/models/alarmclass.py
  fm/models/alarmrule.py
  fm/models/alarmseverity.py
  sa/models/servicesummary.py
  services/correlator/alarmrule.py
  services/correlator/models/ensuregroupreq.py
  services/correlator/models/raisereq.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/alarmrule/Model.js
  ui/web/fm/alarmseverity/Application.js
  ui/web/fm/alarmseverity/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Add repeat_escalations settings.
  fm/models/escalationprofile.py
Due: py-lint, mypy, py:test

Add EscalationProfile for Escalation Settings.
  fm/models/escalationprofile.py
  services/web/apps/fm/escalationprofile/__init__.py
  services/web/apps/fm/escalationprofile/views.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/LookupField.js
  ui/web/fm/escalationprofile/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Add default.
  fm/models/escalationprofile.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix typo.
  core/tt/types.py
  fm/models/escalation.py
  services/escalator/jobs/base.py
  services/escalator/jobs/check_tt.py
  services/escalator/jobs/escalation.py
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Fix iter_sequence condition typo.
  services/escalator/jobs/base.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

Add max_repeats to UI.
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/Model.js
Due: prettier, build:web

Add Escalation Actions.
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/escalation.py
  fm/models/escalationprofile.py
  fm/models/ttsystem.py
  services/escalator/jobs/check_tt.py
  services/escalator/jobs/escalation.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Add check_tt Job.
  core/tt/base.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/escalation.py
  fm/models/escalationprofile.py
  fm/models/ttsystem.py
  services/escalator/jobs/check_tt.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

Add escalation Action.
  aaa/models/user.py
  core/tt/base.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/escalation.py
  services/escalator/jobs/base.py
  services/escalator/jobs/check_tt.py
  services/escalator/jobs/escalation.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Add string method.
  fm/models/escalationprofile.py
  ui/web/fm/escalationprofile/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Clean TT System API.
  core/tt/base.py
  fm/models/escalation.py
  fm/models/escalationprofile.py
  services/escalator/jobs/base.py
  services/escalator/jobs/escalation.py
  ui/web/fm/escalationprofile/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Add Escalation Sequence job.
  fm/models/escalationprofile.py
  fm/models/ttsystem.py
  services/escalator/jobs/__init__.py
  services/escalator/jobs/base.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

Stop when repeat is end.
  fm/models/escalation.py
  fm/models/escalationprofile.py
  services/escalator/jobs/escalation.py
  ui/web/fm/escalationprofile/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Replace EscalationDoc to new format.
  core/tt/base.py
  fm/models/escalation.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

Add Escalation Repeat.
  fm/models/escalation.py
  fm/models/escalationprofile.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

Remove mongo index.
  fm/models/escalation.py
  ui/web/fm/alarmrule/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix update severity on alarm.
  fm/models/alarmrule.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix encode HTTP headers value when set script.
  core/script/http/base.py
  sa/interfaces/base.py
Due: py-lint, mypy, py:test

Add typing.
  core/script/http/base.py
  core/script/http/middleware/base.py
  core/script/http/middleware/basicauth.py
  core/script/http/middleware/digestauth.py
Due: py-lint, mypy, py:test

Fix encode HTTP headers value when set script.
  core/script/http/base.py
  core/script/http/middleware/base.py
  core/script/http/middleware/basicauth.py
  core/script/http/middleware/digestauth.py
  sa/interfaces/base.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-encode-script-http-headers' into 'master'
  core/script/http/base.py
  core/script/http/middleware/base.py
  core/script/http/middleware/basicauth.py
  core/script/http/middleware/digestauth.py
  sa/interfaces/base.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8184
  core/script/http/base.py
  core/script/http/middleware/base.py
  core/script/http/middleware/basicauth.py
  core/script/http/middleware/digestauth.py
  sa/interfaces/base.py
Due: py-lint, mypy, py:test
