Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Merge branch 'noc-1216' into 'master'
  sa/profiles/Dahua/DH/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update requirements/deploy scripts for py3/py2 compat
  .gitignore
  requirements/classifier.txt
  requirements/node.txt
  scripts/deploy/apply-pools
  scripts/deploy/cleanup-pyc
  scripts/deploy/link-site-packages
Due: none

Add promote_affected_tt param to AlarmEscalation config.
  fm/models/alarmescalation.py
  services/escalator/escalation.py
  ui/web/fm/alarmescalation/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix import __future__ print in deploy scripts
  scripts/deploy/apply-pools
  scripts/deploy/cleanup-pyc
  scripts/deploy/link-site-packages
Due: none

noc/noc#1245 Move configvalidation umbrella to 'Config | Object Policy Violation' AlarmClass.
  services/discovery/jobs/box/configvalidation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix_Environment_Sensor_Status_Eltex_MES
  sa/profiles/Eltex/MES/snmp_metrics/environment_status.json
Due: prettier

Merge branch 'fix_Environment_Sensor_Status_Eltex_MES' into 'master'
  sa/profiles/Eltex/MES/snmp_metrics/environment_status.json
Due: prettier

fix_get_lldp_neighbors_Eltex_MES24xx
  sa/profiles/Eltex/MES24xx/get_chassis_id.py
  sa/profiles/Eltex/MES24xx/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_cli_get_lldp_neighbors_AlliedTelesis.AT9900
  sa/profiles/AlliedTelesis/AT9900/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'add_get_ifindexes_AlliedTelesis.AT9900_profile' into 'master'
  sa/profiles/AlliedTelesis/AT9900/get_chassis_id.py
  sa/profiles/AlliedTelesis/AT9900/get_ifindexes.py
  sa/profiles/AlliedTelesis/AT9900/get_interfaces.py
  sa/profiles/AlliedTelesis/AT9900/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Bump ansible version and tower minimal version
  ansible/noc_roles/pre/tasks/checks.yml
  ansible/vars/main.yml
Due: prettier

Merge branch 'add_get_lldp_neighbors_AlliedTelesis.AT9900' into 'master'
  sa/profiles/AlliedTelesis/AT9900/get_interfaces.py
  sa/profiles/AlliedTelesis/AT9900/get_lldp_neighbors.py
  sa/profiles/AlliedTelesis/AT9900/get_version.py
  sa/profiles/AlliedTelesis/AT9900/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Set name of consul release
  ansible/vars/main.yml
Due: prettier

Bump consul versions
  ansible/system_roles/consul/defaults/main.yml
  ansible/vars/main.yml
Due: prettier

Update consul to 1.7.0
  ansible/vars/main.yml
Due: prettier

Add skip check if when consul is 1.2.2
  ansible/system_roles/consul/tasks/checks.yml
Due: prettier

Fix promote_affected_tt param when escalation item.
  services/escalator/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS.get_lacp_neighbors. Fix rx_sys_id regex.
  sa/profiles/Cisco/IOS/get_lacp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Segment MAC Discovery when the object links to itself
  services/discovery/jobs/segment/mac.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix/segment_mac_discovery' into 'master'
  services/discovery/jobs/segment/mac.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update pyproject.toml, requirements/test.txt files Deleted .coveragerc
  .coveragerc
  commands/test.py
  pyproject.toml
  requirements/test.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-cisco-get-lacp' into 'master'
  sa/profiles/Cisco/IOS/get_lacp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'add_cli_get_lldp_neighbors_AlliedTelesis.AT9900' into 'master'
  sa/profiles/AlliedTelesis/AT9900/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_get_capabilities_AlliedTelesis.AT9900
  sa/profiles/AlliedTelesis/AT9900/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

set black line-length to 120
  pyproject.toml
Due: none

Merge branch 'noc-19.3.2-relnotes' into 'master'
  docs/src/en/releases/gen-19.3.rst
  docs/src/en/releases/release-19.3.2.rst
Due: none

Links to MR list
  docs/src/en/releases/release-19.1.rst
  docs/src/en/releases/release-19.2.3.rst
  docs/src/en/releases/release-19.3.1.rst
Due: none

fm.alarm filter by class fixed
  ui/web/fm/alarm/view/grids/Lookup.js
  ui/web/fm/alarm/view/grids/Tagfield.js
Due: prettier

Merge branch 'patch-uncol-fm-filter' into 'master'
  ui/web/fm/alarm/view/grids/Lookup.js
  ui/web/fm/alarm/view/grids/Tagfield.js
Due: prettier

noc/noc#1085 Confdb add VRRP. initial version. Add cisco, huawei
  core/confdb/syntax/virtualrouter/protocols/base.py
  core/confdb/syntax/virtualrouter/protocols/vrrp/__init__.py
  core/confdb/syntax/virtualrouter/protocols/vrrp/base.py
  sa/profiles/Cisco/IOS/confdb/normalizer.py
  sa/profiles/Huawei/VRP/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

py3. Not encoding utf-8 on geocodercache.
  gis/models/geocodercache.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix get_interfaces for BDCOM.xPON profile
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix/BDCOM.xPON_get_interfaces' into 'master'
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Alcatel.7302 fix empty b_serial, b_revision. fix port_map
  sa/profiles/Alcatel/7302/get_inventory.py
  sa/profiles/Alcatel/7302/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1184 IGetAlarms SA interface.
  sa/interfaces/igetalarms.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add py3 support
  ansible/molecule/debian10/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/noc_roles/noc/files/oom_score_adj_v3.3.1.patch
  ansible/noc_roles/noc/files/oom_score_adj_v4.1.0.patch
  ansible/noc_roles/noc/meta/tower.yml
  ansible/noc_roles/noc/tasks/dirs.yml
  ansible/noc_roles/noc/tasks/hacks.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/os/CentOS/main.yml
  ansible/noc_roles/noc/tasks/os/Debian/main.yml
  ansible/noc_roles/noc/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/noc/tasks/os/RedHat/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/noc/tasks/requirements.yml
  ansible/noc_roles/noc/templates/noc.goss.yml.j2
Due: prettier

Bump grafana version
  ansible/vars/main.yml
Due: prettier

py3. Fix ETL for py3.
  core/etl/extractor/base.py
  core/etl/loader/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Downgrade consul version due to many readerror bugs https://github.com/hashicorp/consul/issues/7257
  ansible/vars/main.yml
Due: prettier

sa.managedobject: Remove duplicated LAG Profile column
  ui/web/inv/interface/LAGPanel.js
Due: prettier
