Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Add invalidate_cache for ResourceGroup changed.
  core/bioseg/policies/base.py
  inv/models/resourcegroup.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

consul-repo-switch
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

consul-repo-switch
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
Due: prettier

consul-repo-switch
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Debian_9/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

consul-repo-switch
  ansible/system_roles/consul/tasks/main.yml
Due: prettier

Rewrite.
  inv/models/resourcegroup.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Alarm Group Labels settings.
  fm/models/alarmrule.py
  services/correlator/alarmrule.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/label/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix utility label migration.
  main/migrations/0062_create_utility_labels.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add migration for escalation policy labels.
  fm/migrations/0054_escalation_policy_labels.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Labels fields to SA Interface.
  main/models/label.py
  sa/interfaces/igetinterfaces.py
  sa/interfaces/igetinventory.py
  sa/interfaces/igetslaprobes.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Alarm Group Labels settings.
  fm/migrations/0054_escalation_policy_labels.py
  fm/models/alarmrule.py
  services/correlator/alarmrule.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/label/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

consul-repo-switch-fix
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

consul-repo-switch-fix
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
Due: prettier

Add extra_labels to SLAProbe.
  main/models/label.py
  sa/interfaces/igetslaprobes.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/sla.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

consul-repo-switch-fix
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Debian_9/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

consul-repo-switch-fix
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Debian_9/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

Add extra_labels to Sensor model.
  inv/models/sensor.py
  main/models/label.py
  services/discovery/jobs/box/asset.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  services/discovery/jobs/box/asset.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add extra_labels to Interface Model.
  inv/models/interface.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  collections/sa.profilecheckrules/CData/xPON/sysObjectID.json
  sa/profiles/CData/xPON/get_capabilities.py
  sa/profiles/CData/xPON/get_mac_address_table.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add metrics stream settings.
  config.py
  services/selfmon/collectors/liftbridge.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

consul-repo-switch-fix
  ansible/system_roles/consul/tasks/config.yml
Due: prettier

consul-repo-switch-fix
  ansible/system_roles/consul/defaults/main.yml
Due: prettier

Add watch_escalation to check consequence policy.
  services/correlator/check.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add todo.
  services/correlator/check.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1776 Add watch_escalation to check consequence policy.
  services/correlator/check.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

invalidate_cache on ResourceGroup change.
  core/bioseg/policies/base.py
  inv/models/resourcegroup.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1765 Add Labels fields to SA Interface.
  inv/models/interface.py
  inv/models/sensor.py
  main/models/label.py
  sa/interfaces/igetinterfaces.py
  sa/interfaces/igetinventory.py
  sa/interfaces/igetslaprobes.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo on interface discovery.
  services/discovery/jobs/box/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add sensor labels.
  inv/migrations/0025_interface_hints_labels.py
  inv/models/interface.py
  sa/interfaces/igetinterfaces.py
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alstec/24xx/get_inventory.py
  sa/profiles/ElectronR/KO01M/get_inventory.py
  sa/profiles/Huawei/MA5600T/get_interfaces.py
  sa/profiles/Qtech/BFC_PBIC_S/get_inventory.py
  sa/profiles/Rotek/BT/get_inventory.py
  sa/profiles/Rotek/BT/get_version.py
  sa/profiles/Ttronics/KUB/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo on interface discovery
  inv/migrations/0025_interface_hints_labels.py
  inv/models/interface.py
  sa/interfaces/igetinterfaces.py
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alstec/24xx/get_inventory.py
  sa/profiles/ElectronR/KO01M/get_inventory.py
  sa/profiles/Huawei/MA5600T/get_interfaces.py
  sa/profiles/Qtech/BFC_PBIC_S/get_inventory.py
  sa/profiles/Rotek/BT/get_inventory.py
  sa/profiles/Rotek/BT/get_version.py
  sa/profiles/Ttronics/KUB/get_inventory.py
  services/discovery/jobs/box/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1541 Cisco.SMB.get_interfaces. Add SNMP.
  sa/profiles/Cisco/SMB/get_interfaces.py
  sa/profiles/Cisco/SMB/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add update effective_labels on update_if_changed.
  sa/profiles/Huawei/VRP3/get_interfaces.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS.get_version. Fix ASR1006 SNMP version regex for 15.2(20150718) format.
  sa/profiles/Cisco/IOS/get_version.py
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

consul-repo-switch-fix
  ansible/system_roles/consul/tasks/config.yml
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: prettier
