Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Clean imports.
  sa/models/managedobject.py
  services/activator/checkers/snmp.py
Due: py-lint, mypy, py:test

Fix 'Unknown Trap' event processed.
  core/fm/event.py
  services/classifier/ruleset.py
Due: py-lint, mypy, py:test

Fix collections records.
  collections/fm.eventclassificationrules/Alentis/NetPing/Security/Access/Door_Close_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Chassis/Board/Board_Fail_Recover_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Chassis/Board/Board_Fail_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Network/Link/Link_Down_2_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Network/Link/Link_Up_2_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Network/Port/Loss_of_Signal_Resume_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Error_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Offline_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Up_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_not_Present_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Memory/Memory_Usage_Above_Threshold_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/BGP/Backward_Transition_SNMP_.json
Due: prettier, py:test

Add update_credential on Manged Object
  core/checkers/base.py
  core/wf/diagnostic.py
  sa/models/authprofile.py
  sa/models/credentialcheckrule.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/activator/checkers/snmp.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Fix change processing for models without `name` field
  core/change/change.py
Due: py-lint, mypy, py:test

Fix effective_labels changed.
  core/change/decorator.py
Due: py-lint, mypy, py:test

Fix 'Unknown Trap' event processed.
  collections/fm.eventclassificationrules/Alentis/NetPing/Security/Access/Door_Close_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Chassis/Board/Board_Fail_Recover_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Chassis/Board/Board_Fail_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Network/Link/Link_Down_2_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Network/Link/Link_Up_2_SNMP_.json
  collections/fm.eventclassificationrules/Huawei/VRP/Network/Port/Loss_of_Signal_Resume_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Error_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Offline_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Up_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_not_Present_1_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Memory/Memory_Usage_Above_Threshold_SNMP_.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/BGP/Backward_Transition_SNMP_.json
  core/fm/event.py
  services/classifier/ruleset.py
Due: py-lint, mypy, prettier, py:test

Bump pymongo.
  .requirements/node.txt
Due: py-lint

fix pymongo version.
  .requirements/node.txt
Due: py-lint

fix.
  commands/snmp.py
Due: py-lint, mypy, py:test

#2617 Bump pymongo.
  .requirements/node.txt
  commands/snmp.py
Due: py-lint, mypy, py:test

Fix change processing for models without `name` field
  core/change/change.py
  core/change/decorator.py
Due: py-lint, mypy, py:test

#2562 Close Kafka client connection on close.
  core/msgstream/redpanda.py
Due: py-lint, mypy, py:test

Add DispositionRule.
  fm/models/dispositionrule.py
  models.py
Due: py-lint, mypy, py:test

Add UI Application.
  fm/models/dispositionrule.py
  services/web/apps/fm/dispositionrule/__init__.py
  services/web/apps/fm/dispositionrule/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add cfgdispositionrules datastream.
  commands/datastream.py
  fm/models/dispositionrule.py
  services/datastream/models/cfgdispositionrule.py
  services/datastream/streams/cfgdispositionrules.py
Due: py-lint, mypy, py:test

Fix.
  services/datastream/streams/cfgdispositionrules.py
Due: py-lint, mypy, py:test

Add ActionSet.
  fm/models/dispositionrule.py
  services/classifier/actionset.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Fux UI is_active.
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: eslint, build:web

Fix decorator.
  fm/models/dispositionrule.py
Due: py-lint, mypy, py:test

Add matcher to DispositionRule.
  fm/models/dispositionrule.py
  ui/web/fm/dispositionrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix datastream name.
  fm/models/dispositionrule.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix typo.
  fm/models/dispositionrule.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix UI Application.
  fm/models/dispositionrule.py
  services/datastream/models/cfgdispositionrule.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/LookupField.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'fix-avs-apply-mo-credential' into 'master'
  core/checkers/base.py
  core/wf/diagnostic.py
  sa/models/authprofile.py
  sa/models/credentialcheckrule.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/activator/checkers/snmp.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8860
  core/checkers/base.py
  core/wf/diagnostic.py
  sa/models/authprofile.py
  sa/models/credentialcheckrule.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/activator/checkers/snmp.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Update file prepare.yml
  ansible/molecule/yc/prepare.yml
Due: prettier

Update file activator.goss.yml.j2
  ansible/noc_roles/noc/templates/activator.goss.yml.j2
Due: none

Update file config.yml
  ansible/noc_roles/noc/tasks/config.yml
Due: prettier

Fix ubuntu disable unnattended upgrades
  ansible/molecule/yc/prepare.yml
  ansible/noc_roles/noc/templates/activator.goss.yml.j2
Due: prettier

Remove cython build dependency
  .gitignore
  .requirements/cython.txt
  .requirements/node.txt
  CODEOWNERS
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/post_install.yml
  config.py
  core/importer.py
  core/snmp/ber.py
  docker/docker-compose.yml
  docker/noc-docker-setup.sh
  docs/config-reference/path.md
  scripts/deploy/cythonize
  speedup/__init__.py
  speedup/ber.pyx
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix comment.
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Due: prettier

method save fixed
  ui/web/pm/metricaction/Application.js
Due: eslint, build:web

Window Function select fixed
  ui/web/pm/metricaction/Application.js
Due: eslint, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
