Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

inv.objectmodels: Finisar | Transceiver | 10G | FTLX1475D3BCL
  collections/inv.objectmodels/Finisar/Transceiver/10G/FTLX1475D3BCL.json
Due: prettier

inv.objectmodels: MlaxLink | Transceiver | 1G | ML-30T
  collections/inv.objectmodels/MlaxLink/Transceiver/1G/ML-30T.json
Due: prettier

inv.platforms: Eltex MES-2324B
  collections/inv.platforms/ELTEX/MES-2324B.json
Due: prettier

inv.platforms: Eltex MES-3324
  collections/inv.platforms/ELTEX/MES-3324.json
Due: prettier

created file collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
  collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
  collections/inv.vendors/FANGHANG.json
Due: prettier

noc/noc#1433 Add Object to ETL Model.
  core/etl/loader/object.py
  core/etl/models/object.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/remotesystem.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update Eltex.TAU profile
  sa/profiles/Eltex/TAU/get_chassis_id.py
  sa/profiles/Eltex/TAU/get_config.py
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_version.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix EdgeCore.ES.get_spanning_tree script
  sa/profiles/EdgeCore/ES/get_spanning_tree.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'eltex_tau2' into 'master'
  sa/profiles/Eltex/TAU/get_chassis_id.py
  sa/profiles/Eltex/TAU/get_config.py
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_version.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'edgecore_stp' into 'master'
  sa/profiles/EdgeCore/ES/get_spanning_tree.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.managedobject: Search by geo address
  config.py
  core/geocoder/base.py
  core/geocoder/google.py
  core/geocoder/osm.py
  core/geocoder/yandex.py
  inv/models/object.py
  services/web/apps/gis/geocoder/__init__.py
  services/web/apps/gis/geocoder/views.py
  services/web/apps/main/desktop/views.py
  services/web/apps/sa/managedobject/views.py
  ui/web/core/ModelApplication.js
  ui/web/core/modelfilter/GeoAddress.js
  ui/web/gis/geocoder/LookupField.js
  ui/web/js/boot.js
  ui/web/sa/managedobject/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Cisco.WLC. Fix pattern_more prompt.
  sa/profiles/Cisco/WLC/profile.py
  sa/profiles/Dahua/DH/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-wlc-profile' into 'master'
  sa/profiles/Cisco/WLC/profile.py
  sa/profiles/Dahua/DH/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Bump liftbridge version
  ansible/system_roles/liftbridge/defaults/main.yml
Due: prettier

Revert "vak-1471 was edited _bulk_field_is_builtin"
  lib/app/extdocapplication.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'vak-1471' into 'master'
  lib/app/extdocapplication.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add get_fqdn scripts on profiles
  sa/profiles/Alcatel/TIMOS/get_fqdn.py
  sa/profiles/DLink/DAS/get_fqdn.py
  sa/profiles/Eltex/DSLAM/get_fqdn.py
  sa/profiles/Eltex/LTP/get_fqdn.py
  sa/profiles/Eltex/MA4000/get_fqdn.py
  sa/profiles/Eltex/MES24xx/get_fqdn.py
  sa/profiles/Huawei/VRP3/get_fqdn.py
  sa/profiles/NSN/TIMOS/get_fqdn.py
  sa/profiles/ZTE/ZXDSL98xx/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'sova-sa-profiles-fqnd-add' into 'master'
  sa/profiles/Alcatel/TIMOS/get_fqdn.py
  sa/profiles/DLink/DAS/get_fqdn.py
  sa/profiles/Eltex/DSLAM/get_fqdn.py
  sa/profiles/Eltex/LTP/get_fqdn.py
  sa/profiles/Eltex/MA4000/get_fqdn.py
  sa/profiles/Eltex/MES24xx/get_fqdn.py
  sa/profiles/Huawei/VRP3/get_fqdn.py
  sa/profiles/NSN/TIMOS/get_fqdn.py
  sa/profiles/ZTE/ZXDSL98xx/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

classifier: Fix deduplication on event load spikes
  config.py
  services/classifier/evfilter/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix docker compose start
  .gitlab-ci.yml
  Dockerfile
  docker/Readme.md
  docker/docker-compose-infra.yml
  docker/docker-compose-restoredb.yml
  docker/docker-compose-storedb.yml
  docker/docker-compose.yml
  docker/etc/nginx/nginx.conf
  docker/noc-docker-backup.sh
  docker/noc-docker-restore.sh
  docker/noc-docker-setup.sh
Due: prettier

Fix ZTE.ZXA10.get_interfaces script
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

get_fqdb add some profiles
  sa/profiles/Eltex/LTE/get_fqdn.py
  sa/profiles/NAG/SNR/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-profiles-get-fqdn' into 'master'
  sa/profiles/Eltex/LTE/get_fqdn.py
  sa/profiles/NAG/SNR/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'zte_zxa10_interfaces' into 'master'
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS. Fix ConfDB normalizer.
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-cisco-ios-normalizer' into 'master'
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix GeoCoderResult defaults optional value.
  core/geocoder/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ucn default datetime field.
  core/clickhouse/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Cisco.IOS.get_portchannel script
  sa/profiles/Cisco/IOS/get_portchannel.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Juniper.JUNOS.get_chassis_id script
  sa/profiles/Juniper/JUNOS/get_chassis_id.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update Eltex.TAU profile
  sa/profiles/Eltex/TAU/get_chassis_id.py
  sa/profiles/Eltex/TAU/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add possibility to run image building and deploy tests apart
  .gitlab-ci.yml
  ansible/.ansible-ci.yml
Due: prettier

vak-1486 fixed markup_language field of KBEntry model.
  kb/models/kbentry.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Create new grafana user in clickhouse
  ansible/system_roles/clickhouse/templates/users.xml
Due: none

vak-1481 was added additional check r[2].
  services/web/apps/fm/reporthierarchy/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add password field
  ansible/system_roles/clickhouse/meta/tower.yml
  ansible/system_roles/clickhouse/templates/users.xml
Due: prettier

Merge branch 'vak-1486' into 'master'
  kb/models/kbentry.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'vak-1481' into 'master'
  services/web/apps/fm/reporthierarchy/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add `tunnel` type to Huawei.MA5600T.get_interfaces script
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'huawei_ma5600_interfaces' into 'master'
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
