Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

release-22.2:Backport!6781
  VERSION
Due: none

Huawei.MA5600T. Fix allow_empty_response for pattern_more send.
  core/script/cli/cli.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, pylint, py:test

Add pattern_more.
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, pylint, py:test

add models board huawei MA560xT
  collections/inv.objectmodels/Huawei/SmartAX/MA560xT/H801X2CA.json
  collections/inv.objectmodels/Huawei/SmartAX/MA560xT/H801X2CS.json
  collections/inv.objectmodels/Huawei/SmartAX/MA560xT/H803X2CK.json
  collections/inv.objectmodels/Huawei/SmartAX/MA560xT/H806GPFD.json
Due: prettier, py:test

Generic.get_metrics. Try fix memory leak, used convert tuple.
  core/script/oidrules/caplist.py
  core/script/oidrules/oid.py
  sa/interfaces/base.py
  sa/interfaces/igetmetrics.py
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#1926 Huawei.MA5600T. Fix allow_empty_response for pattern_more send.
  core/script/cli/cli.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-1926' into 'master'
  core/script/cli/cli.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6783
  core/script/cli/cli.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, pylint, py:test

Fix check alarm close error on deescalation process.
  fm/models/activealarm.py
  services/escalator/escalation.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-check-deescalation-tt' into 'master'
  fm/models/activealarm.py
  services/escalator/escalation.py
Due: flake8, black, mypy, pylint, py:test

Set close escalation delay to reopens alarm control time.
  fm/models/activealarm.py
  fm/models/alarmclass.py
  services/escalator/escalation.py
Due: flake8, black, mypy, pylint, py:test

Revert Prefix import to Address.
  ip/models/address.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-close-tt-when-reopens-alarm' into 'master'
  fm/models/activealarm.py
  fm/models/alarmclass.py
  services/escalator/escalation.py
Due: flake8, black, mypy, pylint, py:test

Fix reorder metrics states on compact procedures.
  services/metrics/changelog.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#1940 Revert Prefix import to Address.
  ip/models/address.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-1940' into 'master'
  ip/models/address.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-metrics-state-reorder' into 'master'
  services/metrics/changelog.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6778
  fm/models/activealarm.py
  services/escalator/escalation.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6780
  fm/models/activealarm.py
  fm/models/alarmclass.py
  services/escalator/escalation.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6787
  ip/models/address.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6789
  services/metrics/changelog.py
Due: flake8, black, mypy, pylint, py:test

add worker, metrics. nginx
  docker/docker-compose.yml
Due: prettier

Remove vcfilter from NetworkSegment Application.
  ui/web/inv/networksegment/Application.js
Due: prettier, build:web

noc/noc#1943 Remove vcfilter from NetworkSegment Application.
  ui/web/core/ModelApplication.js
  ui/web/inv/networksegment/Application.js
Due: prettier, build:web

Merge branch 'noc-1943' into 'master'
  ui/web/core/ModelApplication.js
  ui/web/inv/networksegment/Application.js
Due: prettier, build:web

release-22.2:Backport!6793
  ui/web/core/ModelApplication.js
  ui/web/inv/networksegment/Application.js
Due: prettier, build:web

Add 22.2.1 release notes
  docs/en/docs/about/releases/22.2.1.md
  docs/en/mkdocs.yml
Due: prettier, build:Docs:en, upload docs

Fix partition num on ServiceStub.
  core/service/stub.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-service-stub-typo' into 'master'
  core/service/stub.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6795
  core/service/stub.py
Due: flake8, black, mypy, pylint, py:test

Bump Django version to 3.2
  requirements.txt
Due: py:test, gemnasium-python-dependency_scanning

Fix micro
  requirements.txt
Due: py:test, gemnasium-python-dependency_scanning

fixing inventory CloudEngine Huawei
  sa/profiles/Huawei/VRP/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

Update get_inventory.py
  sa/profiles/Huawei/VRP/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

Refactor lib/highlight module
  lib/highlight.py
  services/web/apps/kb/macros/format.py
Due: flake8, black, mypy, pylint, py:test

Remove lib/template module
  sa/models/objectnotification.py
  sa/models/template.py
Due: flake8, black, mypy, pylint, py:test

Unite objectnotification and template modules
  sa/models/objectnotification.py
  sa/models/template.py
Due: flake8, black, mypy, pylint, py:test
