Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Add IRE-Polus Cofiguration Param Rules.
  cm/models/configurationparam.py
  collections/inv.modelinterfaces/signal_level.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.protocols/DWDM.json
  collections/inv.protocols/OTU1.json
  collections/inv.protocols/OTU2.json
  collections/inv.protocols/OTU2C.json
  collections/inv.protocols/OTU2e.json
  collections/inv.protocols/OTU3.json
  collections/inv.protocols/OTU4.json
  collections/inv.technologies/OTN.json
  commands/discovery.py
  core/protodcsources/optical_dwdm.py
  inv/models/object.py
  inv/models/objectconfigurationrule.py
  inv/models/objectlog.py
  sa/interfaces/igetconfigparam.py
  sa/interfaces/igetinventory.py
  sa/migrations/0253_managedobjectprofile_paramdata_discovery.py
  sa/models/managedobjectprofile.py
  sa/profiles/IRE-Polus/Horizon/get_capabilities.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_uptime.py
  sa/profiles/IRE-Polus/Horizon/get_version.py
  sa/profiles/IRE-Polus/Horizon/profile.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/configparam.py
  services/discovery/jobs/box/job.py
  services/web/apps/inv/inv/plugins/param.py
  services/web/apps/inv/objectconfigurationrule/views.py
  tests/collections/test_inv_objectmodels.py
  ui/web/inv/objectconfigurationrule/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Bunp psycopg2-binary.
  .requirements/bh.txt
  .requirements/cache-redis.txt
  .requirements/classifier.txt
  .requirements/node.txt
  .requirements/ping.txt
Due: py-lint

Bump psycopg2-binary.
  .requirements/bh.txt
  .requirements/cache-redis.txt
  .requirements/classifier.txt
  .requirements/node.txt
  .requirements/ping.txt
Due: py-lint

disable vendor check for xcvr
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, py:test

create unknown vendor for xcvr
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, py:test

.
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, py:test

traefik 2.10 compatibility
  .dockerignore
  Dockerfile
  core/service/base.py
  services/bi/service.py
  services/card/service.py
  services/datastream/service.py
  services/login/service.py
  services/metricscollector/service.py
  services/mrt/service.py
  services/mx/service.py
  services/nbi/service.py
  services/ui/service.py
  services/web/service.py
  services/zeroconf/service.py
Due: py-lint, mypy, py:test

button, panel plugin for badge and tooltip
  ui/web/core/plugin/badgeable/Badgeable.js
Due: prettier, build:web

plugin for button and panel for badge and tooltip
  ui/web/core/plugin/badgeable/Badgeable.js
Due: prettier, build:web

plugin for button & panel, make badge and tooltip
  ui/web/main/desktop/HeaderPanel.js
  ui/web/ux/plugin/badgeable/Badgeable.js
Due: prettier, build:web

fix
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, py:test

vendor creation moved to get_vendor
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, py:test

Fix package imports in custom
  core/importer.py
Due: py-lint, mypy, py:test

Remove key field check for received metrics.
  services/metrics/service.py
Due: py-lint, mypy, py:test

Fix is_key_label on MetricScope.
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Check.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/Environment.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/IPPool.json
  collections/pm.metricscopes/MediaStream.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Multicast.json
  collections/pm.metricscopes/Neighbors.json
  collections/pm.metricscopes/PhonePeer.json
  collections/pm.metricscopes/Routing.json
  collections/pm.metricscopes/SLA.json
  collections/pm.metricscopes/Subscriber.json
  collections/pm.metricscopes/VPN.json
Due: prettier, py:test

NOC_SPEEDUP_PATH environment variable allows to set up arbitrary speedup path
  core/importer.py
Due: py-lint, mypy, py:test

Dockerfile: Build binary packages in dedicated stage, clear pip cache.
  Dockerfile
Due: none

migration: Run fix_bi_id as separate process instead of command.
  ip/migrations/0034_set_bi_id.py
Due: py-lint, mypy, py:test

IRE-Polus.Horizon. Add get_metrics.
  sa/interfaces/igetinventory.py
  sa/profiles/IRE-Polus/Horizon/get_interfaces.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_metrics.py
  sa/profiles/IRE-Polus/Horizon/get_uptime.py
  sa/profiles/IRE-Polus/Horizon/get_version.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, py:test

Remove key field check for received metrics.
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Check.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/Environment.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/IPPool.json
  collections/pm.metricscopes/MediaStream.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Multicast.json
  collections/pm.metricscopes/Neighbors.json
  collections/pm.metricscopes/PhonePeer.json
  collections/pm.metricscopes/Routing.json
  collections/pm.metricscopes/SLA.json
  collections/pm.metricscopes/Subscriber.json
  collections/pm.metricscopes/VPN.json
  services/metrics/service.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'fix-avs-metric-scope-key-fields' into 'master'
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Check.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/Environment.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/IPPool.json
  collections/pm.metricscopes/MediaStream.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Multicast.json
  collections/pm.metricscopes/Neighbors.json
  collections/pm.metricscopes/PhonePeer.json
  collections/pm.metricscopes/Routing.json
  collections/pm.metricscopes/SLA.json
  collections/pm.metricscopes/Subscriber.json
  collections/pm.metricscopes/VPN.json
  services/metrics/service.py
Due: py-lint, mypy, prettier, py:test

release-23.1:Backport!7708
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Check.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/Environment.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/IPPool.json
  collections/pm.metricscopes/MediaStream.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Multicast.json
  collections/pm.metricscopes/Neighbors.json
  collections/pm.metricscopes/PhonePeer.json
  collections/pm.metricscopes/Routing.json
  collections/pm.metricscopes/SLA.json
  collections/pm.metricscopes/Subscriber.json
  collections/pm.metricscopes/VPN.json
  services/metrics/service.py
Due: py-lint, mypy, prettier, py:test

Fix syslog/trap collectors trace when datastream not rebuilding.
  services/syslogcollector/service.py
  services/syslogcollector/syslogserver.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: py-lint, mypy, py:test

Optimize fix
  fixes/fix_bi_id.py
  ip/migrations/0034_set_bi_id.py
Due: py-lint, mypy, py:test

Fix
  fixes/fix_bi_id.py
Due: py-lint, mypy, py:test

Run migrations from custom
  core/migration/loader.py
Due: py-lint, mypy, py:test

get_migration: Make parameter optional
  core/migration/loader.py
Due: py-lint, mypy, py:test

Fix migrate.sh
  requirements/collections.json
  scripts/deploy/migrate.sh
Due: prettier, py:test

Fix detect module for Horizon profile.
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_metrics.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, py:test

Fix typo.
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

Fix filter protected labels on UI Filter.
  ui/web/core/filter/Filter.js
Due: prettier, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
