Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Fix ReportLinkDetail for py3.
  services/web/apps/inv/reportlinkdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

py3. Fix use BytesIO instead StringIO on ReportLinkDetail.
  services/web/apps/inv/reportlinkdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

MAC Segment discovery. Check object level on same segment for uplink detect.
  services/discovery/jobs/segment/mac.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1298 PrefixDiscovery takes account of MO's VRF
  services/discovery/jobs/base.py
  services/discovery/jobs/box/prefix.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1299 Hide hidden custom fields from ipam view
  services/web/apps/ip/ipam/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove deprecated get_future_loop() compatibility call
  core/ioloop/util.py
  core/threadpool.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-mac-segment-uplink' into 'master'
  services/discovery/jobs/segment/mac.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix import deprecation warning
  core/matcher.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix trace wnen export fm.mibpreference collection by command.
  commands/collection.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add new STP Delta DDash
  templates/ddash/graph_network_stp_topologychanges_delta.j2
Due: none

Fix id ddash for Grafana 6
  templates/ddash/dash_container.j2
  templates/ddash/dash_ipsla.j2
  templates/ddash/dash_link.j2
  templates/ddash/dash_mo.j2
  templates/ddash/graph_cpu_load_1min.j2
  templates/ddash/graph_cpu_load_5min.j2
  templates/ddash/graph_cpu_usage.j2
  templates/ddash/graph_cpu_usage_5sec.j2
  templates/ddash/graph_disk_errorcount.j2
  templates/ddash/graph_disk_free.j2
  templates/ddash/graph_disk_problem.j2
  templates/ddash/graph_disk_usage.j2
  templates/ddash/graph_disk_usagepercent.j2
  templates/ddash/graph_environment_electriccurrent.j2
  templates/ddash/graph_environment_sensorstatus.j2
  templates/ddash/graph_environment_temperature.j2
  templates/ddash/graph_environment_voltage.j2
  templates/ddash/graph_interface_errors_crc.j2
  templates/ddash/graph_memory_load_1min.j2
  templates/ddash/graph_memory_usage.j2
  templates/ddash/graph_memory_usage_5sec.j2
  templates/ddash/graph_network_stp_topologychanges.j2
  templates/ddash/graph_radio_cinr.j2
  templates/ddash/graph_radio_rssi.j2
  templates/ddash/graph_radio_rssi_cinr.j2
  templates/ddash/graph_radio_txrxpower.j2
  templates/ddash/graph_rtt.j2
  templates/ddash/graph_subscribers_ipoe.j2
  templates/ddash/graph_subscribers_l2tp.j2
  templates/ddash/graph_subscribers_ppp.j2
  templates/ddash/graph_subscribers_summary.j2
  templates/ddash/graph_video_broadcast.j2
  templates/ddash/graph_video_record.j2
  templates/ddash/graph_video_record_drops.j2
  templates/ddash/graph_video_record_status.j2
  templates/ddash/graph_video_recordingdrops.j2
  templates/ddash/graph_video_upstreamconnected.j2
  templates/ddash/panel_empty_container.j2
Due: none

Update graph_network_stp_topologychanges.j2
  templates/ddash/graph_network_stp_topologychanges.j2
Due: none

fix id
  templates/ddash/graph_network_stp_topologychanges_delta.j2
Due: none

Django 3.0.6, mongoengine 0.20.0, crontab 0.22.6, redus-3.5.2, hiredis=1.0.1, ipython 7.14.0
  requirements/dev.txt
  requirements/docker.txt
  requirements/node.txt
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix detect coroutine on Script.on_error_sequence.
  core/script/cli/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add catch OIDCollision to mib upload command. Add detect some errors when upload mib.
  commands/mib.py
  services/mib/api/mib.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1287: Multi-Format DataStream
  commands/datastream.py
  core/datastream/base.py
  core/datastream/change.py
  main/models/datastreamconfig.py
  main/models/handler.py
  models.py
  services/datastream/handler.py
  services/web/apps/main/datastreamconfig/__init__.py
  services/web/apps/main/datastreamconfig/views.py
  tests/test_datastream.py
  ui/web/main/datastreamconfig/Application.js
  ui/web/main/datastreamconfig/LookupField.js
  ui/web/main/datastreamconfig/Model.js
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

IOLoop.add_callback() cleanup
  services/ping/service.py
  services/syslogcollector/service.py
  services/trapcollector/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix/ddash_id_g6' into 'master'
  templates/ddash/dash_container.j2
  templates/ddash/dash_ipsla.j2
  templates/ddash/dash_link.j2
  templates/ddash/dash_mo.j2
  templates/ddash/graph_cpu_load_1min.j2
  templates/ddash/graph_cpu_load_5min.j2
  templates/ddash/graph_cpu_usage.j2
  templates/ddash/graph_cpu_usage_5sec.j2
  templates/ddash/graph_disk_errorcount.j2
  templates/ddash/graph_disk_free.j2
  templates/ddash/graph_disk_problem.j2
  templates/ddash/graph_disk_usage.j2
  templates/ddash/graph_disk_usagepercent.j2
  templates/ddash/graph_environment_electriccurrent.j2
  templates/ddash/graph_environment_sensorstatus.j2
  templates/ddash/graph_environment_temperature.j2
  templates/ddash/graph_environment_voltage.j2
  templates/ddash/graph_interface_errors_crc.j2
  templates/ddash/graph_memory_load_1min.j2
  templates/ddash/graph_memory_usage.j2
  templates/ddash/graph_memory_usage_5sec.j2
  templates/ddash/graph_network_stp_topologychanges.j2
  templates/ddash/graph_radio_cinr.j2
  templates/ddash/graph_radio_rssi.j2
  templates/ddash/graph_radio_rssi_cinr.j2
  templates/ddash/graph_radio_txrxpower.j2
  templates/ddash/graph_rtt.j2
  templates/ddash/graph_subscribers_ipoe.j2
  templates/ddash/graph_subscribers_l2tp.j2
  templates/ddash/graph_subscribers_ppp.j2
  templates/ddash/graph_subscribers_summary.j2
  templates/ddash/graph_video_broadcast.j2
  templates/ddash/graph_video_record.j2
  templates/ddash/graph_video_record_drops.j2
  templates/ddash/graph_video_record_status.j2
  templates/ddash/graph_video_recordingdrops.j2
  templates/ddash/graph_video_upstreamconnected.j2
  templates/ddash/panel_empty_container.j2
Due: none

Merge branch 'add/new_ddash_stp_delta' into 'master'
  templates/ddash/graph_network_stp_topologychanges_delta.j2
Due: none

Fix ReportDiscovery Poison MAC view.
  services/web/apps/inv/reportdiscoverypoison/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-discovery-poison-mac' into 'master'
  services/web/apps/inv/reportdiscoverypoison/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix script on_unprivileged_prompt wnen no raise privileges.
  core/script/cli/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Generic.get_fqdn script.
  sa/profiles/Generic/get_fqdn.py
  sa/profiles/Huawei/MA5600T/get_fqdn.py
  sa/profiles/Huawei/VRP/get_fqdn.py
  sa/profiles/Zyxel/DSLAM/get_fqdn.py
  sa/profiles/Zyxel/MSAN/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Native asyncio SNMP implementation
  commands/snmp.py
  core/ioloop/snmp.py
  core/ioloop/udp.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

classifier: Fix bytes processing
  fm/models/mib.py
  services/classifier/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1301: MAC Blacklist
  inv/models/macblacklist.py
  models.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/lldp.py
  services/web/apps/inv/macblacklist/__init__.py
  services/web/apps/inv/macblacklist/views.py
  ui/web/inv/macblacklist/Application.js
  ui/web/inv/macblacklist/LookupField.js
  ui/web/inv/macblacklist/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

fix black, remove unused code
  services/classifier/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.MA5600T.get_portchannel. Add allow_empty_response to 'display lacp' command.
  sa/profiles/Huawei/MA5600T/get_portchannel.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add thresholds interface load %
  core/window.py
  fm/handlers/thresholds/iface.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1086 IfDesc topology discovery
  inv/models/ifdescpatterns.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/networksegmentprofile.py
  main/models/handler.py
  models.py
  sa/migrations/0204_managedobjectprofile_ifdesc.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/ifdesc.py
  services/discovery/jobs/box/job.py
  services/web/apps/inv/ifdescpatterns/__init__.py
  services/web/apps/inv/ifdescpatterns/views.py
  ui/web/inv/ifdescpatterns/Application.js
  ui/web/inv/ifdescpatterns/LookupField.js
  ui/web/inv/ifdescpatterns/Model.js
  ui/web/inv/interfaceprofile/Application.js
  ui/web/inv/interfaceprofile/Model.js
  ui/web/inv/networksegmentprofile/Application.js
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Huawei.MA5600T.get_portchannel. Use allow_empty_response on 'display lacp' command.
  sa/profiles/Huawei/MA5600T/get_portchannel.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Huawei.MA5600T profile check rules
  collections/sa.profilecheckrules/Huawei/MA/MA5612_sysObjectID.json
  collections/sa.profilecheckrules/Huawei/MA/MA5620_sysObjectID.json
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X2_sysObjectID.json
Due: prettier

Merge branch 'patch-avs-profile-check-rules' into 'master'
  collections/sa.profilecheckrules/Huawei/MA/MA5612_sysObjectID.json
  collections/sa.profilecheckrules/Huawei/MA/MA5620_sysObjectID.json
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X2_sysObjectID.json
Due: prettier

Fix Radio Ddash
  templates/ddash/graph_radio_cinr.j2
  templates/ddash/graph_radio_rssi.j2
Due: none

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
