Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Add min_severity to SyslogCollector settings.
  config.py
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

Fix condition
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

activator: Run checks in async mode
  services/activator/paths/activator.py
Due: py-lint, mypy, py:test

Rename to max_severity.
  config.py
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

fix checking for severity
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

Add Rate Limiter to Syslog Collector.
  config.py
  services/syslogcollector/service.py
  services/syslogcollector/sourceconfig.py
Due: py-lint, mypy, py:test

#2644 Add service datastream.
  commands/datastream.py
  config.py
  docs/datastream-api-reference/SUMMARY.md
  docs/datastream-api-reference/service.md
  sa/models/service.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Merge branch 'noc-async-check' into 'master'
  services/activator/paths/activator.py
Due: py-lint, mypy, py:test

#2643 Cleanup severity rules migration.
  fm/migrations/0056_severity_to_label.py
  fm/migrations/0060_cleanup_migrate_alarmrule_severity.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9037
  services/activator/paths/activator.py
Due: py-lint, mypy, py:test

Fix BaseCard - get_template
  config.py
  services/card/cards/base.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8981
  fixes/fix_discoveryid_object.py
  inv/models/discoveryid.py
Due: py-lint, mypy, py:test

Fix etl Labels loader for allow_models.
  core/etl/loader/label.py
Due: py-lint, mypy, py:test

Add match_regex to Labels ETL Model.
  core/etl/models/label.py
Due: py-lint, mypy, py:test

Fix config param.
  config.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2644' into 'master'
  commands/datastream.py
  config.py
  docs/datastream-api-reference/SUMMARY.md
  docs/datastream-api-reference/service.md
  sa/models/service.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

VMWare.vMachine profile add get_capabilities.
  sa/profiles/VMWare/vHost/get_interfaces.py
  sa/profiles/VMWare/vMachine/get_capabilities.py
  sa/profiles/VMWare/vMachine/get_interfaces.py
  sa/profiles/VMWare/vMachine/get_version.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9032
  commands/datastream.py
  config.py
  docs/datastream-api-reference/SUMMARY.md
  docs/datastream-api-reference/service.md
  sa/models/service.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Add ETL mappings to Service.
  core/etl/models/service.py
  core/etl/models/typing.py
  sa/models/service.py
Due: py-lint, mypy, py:test

Rename update_object_mappings.
  core/etl/loader/base.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/service.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Add _mapping_cache attribute.
  sa/models/service.py
Due: py-lint, mypy, py:test

#2647 Fix etl Labels loader for allow_models.
  core/etl/loader/label.py
  core/etl/models/label.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2647' into 'master'
  core/etl/loader/label.py
  core/etl/models/label.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9041
  core/etl/loader/label.py
  core/etl/models/label.py
Due: py-lint, mypy, py:test

Add mappings to service datastream.
  docs/datastream-api-reference/service.md
  services/datastream/models/service.py
  services/datastream/models/utils.py
  services/datastream/streams/service.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Async checkers
  core/checkers/base.py
  core/checkers/cli.py
  core/checkers/http.py
  core/checkers/loader.py
  core/checkers/snmp.py
  core/checkers/tcp.py
  scripts/deploy/migrate.sh
  services/activator/checkers/__init__.py
  services/activator/paths/activator.py
Due: py-lint, mypy, py:test

Add ETL mappings to Service.
  core/etl/loader/base.py
  core/etl/models/service.py
  core/etl/models/typing.py
  docs/datastream-api-reference/service.md
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/service.py
  services/datastream/models/service.py
  services/datastream/models/utils.py
  services/datastream/streams/service.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Merge branch 'patch-avs-add-etl-mappings-to-service' into 'master'
  core/etl/loader/base.py
  core/etl/models/service.py
  core/etl/models/typing.py
  docs/datastream-api-reference/service.md
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/service.py
  services/datastream/models/service.py
  services/datastream/models/utils.py
  services/datastream/streams/service.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

release-25.1:Backport!9043
  core/etl/loader/base.py
  core/etl/models/service.py
  core/etl/models/typing.py
  docs/datastream-api-reference/service.md
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/service.py
  services/datastream/models/service.py
  services/datastream/models/utils.py
  services/datastream/streams/service.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix for blank template
  services/web/apps/maintenance/maintenance/views.py
Due: py-lint, mypy, py:test

Fix field template in web-apps-maintenance
  services/web/apps/maintenance/maintenance/views.py
Due: py-lint, mypy, py:test

Merge branch 'noc-consul-503' into 'master'
  core/consul.py
Due: py-lint, mypy, py:test

migrate.sh: Log action titles
  scripts/deploy/migrate.sh
Due: none

Dockerfile: Add iprote2 package
  Dockerfile
Due: none

release-23.1:Backport!8934
  core/consul.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-vmware-vMachine-add-caps' into 'master'
  sa/profiles/VMWare/vHost/get_interfaces.py
  sa/profiles/VMWare/vMachine/get_capabilities.py
  sa/profiles/VMWare/vMachine/get_interfaces.py
  sa/profiles/VMWare/vMachine/get_version.py
Due: py-lint, mypy, py:test

Update CardAPI for search in noc.custom
  services/card/paths/card.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9047
  sa/profiles/VMWare/vHost/get_interfaces.py
  sa/profiles/VMWare/vMachine/get_capabilities.py
  sa/profiles/VMWare/vMachine/get_interfaces.py
  sa/profiles/VMWare/vMachine/get_version.py
Due: py-lint, mypy, py:test

Cleanup sync method for checkers API.
  core/checkers/base.py
  services/activator/checkers/cli.py
  services/activator/checkers/http.py
  services/activator/checkers/snmp.py
  services/activator/checkers/tcp.py
  services/activator/paths/activator.py
Due: py-lint, mypy, py:test

Remove unused imports.
  core/checkers/base.py
  services/activator/checkers/tcp.py
Due: py-lint, mypy, py:test
