Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

DLink.DxS.get_inventory. Set stack number.
  sa/profiles/DLink/DxS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  sa/profiles/DLink/DxS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove disposition from 'Security | Authentication | SNMP Authentication Failure' rule.
  collections/fm.eventclasses/Security/Authentication/SNMP_Authentication_Failure.json
Due: prettier

Add row_class to Assigned Address API.
  services/web/apps/ip/ipam/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-eltex-mes-inventory-stack' into 'master'
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-snmp-auth-event-class' into 'master'
  collections/fm.eventclasses/Security/Authentication/SNMP_Authentication_Failure.json
Due: prettier

Add 'NAG | SNR | CLI | FoxGate' capabilities.
  collections/inv.capabilities/NAG/SNR/CLI_FoxGate.json
  sa/profiles/NAG/SNR/get_arp.py
  sa/profiles/NAG/SNR/get_capabilities.py
  sa/profiles/NAG/SNR/get_chassis_id.py
  sa/profiles/NAG/SNR/get_interfaces.py
  sa/profiles/NAG/SNR/get_inventory.py
  sa/profiles/NAG/SNR/get_version.py
  sa/profiles/NAG/SNR/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6475
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6478
  collections/fm.eventclasses/Security/Authentication/SNMP_Authentication_Failure.json
Due: prettier

Merge branch 'fix-avs-huawei-portchannel-ne4k' into 'master'
  sa/profiles/Huawei/VRP/get_portchannel.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6476
  sa/profiles/Huawei/VRP/get_portchannel.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix decode_trap with raw_value.
  core/snmp/trap.py
  docs/ru/docs/user/reference/mx/snmptrap.md
  docs/ru/docs/user/reference/mx/syslog.md
  services/syslogcollector/service.py
  services/trapcollector/service.py
  services/trapcollector/sourceconfig.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  core/snmp/trap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Eltex.MES24xx.get_inventory. Add tengigabitethernet for transceiver command.
  sa/profiles/Eltex/MES24xx/get_inventory.py
  sa/profiles/Generic/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-mes24-add-port' into 'master'
  sa/profiles/Eltex/MES24xx/get_inventory.py
  sa/profiles/Generic/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6484
  sa/profiles/Eltex/MES24xx/get_inventory.py
  sa/profiles/Generic/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Event message generated for MX.
  config.py
  docs/ru/docs/user/reference/mx/event.md
  docs/ru/docs/user/reference/mx/snmptrap.md
  docs/ru/docs/user/reference/mx/syslog.md
  services/classifier/service.py
  services/syslogcollector/service.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS. Fix compare version regex for 16.6.5 format.
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1867 Cisco.IOS. Fix compare version regex for 16.6.5 format.
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1867' into 'master'
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Eltex.SMG profilecheckrule
  collections/sa.profilecheckrules/Eltex/SMG/SMG500_sysObjectID.json
Due: prettier

Fix HP.ProCurve profile
  sa/profiles/HP/ProCurve/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add url
  ansible/noc_roles/noc/tasks/compile_python.yml
Due: prettier

add url [skip-ci]
  ansible/noc_roles/noc/tasks/compile_python.yml
Due: prettier

Add raw_pdu.
  core/snmp/ber.py
  core/snmp/trap.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

test
  ansible/noc_roles/noc/tasks/compile_python.yml
Due: prettier

fix syntx
  ansible/system_roles/consul/vars/Ubuntu_22.yml
  ansible/vars/Ubuntu_22.yml
Due: prettier

add noc for ubuntu22
  ansible/noc_roles/noc/templates/os/Ubuntu_22/etc/init.d/noc.j2
Due: none

add discovery/task/os/main.yml for ubuntu22 [skip-ci]
  ansible/noc_roles/discovery/tasks/os/Ubuntu_22/main.yml
  ansible/system_roles/mongod/templates/os/Ubuntu_22/etc/systemd/system/mongod-arbiter.service.l2
  ansible/system_roles/mongod/templates/os/Ubuntu_22/etc/systemd/system/mongod.service.j2
Due: prettier

add liftbridge for ubuntu22 [skip-ci]
  ansible/system_roles/liftbridge/vars/Ubuntu_22.yml
Due: prettier

add nats for ubuntu22 [skip-ci]
  ansible/system_roles/nats/vars/Ubuntu_22.yml
Due: prettier

remove init.d
  ansible/noc_roles/noc/templates/os/Ubuntu_22/etc/init.d/noc.j2
Due: none

noc/noc#1861 Add send snmptrap message to mx.
  config.py
  core/mx.py
  core/snmp/ber.py
  core/snmp/trap.py
  docs/en/docs/user/reference/mx/snmptrap.md
  docs/en/mkdocs.yml
  docs/ru/docs/user/reference/mx/snmptrap.md
  docs/ru/mkdocs.yml
  services/datastream/streams/cfgtrap.py
  services/trapcollector/service.py
  services/trapcollector/sourceconfig.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1861 Add send syslog message to mx.
  config.py
  core/mx.py
  docs/en/docs/user/reference/mx/syslog.md
  docs/en/mkdocs.yml
  docs/ru/docs/user/reference/mx/syslog.md
  docs/ru/mkdocs.yml
  services/datastream/streams/cfgsyslog.py
  services/syslogcollector/service.py
  services/syslogcollector/sourceconfig.py
  services/syslogcollector/syslogserver.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1851 Convert MessageRoute Settings to new format.
  core/datastream/base.py
  core/mx.py
  main/migrations/0065_message_route_settings.py
  main/models/handler.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  main/models/template.py
  services/mx/router/action.py
  services/mx/router/route.py
  services/mx/router/router.py
  services/mx/router/transmute.py
  services/mx/service.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add platform to FirmwarePolicy index
  inv/models/firmwarepolicy.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1838 Add event to mx message.
  config.py
  core/mx.py
  docs/en/docs/user/reference/mx/event.md
  docs/en/mkdocs.yml
  docs/ru/docs/user/reference/mx/event.md
  docs/ru/mkdocs.yml
  fm/models/mib.py
  services/classifier/service.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1837 Add old and new field value to change_fields structure.
  core/change/change.py
  core/change/decorator.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add GIS set bi_id field migration.
  gis/migrations/0007_set_bi_id.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
