Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Add Workflow to SLAProbe model.
  main/models/label.py
  sa/interfaces/igetslaprobes.py
  services/discovery/jobs/box/sla.py
  services/web/apps/sla/slaprobe/views.py
  sla/migrations/0004_set_bi_id.py
  sla/migrations/0005_slaprobe_workflow.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
  ui/web/sla/slaprobe/Application.js
  ui/web/sla/slaprobe/Model.js
  ui/web/sla/slaprofile/Application.js
  ui/web/sla/slaprofile/Model.js
  wf/migrations/0005_slaprobe_default.py
  wf/models/state.py
  wf/models/workflow.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

#1452 fixing mistake of classification rules
  services/classifier/rule.py
  services/web/apps/fm/classificationrule/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update collections/inv.objectmodels/Qtech/QSW/QSW-2910-26T-POE.json, collections/inv.objectmodels/Qtech/QSW/QSW-3450-28TX-AC.json, collections/inv.objectmodels/Qtech/QSW/QSW-2910-28T-POE.json files
  collections/inv.objectmodels/Qtech/QSW/QSW-2910-26T-POE.json
  collections/inv.objectmodels/Qtech/QSW/QSW-2910-28T-POE.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3450-28TX-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3470-28T-POE-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3750-10T-POE-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3750-28T-POE-AC.json
Due: prettier

Huawei.VRP Add get_sla_probes script on SNMP.
  cmibs/cisco_rttmon_mib.py
  cmibs/disman_ping_mib.py
  cmibs/nqa_mib.py
  collections/inv.capabilities/Huawei/NQA/Probes.json
  collections/inv.capabilities/Huawei/NQA/Responder.json
  sa/profiles/Cisco/IOS/get_capabilities.py
  sa/profiles/Cisco/IOS/get_sla_probes.py
  sa/profiles/Huawei/VRP/get_capabilities.py
  sa/profiles/Huawei/VRP/get_sla_probes.py
  services/discovery/jobs/box/sla.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Cleanup docs
  .gitlab-ci.yml
  docs/src/en/contents.rst
  docs/src/en/index.rst
  docs/src/en/introduction.rst
  docs/src/en/license.rst
  docs/src/en/meta/401.rst
  docs/src/en/meta/403.rst
  docs/src/en/meta/404.rst
  docs/src/en/meta/410.rst
  docs/src/en/meta/organization.rst
  docs/src/en/meta/style-guide.rst
Due: prettier

Bump minor dependencies versions
  requirements.txt
Due: none

sa.profilecheckrules: EdgeCore | ES | ECS4510-28F sysObjectID
  collections/sa.profilecheckrules/EdgeCore/ES/ECS4510-28F_sysObjectID.json
Due: prettier

geopy 2.1.0
  core/geo.py
  requirements.txt
  tests/test_core_geo.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_sa.profilecheckrules_DLink.DxS_Smart
  collections/sa.profilecheckrules/DLink/DxS_Smart/DGS-1210-10P_C1.json
  collections/sa.profilecheckrules/DLink/DxS_Smart/DGS-1210-20_C1.json
  collections/sa.profilecheckrules/DLink/DxS_Smart/DGS-1210-28P_C1.json
  collections/sa.profilecheckrules/DLink/DxS_Smart/DGS-1210-52_C1.json
Due: prettier

service: Remove deprecated `leader_group_name` attribute.
  core/service/base.py
  services/classifier/service.py
  services/discovery/service.py
  services/ping/service.py
  services/scheduler/service.py
  services/syslogcollector/service.py
  services/trapcollector/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: EdgeCore | ES | ECS4660-28F sysObjectID
  collections/sa.profilecheckrules/EdgeCore/ES/ECS4660-28F_sysObjectID.json
Due: prettier

noc/noc#1565 Add Label.match_labels decorator.
  main/models/label.py
  main/models/prefixtable.py
  services/web/apps/main/label/views.py
  vc/models/vcfilter.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

ssh: Allow `none` authentication method
  core/script/cli/ssh.py
  requirements.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-ssh-none' into 'master'
  core/script/cli/ssh.py
  requirements.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ReportContainerData datasource.
  lib/app/reportdatasources/report_container.py
  sa/profiles/Cisco/IOS/get_mpls_vpn.py
  ui/web/sla/slaprofile/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-report-container-datasource' into 'master'
  lib/app/reportdatasources/report_container.py
  sa/profiles/Cisco/IOS/get_mpls_vpn.py
  ui/web/sla/slaprofile/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add script for change address of noc if it changed
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Ping service: TornadoService -> FastAPIService
  services/ping/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

service: Cleanup unused NSQ support code
  core/nsq/topic.py
  core/service/base.py
  tests/nsq/test_topic.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-109-2f943a7bb1b6459454bc6f7e' into 'master'
  collections/sa.profilecheckrules/EdgeCore/ES/ECS4660-28F_sysObjectID.json
Due: prettier

Merge branch 'contrib-109-0eada4db4ee5fc3ce745ba7c' into 'master'
  collections/sa.profilecheckrules/EdgeCore/ES/ECS4510-28F_sysObjectID.json
Due: prettier

fix_get_inventory_EdgeCore.ES
  sa/profiles/EdgeCore/ES/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Sensor PM Scope.
  collections/pm.metricscopes/Sensor.json
  collections/pm.metrictypes/Sensor/Status.json
  collections/pm.metrictypes/Sensor/Value.json
  collections/pm.metrictypes/Sensor/Value_Delta.json
  collections/pm.metrictypes/Sensor/Value_Raw.json
Due: prettier

noc-agent: unified error handling
  rust/agent/Cargo.toml
  rust/agent/src/agent.rs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/dns/collector.rs
  rust/agent/src/collectors/registry.rs
  rust/agent/src/collectors/test/collector.rs
  rust/agent/src/collectors/twamp_reflector/collector.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/error.rs
  rust/agent/src/lib.rs
  rust/agent/src/nvram.rs
  rust/agent/src/proto/connection.rs
  rust/agent/src/proto/frame.rs
  rust/agent/src/proto/pktmodel/cbr.rs
  rust/agent/src/proto/pktmodel/g711.rs
  rust/agent/src/proto/pktmodel/g729.rs
  rust/agent/src/proto/pktmodel/imix.rs
  rust/agent/src/proto/pktmodel/registry.rs
  rust/agent/src/proto/twamp/accept_session.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
  rust/agent/src/proto/twamp/server_greeting.rs
  rust/agent/src/proto/twamp/server_start.rs
  rust/agent/src/proto/twamp/setup_response.rs
  rust/agent/src/proto/twamp/start_ack.rs
  rust/agent/src/proto/twamp/start_sessions.rs
  rust/agent/src/proto/twamp/stop_sessions.rs
  rust/agent/src/proto/twamp/test_request.rs
  rust/agent/src/proto/twamp/test_response.rs
  rust/agent/src/proto/udp.rs
  rust/agent/src/zk.rs
Due: none

noc-agent: Fix stubs
  rust/agent/src/collectors/dns/mod.rs
  rust/agent/src/collectors/twamp_reflector/mod.rs
  rust/agent/src/collectors/twamp_sender/mod.rs
Due: none

noc-agent: cpu, fs, memory, network, and uptime collectors
  rust/agent/Cargo.toml
  rust/agent/src/collectors/cpu/collector.rs
  rust/agent/src/collectors/cpu/config.rs
  rust/agent/src/collectors/cpu/mod.rs
  rust/agent/src/collectors/fs/collector.rs
  rust/agent/src/collectors/fs/config.rs
  rust/agent/src/collectors/fs/mod.rs
  rust/agent/src/collectors/memory/collector.rs
  rust/agent/src/collectors/memory/config.rs
  rust/agent/src/collectors/memory/mod.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/network/collector.rs
  rust/agent/src/collectors/network/config.rs
  rust/agent/src/collectors/network/mod.rs
  rust/agent/src/collectors/registry.rs
  rust/agent/src/collectors/uptime/collector.rs
  rust/agent/src/collectors/uptime/config.rs
  rust/agent/src/collectors/uptime/mod.rs
  rust/agent/src/error.rs
Due: none

Add 'Interface | CBQOS' metric.
  cmibs/cisco_class_based_qos_mib.py
  cmibs/huawei_cbqos_mib.py
  collections/inv.capabilities/Cisco/IOS/MIB/CISCO-CLASS-BASED-QOS-MIB.json
  collections/inv.capabilities/Huawei/MIB/HUAWEI-CBQOS-MIB.json
  collections/inv.capabilities/Huawei/OID/hwCBQoSClassifierStatisticsTable.json
  commands/gridvcs.py
  inv/models/sensor.py
  pm/models/measurementunits.py
  sa/profiles/Cisco/IOS/get_capabilities.py
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Huawei/VRP/get_capabilities.py
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

EdgeCore.ES. Fix scripts for ECS4660-28F model.
  sa/profiles/EdgeCore/ES/get_portchannel.py
  sa/profiles/EdgeCore/ES/get_switchport.py
  sa/profiles/EdgeCore/ES/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Orion.NOS. Fix regex version.
  sa/profiles/Orion/NOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add more Juniper models
  collections/inv.objectmodels/Juniper/EX/EX9200-40F.json
  collections/inv.objectmodels/Juniper/EX/EX9200-40XS.json
  collections/inv.objectmodels/Juniper/EX/EX9200_SF.json
  collections/inv.objectmodels/Juniper/EX/JPSU-650W-AC-AFI.json
  collections/inv.objectmodels/Juniper/MX/RE-S-MX104-S.json
Due: prettier

Add types mac addresses: sticky|authen|sec-config for get_mac_address_table Huawei.VRP
  sa/profiles/Huawei/VRP/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-orion-nos' into 'master'
  sa/profiles/Orion/NOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'master' into 'master'
  sa/profiles/Huawei/VRP/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix HP.Comware get_config and get_interfaces for Release 2209Pxx
  sa/profiles/HP/Comware/get_config.py
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/HP/Comware/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-HPComware_get_config_2209P13' into 'master'
  sa/profiles/HP/Comware/get_config.py
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/HP/Comware/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

BaseService: Clean up deprecated and unused nsq code
  core/nsq/topic.py
  core/service/base.py
  tests/nsq/test_topic.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'juniper_ex9200' into 'master'
  collections/inv.objectmodels/Juniper/EX/EX9200-40F.json
  collections/inv.objectmodels/Juniper/EX/EX9200-40XS.json
  collections/inv.objectmodels/Juniper/EX/EX9200_SF.json
  collections/inv.objectmodels/Juniper/EX/JPSU-650W-AC-AFI.json
  collections/inv.objectmodels/Juniper/MX/RE-S-MX104-S.json
Due: prettier

noc-agent: CLI processing refactoring
  rust/agent/src/agent.rs
  rust/agent/src/cli.rs
  rust/agent/src/cmd.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/error.rs
  rust/agent/src/lib.rs
  rust/agent/src/main.rs
Due: none

./noc ping: Remove tornado usage
  commands/ping.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
