Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

move viewPort done
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

click on mini scroll map
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

move map fixed
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

fm alarm favorites added
  ui/web/fm/alarm/view/grids/Grid.js
  ui/web/fm/alarm/view/grids/GridController.js
Due: eslint, build:web

fm.alarm context menu add/remove fav item added
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/fm/alarm/view/form/AlarmController.js
  ui/web/fm/alarm/view/grids/Grid.js
  ui/web/fm/alarm/view/grids/GridViewTable.js
  ui/web/fm/alarm/view/grids/Sidebar.js
Due: eslint, build:web

fm alarm form fav button added
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/fm/alarm/view/form/AlarmController.js
  ui/web/fm/alarm/view/form/AlarmModel.js
Due: eslint, build:web

fm alarm fav_status add to filter
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/alarm/Model.js
  ui/web/fm/alarm/model/Alarm.js
  ui/web/fm/alarm/model/Filter.js
  ui/web/fm/alarm/view/grids/FavoriteStatusGroup.js
  ui/web/fm/alarm/view/grids/Sidebar.js
  ui/web/fm/alarm/view/grids/SidebarModel.js
Due: eslint, build:web

layout for Summary fieldset fixed
  ui/web/css/extjs.css
  ui/web/fm/alarm/view/grids/Sidebar.js
Due: eslint, prettier, build:web

Revert "layout for Summary fieldset fixed"
  ui/web/css/extjs.css
  ui/web/fm/alarm/view/grids/Sidebar.js
Due: eslint, prettier, build:web

Add Global-VE to iftype list
  sa/profiles/Huawei/VRP/profile.py
Due: py-lint, mypy, py:test

Merge branch 'update-ssh2-python' into 'master'
  .requirements/activator.txt
  ansible/noc_roles/noc/templates/activator.goss.yml.j2
Due: py-lint

tooltip changed
  ui/web/inv/map/inspectors/ManagedObjectInspector.js
Due: eslint, build:web

two graph
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

fix card managedobject exception when confdb not valid
  services/card/cards/managedobject.py
Due: py-lint, mypy, py:test

Fix message vars on event ruleset classifier.
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Fan/Fan_Failed_2_SYSLOG_.json
  fm/models/eventclassificationrule.py
  services/classifier/ruleset.py
  tests/test_eventclassificationrule.py
  ui/web/fm/classificationrule/Application.js
  ui/web/fm/classificationrule/Model.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Remove unused code.
  tests/test_eventclassificationrule.py
Due: py-lint, mypy, py:test

Set Generic Profile.
  fm/models/eventclassificationrule.py
Due: py-lint, mypy, py:test

Fix set template param from discovered object.
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  services/web/apps/sa/discoveredobject/views.py
  ui/web/main/modeltemplate/Application.js
  ui/web/sa/objectdiscoveryrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Skip remote_id.
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Remove profile snmp_response_parser type.
  core/profile/base.py
Due: py-lint, mypy, py:test

Add writable test output.
  tests/test_eventclassificationrule.py
Due: py-lint, mypy, py:test

Fix test.
  tests/test_eventclassificationrule.py
Due: py-lint, mypy, py:test

Fix mib fm processed.
  cmibs/cisco_mac_notification_mib.py
  collections/fm.eventclassificationrules/Cisco/IOS/Network/MAC/MAC_Learned_SNMP_.json
  core/mib.py
  tests/test_mib.py
Due: py-lint, mypy, prettier, py:test

Remove unused param
  tests/test_eventclassificationrule.py
Due: py-lint, mypy, py:test

Fix typo.
  tests/test_mib.py
Due: py-lint, mypy, py:test

Remove unused import.
  core/mib.py
Due: py-lint, mypy, py:test

Fix mib fm processed.
  cmibs/cisco_mac_notification_mib.py
  collections/fm.eventclassificationrules/Cisco/IOS/Network/MAC/MAC_Learned_SNMP_.json
  core/mib.py
  tests/test_eventclassificationrule.py
  tests/test_mib.py
Due: py-lint, mypy, prettier, py:test

Set fav_status for alarm details
  main/models/favorites.py
  services/web/apps/fm/alarm/views.py
  services/web/base/extapplication.py
Due: py-lint, mypy, py:test

group/favorites/ endpoint
  main/models/favorites.py
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

template for group favorite mark
  ui/web/fm/alarm/view/grids/Container.js
  ui/web/fm/alarm/view/grids/ContainerController.js
Due: eslint, build:web

Huawei.VRP.profile Add Global-VE to iftype list
  sa/profiles/Huawei/VRP/profile.py
Due: py-lint, mypy, py:test

group mark/unmark favorites
  ui/web/fm/alarm/view/form/AlarmModel.js
  ui/web/fm/alarm/view/grids/ContainerController.js
Due: eslint, build:web

Favorite alarms
  main/models/favorites.py
  services/web/apps/fm/alarm/views.py
  services/web/base/extapplication.py
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/alarm/Model.js
  ui/web/fm/alarm/model/Alarm.js
  ui/web/fm/alarm/model/Filter.js
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/fm/alarm/view/form/AlarmController.js
  ui/web/fm/alarm/view/form/AlarmModel.js
  ui/web/fm/alarm/view/grids/Container.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/fm/alarm/view/grids/FavoriteStatusGroup.js
  ui/web/fm/alarm/view/grids/Grid.js
  ui/web/fm/alarm/view/grids/GridController.js
  ui/web/fm/alarm/view/grids/GridViewTable.js
  ui/web/fm/alarm/view/grids/Sidebar.js
  ui/web/fm/alarm/view/grids/SidebarModel.js
Due: py-lint, mypy, eslint, py:test, build:web

context menu fixed
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

MO inspector tooltip changed
  ui/web/inv/map/inspectors/ManagedObjectInspector.js
Due: eslint, build:web

viewport on mini map only
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
