Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

Fix flake.
  core/cdag/node/alarm.py
  pm/models/metricaction.py
  services/datastream/streams/cfgmetricrules.py
  services/metrics/service.py
Due: flake8, black, mypy, pylint, py:test

Fix tests.
  core/cdag/node/alarm.py
  services/metrics/service.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  services/metrics/service.py
Due: flake8, black, mypy, pylint, py:test

Add namespace to action nodes, for different Alarm rules.
  core/cdag/node/alarm.py
  pm/migrations/0012_migrate_threshold_profile_metic_rules.py
  pm/models/metricaction.py
  services/datastream/streams/cfgmetricrules.py
  services/metrics/service.py
Due: flake8, black, mypy, pylint, py:test

Add 22.1.3 Release Notes
  docs/en/docs/about/releases/22.1.3.md
Due: prettier, build:Docs:en, upload docs

Add 22.1.3 Release Notes
  docs/en/mkdocs.yml
Due: prettier, build:Docs:en, upload docs

NOC 22.1.3 Release Notes
  docs/en/docs/about/releases/22.1.3.md
  docs/en/mkdocs.yml
Due: prettier, build:Docs:en, upload docs

Add units to SLA metrics.
  core/models/cfgmetrics.py
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Generic/get_metrics.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, pylint, py:test

Fix sla metrics for Huawei.VRP.
  inv/models/sensor.py
  sa/models/managedobject.py
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Huawei/VRP/get_metrics.py
  services/datastream/streams/cfgmetricsources.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, pylint, py:test

Huawei.VRP. Fix units.
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, pylint, py:test

Fix Juniper.JUNOS.
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Huawei/VRP/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: flake8, black, mypy, pylint, py:test

Fix units on metrics.
  sa/profiles/APC/AOS/snmp_metrics/environment_temperature.json
  sa/profiles/AcmePacket/NetNet/snmp_metrics/environment_temperature.json
  sa/profiles/Alcatel/7302/snmp_metrics/environment_temperature.json
  sa/profiles/Alstec/24xx/snmp_metrics/environment_temperature.json
  sa/profiles/Cisco/IOS/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/DSLAM/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/MES/get_metrics.py
  sa/profiles/Eltex/MES/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_bias_current.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_temperature.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_txpower.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_voltage.json
  sa/profiles/Eltex/MES5448/get_metrics.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/WOP/get_metrics.py
  sa/profiles/Extreme/XOS/snmp_metrics/environment_temperature.json
  sa/profiles/Huawei/MA5600T/oidrules/hw_slots.py
  sa/profiles/Huawei/VRP/snmp_metrics/environment_temperature.json
  sa/profiles/Intracom/UltraLink/snmp_metrics/environment_temperature.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/environment_temperature.json
  sa/profiles/Juniper/JUNOSe/snmp_metrics/environment_temperature.json
  sa/profiles/NSN/TIMOS/get_metrics.py
  sa/profiles/Planar/SDO3000/snmp_metrics/environment_temperature.json
  sa/profiles/Raisecom/ROS/snmp_metrics/environment_temperature.json
  sa/profiles/Siklu/EH/snmp_metrics/environment_temperature.json
  sa/profiles/Sumavision/IPQAM/snmp_metrics/environment_temperature.json
  sa/profiles/Vector/Lambda/snmp_metrics/environment_temperature.json
Due: flake8, black, mypy, prettier, pylint, py:test

Fix flake.
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Generic/get_metrics.py
  sa/profiles/Huawei/VRP/get_metrics.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, pylint, py:test

Fix ManagedObject has_metrics for Sensor.
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  inv/models/object.py
  inv/models/sensor.py
  sa/models/managedobject.py
  services/datastream/streams/cfgmetricsources.py
Due: flake8, black, mypy, pylint, py:test

Add units to SLA metrics.
  core/models/cfgmetrics.py
  inv/models/object.py
  inv/models/sensor.py
  sa/models/managedobject.py
  sa/profiles/APC/AOS/snmp_metrics/environment_temperature.json
  sa/profiles/AcmePacket/NetNet/snmp_metrics/environment_temperature.json
  sa/profiles/Alcatel/7302/snmp_metrics/environment_temperature.json
  sa/profiles/Alstec/24xx/snmp_metrics/environment_temperature.json
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Cisco/IOS/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/DSLAM/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/MES/get_metrics.py
  sa/profiles/Eltex/MES/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_bias_current.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_temperature.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_txpower.json
  sa/profiles/Eltex/MES/snmp_metrics/interface_dom_voltage.json
  sa/profiles/Eltex/MES5448/get_metrics.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/WOP/get_metrics.py
  sa/profiles/Extreme/XOS/snmp_metrics/environment_temperature.json
  sa/profiles/Generic/get_metrics.py
  sa/profiles/Huawei/MA5600T/oidrules/hw_slots.py
  sa/profiles/Huawei/VRP/get_metrics.py
  sa/profiles/Huawei/VRP/snmp_metrics/environment_temperature.json
  sa/profiles/Intracom/UltraLink/snmp_metrics/environment_temperature.json
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/snmp_metrics/environment_temperature.json
  sa/profiles/Juniper/JUNOSe/snmp_metrics/environment_temperature.json
  sa/profiles/NSN/TIMOS/get_metrics.py
  sa/profiles/Planar/SDO3000/snmp_metrics/environment_temperature.json
  sa/profiles/Raisecom/ROS/snmp_metrics/environment_temperature.json
  sa/profiles/Siklu/EH/snmp_metrics/environment_temperature.json
  sa/profiles/Sumavision/IPQAM/snmp_metrics/environment_temperature.json
  sa/profiles/Vector/Lambda/snmp_metrics/environment_temperature.json
  services/datastream/streams/cfgmetricsources.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, prettier, pylint, py:test

pre-commit, without edit subtable
  ui/web/core/ModelApplication.js
  ui/web/css/ux.css
  ui/web/inv/interface/Application.js
  ui/web/inv/interface/ChangeInterfaceProfileForm.js
  ui/web/inv/interface/ChangeInterfaceProjectForm.js
  ui/web/inv/interface/ChangeInterfaceStateForm.js
  ui/web/inv/interface/ChangeInterfaceVCDomainForm.js
  ui/web/inv/interface/L1Panel.js
  ui/web/inv/interface/L1Store.js
  ui/web/inv/interface/L2Panel.js
  ui/web/inv/interface/L2Store.js
  ui/web/inv/interface/L3Panel.js
  ui/web/inv/interface/L3Store.js
  ui/web/inv/interface/LAGPanel.js
  ui/web/inv/interface/LAGStore.js
  ui/web/inv/interface/MACForm.js
  ui/web/inv/interface/MACStore.js
  ui/web/inv/interface/Model.js
  ui/web/inv/interface/type/LookupField.js
  ui/web/js/util.js
  ui/web/ux/grid/SubTable.js
Due: prettier, build:web

Move rust from common jobs to native ci file
  .gitlab-ci.yml
Due: prettier

Move rust build from common jobs to native ci file
  .gitlab-ci.yml
Due: prettier

Add required_rules to Workflow Transition.
  ui/web/wf/transition/Application.js
  ui/web/wf/transition/Model.js
  wf/models/state.py
  wf/models/transition.py
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix black.
  wf/models/state.py
Due: flake8, black, mypy, pylint, py:test

Send state signal on interface status discovery.
  services/discovery/jobs/periodic/interfacestatus.py
Due: flake8, black, mypy, pylint, py:test

Use @tree decorator for handling loop link error in NetworkSegment model
  inv/models/networksegment.py
Due: flake8, black, mypy, pylint, py:test

Fix typo
  inv/models/networksegment.py
Due: flake8, black, mypy, pylint, py:test

Assign handling loop link error in NetworkSegment model to @tree decorator
  inv/models/networksegment.py
Due: flake8, black, mypy, pylint, py:test

display multi values fixed
  ui/web/core/label/LabelField.js
Due: prettier, build:web

noc/noc#1899 Add required_rules to Workflow Transition.
  ui/web/wf/transition/Application.js
  ui/web/wf/transition/Model.js
  wf/models/state.py
  wf/models/transition.py
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add managed_object to interface backend.
  services/web/apps/inv/interface/views.py
Due: flake8, black, mypy, pylint, py:test

ready for test
  ui/web/inv/interface/Application.js
  ui/web/inv/interface/LinkForm.js
  ui/web/inv/interface/MACForm.js
  ui/web/inv/interface/MACStore.js
  ui/web/ux/grid/SubTable.js
Due: prettier, build:web

mrt change Content-Type
  ui/web/js/util.js
Due: prettier, build:web

save & delete fixed
  ui/web/pm/metricrule/Application.js
  ui/web/ux/form/GridField.js
Due: prettier, build:web

noc/noc#1912 Reformat INV/Interface Application.
  services/web/apps/inv/interface/views.py
  ui/web/core/ModelApplication.js
  ui/web/css/ux.css
  ui/web/inv/interface/Application.js
  ui/web/inv/interface/ChangeInterfaceProfileForm.js
  ui/web/inv/interface/ChangeInterfaceProjectForm.js
  ui/web/inv/interface/ChangeInterfaceStateForm.js
  ui/web/inv/interface/ChangeInterfaceVCDomainForm.js
  ui/web/inv/interface/L1Panel.js
  ui/web/inv/interface/L1Store.js
  ui/web/inv/interface/L2Panel.js
  ui/web/inv/interface/L2Store.js
  ui/web/inv/interface/L3Panel.js
  ui/web/inv/interface/L3Store.js
  ui/web/inv/interface/LAGPanel.js
  ui/web/inv/interface/LAGStore.js
  ui/web/inv/interface/LinkForm.js
  ui/web/inv/interface/MACForm.js
  ui/web/inv/interface/MACStore.js
  ui/web/inv/interface/Model.js
  ui/web/inv/interface/type/LookupField.js
  ui/web/js/util.js
  ui/web/ux/grid/SubTable.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix DLink.DxS_Industrial_CLI.get_lldp_neighbors script
  sa/profiles/DLink/DxS_Industrial_CLI/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint, py:test

Fix formatting
  sa/profiles/DLink/DxS_Industrial_CLI/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint, py:test

Fix update ListFormField value.
  ui/web/core/ListFormField.js
Due: prettier, build:web

Fix typo.
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, pylint, py:test

Fix detect UTC offset for metriccollector.
  config.py
  services/metricscollector/service.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-detect-utc-offset' into 'master'
  config.py
  services/metricscollector/service.py
Due: flake8, black, mypy, pylint, py:test

Speedup create probe on metrics service.
  config.py
  services/metrics/changelog.py
  services/metrics/service.py
Due: flake8, black, mypy, pylint, py:test

Speedup get_metric_config.
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
