Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

ujson 2.0.3
  requirements/docker.txt
  requirements/docker3.txt
  requirements/node.txt
  requirements/pypynode.txt
Due: none

Gitlab dependency scanning
  .gitlab-ci.yml
Due: prettier

Set `only`
  .gitlab-ci.yml
Due: prettier

Set extra index
  .gitlab-ci.yml
Due: prettier

Iskratel.ESCOM fix lldp neigborg script
  sa/profiles/Iskratel/ESCOM/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  .gitlab-ci.yml
Due: prettier

Merge branch 'fix/profile_iscratel_escom' into 'master'
  sa/profiles/Iskratel/ESCOM/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix_service_mailsender_2
  services/mailsender/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo on asset discovery logging.
  services/discovery/jobs/box/asset.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei. Disable CLI metrics.
  sa/profiles/Huawei/MA5600T/profile.py
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-huawei' into 'master'
  sa/profiles/Huawei/MA5600T/profile.py
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

./noc inventory find-serial command
  commands/inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS.get_cdp_neighbors. Replace OID to mib name.
  sa/profiles/Cisco/IOS/get_cdp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Replace StringIO to BytesIO on DetailReport for xlsxwriter work.
  services/web/apps/fm/reportalarmdetail/views.py
  services/web/apps/inv/reportifacestatus/views.py
  services/web/apps/inv/reportmaxmetrics/views.py
  services/web/apps/inv/reportmetrics/views.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Qtech.QSW2800.get_fqdn. Fix py3 pattern encoding.
  sa/profiles/Qtech/QSW2800/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix send_on_syntax_error params for py3.
  core/profile/base.py
  sa/profiles/Iskratel/MSAN/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Move canary check to proper role
  ansible/noc_roles/migrate/tasks/main.yml
  ansible/noc_roles/noc/tasks/git.yml
Due: prettier

Upgrade cpu ver
  ansible/molecule/yc/templates/template.tf
Due: none

Huawei.VRP.get_switchport. Fix getting port vlan on SNMP.
  sa/profiles/Huawei/VRP/get_switchport.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

py3. Cleanup get_lldp_neighbors script for SNMP.
  sa/profiles/3Com/4500/get_lldp_neighbors.py
  sa/profiles/DLink/DxS/get_lldp_neighbors.py
  sa/profiles/DLink/DxS_Smart/get_lldp_neighbors.py
  sa/profiles/HP/1905/get_lldp_neighbors.py
  sa/profiles/HP/1910/get_lldp_neighbors.py
  sa/profiles/Linksys/SPS2xx/get_lldp_neighbors.py
  sa/profiles/NAG/SNR/get_lldp_neighbors.py
  sa/profiles/Qtech/QSW/get_lldp_neighbors.py
  sa/profiles/Qtech/QSW2800/get_lldp_neighbors.py
  sa/profiles/Supertel/K2X/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_switchport. Fix getting vlans on SNMP.
  sa/profiles/Generic/get_switchport.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix/nsn_timos_get_interfaces' into 'master'
  sa/profiles/NSN/TIMOS/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

py3. Fix expected byte trace on interface-profile command.
  commands/interface-profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS.get_inventory. Use matchers instead match.
  sa/profiles/Cisco/IOS/get_inventory.py
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Raise error when OID tree from beef end.
  core/ioloop/snmp.py
  core/script/snmp/beef.py
  core/snmp/error.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

py3: Convert `rogue_chars` to binary type
  core/profile/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Catch IOError exception on beef load.
  core/script/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add display_hints options to get_table script method.
  core/script/snmp/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Restore ujson-x 1.37
  requirements/docker.txt
  requirements/docker3.txt
  requirements/node.txt
  requirements/pypynode.txt
Due: none

managedobject datastream: Interface services
  docs/src/en/api/datastream-managedobject.rst
  services/datastream/streams/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix if between None and int type.
  sa/profiles/DLink/DxS/get_capabilities.py
  sa/profiles/DLink/DxS_Smart/get_capabilities.py
  sa/profiles/Eltex/MES/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

py3: Fix cli.object_stream
  core/profile/base.py
  core/script/base.py
  core/script/cli/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix name encoding when calculate config diff.
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Convert cmd_next and cmd_stop to bytes on object_cli parser.
  core/script/cli/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix_pattern_more_Huawei_VRP3
  sa/profiles/Huawei/VRP3/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add tags
  ansible/noc_roles/migrate/tasks/main.yml
Due: prettier

Update noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Due: prettier

DLink.DxS. Fix decode on profile.
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Siklu.EH. Fix cleaned_input to binary data.
  sa/profiles/Siklu/EH/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize
