Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Generic.get_lldp_neighbors. get_interface_properties use instead get_ifindexes.
  sa/profiles/Alstec/24xx/get_lldp_neighbors.py
  sa/profiles/Generic/get_lldp_neighbors.py
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.objectmodels: AGear | Transceiver | 10G | SFP+10G1SM3320LC
  collections/inv.objectmodels/AGear/Transceiver/10G/SFP+10G1SM3320LC.json
Due: prettier

inv.objectmodels: ModulTech Transceivers
  collections/inv.objectmodels/ModulTech/Transceiver/10G/SFPpWDM2320LRCD.json
  collections/inv.objectmodels/ModulTech/Transceiver/1G/MT-PB-3524S-03C.json
Due: prettier

Fix listen_traps
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/noc_roles/trapcollector/defaults/main.yml
Due: prettier

inv.objectmodels: GigaLink | Transceiver | 1G | GL-OT-SG14SC1-1550-D
  collections/inv.objectmodels/GigaLink/Transceiver/1G/GL-OT-SG14SC1-1550-D.json
Due: prettier

inv.objectmodels: GIGALINK | Transceiver | 10G | GL-OT-ST05LC2-08
  collections/inv.objectmodels/GigaLink/Transceiver/10G/GL-OT-ST05LC2-08.json
Due: prettier

Speedup Alarm Outage card.
  services/card/cards/base.py
  services/card/cards/outage.py
  services/card/templates/outage.html.j2
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Suppress warnings
  sa/profiles/CData/xPON/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Ansible switch consul to repo
  ansible/system_roles/consul/defaults/main.yml
  ansible/system_roles/consul/tasks/config.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Debian_9/main.yml
  ansible/system_roles/consul/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/templates/consul.goss.yml.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
  ansible/system_roles/consul/templates/consul_systemd.service.j2
  ansible/vars/main.yml
Due: prettier

Bump jinja2 to 3.0.3.
  requirements.txt
Due: none

Disable AlarmDiagnostic Script for unmanaged object.
  fm/models/alarmdiagnosticconfig.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Clear Interface alarm on delete
  inv/models/interface.py
  inv/models/subinterface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix config_from_settings method on SLAProfile.
  sla/models/slaprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1454 Catch ErrorMessageSizeExceeded for LiftBridge client 'Sent message larger than max' error.
  core/error.py
  core/liftbridge/base.py
  core/liftbridge/error.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo in getting object uplinks.
  sa/models/managedobject.py
  services/web/apps/inv/reportmaxmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Alistar 1G WDM transceivers
  collections/inv.objectmodels/Alistar/Transceiver/1G/WDM-1G-1310-3SC.json
  collections/inv.objectmodels/Alistar/Transceiver/1G/WDM-1G-1550-3SC.json
Due: prettier

fix consul server template
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: none

Add more transceivers
  collections/inv.objectmodels/FiboTelecom/Transceiver/10G/FT-S10-W2720LD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/10G/FT-S10-W3320LD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/1G/FT-S1-W313SD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/1G/FT-S1-W5520SD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/GPON/FT-PX20++.json
  collections/inv.objectmodels/Gateray/Transceiver/10G/GR-SP10-W2720L-D.json
  collections/inv.objectmodels/Gateray/Transceiver/10G/GR-SP10-W3320L-D.json
  collections/inv.objectmodels/Hisense/Transceiver/10G/LTF1303-BH+.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+1.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+1DM.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+2.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+2DM.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE4302M-BC+DM.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-13d-20-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-13d-40-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-15d-20-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-15d-40-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF15-3-12GSC-3I.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOEB4366-PSGB-DM.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOGQ4321-PSGB-DM.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOGQ4321-PSGC-DM.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOGQ4321-PSGC.json
  collections/inv.objectmodels/Tsuhan/Transceiver/GPON/THMPRS4343GDA-DM.json
  collections/inv.objectmodels/Tsuhan/Transceiver/GPON/THMPRS4343GQA-DM.json
  collections/inv.vendors/OPTRONIC.json
Due: prettier

/aaa/group/lookup set limit param
  ui/web/aaa/user/Application.js
Due: prettier

Implement service NBI - API config
  services/nbi/api/config.py
  services/nbi/api/configrevisions.py
  services/nbi/api/getmappings.py
  services/nbi/api/objectmetrics.py
  services/nbi/api/objectstatus.py
  services/nbi/api/telemetry.py
  services/nbi/base.py
  services/nbi/loader.py
  services/nbi/paths/__init__.py
  services/nbi/paths/config.py
  services/nbi/paths/configrevisions.py
  services/nbi/paths/getmappings.py
  services/nbi/paths/objectmetrics.py
  services/nbi/paths/objectstatus.py
  services/nbi/paths/path.py
  services/nbi/paths/telemetry.py
  services/nbi/service.py
  tests/nbi/test_getmappings.py
  tests/nbi/test_path.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ConfDB query chart
  docs/en/docs/dev/reference/confdb/query.md
Due: none

noc/noc#1668 Additional mongo fatal errors.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update collections/inv.objectmodels/TFortis/Transceiver/1G/TBSF-13-10-12gSC-3i.json
  collections/inv.objectmodels/TFortis/Transceiver/1G/TBSF-13-10-12gSC-3i.json
Due: prettier

Fix DLink.DxS profile
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1135 Additional fatal PostgresSQL errors.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Bazis transceivers
  collections/inv.objectmodels/Bazis/Transceiver/10G/BZ-SFP+-10G-DA-3.json
  collections/inv.objectmodels/Bazis/Transceiver/10G/BZ-SFP+10GWDM-B10.json
  collections/inv.objectmodels/Bazis/Transceiver/10G/BZ-SFP+10GWDM-B3.json
  collections/inv.objectmodels/Bazis/Transceiver/10G/SFP+10G-WDM-A-20.json
  collections/inv.objectmodels/Bazis/Transceiver/GPON/SFP-EPON-PX-20++.json
Due: prettier

noc/noc#1726 Add works Alarm Component from custom.
  fm/models/activealarm.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Eoptolink transceivers
  collections/inv.objectmodels/Eoptolink/Transceiver/10G/EOLP-1396-02-I.json
  collections/inv.objectmodels/Eoptolink/Transceiver/GPON/EOLS-GET-25-DEDM.json
  collections/inv.objectmodels/Eoptolink/Transceiver/GPON/EOLS-GT-37-D-DM.json
  collections/inv.objectmodels/Eoptolink/Transceiver/GPON/EOLSGT35DZTE1DM.json
Due: prettier

Bump liftbridge version to 1.7.1
  ansible/system_roles/liftbridge/defaults/main.yml
Due: prettier

Additional cache to periodic discovery.
  inv/models/interfaceprofile.py
  pm/models/metrictype.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/periodic/interfacestatus.py
  services/discovery/jobs/periodic/metrics.py
  sla/models/slaprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo systemd consul
  ansible/system_roles/consul/defaults/main.yml
Due: prettier

Fix alarmheat memory leak.
  services/card/cards/alarmheat.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - remove get_handler in objectstatus API
  services/nbi/base.py
  services/nbi/paths/config.py
  services/nbi/paths/configrevisions.py
  services/nbi/paths/getmappings.py
  services/nbi/paths/objectmetrics.py
  services/nbi/paths/objectstatus.py
  services/nbi/paths/path.py
  services/nbi/paths/telemetry.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add error response description to NBI.
  commands/script.py
  fixes/fix_object_uplinks.py
  services/nbi/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#449 Add links field to ManagedObject.
  inv/models/link.py
  sa/migrations/0227_managedobject_objectdata_links.py
  sa/migrations/0228_managedobject_links_data.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1792 Add exclude_labels match field to AlarmRule.
  fm/models/alarmrule.py
  services/correlator/alarmrule.py
  ui/web/fm/alarmrule/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update Eltex.MES5448 profile
  sa/profiles/Eltex/MES5448/get_inventory.py
  sa/profiles/Eltex/MES5448/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Zyxel.MSAN.get_inventory script
  sa/profiles/Zyxel/MSAN/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix NSCComm.LPOS profile
  sa/profiles/NSCComm/LPOS/get_chassis_id.py
  sa/profiles/NSCComm/LPOS/get_config.py
  sa/profiles/NSCComm/LPOS/get_mac_address_table.py
  sa/profiles/NSCComm/LPOS/get_version.py
  sa/profiles/NSCComm/LPOS/get_vlans.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ZTE.ZXA10.get_interfaces script
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize
