Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Additional decoder.
  core/models/valuetype.py
Due: py-lint, mypy, py:test

ProtocolVariant: Mode parsing
  inv/models/protocol.py
Due: py-lint, mypy, py:test

Fix convert event vars on classifier.
  core/models/valuetype.py
  fm/models/dispositionrule.py
  services/classifier/actionset.py
  services/correlator/rule.py
  services/web/apps/fm/event/views.py
  ui/web/fm/dispositionrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

tests: Increase UDP server buffers
  tests/test_udpserver.py
Due: py-lint, mypy, py:test

Add facade to NSS5930-56SQFP
  collections/inv.facades/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/inv.objectmodels/Maipu/NSS5930-56SQFP.json
Due: prettier, py:test

Add NSS4330-32TXP
  collections/inv.objectmodels/Maipu/NSS4330-32TXP.json
Due: prettier, py:test

Add initial support for Maipu
  collections/sa.profilecheckrules/Maipu/OS/Maipu_enterprises.json
  sa/profiles/Maipu/OS/get_capabilities.py
  sa/profiles/Maipu/OS/get_chassis_id.py
  sa/profiles/Maipu/OS/get_config.py
  sa/profiles/Maipu/OS/get_discovery_id.py
  sa/profiles/Maipu/OS/get_interface_status_ex.py
  sa/profiles/Maipu/OS/get_interfaces.py
  sa/profiles/Maipu/OS/get_lldp_neighbors.py
  sa/profiles/Maipu/OS/get_mac_address_table.py
  sa/profiles/Maipu/OS/get_metrics.py
  sa/profiles/Maipu/OS/get_version.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, prettier, py:test

add NSS5930-56SQFP
  collections/inv.objectmodels/Maipu/NSS5930-56SQFP.json
Due: prettier, py:test

Add facade to NSS4330-32TXP
  collections/inv.facades/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.objectmodels/Maipu/NSS4330-32TXP.json
Due: prettier, py:test

Add inventory polling
  collections/inv.connectionrules/Maipu/Switch.json
  collections/inv.connectiontypes/Maipu/PSU.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.objectmodels/Maipu/NSS3530-30TXF.json
  sa/profiles/Maipu/OS/get_inventory.py
  sa/profiles/Maipu/OS/get_version.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, prettier, py:test

Add NSS3530-54TXP
  collections/inv.objectmodels/Maipu/NSS3530-54TXP.json
Due: prettier, py:test

fix objectmodels and improve facade for NSS3530
  collections/inv.facades/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.objectmodels/Maipu/NSS3530-30TXF.json
Due: prettier, py:test

Add facade for NSS3530-54TXP
  collections/inv.facades/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.objectmodels/Maipu/NSS3530-54TXP.json
Due: prettier, py:test

add yet another pat number for switch clone. Move models
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.objectmodels/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.objectmodels/Maipu/NSS5930/NSS5930-56SQFP.json
  sa/profiles/Maipu/OS/get_inventory.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, prettier, py:test

remove unnecessary code
  sa/profiles/Maipu/OS/get_capabilities.py
  sa/profiles/Maipu/OS/get_chassis_id.py
  sa/profiles/Maipu/OS/get_discovery_id.py
  sa/profiles/Maipu/OS/get_interface_status_ex.py
  sa/profiles/Maipu/OS/get_metrics.py
Due: py-lint, mypy, py:test

linter + cleanup
  sa/profiles/Maipu/OS/get_capabilities.py
  sa/profiles/Maipu/OS/get_inventory.py
  sa/profiles/Maipu/OS/get_version.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/dispositionrule.py
Due: py-lint, mypy, py:test

Add version compare to matcher.
  core/matcher.py
  tests/test_matcher.py
Due: py-lint, mypy, py:test

Fix value.
  fm/models/dispositionrule.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8368
  ui/web/vc/vlan/Application.js
  ui/web/vc/vlanprofile/Application.js
Due: eslint, build:web

Refactor
  commands/classify.py
Due: py-lint, mypy, py:test

Add command 'classify'
  commands/classify.py
Due: py-lint, mypy, py:test

Update 'stats' output section
  commands/classify.py
Due: py-lint, mypy, py:test

Add percentage to results
  commands/classify.py
Due: py-lint, mypy, py:test

Add 'refresh' subcommand
  commands/classify.py
Due: py-lint, mypy, py:test

Update classify events
  commands/classify.py
Due: py-lint, mypy, py:test

Fix ruff
  commands/classify.py
Due: py-lint, mypy, py:test

Add TP-2x10 ADM-200-MRFL
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200-MRFL.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/TP-2x10.json
  collections/inv.protocols/TransEth2_5G.json
Due: prettier, py:test

Update command in according to changes in classifier.rule
  commands/classify.py
Due: py-lint, mypy, py:test

Move .requirements to pyproject.toml
  .gitlab-ci.yml
  .requirements/activator.txt
  .requirements/bh.txt
  .requirements/cache-memcached.txt
  .requirements/cache-redis.txt
  .requirements/classifier.txt
  .requirements/dev.txt
  .requirements/docs.txt
  .requirements/lint.txt
  .requirements/login-ldap.txt
  .requirements/login-pam.txt
  .requirements/login-radius.txt
  .requirements/node.txt
  .requirements/ping.txt
  .requirements/prod-tools.txt
  .requirements/sender-kafka.txt
  .requirements/supervisor.txt
  .requirements/test.txt
  .requirements/testing.txt
  .requirements/vcenter.txt
  CODEOWNERS
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Due: py-lint, prettier, build:Docs, upload docs

Feature gates
  config.py
  core/feature.py
  docs/config-reference/features.md
  docs/config-reference/params.yml
  docs/feature-gates-reference/index.md
  mkdocs.yml
  services/web/apps/inv/channel/views.py
  services/web/apps/inv/endpoint/views.py
  services/web/apps/inv/inv/plugins/base.py
  services/web/apps/inv/inv/plugins/channel.py
  services/web/apps/inv/inv/plugins/job.py
  services/web/apps/inv/inv/views.py
  services/web/apps/main/desktop/views.py
  services/web/apps/sa/job/views.py
  services/web/base/application.py
  ui/web/js/boot.js
  ui/web/main/desktop/app.js
Due: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Fix
  core/feature.py
Due: py-lint, mypy, py:test

Remove unused imports.
  services/web/apps/inv/endpoint/views.py
Due: py-lint, mypy, py:test

Add Zabbix ETL Extractor.
  .requirements/zabbix.txt
  core/etl/extractor/zabbix.py
  docs/howto-add-zabbix-rs-to-noc/index.md
  docs/howto-add-zabbix-rs-to-noc/index.ru.md
  docs/howto-add-zabbix-rs-to-noc/remote_system_zabbix_add_form_en.png
  mkdocs.yml
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix test.
  tests/test_py_module.py
Due: py-lint, mypy, py:test

Bump zabbix_util.
  .requirements/zabbix.txt
  docs/howto-add-zabbix-rs-to-noc/index.md
Due: py-lint, prettier, build:Docs, upload docs

Add event extractor to zabbix adapter.
  core/etl/extractor/zabbix.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
