Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Fix SKS.SKS.get_version script
  sa/profiles/SKS/SKS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

update function update tests
  core/text.py
  tests/test_text.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix
  services/tgsender/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix file size
  services/tgsender/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Additional comments.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Switch service grafanads from tornado to FastAPI
  services/grafanads/annotations.py
  services/grafanads/check.py
  services/grafanads/paths/grafanads.py
  services/grafanads/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add native mongo handling [skip ci]
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/meta/tower.yml
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/master_unused.yml
Due: prettier

Make syslog reat again for logging mongodb
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
Due: prettier

Add mongo apt id
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
Due: prettier

Remove storadge engine select
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/meta/tower.yml
  ansible/system_roles/mongod/templates/mongod-arbiter.conf.j2
  ansible/system_roles/mongod/templates/mongod.conf.j2
  ansible/system_roles/mongod/templates/os/RedHat_7/etc/default/mongod-arbiter.j2
  ansible/system_roles/mongod/templates/os/RedHat_7/etc/default/mongod.j2
Due: prettier

Move molecule defaults to 4.4
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
Due: prettier

Bump docker to 4.4
  .docker/docker-compose.yml
Due: prettier

Remove storadge engine select
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/templates/mongo.key.j2
Due: prettier

change vars [skip ci]
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

Remove old libraries [skip ci]
  ansible/system_roles/mongod/library/mongodb_replica_set
  ansible/system_roles/mongod/tasks/master_unused.yml
Due: prettier

remove state [skip ci]
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

Move to rs [skip ci]
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

Add pymongo and ans interpreter [skip ci]
  ansible/system_roles/mongod/tasks/master_unused.yml
Due: prettier

Cover new rs as unused
  ansible/system_roles/mongod/tasks/main.yml
Due: prettier

move address
  ansible/system_roles/mongod/tasks/master.yml
Due: prettier

Fix lint [skip ci]
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

Fix condition on mongo dail
  ansible/system_roles/mongod/tasks/master.yml
Due: prettier

Fix mongo reppos
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_9/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_16/main.yml
Due: prettier

Bump mongodb to 4.4
  .docker/docker-compose.yml
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/library/mongodb_replica_set
  ansible/system_roles/mongod/meta/tower.yml
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/master.yml
  ansible/system_roles/mongod/tasks/master_rs.yml
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_9/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/templates/mongo.key.j2
  ansible/system_roles/mongod/templates/mongod-arbiter.conf.j2
  ansible/system_roles/mongod/templates/mongod.conf.j2
  ansible/system_roles/mongod/templates/os/RedHat_7/etc/default/mongod-arbiter.j2
  ansible/system_roles/mongod/templates/os/RedHat_7/etc/default/mongod.j2
Due: prettier

Fix run_in_executor call
  services/grafanads/paths/grafanads.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Relocate models to the models folder
  services/grafanads/models/__init__.py
  services/grafanads/models/grafanads.py
  services/grafanads/paths/grafanads.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix camelCase
  services/grafanads/models/grafanads.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

TGsender added file sending if message length> 4096 / 2
  core/text.py
  services/tgsender/service.py
  tests/test_text.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#817 Add 'noc::is_linked::=' label.
  inv/models/interface.py
  inv/models/link.py
  main/migrations/0060_create_default_labels.py
  main/migrations/0062_create_utility_labels.py
  main/models/label.py
  sa/models/managedobject.py
  ui/web/main/label/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Save discovery alarms to context.
  core/scheduler/job.py
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix mongodb repl init
  .docker/docker-compose.yml
  .docker/files/mongodb.key
Due: prettier

Switch service grafanads from tornado to FastAPI
  services/grafanads/annotations.py
  services/grafanads/check.py
  services/grafanads/models/__init__.py
  services/grafanads/models/grafanads.py
  services/grafanads/paths/grafanads.py
  services/grafanads/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix mongodb replkey init
  .docker/docker-compose.yml
  docker/docker-compose.yml
  docker/etc/mongo/mongodb.key
Due: prettier

add logging
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix mongodb replkey init
  .docker/docker-compose.yml
  docker/docker-compose.yml
  docker/etc/mongo/mongodb.key
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

DistributedLock primitive
  core/lock.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  services/grafanads/models/grafanads.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  core/lock.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Group Tab to Alarm form.
  services/web/apps/fm/alarm/views.py
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/fm/alarm/view/form/AlarmModel.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
