Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Apply reference for active Ping Failed alarms
  fm/migrations/0055_ping_alarm_reference.py
Due: flake8, black, mypy, pylint, py:test

Move ObjectStatus handlers to the alarm class
  collections/fm.alarmclasses/NOC/Managed_Object/Ping_Failed.json
  fm/handlers/alarm/status.py
Due: flake8, black, mypy, prettier, pylint, py:test

ping: Switch to direct dispose protocol
  collections/fm.alarmclasses/NOC/Managed_Object/Ping_Failed.json
  collections/fm.eventclasses/NOC/Managed_Object/Ping_Failed.json
  collections/fm.eventclasses/NOC/Managed_Object/Ping_OK.json
  fm/handlers/alarm/status.py
  fm/migrations/0055_ping_alarm_reference.py
  services/ping/probesetting.py
  services/ping/service.py
Due: flake8, black, mypy, prettier, pylint, py:test

noc/noc#1969 Add datastream param to detect changes.
  core/change/change.py
  core/change/decorator.py
  core/change/policy.py
  services/datastream/streams/cfgmetricsources.py
  services/datastream/streams/cfgmxroute.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-1969' into 'master'
  core/change/change.py
  core/change/decorator.py
  core/change/policy.py
  services/datastream/streams/cfgmetricsources.py
  services/datastream/streams/cfgmxroute.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6922
  core/change/change.py
  core/change/decorator.py
  core/change/policy.py
  services/datastream/streams/cfgmetricsources.py
  services/datastream/streams/cfgmxroute.py
Due: flake8, black, mypy, pylint, py:test

generator param omit, when undefined
  ui/web/core/TreePanel.js
Due: prettier, build:web

Add MapFiled for store BI Events vars.
  bi/models/events.py
  core/clickhouse/fields.py
Due: flake8, black, mypy, pylint, py:test

Add partition_function param to BI Engine.
  bi/models/events.py
  core/clickhouse/engines.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#1593 Add MapFiled for store BI Events vars.
  bi/models/events.py
  core/clickhouse/engines.py
  core/clickhouse/fields.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-1593' into 'master'
  bi/models/events.py
  core/clickhouse/engines.py
  core/clickhouse/fields.py
Due: flake8, black, mypy, pylint, py:test

Use polars library for Datasource.
  core/datasources/base.py
  core/datasources/discoverysummary.py
  core/datasources/interfacemacsstatds.py
  core/datasources/interfacesstatusstatds.py
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectconfigds.py
  core/datasources/managedobjectds.py
  core/datasources/managedobjectlabelsstatds.py
  core/datasources/managedobjectlocationds.py
  core/datasources/reportdsalarms.py
  requirements.txt
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, pylint, py:test, gemnasium-python-dependency_scanning

release-22.2:Backport!6939
  bi/models/events.py
  core/clickhouse/engines.py
  core/clickhouse/fields.py
Due: flake8, black, mypy, pylint, py:test

Fix save in ManagedObject set_caps method.
  main/models/label.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-managed-object-update-caps' into 'master'
  main/models/label.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6943
  main/models/label.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Fix ResourceGroup check on alarmescalation.
  fm/models/alarmescalation.py
  inv/models/resourcegroup.py
Due: flake8, black, mypy, pylint, py:test

generator param dismiss, when undefined
  ui/web/core/TreePanel.js
Due: prettier, build:web

Fix alarm report.
  core/datasources/base.py
  core/datasources/discoverysummary.py
  core/datasources/interfacemacsstatds.py
  core/datasources/interfacesstatusstatds.py
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectconfigds.py
  core/datasources/managedobjectds.py
  core/datasources/managedobjectlabelsstatds.py
  core/datasources/managedobjectlocationds.py
  core/datasources/reportdsalarms.py
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, pylint, py:test

Fix polars version.
  requirements.txt
Due: py:test, gemnasium-python-dependency_scanning

Add ConfiguredMap.
  inv/models/configuredmap.py
  ui/web/inv/configuredmap/LookupField.js
  ui/web/inv/configuredmap/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add UI for configuredmap.
  inv/models/configuredmap.py
  services/web/apps/inv/configuredmap/__init__.py
  services/web/apps/inv/configuredmap/views.py
  ui/web/inv/configuredmap/Application.js
  ui/web/inv/configuredmap/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add Links config.
  inv/models/configuredmap.py
  services/web/apps/inv/configuredmap/views.py
  ui/web/inv/configuredmap/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add configured topology generator.
  core/topology/base.py
  core/topology/map/configured.py
  core/topology/map/objectgroup.py
  inv/models/configuredmap.py
  sa/models/managedobject.py
  ui/web/inv/configuredmap/Application.js
  ui/web/inv/configuredmap/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Improve Update object_statuses.
  core/topology/map/configured.py
  services/web/apps/inv/configuredmap/views.py
  services/web/apps/inv/map/views.py
  ui/web/core/tagfield/Tagfield.js
  ui/web/inv/configuredmap/Application.js
  ui/web/inv/map/MapPanel.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix typo.
  core/topology/map/configured.py
  ui/web/inv/configuredmap/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

clone fixed
  ui/web/core/ComboBox.js
  ui/web/core/tagfield/Tagfield.js
  ui/web/inv/configuredmap/Application.js
Due: prettier, build:web

Add list id for filter nodes endpoint.
  inv/models/configuredmap.py
  services/web/apps/inv/configuredmap/views.py
Due: flake8, black, mypy, pylint, py:test

show map button added
  ui/web/inv/configuredmap/Application.js
  ui/web/inv/map/MapPanel.js
Due: prettier, build:web

Fix typo.
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  core/topology/map/configured.py
Due: flake8, black, mypy, pylint, py:test

zoom and scrolling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
Due: prettier, build:web

Add normalize_position param to MapData.
  core/topology/base.py
  core/topology/map/configured.py
  inv/models/mapsettings.py
Due: flake8, black, mypy, pylint, py:test

Fix import.
  services/web/apps/inv/configuredmap/views.py
  templates/newapp/modelapplication/views.py.j2
Due: flake8, black, mypy, pylint, py:test

Fix delete object.
  core/topology/base.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  services/web/apps/inv/configuredmap/views.py
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, pylint, py:test

reset grid, reset bg image - fixed
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
Due: prettier, build:web

Add models to register.
  main/models/imagestore.py
  models.py
Due: flake8, black, mypy, pylint, py:test

Add background_opacity.
  core/topology/base.py
  core/topology/map/configured.py
  inv/models/configuredmap.py
  inv/models/mapsettings.py
Due: flake8, black, mypy, pylint, py:test
