Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Fix AlarmGroup
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add expose_labels to FirmWarePolicy.
  inv/models/firmwarepolicy.py
  services/web/apps/aaa/user/views.py
  services/web/apps/inv/firmware/views.py
  ui/web/inv/firmwarepolicy/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix.
  inv/models/firmwarepolicy.py
  main/models/label.py
  sa/models/managedobject.py
  services/card/cards/managedobject.py
  services/discovery/jobs/box/version.py
  ui/web/inv/firmwarepolicy/Application.js
  ui/web/inv/firmwarepolicy/Model.js
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix UI.
  inv/models/firmwarepolicy.py
  sa/models/managedobject.py
  ui/web/inv/firmwarepolicy/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add alnum_key for compare firmware.
  core/profile/base.py
  inv/models/firmware.py
  inv/models/firmwarepolicy.py
  services/web/apps/sa/reportobjectsummary/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Rewrite nested alarms.
  services/card/cards/alarm.py
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Alarm UI show groups.
  services/card/cards/alarm.py
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add firmware policy labels
  core/profile/base.py
  inv/models/firmware.py
  inv/models/firmwarepolicy.py
  main/models/label.py
  sa/models/managedobject.py
  services/card/cards/managedobject.py
  services/discovery/jobs/box/version.py
  services/web/apps/aaa/user/views.py
  services/web/apps/inv/firmware/views.py
  services/web/apps/sa/reportobjectsummary/views.py
  ui/web/inv/firmwarepolicy/Application.js
  ui/web/inv/firmwarepolicy/Model.js
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Locks: Prevent nested usage
  core/lock/base.py
  tests/core/lock.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add ResourcePool model.
  inv/models/resourcepool.py
  models.py
  ui/web/inv/resourcepool/Application.js
  ui/web/inv/resourcepool/LookupField.js
  ui/web/inv/resourcepool/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add view.
  services/web/apps/inv/resourcepool/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Owner param.
  inv/models/resourcepool.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove allocate from ResourcePool.
  inv/models/resourcepool.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add check lock item before getting allocator.
  inv/models/resourcepool.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix allocator.
  inv/models/resourcepool.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  inv/models/resourcepool.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

ResourcePool
  inv/models/resourcepool.py
  models.py
  services/web/apps/inv/resourcepool/views.py
  ui/web/inv/resourcepool/Application.js
  ui/web/inv/resourcepool/LookupField.js
  ui/web/inv/resourcepool/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add FirmwarePolicy Doc.
  docs/ru/docs/user/reference/concepts/firmware-policy/index.md
  docs/ru/docs/user/reference/concepts/label/index.md
  docs/ru/docs/user/reference/concepts/managed-object-profile/index.md
Due: none

Add FirmwarePolicy to index.
  docs/ru/mkdocs.yml
Due: prettier

Fix typo.
  docs/ru/docs/user/reference/concepts/firmware-policy/index.md
Due: none

Fix typo.
  docs/ru/docs/user/reference/concepts/label/index.md
Due: none

Add firmwarepolicy docs
  docs/ru/docs/user/reference/concepts/firmware-policy/index.md
  docs/ru/docs/user/reference/concepts/label/index.md
  docs/ru/docs/user/reference/concepts/managed-object-profile/index.md
  docs/ru/mkdocs.yml
Due: prettier

update ca-certs to latest possible
  ansible/noc_roles/pre/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/pre/tasks/os/Debian_10/main.yml
  ansible/noc_roles/pre/tasks/os/Debian_11/main.yml
  ansible/noc_roles/pre/tasks/os/Debian_9/main.yml
  ansible/noc_roles/pre/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/pre/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/pre/tasks/os/Ubuntu_16/main.yml
  ansible/noc_roles/pre/tasks/os/Ubuntu_18/main.yml
  ansible/noc_roles/pre/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
Due: prettier

Remove tmp int
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
Due: prettier

Add AlarmClass and EventClass subject and body template validation.
  fm/models/alarmclass.py
  fm/models/eventclass.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

update ca-certs to latest possible
  ansible/noc_roles/pre/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/pre/tasks/os/Debian_10/main.yml
  ansible/noc_roles/pre/tasks/os/Debian_11/main.yml
  ansible/noc_roles/pre/tasks/os/Debian_9/main.yml
  ansible/noc_roles/pre/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/pre/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/pre/tasks/os/Ubuntu_16/main.yml
  ansible/noc_roles/pre/tasks/os/Ubuntu_18/main.yml
  ansible/noc_roles/pre/tasks/os/Ubuntu_20/main.yml
Due: prettier

Fix collection typo.
  collections/fm.eventclasses/Chassis/Hardware/RF/RF_SWACT_Change.json
Due: prettier

Fix 'Network | OSPF | Neighbor Down'
  collections/fm.eventclasses/Network/OSPF/Neighbor_Down.json
Due: prettier

Fix typo Group.
  collections/fm.alarmclasses/NOC/Group.json
Due: prettier

metrics: Deduplicate probes and sender configs
  core/cdag/factory/scope.py
  core/cdag/node/base.py
  core/cdag/node/metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  core/cdag/factory/scope.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

metrics: Deduplicate config for clones
  core/cdag/node/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  core/cdag/node/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo
  core/cdag/node/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use items instead consequences on escalation_doc.
  services/escalator/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Alarm groups query.
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/defaults/main.yml
Due: prettier

CDAG: Optimize subscribers memory footprint
  core/cdag/factory/config.py
  core/cdag/graph.py
  core/cdag/node/base.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
