Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Update patches
  .requirements/node.txt
Due: py-lint

Update file profile.py
  sa/profiles/Alcatel/7302/profile.py
Due: py-lint, mypy, py:test

Update profile.py
  sa/profiles/Alcatel/7302/profile.py
Due: py-lint, mypy, py:test

fix get_interfaces Alcatel.7302
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alcatel/7302/profile.py
Due: py-lint, mypy, py:test

#2309 Update patches
  .requirements/node.txt
Due: py-lint

Merge branch 'fix_get_interfaces_Alcatel.7302' into 'master'
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alcatel/7302/profile.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7729
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alcatel/7302/profile.py
Due: py-lint, mypy, py:test

Update minor versions
  .requirements/node.txt
Due: py-lint

Added conection rule for Eltex | MES and log message in resolve_object
  collections/inv.connectionrules/Eltex/MES.json
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, prettier, py:test

.
  commands/check_metric.py
Due: py-lint, mypy, py:test

.
  commands/check-metric.py
Due: py-lint, mypy, py:test

Add initial support for HP.Aruba profile
  collections/sa.profiles/HP/Aruba.json
  docs/profiles-reference/HP/index.md
  docs/ru/docs/user/reference/profiles/HP/HP.Aruba.md
  sa/profiles/HP/Aruba/__init__.py
  sa/profiles/HP/Aruba/get_arp.py
  sa/profiles/HP/Aruba/get_chassis_id.py
  sa/profiles/HP/Aruba/get_config.py
  sa/profiles/HP/Aruba/get_interface_status.py
  sa/profiles/HP/Aruba/get_interfaces.py
  sa/profiles/HP/Aruba/get_lldp_neighbors.py
  sa/profiles/HP/Aruba/get_mac_address_table.py
  sa/profiles/HP/Aruba/get_portchannel.py
  sa/profiles/HP/Aruba/get_switchport.py
  sa/profiles/HP/Aruba/get_version.py
  sa/profiles/HP/Aruba/get_vlans.py
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix
  sa/profiles/HP/Aruba/get_chassis_id.py
  sa/profiles/HP/Aruba/get_mac_address_table.py
  sa/profiles/HP/Aruba/get_portchannel.py
  sa/profiles/HP/Aruba/get_switchport.py
Due: py-lint, mypy, py:test

Add CLI.
  docs/profiles-reference/HP/Aruba.md
  docs/profiles-reference/HP/index.md
  sa/profiles/HP/Aruba/get_arp.py
  sa/profiles/HP/Aruba/get_capabilities.py
  sa/profiles/HP/Aruba/get_config.py
  sa/profiles/HP/Aruba/get_fqdn.py
  sa/profiles/HP/Aruba/get_interface_status.py
  sa/profiles/HP/Aruba/get_lacp_neighbors.py
  sa/profiles/HP/Aruba/get_lldp_neighbors.py
  sa/profiles/HP/Aruba/get_mac_address_table.py
  sa/profiles/HP/Aruba/get_portchannel.py
  sa/profiles/HP/Aruba/get_switchport.py
  sa/profiles/HP/Aruba/get_version.py
  sa/profiles/HP/Aruba/get_vlans.py
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix black.
  sa/profiles/HP/Aruba/get_interfaces.py
  sa/profiles/HP/Aruba/get_lacp_neighbors.py
  sa/profiles/HP/Aruba/get_lldp_neighbors.py
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, py:test

Fix profile.
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, py:test

Change JSON to JSONEachRow. replace except to except AttributeError
  commands/check-metric.py
Due: py-lint, mypy, py:test

Bump aiokafka for sender requirements.
  .requirements/sender-kafka.txt
Due: py-lint

Fix get_lacp_neighbors
  sa/profiles/HP/Aruba/get_lacp_neighbors.py
Due: py-lint, mypy, py:test

Return all data when pager match.
  core/script/cli/cli.py
Due: py-lint, mypy, py:test

Fix clickhouse metric view with default value..
  pm/models/metricscope.py
  ui/web/pm/metricscope/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Tests
  config.py
Due: py-lint, mypy, py:test

Fix
  .requirements/sender-kafka.txt
Due: py-lint

initial commit
  ui/web/inv/map/MapPanel.js
Due: prettier, build:web

Add metric to map object_status.
  core/topology/base.py
  services/web/apps/inv/map/views.py
Due: py-lint, mypy, py:test

apply status fixed
  ui/web/inv/map/MapPanel.js
Due: prettier, build:web

Update patches (addition)
  .requirements/classifier.txt
  .requirements/docs.txt
  .requirements/supervisor.txt
  .requirements/testing.txt
Due: py-lint, build:Docs, upload docs

Cleanup
  config.py
Due: py-lint, mypy, py:test

Fix getting status code from backend.
  core/topology/base.py
  services/web/apps/inv/map/views.py
Due: py-lint, mypy, py:test

Added connection rule for "Eltex | MES" and log message in resolve_object
  collections/inv.connectionrules/Eltex/MES.json
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, prettier, py:test

#2309 Update patches (addition)
  .requirements/classifier.txt
  .requirements/docs.txt
  .requirements/supervisor.txt
  .requirements/testing.txt
Due: py-lint, build:Docs, upload docs

Update
  inv/models/object.py
  services/card/cards/managedobject.py
  services/web/apps/pm/ddash/dashboards/mocard.py
Due: py-lint, mypy, py:test

add params from sfp
  services/web/apps/pm/ddash/dashboards/mocard.py
Due: py-lint, mypy, py:test

update ddash
  templates/ddash/dash_mo_card.j2
  templates/ddash/panel_sfp.j2
Due: none

initial commit
  services/card/templates/managedobject.html.j2
Due: none

Update Mo Card from SFP
  services/card/templates/managedobject.html.j2
  services/web/apps/pm/ddash/dashboards/mocard.py
  templates/ddash/dash_mo_card.j2
  templates/ddash/graph_interface_card_dom_current.j2
  templates/ddash/graph_interface_card_dom_temp.j2
  templates/ddash/graph_interface_card_dom_txrx.j2
  templates/ddash/graph_interface_card_dom_voltage.j2
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
