Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Fix
  commands/convert-xcvr-descr-to-data.py
Due: py-lint, mypy, py:test

Prototype Pollution fixed
  ui/web/pm/metricaction/Application.js
Due: eslint, build:web

login: Use secure/httponly cookie (#22)
  services/login/auth.py
Due: py-lint, mypy, py:test

./noc event: Fix code typos (#23)
  commands/events.py
Due: py-lint, mypy, py:test

#2727 Fix raise alarm by interface event.
  services/classifier/actionset.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2727' into 'master'
  services/classifier/actionset.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9617
  services/classifier/actionset.py
Due: py-lint, mypy, py:test

Sanitize URL method in error response (#24)
  services/web/base/site.py
  tests/test_site.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9437
  ui/web/core/mixins/Export.js
  ui/web/maintenance/maintenance/ObjectsStore.js
Due: eslint, build:web

Remove filtering by pool 'default' for superuser and empty params
  services/web/apps/inv/reportlinkdetail/views.py
Due: py-lint, mypy, py:test

Add Serial Number value type.
  collections/inv.capabilities/Asset/Serial_Numbers.json
  core/caps/decorator.py
  core/models/valuetype.py
  inv/models/capability.py
  ui/web/inv/capability/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Merge branch 'patch-avs-add-sn-value-type' into 'master'
  collections/inv.capabilities/Asset/Serial_Numbers.json
  core/caps/decorator.py
  core/models/valuetype.py
  inv/models/capability.py
  ui/web/inv/capability/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Fix regression of escalation_tt in card outage
  services/card/cards/outage.py
Due: py-lint, mypy, py:test

Merge branch 'fix-rm-card-outage' into 'master'
  services/card/cards/outage.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9623
  collections/inv.capabilities/Asset/Serial_Numbers.json
  core/caps/decorator.py
  core/models/valuetype.py
  inv/models/capability.py
  ui/web/inv/capability/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

release-25.1:Backport!9620
  services/card/cards/outage.py
Due: py-lint, mypy, py:test

Explain using legacy hashes (#26)
  core/password/hasher.py
Due: py-lint, mypy, py:test

Add capabilities field to Purgatorium model.
  bi/models/purgatorium.py
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/managedobject.py
  core/models/valuetype.py
  core/purgatorium.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Merge branch 'add-capabilities-to-purgatorium' into 'master'
  bi/models/purgatorium.py
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/managedobject.py
  core/models/valuetype.py
  core/purgatorium.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9627
  bi/models/purgatorium.py
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/managedobject.py
  core/models/valuetype.py
  core/purgatorium.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Merge branch 'fix-rm-inv-reportlinkdetail' into 'master'
  services/web/apps/inv/reportlinkdetail/views.py
Due: py-lint, mypy, py:test

Fix update same caps from different scope.
  core/caps/decorator.py
  core/purgatorium.py
  tests/models/test_capabilities.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9624
  services/web/apps/inv/reportlinkdetail/views.py
Due: py-lint, mypy, py:test

Merge branch 'fix-update-different-scope-caps' into 'master'
  core/caps/decorator.py
  core/purgatorium.py
  tests/models/test_capabilities.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9630
  core/caps/decorator.py
  core/purgatorium.py
  tests/models/test_capabilities.py
Due: py-lint, mypy, py:test

Fix L2domain UI typo.
  ui/web/vc/l2domainprofile/Application.js
Due: eslint, build:web

Add param to InterfaceMACsStat report datasource.
  core/datasources/interfacemacsstatds.py
Due: py-lint, mypy, py:test

Merge branch 'fix-l2domain-ui-typo' into 'master'
  ui/web/vc/l2domainprofile/Application.js
Due: eslint, build:web

Merge branch 'add-params-to-interfacemacsstatds' into 'master'
  core/datasources/interfacemacsstatds.py
Due: py-lint, mypy, py:test

Fix service disposition alarm typo.
  sa/models/service.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
