Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

fix Alstec, Eltex pon/rg, qsw8200, dlink get_inventory
  sa/profiles/Alstec/MSPU/get_inventory.py
  sa/profiles/DLink/DxS_Industrial_CLI/get_inventory.py
  sa/profiles/Eltex/PON/get_inventory.py
  sa/profiles/Qtech/QSW/get_inventory.py
  sa/profiles/Qtech/QSW8200/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix_get_inventory' into 'master'
  sa/profiles/Alstec/MSPU/get_inventory.py
  sa/profiles/DLink/DxS_Industrial_CLI/get_inventory.py
  sa/profiles/Eltex/PON/get_inventory.py
  sa/profiles/Qtech/QSW/get_inventory.py
  sa/profiles/Qtech/QSW8200/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.MES24xx.get_lldp_neighbors script
  sa/profiles/Eltex/MES24xx/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Allow to import MIBs in BIG5 encoding
  commands/mib.py
  services/mib/api/mib.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo in text parse_table on row_wrapper param check.
  core/text.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Carelink.SWG. Fix pattern_more on profile.
  sa/profiles/Carelink/SWG/get_chassis_id.py
  sa/profiles/Carelink/SWG/get_interfaces.py
  sa/profiles/Carelink/SWG/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add serial number attributes and return same result in version snmp/cli
  sa/profiles/Ubiquiti/AirOS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-parse_table-typo' into 'master'
  core/text.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-carelink-swg-profile' into 'master'
  sa/profiles/Carelink/SWG/get_chassis_id.py
  sa/profiles/Carelink/SWG/get_interfaces.py
  sa/profiles/Carelink/SWG/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_capabilities. Fix bad enterprise id check.
  sa/profiles/Generic/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Qtech.QSW8200.get_lldp_neighbors. Add ifName to port_type.
  sa/profiles/Qtech/QSW8200/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-qtech-8200-lldp' into 'master'
  sa/profiles/Qtech/QSW8200/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix list.
  services/card/cards/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-generic-ent-id' into 'master'
  sa/profiles/Generic/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Additional mibs
  collections/fm.mibs/ADSL-LINE-MIB.json.gz
  collections/fm.mibs/ADSL-TC-MIB.json.gz
  collections/fm.mibs/Cisco/AIRESPACE-SWITCHING-MIB.json.gz
  collections/fm.mibs/Cisco/AIRESPACE-WIRELESS-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-CDP-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-PORT-CHANNEL-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-PPPOE-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-ST-TC.json.gz
  collections/fm.mibs/Cisco/CISCO-VLAN-MEMBERSHIP-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-VPDN-MGMT-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-VRF-MIB.json.gz
  collections/fm.mibs/Cisco/CISCO-VTP-MIB.json.gz
  collections/fm.mibs/ENTITY-MIB.json.gz
  collections/fm.mibs/ENTITY-SENSOR-MIB.json.gz
  collections/fm.mibs/EtherLike-MIB.json.gz
  collections/fm.mibs/HC-PerfHist-TC-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-DEVICE-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-ENTITY-EXTENT-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-L2IF-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-SYS-MAN-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-TC-MIB.json.gz
  collections/fm.mibs/Huawei/HUAWEI-XPON-MIB.json.gz
  collections/fm.mibs/LLDP-MIB.json.gz
  collections/fm.mibs/MPLS-L3VPN-STD-MIB.json.gz
  collections/fm.mibs/VDSL2-LINE-MIB.json.gz
Due: none

Some fixes
  templates/ddash/graph_cpu_usage.j2
  templates/ddash/graph_cpu_usage_5sec.j2
  templates/ddash/graph_memory_usage.j2
  templates/ddash/graph_memory_usage_5sec.j2
Due: none

Some Fix
  templates/ddash/graph_cpu_usage_5sec.j2
  templates/ddash/graph_memory_usage_5sec.j2
  templates/ddash/graph_network_stp_topologychanges.j2
Due: none

Some fixes
  templates/ddash/graph_rtt.j2
Due: none

Add HUAWEI-DEVICE-MIB preference
  collections/fm.mibpreferences/HUAWEI-DEVICE-MIB.json
Due: prettier

Fix Exception when send message 'ServiceStub' object has no attribute 'pub'
  commands/discovery.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.objectmodel remove renderer on protocols column
  ui/web/inv/objectmodel/Application.js
Due: prettier

Bypass confirmation of firmware upgrade on DGS-1100-10/ME
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Eltex new models
  collections/inv.objectmodels/Eltex/MES/MES-2324B.json
  collections/inv.objectmodels/Eltex/MES24xx/MES2408C.json
  collections/inv.objectmodels/Eltex/MES24xx/MES2428.json
  collections/inv.objectmodels/Eltex/MES24xx/MES2428B.json
Due: prettier

Merge branch 'qtech_qsw2800_inventory' into 'master'
  sa/profiles/Qtech/QSW2800/get_inventory.py
  sa/profiles/Qtech/QSW2800/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix Eltex LTP, MA4000
  collections/inv.connectiontypes/Eltex/MA4000/linecard.json
  collections/inv.objectmodels/Eltex/LTP/LTP-4X-rev_B.json
  collections/inv.objectmodels/Eltex/LTP/LTP-4X-rev_C.json
  collections/inv.objectmodels/Eltex/LTP/LTP-8X-rev_B.json
  collections/inv.objectmodels/Eltex/LTP/LTP-8X-rev_C.json
  collections/inv.objectmodels/Eltex/MA4000/MA4000.json
  collections/inv.objectmodels/Eltex/MA4000/PLC8.json
  collections/inv.objectmodels/Eltex/MA4000/PP4X.json
Due: prettier

Update src/inv.objectmodels/DLink/DES/DES-3200-28F.json, src/inv.objectmodels/DLink/DES/DES-3200-28F_C1.json files
  collections/inv.objectmodels/DLink/DES/DES-3200-28F.json
  collections/inv.objectmodels/DLink/DES/DES-3200-28F_C1.json
Due: prettier

Fix memory leak on SSH CLI.
  core/script/cli/ssh.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Alcatel 7302 fix port_map
  sa/profiles/Alcatel/7302/get_inventory.py
  sa/profiles/Alcatel/7302/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix ReportAlarmDetail
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'reportalarmdetail_ad_fix' into 'master'
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1188' into 'master'
  core/script/cli/ssh.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix correlator trigger handler call.
  services/correlator/trigger.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1110 Add composite connection.
  inv/models/objectmodel.py
  ui/web/inv/objectmodel/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1096' into 'master'
  services/correlator/trigger.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add query param to confdb command.
  commands/confdb.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Rebuild datastream when object or objectconnection change.
  inv/models/object.py
  inv/models/objectconnection.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-rebuild-datastream-object' into 'master'
  inv/models/object.py
  inv/models/objectconnection.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Some Fix add close event, then delete threshold profile
  pm/models/thresholdprofile.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
