Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Rename migration.
  main/migrations/0074_add_template_message_type_fields.py
Due: py-lint, mypy, py:test

Fix imports.
  core/router/route.py
  main/models/template.py
  services/datastream/streams/managedobject.py
Due: py-lint, mypy, py:test

docs: UI guideline
  docs/ui-guideline/index.md
  docs/ui-guideline/index.ru.md
  mkdocs.yml
Due: prettier, build:Docs, upload docs

Fix JSON export for template.
  collections/main.templates/sa_mnaged_object_config_change.json
  collections/main.templates/sa_mnaged_object_config_policy_violation.json
  collections/main.templates/sa_mnaged_object_delete.json
  collections/main.templates/sa_mnaged_object_new.json
  collections/main.templates/sa_mnaged_object_version_changed.json
  main/migrations/0074_add_template_message_type_fields.py
  main/models/messageroute.py
  main/models/template.py
  services/web/apps/main/ref/views.py
  services/web/base/extmodelapplication.py
  ui/web/main/template/Application.js
  ui/web/main/template/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix typo.
  main/models/template.py
Due: py-lint, mypy, py:test

Rever eslint.
  .gitlab-ci.yml
Due: py-lint, prettier

Fix on_delete check.
  core/router/base.py
  main/migrations/0075_mx_route_message_typo_format.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  services/web/apps/main/ref/views.py
  services/web/base/extdocapplication.py
  ui/web/inv/interfaceprofile/Application.js
  ui/web/main/messageroute/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Set max replication_factor on kafka client to 3.
  commands/msgstream.py
  core/msgstream/client.py
  core/msgstream/liftbridge.py
  core/msgstream/redpanda.py
Due: py-lint, mypy, py:test

MessageType as string.
  core/datastream/base.py
  core/mx.py
  core/router/action.py
  core/service/base.py
  core/service/stub.py
  main/migrations/0075_mx_route_message_typo_format.py
  main/models/messageroute.py
  sa/models/managedobject.py
  services/web/base/extdocapplication.py
  ui/web/main/messageroute/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Add interface_status_change template.
  collections/main.templates/inv_discovery_interface_status_change.json
  services/syslogcollector/service.py
  services/trapcollector/service.py
  services/web/apps/main/ref/views.py
Due: py-lint, mypy, prettier, py:test

Fix Default Route.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  ui/web/inv/interfaceprofile/Application.js
  ui/web/inv/interfaceprofile/Model.js
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix import
  core/router/base.py
Due: py-lint, mypy, py:test

add more space
  ui/web/main/desktop/About.js
Due: prettier, build:web

Fix link
  ui/web/main/desktop/About.js
Due: prettier, build:web

fix layout
  ui/web/main/desktop/About.js
Due: prettier, build:web

Fix about layout
  ui/web/main/desktop/About.js
  ui/web/main/desktop/templates/About.hbs
  ui/web/main/desktop/templates/About.js
Due: prettier, build:web

Negate logo color, if default
  services/web/apps/main/desktop/views.py
Due: py-lint, mypy, py:test

make eslint optional
  .gitlab-ci.yml
Due: py-lint, prettier

Add MX MessageType enum.
  .gitlab-ci.yml
  collections/main.templates/inv_discovery_interface_status_change.json
  collections/main.templates/sa_mnaged_object_config_change.json
  collections/main.templates/sa_mnaged_object_config_policy_violation.json
  collections/main.templates/sa_mnaged_object_delete.json
  collections/main.templates/sa_mnaged_object_new.json
  collections/main.templates/sa_mnaged_object_version_changed.json
  core/datastream/base.py
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/service/base.py
  core/service/stub.py
  core/wf/diagnostic.py
  examples/handlers/hk/handler.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  main/migrations/0074_add_template_message_type_fields.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  main/models/template.py
  sa/models/managedobject.py
  services/classifier/service.py
  services/datastream/streams/managedobject.py
  services/discovery/jobs/periodic/uptime.py
  services/syslogcollector/service.py
  services/trapcollector/service.py
  services/web/apps/main/ref/views.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  ui/web/inv/interfaceprofile/Application.js
  ui/web/inv/interfaceprofile/Model.js
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
  ui/web/main/template/Application.js
  ui/web/main/template/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

#2114 discovery: Postpone jobs with import errors
  core/scheduler/job.py
  core/scheduler/scheduler.py
  services/discovery/service.py
Due: py-lint, mypy, py:test

Merge branch 'noc-scheduler-postponed' into 'master'
  core/scheduler/job.py
  core/scheduler/scheduler.py
  services/discovery/service.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8037
  core/scheduler/job.py
  core/scheduler/scheduler.py
  services/discovery/service.py
Due: py-lint, mypy, py:test

Adjust layout of about dialog
  .gitlab-ci.yml
  services/web/apps/main/desktop/views.py
  ui/web/main/desktop/About.js
  ui/web/main/desktop/templates/About.hbs
  ui/web/main/desktop/templates/About.js
Due: py-lint, mypy, prettier, py:test, build:web

typo fixed
  ui/web/inv/ifdescpatterns/Application.js
Due: prettier, build:web

invoke __ function
  ui/web/inv/inv/plugins/sensor/SensorPanel.js
Due: prettier, build:web

Add custom discovery intervals to Periodic Checks.
  sa/migrations/0256_add_separate_periodic_discovery_intervals.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/box/job.py
  services/discovery/jobs/periodic/job.py
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Delete sup oom patch
  ansible/noc_roles/noc/files/oom_score_adj_v3.3.1.patch
  ansible/noc_roles/noc/files/oom_score_adj_v4.1.0.patch
  ansible/noc_roles/noc/files/oom_score_adj_v4.2.4.patch
  ansible/noc_roles/noc/tasks/hacks.yml
Due: prettier

Move metric discovery to Periodic.
  services/discovery/jobs/periodic/job.py
Due: py-lint, mypy, py:test

Remove interval jobs.
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/interval/__init__.py
  services/discovery/jobs/interval/job.py
  services/discovery/jobs/periodic/job.py
  services/discovery/jobs/periodic/metrics.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

refactoring
  ui/web/core/PasswordField.js
Due: prettier, build:web

Convert ManagedObject to string for dispose protocol.
  core/wf/diagnostic.py
  services/discovery/jobs/base.py
  services/discovery/jobs/periodic/interfacestatus.py
  services/ping/service.py
Due: py-lint, mypy, py:test

set ESLINT_USE_FLAT_CONFIG=false
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
Due: py-lint, prettier, py:test

fm.eventclassificationrules: NAG | SNR | Network | Link | Link Up #8 (SYSLOG)
  collections/fm.eventclassificationrules/NAG/SNR/Network/Link/Link_Up_8_SYSLOG_.json
Due: prettier, py:test

Исправление обновления sources_config сервиса метрик
  services/metrics/service.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2463-metric-threshold' into 'master'
  services/metrics/service.py
Due: py-lint, mypy, py:test

Refactor password field
  ui/web/core/PasswordField.js
Due: prettier, build:web

ansible-fix-kafka-url
  ansible/system_roles/kafka/defaults/main.yml
Due: prettier

release-23.1:Backport!8001
  services/metrics/service.py
Due: py-lint, mypy, py:test

scale button added
  ui/web/inv/inv/plugins/rack/RackPanel.js
Due: prettier, build:web

move zoom button
  ui/web/inv/inv/plugins/rack/RackPanel.js
Due: prettier, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
