Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Use BaseList from mongoengine.base.datastructures for PlainReferenceListField value.
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use smart_text on fix tags.
  fixes/fix_tags.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use smart_bytes on threshold picker load.
  sa/migrations/0192_thresholdprofiles.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS.normalizer. Fix digit multi on storm-control level command.
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-109-eff03c478ffe0dd82b5f1f2f' into 'master'
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X7_sysObjectID.json
Due: prettier

Merge branch 'contrib-109-7f7878c92556ee2d0176803e' into 'master'
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X17_sysObjectID.json
Due: prettier

Merge branch 'noc-1339' into 'master'
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Replace `collections.Iterable` with `typing.Iterable`
  core/matcher.py
  core/pm/utils.py
  services/web/apps/inv/reportmaxmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1343' into 'master'
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Raisecom.ROS profile. Fix convert iface name for SNMP ifDescr format.
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-884' into 'master'
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_interfaces. Fix mtu None value trace.
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add vlan_ids to unit ConfDB syntax.
  core/confdb/syntax/virtualrouter/interfaces/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-generic-none' into 'master'
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1163 Huawei.VRP.get_metrics. Use getnext for CX200 DuplexStatus.
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1163' into 'master'
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1344' into 'master'
  fixes/fix_tags.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-109-d620fa16a215c28188f0edac' into 'master'
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6002_sysObjectID.json
Due: prettier

sa.profilecheckrules tests
  collections/sa.profilecheckrules/DLink/DxS_Smart/DES_1210_52_V4.json
  collections/sa.profilecheckrules/Eltex/WOPLR/WOP-2ac-LR5_sysObjectID.json
  collections/sa.profilecheckrules/HP/ProCurve/5406zl_sysObjectID.json
  collections/sa.profilecheckrules/HP/Switch/.gitkeep
  collections/sa.profilecheckrules/HP/Switch/1905-24POE_sysObjectID.json
  collections/sa.profilecheckrules/HP/Switch/1910-24-PoE_sysObjectID.json
  collections/sa.profilecheckrules/Qtech/QSW/QSW-2800_sysObjectID_1_301.json
  collections/sa.profilecheckrules/Qtech/QSW/QSW-2800_sysObjectID_2_59.json
  tests/collections/test_sa_profilecheckrules.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Cisco.IOS.normalizer. Fix typo
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add VPN Metric Scope.
  collections/pm.metricscopes/VPN.json
Due: prettier

Fix ZTE.ZXA10.get_interfaces script
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update sa/profiles/DCN/DCWS/get_version.py
  sa/profiles/DCN/DCWS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

alpha
  ui/web/core/combotree/ComboTree.js
  ui/web/css/extjs.css
  ui/web/css/ux.css
  ui/web/fm/alarm/view/grids/Tagfield.js
  ui/web/fm/alarm/view/grids/TagfieldController.js
  ui/web/fm/alarm/view/grids/TreePicker.js
  ui/web/fm/alarm/view/grids/TreePickerController.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
  ui/web/inv/map/inspectors/Inspector.js
Due: prettier

clean code
  ui/web/fm/alarm/view/grids/Sidebar.js
  ui/web/fm/alarm/view/grids/Tagfield.js
  ui/web/fm/alarm/view/grids/TagfieldController.js
Due: prettier

Add proccessed __in param to extmodel application.
  lib/app/extmodelapplication.py
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Huawei.MA5600T profile
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Network Map: Stencil overlays
  core/stencil.py
  core/topology/base.py
  core/topology/types.py
  main/models/glyph.py
  project/migrations/0002_shape_overlay.py
  project/models/project.py
  sa/migrations/0207_managedobject_shape_overlay.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/apps/inv/map/views.py
  services/web/apps/main/ref/views.py
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/ShapeRegistry.js
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/project/project/Application.js
  ui/web/project/project/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: Eltex | MA | MA4000 sysObjectID
  collections/sa.profilecheckrules/Eltex/MA/MA4000_sysObjectID.json
Due: prettier

Revert "Fix order"
  collections/inv.platforms/CISCO/C9300-24P.json
  collections/inv.platforms/CISCO/C9300-24T.json
  collections/inv.platforms/CISCO/C9300-24U.json
  collections/inv.platforms/CISCO/C9300-24UX.json
  collections/inv.platforms/CISCO/C9300-48P.json
  collections/inv.platforms/CISCO/C9300-48T.json
  collections/inv.platforms/CISCO/C9300-48U.json
  collections/inv.platforms/CISCO/C9300-48UXM.json
  collections/inv.platforms/CISCO/C9500-12Q.json
  collections/inv.platforms/CISCO/C9500-24Q.json
  collections/inv.platforms/CISCO/C9500-40X.json
  collections/inv.platforms/CISCO/CISCO1921.json
  collections/inv.platforms/CISCO/WS-C2960S-24PD-L.json
  collections/inv.platforms/CISCO/WS-C3550-24.json
  collections/inv.platforms/CISCO/WS-C3750G-24TS-1U.json
  collections/inv.platforms/DLINK/DGS-3420-28TC.json
  collections/inv.platforms/ZYXEL/GS-4012F.json
  collections/inv.platforms/ZYXEL/MES3500-24.json
  collections/inv.platforms/ZYXEL/MES3500-24F.json
Due: prettier

Fix Generic.get_interfaces script
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: DCN | DCWS | DCWS-6028(R2) sysObjectID
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6028_R2_sysObjectID.json
Due: prettier

Fix Raisecom.ROS.get_lldp_neighbors script
  sa/profiles/Raisecom/ROS/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.MES24xx.get_lldp_neighbors script
  sa/profiles/Eltex/MES24xx/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix CLI get_lldp_neighbors
  sa/profiles/Huawei/MA5600T/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: Huawei | MA | MA5800-X7 sysObjectID
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X7_sysObjectID.json
Due: prettier

Fix Eltex.LTE.get_version script
  sa/profiles/Eltex/LTE/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
