Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Merge branch 'fix-avs-hp-aruba-serial' into 'master'
  sa/profiles/HP/Aruba/get_capabilities.py
  sa/profiles/HP/Aruba/get_version.py
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9428
  sa/profiles/HP/Aruba/get_capabilities.py
  sa/profiles/HP/Aruba/get_version.py
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, py:test

Fix typo.
  services/web/base/application.py
Due: py-lint, mypy, py:test

max_inactivity as SecondsParameter
  config.py
  docs/config-reference/params.yml
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix render_json typing on web backend.
  services/web/base/application.py
Due: py-lint, mypy, py:test

Fix send notify on NotificationGroup.
  core/mx.py
Due: py-lint, mypy, py:test

Merge branch 'fix-notification-group-notify' into 'master'
  core/mx.py
Due: py-lint, mypy, py:test

Fix flake.
  config.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9481
  core/mx.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8662
  core/pm/utils.py
  services/card/cards/object.py
  tests/core/pm/__init__.py
  tests/core/pm/test_nan_check.py
Due: py-lint, mypy, py:test

Fix description linking when object is not managed
  services/discovery/jobs/box/ifdesc.py
Due: py-lint, mypy, py:test

fix date
  services/discovery/jobs/box/ifdesc.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9484
  services/discovery/jobs/box/ifdesc.py
Due: py-lint, mypy, py:test

generate all files for prod
  .gitignore
  ui/build.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/scripts/plugins/LanguagePlugin.ts
  ui/scripts/plugins/ThemePlugin.ts
  ui/scripts/readme.md
Due: prettier

Add support for multiple languages in build options and plugins
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/scripts/plugins/LanguagePlugin.ts
Due: none

Fix output file path in ExternalLibsPlugin to include output directory
  ui/scripts/plugins/ExternalLibsPlugin.ts
Due: none

Fix PrettyJSON for new mongo standart type Binary for uuid-fields
  core/prettyjson.py
Due: py-lint, mypy, py:test

remove sentry-sdk from prod-tools.txt
  .requirements/prod-tools.txt
Due: py-lint

Add support for multiple themes and languages in HTML generation
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/index-template-prod.html
  ui/scripts/plugins/HtmlPlugin.ts
Due: none

Fix duplicate notification when send notify.
  core/router/action.py
  core/router/route.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-duplicate-notify' into 'master'
  core/router/action.py
  core/router/route.py
Due: py-lint, mypy, py:test

Remove unnecessary str
  bi/models/dashboard.py
  dev/models/quiz.py
  dev/models/spec.py
  gis/models/layer.py
  main/models/font.py
  main/models/glyph.py
  pm/models/thresholdprofile.py
Due: py-lint, mypy, py:test

Fix manual json creating in two models
  fm/models/eventclass.py
  inv/models/modelinterface.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9487
  core/router/action.py
  core/router/route.py
Due: py-lint, mypy, py:test

Return handler for uuid.UUID because binary fields with subtype 4 automatically represents as uuid.UUID
  core/prettyjson.py
Due: py-lint, mypy, py:test

Fix manual creatings
  bi/models/dashboard.py
  fm/models/eventclass.py
  inv/models/modelinterface.py
Due: py-lint, mypy, py:test

remove sentry from prod-tools
  .requirements/sentry.txt
  ansible/noc_roles/noc/meta/tower.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Due: py-lint, prettier

add enable_kafka field to selfmon
  ansible/noc_roles/selfmon/meta/tower.yml
Due: prettier

linter
  ansible/noc_roles/noc/meta/tower.yml
Due: prettier

fix
  ansible/noc_roles/noc/defaults/main.yml
Due: prettier

test
  ansible/noc_roles/noc/meta/tower.yml
Due: prettier

remove ugly crutch from web
  ansible/noc_roles/noc/meta/tower.yml
  ansible/system_roles/clickhouse/meta/tower.yml
  ansible/system_roles/grafana/defaults/main.yml
  ansible/vars/main.yml
Due: prettier

move clickhouse repo to ENV var
  ansible/system_roles/clickhouse/defaults/main.yml
  ansible/vars/main.yml
Due: prettier

Exclude consul repo on closed gap
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
Due: prettier

cleanup
  ansible/vars/main.yml
Due: prettier

add grafana
  ansible/system_roles/grafana/tasks/plugins.yml
Due: prettier

move from priv repo
  ansible/noc_roles/bi/tasks/main.yml
  ansible/noc_roles/card/tasks/main.yml
  ansible/noc_roles/mib/tasks/main.yml
  ansible/noc_roles/noc/defaults/main.yml
  ansible/noc_roles/noc/meta/tower.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/web/tasks/main.yml
  ansible/system_roles/clickhouse/meta/tower.yml
  ansible/system_roles/consul-template/defaults/main.yml
  ansible/system_roles/consul/tasks/control.yml
  ansible/system_roles/goss/defaults/main.yml
  ansible/system_roles/grafana/tasks/os/RED_7/main.yml
  ansible/system_roles/liftbridge/defaults/main.yml
  ansible/system_roles/nats/defaults/main.yml
  ansible/system_roles/nginx/templates/noc.conf.j2
  ansible/vars/main.yml
Due: prettier

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
