Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Fix black.
  services/grafanads/paths/grafanajsonds.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-consul-services-update' into 'master'
  ansible/system_roles/consul/tasks/service_config_set.yml
Due: prettier

release-23.1:Backport!7497
  .requirements/node.txt
Due: none

mo list custom fileds added
  ui/web/sa/managedobject/form/View.js
Due: prettier, build:web

Add Suggest protocol priority to Credential Rule UI.
  services/web/apps/sa/credentialcheckrule/views.py
  ui/web/sa/credentialcheckrule/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add OID validator.
  sa/models/credentialcheckrule.py
Due: flake8, black, mypy, pylint, py:test

fix pattern_prompt Qtech.QSW2800
  sa/profiles/Qtech/QSW2800/profile.py
Due: flake8, black, mypy, pylint, py:test

Add to custom fields of types date and datetime attributes format and altFormats
  main/models/customfield.py
Due: flake8, black, mypy, pylint, py:test

custom field to mo form added
  main/models/customfield.py
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

empty value fixed
  ui/web/sa/managedobject/form/FormController.js
Due: prettier, build:web

Custom field on managed_object form
  main/models/customfield.py
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Merge branch 'noc-2218' into 'master'
  main/models/customfield.py
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

release-23.1:Backport!7510
  main/models/customfield.py
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Reduce max message size on metrics_queue on 1%.
  core/service/base.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix_pattern_prompt_Qtech.QSW2800' into 'master'
  sa/profiles/Qtech/QSW2800/profile.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7509
  sa/profiles/Qtech/QSW2800/profile.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7505
  ansible/system_roles/consul/tasks/service_config_set.yml
Due: prettier

Fix typo.
  core/service/base.py
Due: flake8, black, mypy, pylint, py:test

fix interfaces Alcatel.TIMOS
  sa/profiles/Alcatel/TIMOS/get_interfaces.py
  sa/profiles/Alcatel/TIMOS/profile.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  core/service/base.py
Due: flake8, black, mypy, pylint, py:test

#2220 Reduce max message size on metrics_queue on 1%.
  core/service/base.py
Due: flake8, black, mypy, pylint, py:test

Bump to python3
  ansible/system_roles/postgres/tasks/os/RED_7/install.yml
Due: prettier

release-23.1:Backport!7478
  sa/profiles/Huawei/MA5600T/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix_interfaces_Alcatel.TIMOS' into 'master'
  sa/profiles/Alcatel/TIMOS/get_interfaces.py
  sa/profiles/Alcatel/TIMOS/profile.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7514
  sa/profiles/Alcatel/TIMOS/get_interfaces.py
  sa/profiles/Alcatel/TIMOS/profile.py
Due: flake8, black, mypy, pylint, py:test

Bump psycopg2 to python3 in redos
  ansible/system_roles/postgres/tasks/os/RED_7/install.yml
Due: prettier

Remove vars.message field from query
  fm/migrations/0051_alarm_class_reference.py
Due: flake8, black, mypy, pylint, py:test

Add iterator to RedPanda client for use subscribe on chwriter.
  core/msgstream/redpanda.py
  services/chwriter/service.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-2220' into 'master'
  core/service/base.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  core/msgstream/redpanda.py
Due: flake8, black, mypy, pylint, py:test

#2200 Fix exception raised on invalid UTF-8 text in vars.message field in fm/0051 migration
  fm/migrations/0051_alarm_class_reference.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-2200' into 'master'
  fm/migrations/0051_alarm_class_reference.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7512
  core/service/base.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7517
  fm/migrations/0051_alarm_class_reference.py
Due: flake8, black, mypy, pylint, py:test

Reset AuthProfile when set credential.
  core/checkers/cliprotocolchecker.py
  core/checkers/snmpprotocolchecker.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, pylint, py:test

Fix apply_credentials method.
  core/checkers/cliprotocolchecker.py
  core/checkers/snmpprotocolchecker.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, pylint, py:test

Additional logging.
  services/discovery/jobs/base.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, pylint, py:test

Fix - change filtering data from pandas to polars API
  core/datasources/interfacemacsstatds.py
  services/web/apps/inv/reportmetrics/views.py
Due: flake8, black, mypy, pylint, py:test

Add refresh_diagnostics after diagnostic discovery check.
  commands/liftbridge.py
  core/checkers/cliprotocolchecker.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, pylint, py:test
