Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

ANsible fix mongod_ver var
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/system_roles/mongod/defaults/main.yml
Due: prettier

Fix DLink.DAS profile
  sa/profiles/DLink/DAS/get_inventory.py
  sa/profiles/DLink/DAS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Reformat
  sa/profiles/DLink/DAS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

CDAG: Reduce string memory usage
  core/cdag/node/base.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Switch service sae from tornado to FastAPI
  services/sae/api/sae.py
  services/sae/paths/jsonrpc_sae.py
  services/sae/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

2.5GBASE-T and 5GBASE-T inventory protocols
  docs/en/docs/dev/reference/inventory-protocols.md
Due: none

Add body to redirect response
  services/sae/paths/jsonrpc_sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix last_config_ts calc in ReportObjectDetail.
  lib/app/reportdatasources/report_objectconfig.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ObjectDetail Report config last ts
  lib/app/reportdatasources/report_objectconfig.py
  services/web/apps/fm/alarm/views.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

clean input field value
  ui/web/core/label/LabelField.js
Due: prettier

Subscribers: Optimize subscriber memory layout
  core/cdag/node/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add response model and some fixes
  core/service/models/jsonrpc.py
  services/sae/paths/jsonrpc_sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Switch service sae from tornado to FastAPI
  core/service/models/jsonrpc.py
  services/sae/api/sae.py
  services/sae/paths/jsonrpc_sae.py
  services/sae/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

CDAG: API Cleanup
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/node/metrics.py
  core/cdag/tx.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove nsq, nsqlookup services from nodes
  ansible/system_roles/consul-template/tasks/deservice.yml
  ansible/system_roles/nsqd/meta/tower.yml
  ansible/system_roles/nsqd/tasks/checks.yml
  ansible/system_roles/nsqd/tasks/main.yml
  ansible/system_roles/nsqd/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nsqd/tasks/os/Debian_10/main.yml
  ansible/system_roles/nsqd/tasks/os/Debian_11/main.yml
  ansible/system_roles/nsqd/tasks/os/Debian_9/main.yml
  ansible/system_roles/nsqd/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/nsqd/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/nsqd/tasks/os/RedHat_7/main.yml
  ansible/system_roles/nsqd/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/nsqd/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nsqd/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nsqd/tasks/tests.yml
  ansible/system_roles/nsqd/templates/nsqd.conf.ctmpl
  ansible/system_roles/nsqlookupd/meta/tower.yml
  ansible/system_roles/nsqlookupd/tasks/checks.yml
  ansible/system_roles/nsqlookupd/tasks/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/Debian_10/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/Debian_11/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/Debian_9/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/RedHat_7/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nsqlookupd/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nsqlookupd/tasks/tests.yml
Due: prettier

Fix path var
  ansible/system_roles/consul-template/tasks/deservice.yml
Due: prettier

Fix msg call
  ansible/system_roles/nsqd/tasks/tests.yml
  ansible/system_roles/nsqlookupd/tasks/tests.yml
Due: prettier

Fix import
  ansible/system_roles/nsqlookupd/tasks/main.yml
Due: prettier

Optimize the use of the api variable
  services/sae/paths/jsonrpc_sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update FastAPI version in requirements
  requirements.txt
Due: none

ignore_errors when no nsqd services
  ansible/system_roles/nsqd/tasks/main.yml
  ansible/system_roles/nsqlookupd/tasks/main.yml
Due: prettier

Rewrite VLAN Management.
  models.py
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanfilter.py
  vc/models/vlantemplate.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add UI Applications.
  services/web/apps/inv/resourcepool/__init__.py
  services/web/apps/vc/l2domainprofile/__init__.py
  services/web/apps/vc/l2domainprofile/views.py
  services/web/apps/vc/vlanfilter/__init__.py
  services/web/apps/vc/vlanfilter/views.py
  services/web/apps/vc/vlantemplate/__init__.py
  services/web/apps/vc/vlantemplate/views.py
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/LookupField.js
  ui/web/vc/l2domainprofile/Model.js
  ui/web/vc/vlanfilter/Application.js
  ui/web/vc/vlanfilter/LookupField.js
  ui/web/vc/vlanfilter/Model.js
  ui/web/vc/vlantemplate/Application.js
  ui/web/vc/vlantemplate/LookupField.js
  ui/web/vc/vlantemplate/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlanfilter.py
  vc/models/vlantemplate.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix indexes.
  vc/models/vlan.py
  vc/models/vlantemplate.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix application.
  ui/web/vc/l2domain/Application.js
  ui/web/vc/vlanfilter/Application.js
  ui/web/vc/vlantemplate/Application.js
  vc/models/vlantemplate.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add L2Domain Application.
  services/web/apps/vc/l2domain/__init__.py
  services/web/apps/vc/l2domain/views.py
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domain/LookupField.js
  ui/web/vc/l2domain/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix flake.
  vc/models/vlan.py
  vc/models/vlanprofile.py
  vc/models/vlantemplate.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add get_effective_vlan_num method.
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domain/Model.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlantemplate.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix ValidationError.
  services/web/apps/vc/vlanfilter/views.py
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/vlanfilter/Application.js
  ui/web/vc/vlantemplate/Application.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlanfilter.py
  vc/models/vlantemplate.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix get_free_vlan_num.
  vc/models/l2domain.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ManagedObject Cache.
  lib/app/extdocapplication.py
  sa/migrations/0223_managed_object_l2domain.py
  sa/models/managedobject.py
  services/web/apps/vc/l2domain/views.py
  services/web/apps/vc/vlan/views.py
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domain/Model.js
  ui/web/vc/vlan/Application.js
  ui/web/vc/vlan/Model.js
  vc/models/l2domain.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add VLAN L2 domain check.
  inv/models/resourcepool.py
  inv/models/subinterface.py
  main/models/remotesystem.py
  main/models/style.py
  vc/models/l2domain.py
  vc/models/vlan.py
  wf/models/state.py
  wf/models/workflow.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add ManagedObject migration.
  inv/models/networksegment.py
  inv/models/resourcepool.py
  sa/migrations/0223_managed_object_l2domain.py
  sa/models/managedobject.py
  services/web/apps/vc/vlan/views.py
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/vc/vlan/Application.js
  ui/web/vc/vlan/Model.js
  ui/web/vc/vlanprofile/Application.js
  ui/web/vc/vlanprofile/Model.js
  vc/models/l2domain.py
  vc/models/vlan.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add VLAN Discovery Setting.
  inv/models/resourcepool.py
  services/discovery/jobs/box/interface.py
  services/web/apps/vc/vlan/views.py
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domain/Model.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  inv/models/subinterface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add allocate to ResourcePool.
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domain/Model.js
  vc/models/l2domain.py
  vc/models/vlan.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix VLAN Discovery.
  sa/models/managedobject.py
  services/discovery/jobs/box/job.py
  services/discovery/jobs/box/vlan.py
  ui/web/vc/l2domain/Application.js
  ui/web/vc/l2domain/Model.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add ResourcePool model.
  services/discovery/jobs/box/vlan.py
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
  vc/models/vlan.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize
