Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

release-25.1:Backport!9725
  services/discovery/jobs/periodic/uptime.py
Due: py-lint, mypy, py:test

Add run Action Commands on reaction.
  fm/models/alarmclass.py
  main/models/handler.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  sa/models/serviceprofile.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9725
  fm/models/alarmclass.py
  main/models/handler.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  sa/models/serviceprofile.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add BDCOM S5210-C profile check rules (#63)
  collections/sa.profilecheckrules/BDCOM/IOS/S5210C_sysObjectID.json
Due: prettier, py:test

feat: enhance localization support by updating build configurations and integrating language plugin (#56)
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/scripts/plugins/LanguagePlugin.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/web/locale/gettext.js
Due: eslint, build:web

Create Service Instance from config for IPv4 caps set.
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-update-address-si-network' into 'master'
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9729
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Add dynamic classification to Sensor.
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ui/web/inv/sensorprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9733
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ui/web/inv/sensorprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Add Zabbix Event classes.
  collections/fm.eventclasses/Zabbix/Agent/Not_Available.json
  collections/fm.eventclasses/Zabbix/Configuration_Syncer/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Data_Collection/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Error.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Failed.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Loss_Too_High.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Response_Too_High.json
  collections/fm.eventclasses/Zabbix/ICMP_RTT/Too_High.json
  collections/fm.eventclasses/Zabbix/Internal_Process/Utilization_High.json
  collections/fm.eventclasses/Zabbix/LLD_Worker/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Memory_Buffer/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Missing_Data_Item/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Version_Changed.json
  collections/fm.eventclasses/Zabbix/Reboot.json
  collections/fm.eventclasses/Zabbix/SNMP/Not_Available.json
  collections/fm.eventclasses/Zabbix/Trigger.json
  collections/fm.eventclasses/Zabbix/Unreachable_Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Zabbix_Proxy/Last_Seen/Too_High.json
  collections/fm.eventclassificationrules/Zabbix/Configuration_Syncer/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Data_Collection_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Last_Seen_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Loss_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Response_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Internal_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/LLD_Worker/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Poller/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Power/No_Data_Zabbix_Power_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Memory_Buffer/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Missing_Data_Item/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Version_Changed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Reboot_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Scenario_Step/Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Unreachable_Poller/Utilization_High_Zabbix_.json
  core/etl/extractor/zabbix.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'patch-avs-add-zabbix-event-classes' into 'master'
  collections/fm.eventclasses/Zabbix/Agent/Not_Available.json
  collections/fm.eventclasses/Zabbix/Configuration_Syncer/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Data_Collection/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Error.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Failed.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Loss_Too_High.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Response_Too_High.json
  collections/fm.eventclasses/Zabbix/ICMP_RTT/Too_High.json
  collections/fm.eventclasses/Zabbix/Internal_Process/Utilization_High.json
  collections/fm.eventclasses/Zabbix/LLD_Worker/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Memory_Buffer/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Missing_Data_Item/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Version_Changed.json
  collections/fm.eventclasses/Zabbix/Reboot.json
  collections/fm.eventclasses/Zabbix/SNMP/Not_Available.json
  collections/fm.eventclasses/Zabbix/Trigger.json
  collections/fm.eventclasses/Zabbix/Unreachable_Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Zabbix_Proxy/Last_Seen/Too_High.json
  collections/fm.eventclassificationrules/Zabbix/Configuration_Syncer/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Data_Collection_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Last_Seen_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Loss_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Response_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Internal_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/LLD_Worker/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Poller/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Power/No_Data_Zabbix_Power_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Memory_Buffer/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Missing_Data_Item/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Version_Changed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Reboot_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Scenario_Step/Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Unreachable_Poller/Utilization_High_Zabbix_.json
  core/etl/extractor/zabbix.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9735
  collections/fm.eventclasses/Zabbix/Agent/Not_Available.json
  collections/fm.eventclasses/Zabbix/Configuration_Syncer/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Data_Collection/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Error.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Failed.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Loss_Too_High.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Response_Too_High.json
  collections/fm.eventclasses/Zabbix/ICMP_RTT/Too_High.json
  collections/fm.eventclasses/Zabbix/Internal_Process/Utilization_High.json
  collections/fm.eventclasses/Zabbix/LLD_Worker/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Memory_Buffer/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Missing_Data_Item/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Version_Changed.json
  collections/fm.eventclasses/Zabbix/Reboot.json
  collections/fm.eventclasses/Zabbix/SNMP/Not_Available.json
  collections/fm.eventclasses/Zabbix/Trigger.json
  collections/fm.eventclasses/Zabbix/Unreachable_Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Zabbix_Proxy/Last_Seen/Too_High.json
  collections/fm.eventclassificationrules/Zabbix/Configuration_Syncer/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Data_Collection_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Last_Seen_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Loss_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Response_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Internal_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/LLD_Worker/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Poller/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Power/No_Data_Zabbix_Power_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Memory_Buffer/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Missing_Data_Item/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Version_Changed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Reboot_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Scenario_Step/Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Unreachable_Poller/Utilization_High_Zabbix_.json
  core/etl/extractor/zabbix.py
Due: py-lint, mypy, prettier, py:test

Update MikroTik.RouterOS profile #2 (#62)
  sa/profiles/MikroTik/RouterOS/get_capabilities.py
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Due: py-lint, mypy, py:test

Register test markers (#69)
  tests/conftest.py
Due: py-lint, mypy, py:test

Add PM Agent to ETL.
  core/etl/loader/base.py
  core/etl/loader/pmagent.py
  core/etl/models/managedobject.py
  core/etl/models/pmagent.py
  core/etl/models/sensor.py
  core/etl/models/typing.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/agentprofile.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'patch-avs-add-pm-agent-rs-loader' into 'master'
  core/etl/loader/base.py
  core/etl/loader/pmagent.py
  core/etl/models/managedobject.py
  core/etl/models/pmagent.py
  core/etl/models/sensor.py
  core/etl/models/typing.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/agentprofile.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9737
  core/etl/loader/base.py
  core/etl/loader/pmagent.py
  core/etl/models/managedobject.py
  core/etl/models/pmagent.py
  core/etl/models/sensor.py
  core/etl/models/typing.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/agentprofile.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add DLink.DxS network OAM events (#68)
  collections/fm.eventclassificationrules/DLink/DxS/Network/OAM/Monitoring_Error_SYSLOG.json
Due: prettier, py:test

Add DLink.DxS network STP classification rules (#70)
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_Role_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_State_Changed_SYSLOG_.json
Due: prettier, py:test

Add Qtech.QSW2800 event classification rules (#72)
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/Link/Link_Up_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/STP/STP_Port_State_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Security/Audit/Command_SYSLOG_.json
Due: prettier, py:test

Fix deprecation warning in svg.py (#73)
  core/svg.py
Due: py-lint, mypy, py:test

Fix command_more/command_super deprecations
  core/profile/base.py
  sa/profiles/CData/xPON/profile.py
  sa/profiles/Cambium/ePMP/profile.py
  sa/profiles/Iskratel/ESCOM/profile.py
  sa/profiles/Meinberg/LANTIME/profile.py
Due: py-lint, mypy, py:test

Use uv in github actions
  .github/workflows/py-tests.yml
Due: prettier

Fix
  .github/workflows/py-tests.yml
Due: prettier

Move all to uv
  .github/workflows/build-docs.yml
  .github/workflows/py-tests.yml
Due: prettier

Run github tests on collections change (#76)
  .github/workflows/py-tests.yml
Due: prettier

Update interface oper_status fields when oper_status_set.
  inv/models/interface.py
Due: py-lint, mypy, py:test

Add Configuration Domain Reaction to Rule.
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  ui/web/sa/actioncommands/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'fix-avs-apply-reaction-rule-cfg-domain' into 'master'
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  ui/web/sa/actioncommands/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'fix-avs-update-iface-oper-status-when-change' into 'master'
  inv/models/interface.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9739
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  ui/web/sa/actioncommands/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9740
  inv/models/interface.py
Due: py-lint, mypy, py:test

Fix param name.
  commands/collection.py
Due: py-lint, mypy, py:test

Clean DLink | DxS | Network | STP | STP Port State Changed (SYSLOG) test_cases.
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_State_Changed_SYSLOG_.json
Due: prettier, py:test
