Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

config: mongo.authentication_source config parameter
  config.py
  core/mongo/connection.py
  docs/config-reference/mongo.md
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

#2662 Disable replace Address and Prefix when changed on discovery.
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

numpy 2.3.2, networkx 3.5
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  pyproject.toml
Due: py-lint, mypy, py:test

FIX 'Invalid IPv4 prefix' in sa/profiles/Qtech/QSW2800/confdb/normalizer.py on Discovery
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Due: py-lint, mypy, py:test

Merge branch 'noc-mongo-auth-source' into 'master'
  config.py
  core/mongo/connection.py
  docs/config-reference/mongo.md
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Python 3.13 support
  .gitlab-ci.yml
  Dockerfile
Due: py-lint, prettier

noc-supp-fix-card-ToDoContainer
  services/card/templates/service.html.j2
Due: none

Merge branch 'noc-2662' into 'master'
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix bug for caps default values
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Fix bug for caps default values in managedobjectcapsds
  core/datasources/managedobjectcapsds.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9568
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix bug for caps default values
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Merge branch 'fix-rm-managedobjectds-default-caps' into 'master'
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9576
  ui/web/core/ModelApplication.js
Due: eslint, build:web

Merge branch 'noc-fix-qtech2800-normalizer' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Due: py-lint, mypy, py:test

Add inv/Object_Serial report
  collections/main.reports/Object_Serial.json
  core/datasources/objectserialds.py
Due: py-lint, mypy, prettier, py:test

Add source getting data from sa_managedobjectattribute
  collections/main.reports/Object_Serial.json
  core/datasources/objectserialds.py
Due: py-lint, mypy, prettier, py:test

Move functional to managedobjectds datasource
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
  core/datasources/objectserialds.py
Due: py-lint, mypy, prettier, py:test

Unite serials from different sources into one column
  collections/main.reports/Object_Serial.json
Due: prettier, py:test

Improve mo_ids creation
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Drop getting serialnumber from sa_managedobjectattribute
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Due: py-lint, mypy, prettier, py:test

Update localization
  collections/main.reports/Object_Serial.json
Due: prettier, py:test

Pydantic 2.11.9
  pyproject.toml
Due: py-lint

release-25.1:Backport!9574
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Cleanup
  collections/main.reports/Object_Serial.json
Due: prettier, py:test

Add cfmetric datastream Model.
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/datastream/streams/cfgmetrics.py
Due: py-lint, mypy, py:test

Fix UI.
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Due: eslint, build:web

Fix formatting.
  pm/models/metrictype.py
Due: py-lint, mypy, py:test

Fix 2.
  pm/models/metrictype.py
Due: py-lint, mypy, py:test

Add inv/Object_Serial report
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'report-engine-object-serial' into 'master'
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Due: py-lint, mypy, prettier, py:test

release-23.1:Backport!9549
  services/card/cards/service.py
Due: py-lint, mypy, py:test

Add labelWidth property to various fields in service application
  ui/web/sa/service/Application.js
Due: eslint, build:web

Add missing status field requirement in service application
  ui/web/sa/service/Application.js
Due: eslint, build:web

Add diagnostics and mappings fields to service application
  ui/web/sa/service/Application.js
Due: eslint, build:web

Refactor diagnostics and mappings fields layout in service application for improved UI structure
  ui/web/sa/service/Application.js
Due: eslint, build:web

Add mapping to service backend
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix layout.
  ui/web/sa/service/Application.js
Due: eslint, build:web

Add diagnostics and mappings fields to service application
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'noc-2711' into 'master'
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
