Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix resource Template fields.
  sa/models/resourcetemplate.py
  ui/web/sa/resourcetemplate/Application.js
  ui/web/sa/resourcetemplate/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix from_template method.
  sa/models/managedobject.py
  sa/models/resourcetemplate.py
Due: py-lint, mypy, py:test

Fix typo.
  sa/models/managedobject.py
  sa/models/resourcetemplate.py
  ui/web/sa/resourcetemplate/Application.js
  ui/web/sa/resourcetemplate/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix on_delete_check.
  models.py
  sa/models/managedobject.py
  sa/models/resourcetemplate.py
  ui/web/sa/resourcetemplate/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix.
  inv/models/capability.py
  inv/models/resourcegroup.py
  wf/models/state.py
Due: py-lint, mypy, py:test

Add RemoteSystem to set.
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/resourcetemplate.py
Due: py-lint, mypy, py:test

Fix id_cache attribute.
  sa/models/resourcetemplate.py
Due: py-lint, mypy, py:test

Update Juniper.JUNOS
  cmibs/juniper_dom_mib.py
  cmibs/juniper_mib.py
  cmibs/juniper_virtualchassis_mib.py
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_dom_status.py
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_lacp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/get_vlans.py
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_bias_current.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_temperature.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_txpower.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_voltage.json
Due: py-lint, mypy, prettier, py:test

Merge branch 'juniper_junos_snmp' into 'master'
  cmibs/juniper_dom_mib.py
  cmibs/juniper_mib.py
  cmibs/juniper_virtualchassis_mib.py
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_dom_status.py
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_lacp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/get_vlans.py
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_bias_current.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_temperature.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_txpower.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_voltage.json
Due: py-lint, mypy, prettier, py:test

release-24.1:Backport!8204
  cmibs/juniper_dom_mib.py
  cmibs/juniper_mib.py
  cmibs/juniper_virtualchassis_mib.py
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_dom_status.py
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_lacp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/get_vlans.py
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_bias_current.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_temperature.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_txpower.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/interface_dom_voltage.json
Due: py-lint, mypy, prettier, py:test

Refactor
  core/reporter/formatter/simplereport.py
  main/models/report.py
Due: py-lint, mypy, py:test

Add Beward.Doorphone profile
  collections/inv.objectmodels/Beward/Doorphone.json
  collections/pm.metrictypes/Object/DoorphonePhoneVolume.json
  collections/pm.metrictypes/Telephony/SIP/sip_status.json
  collections/sa.profilecheckrules/Beward/Doorphone_sysObjectID.json
  collections/sa.profiles/Beward/Doorphone.json
  docs/profiles-reference/Beward/Doorphone.md
  mkdocs.yml
  sa/profiles/Beward/Doorphone/__init__.py
  sa/profiles/Beward/Doorphone/get_capabilities.py
  sa/profiles/Beward/Doorphone/get_chassis_id.py
  sa/profiles/Beward/Doorphone/get_fqdn.py
  sa/profiles/Beward/Doorphone/get_ifindexes.py
  sa/profiles/Beward/Doorphone/get_interface_status.py
  sa/profiles/Beward/Doorphone/get_interface_status_ex.py
  sa/profiles/Beward/Doorphone/get_interfaces.py
  sa/profiles/Beward/Doorphone/get_inventory.py
  sa/profiles/Beward/Doorphone/get_lldp_neighbors.py
  sa/profiles/Beward/Doorphone/get_metrics.py
  sa/profiles/Beward/Doorphone/get_version.py
  sa/profiles/Beward/Doorphone/profile.py
  sa/profiles/Beward/Doorphone/snmp_metrics/Interface_load_in.json
  sa/profiles/Beward/Doorphone/snmp_metrics/cpu_load_15min.json
  sa/profiles/Beward/Doorphone/snmp_metrics/cpu_load_1min.json
  sa/profiles/Beward/Doorphone/snmp_metrics/cpu_load_5min.json
  sa/profiles/Beward/Doorphone/snmp_metrics/environment_temperature.json
  sa/profiles/Beward/Doorphone/snmp_metrics/interface_load_out.json
  sa/profiles/Beward/Doorphone/snmp_metrics/interface_octets_in_delta.json
  sa/profiles/Beward/Doorphone/snmp_metrics/interface_octets_out_delta.json
  sa/profiles/Beward/Doorphone/snmp_metrics/memory_total.json
  sa/profiles/Beward/Doorphone/snmp_metrics/memory_usage.json
  templates/ddash/graph_cpu_load_15min.j2
  templates/ddash/graph_doorphone_phonevolume.j2
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

#2516 Fix column titles and localization for joined datasources in csv-output-reports
  core/reporter/formatter/simplereport.py
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8231
  core/reporter/formatter/simplereport.py
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Due: py-lint, mypy, py:test

Merge branch 'issue-2516-fix-column-titles' into 'master'
  core/reporter/formatter/simplereport.py
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Due: py-lint, mypy, py:test

add Generic | Transceiver | CFP / CFP2
  collections/inv.objectmodels/Generic/Transceiver/CFP.json
  collections/inv.objectmodels/Generic/Transceiver/CFP2.json
Due: prettier, py:test

Update column titles and localization
  collections/main.reports/Availability.json
Due: prettier, py:test

Rename to Model Template.
  main/models/modeltemplate.py
  models.py
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/web/apps/main/modeltemplate/__init__.py
  services/web/apps/main/modeltemplate/views.py
  ui/web/main/modeltemplate/Application.js
  ui/web/main/modeltemplate/LookupField.js
  ui/web/main/modeltemplate/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix type to Remote System.
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

add facade to CFP2
  collections/inv.facades/Transceiver/CFP2.json
Due: prettier, py:test

add facade to CFP2
  collections/inv.objectmodels/Generic/Transceiver/CFP2.json
Due: prettier, py:test

Fix on_delete.
  inv/models/capability.py
  inv/models/resourcegroup.py
  models.py
  wf/models/state.py
Due: py-lint, mypy, py:test

Fix black.
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

add Generic | Transceiver | CFP / CFP2
  collections/inv.facades/Transceiver/CFP2.json
  collections/inv.objectmodels/Generic/Transceiver/CFP.json
  collections/inv.objectmodels/Generic/Transceiver/CFP2.json
Due: prettier, py:test

remove RBS- prefix from ITE-Polus models. Fix ADM-200 model
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA2_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FB_K4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM_16V_16_100_M_C21_OSC(1511)_VP_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-H21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-96-50-H13-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-C21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-H21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-96-50-H13-OSC(1511)VP-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM_2_100_C_50_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM_2x9_C_F_OCM_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM_4_C_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM_H3.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
Due: py-lint, mypy, prettier, py:test

add new protocols for ADM-200
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
Due: prettier, py:test

add 16GFC 8GFC OTUC2
  collections/inv.protocols/16GFC.json
  collections/inv.protocols/8GFC.json
  collections/inv.protocols/OTUC2.json
Due: prettier, py:test

change OTUCn to OTUC2
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
  collections/inv.protocols/OTUC2.json
Due: prettier, py:test

change description for fibre channel proto
  collections/inv.protocols/16GFC.json
  collections/inv.protocols/8GFC.json
Due: prettier, py:test

remove OTUCn
  collections/cm.configurationparams/SetDataType.json
  collections/inv.protocols/OTUCn.json
  tests/collections/test_inv_objectmodels.py
Due: py-lint, mypy, prettier, py:test

fix 16GFC
  collections/inv.protocols/16GFC.json
Due: prettier, py:test

fix fibre channel for ADM-200
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
Due: prettier, py:test

Add some object models and new conntypes
  collections/inv.connectiontypes/Optical/E2000.json
  collections/inv.connectiontypes/Optical/MPO.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/FRA_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/HRA2B-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/HRA2_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA1_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/EAU/EAU-2x(40V_100)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/FS-2-1_12-1550-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/IL-2-50_100-C-M-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM_4V_4_100_M_C21_OSC(1511)_VP_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM_8V_8_100_M_C21_OSC(1511)_VP_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-9-C-F-OCM-OSC(1511)-b(50_14)-P(175_18)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM_2_C_H4.json
Due: prettier, py:test

Add BS-1-1-H4, RLM-EXT-H4, ELM-H4
  collections/inv.objectmodels/IRE-Polus/Horizon/BS-1-1-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/RLM-EXT-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/RLM-H4.json
Due: prettier, py:test

add ODU2 and ODUflex for ADM-200
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.protocols/ODU2.json
  collections/inv.protocols/ODUflex.json
Due: prettier, py:test

Fix start and end parameters in datasource
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

remove RBS- prefix from IRE-Polus models. Fix ADM-200 model. Fix protocols
  collections/cm.configurationparams/SetDataType.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA2_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FB_K4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM_16V_16_100_M_C21_OSC(1511)_VP_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-H21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-96-50-H13-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-C21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-H21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-96-50-H13-OSC(1511)VP-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM_2_100_C_50_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM_2x9_C_F_OCM_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM_4_C_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM_H3.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
  collections/inv.protocols/16GFC.json
  collections/inv.protocols/8GFC.json
  collections/inv.protocols/ODU2.json
  collections/inv.protocols/ODUflex.json
  collections/inv.protocols/OTUC2.json
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  tests/collections/test_inv_objectmodels.py
Due: py-lint, mypy, prettier, py:test

#1442 Add multiple mappings to ManagedObject model.
  sa/migrations/0258_managedobject_add_mappings.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Add some object models and new conntypes
  collections/inv.connectiontypes/Optical/E2000.json
  collections/inv.connectiontypes/Optical/MPO.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/FRA_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/HRA2B-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/HRA2_H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA1_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/BS-1-1-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/EAU/EAU-2x(40V_100)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/FS-2-1_12-1550-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/IL-2-50_100-C-M-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM_4V_4_100_M_C21_OSC(1511)_VP_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM_8V_8_100_M_C21_OSC(1511)_VP_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-9-C-F-OCM-OSC(1511)-b(50_14)-P(175_18)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM_2_C_H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/RLM-EXT-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/RLM-H4.json
Due: prettier, py:test
