Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Add 'Interface | Errors | In' metric for gpon ports.
  sa/profiles/Huawei/MA5600T/oidrules/gpon_ports.py
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_errors_in.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_errors_in_delta.json
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-ma5600t-gpon-metrics' into 'master'
  sa/profiles/Huawei/MA5600T/get_metrics.py
  sa/profiles/Huawei/MA5600T/get_version.py
  sa/profiles/Huawei/MA5600T/oidrules/__init__.py
  sa/profiles/Huawei/MA5600T/oidrules/gpon_ports.py
  sa/profiles/Huawei/MA5600T/profile.py
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_errors_in.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_errors_in_delta.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_load_in.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_load_out.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_packets_in.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_packets_out.json
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'noc-update-fix_rebuild_datastream' into 'master'
  fixes/fix_rebuild_datastream.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Cisco.IOS.get_inventory script
  sa/profiles/Cisco/IOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix getting object metrics for table without path column.
  core/pm/utils.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.DSLAM profile
  sa/profiles/Eltex/DSLAM/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-pm-utils-object' into 'master'
  core/pm/utils.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Set uuid when create BI dashboard.
  services/bi/api/bi.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-set-uuid-create-bi-dash' into 'master'
  services/bi/api/bi.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo in pm.utils.
  core/pm/utils.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'dlink_lldp' into 'master'
  sa/profiles/DLink/DxS_Cisco_CLI/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-pm-utils-typo' into 'master'
  core/pm/utils.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Revert PlainReferenceListField.
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-revert-list-field' into 'master'
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.MA5600T. Fix typo on gponports metric name.
  sa/profiles/Huawei/MA5600T/oidrules/gpon_ports.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

etl: BaseExtractor refactoring
  core/etl/extractor/base.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-huawei-typo' into 'master'
  sa/profiles/Huawei/MA5600T/oidrules/gpon_ports.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.models.platform: Fix to_json sorting
  inv/models/platform.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.MES24xx.get_lldp_neighbors script
  sa/profiles/Eltex/MES24xx/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Raisecom.ROS.get_lldp_neighbors script
  sa/profiles/Raisecom/ROS/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.LTE.get_version script
  sa/profiles/Eltex/LTE/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Generic.get_interfaces script
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Extreme.XOS.get_inventory script
  sa/profiles/Extreme/XOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: Eltex | MA | MA4000 sysObjectID
  collections/sa.profilecheckrules/Eltex/MA/MA4000_sysObjectID.json
Due: prettier

save
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/alarm/view/grids/Sidebar.js
  ui/web/fm/alarm/view/grids/Tagfield.js
Due: prettier

Fix Juniper.JUNOS profile to work with pager
  sa/profiles/Juniper/JUNOS/get_arp.py
  sa/profiles/Juniper/JUNOS/get_bfd_sessions.py
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_chassis_id.py
  sa/profiles/Juniper/JUNOS/get_config.py
  sa/profiles/Juniper/JUNOS/get_dhcp_binding.py
  sa/profiles/Juniper/JUNOS/get_dom_status.py
  sa/profiles/Juniper/JUNOS/get_fqdn.py
  sa/profiles/Juniper/JUNOS/get_interface_status.py
  sa/profiles/Juniper/JUNOS/get_interfaces.py
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_ipv6_neighbor.py
  sa/profiles/Juniper/JUNOS/get_lacp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_license.py
  sa/profiles/Juniper/JUNOS/get_lldp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_mac_address_table.py
  sa/profiles/Juniper/JUNOS/get_mpls_vpn.py
  sa/profiles/Juniper/JUNOS/get_oam_status.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  sa/profiles/Juniper/JUNOS/get_tech_support.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/get_vlans.py
  sa/profiles/Juniper/JUNOS/sync_prefix_lists.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  sa/profiles/Juniper/JUNOS/get_arp.py
  sa/profiles/Juniper/JUNOS/sync_prefix_lists.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: DCN | DCWS | DCWS-6222 sysObjectID
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6222_sysObjectID.json
Due: prettier

sa.profilecheckrules: DCN | DCWS | DCWS-6002 sysObjectID
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6002_sysObjectID.json
Due: prettier

sa.profilecheckrules: DCN | DCWS | DCWS-6028(R2) sysObjectID
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6028_R2_sysObjectID.json
Due: prettier

Revert "Fix order"
  collections/inv.platforms/CISCO/C9300-24P.json
  collections/inv.platforms/CISCO/C9300-24T.json
  collections/inv.platforms/CISCO/C9300-24U.json
  collections/inv.platforms/CISCO/C9300-24UX.json
  collections/inv.platforms/CISCO/C9300-48P.json
  collections/inv.platforms/CISCO/C9300-48T.json
  collections/inv.platforms/CISCO/C9300-48U.json
  collections/inv.platforms/CISCO/C9300-48UXM.json
  collections/inv.platforms/CISCO/C9500-12Q.json
  collections/inv.platforms/CISCO/C9500-24Q.json
  collections/inv.platforms/CISCO/C9500-40X.json
  collections/inv.platforms/CISCO/CISCO1921.json
  collections/inv.platforms/CISCO/WS-C2960S-24PD-L.json
  collections/inv.platforms/CISCO/WS-C3550-24.json
  collections/inv.platforms/CISCO/WS-C3750G-24TS-1U.json
  collections/inv.platforms/DLINK/DGS-3420-28TC.json
  collections/inv.platforms/ZYXEL/GS-4012F.json
  collections/inv.platforms/ZYXEL/MES3500-24.json
  collections/inv.platforms/ZYXEL/MES3500-24F.json
Due: prettier

Merge branch 'arthur-zzz-fix-collections' into 'master'
  collections/inv.platforms/CISCO/C9300-24P.json
  collections/inv.platforms/CISCO/C9300-24T.json
  collections/inv.platforms/CISCO/C9300-24U.json
  collections/inv.platforms/CISCO/C9300-24UX.json
  collections/inv.platforms/CISCO/C9300-48P.json
  collections/inv.platforms/CISCO/C9300-48T.json
  collections/inv.platforms/CISCO/C9300-48U.json
  collections/inv.platforms/CISCO/C9300-48UXM.json
  collections/inv.platforms/CISCO/C9500-12Q.json
  collections/inv.platforms/CISCO/C9500-24Q.json
  collections/inv.platforms/CISCO/C9500-40X.json
  collections/inv.platforms/CISCO/CISCO1921.json
  collections/inv.platforms/CISCO/WS-C2960S-24PD-L.json
  collections/inv.platforms/CISCO/WS-C3550-24.json
  collections/inv.platforms/CISCO/WS-C3750G-24TS-1U.json
  collections/inv.platforms/DLINK/DGS-3420-28TC.json
  collections/inv.platforms/ZYXEL/GS-4012F.json
  collections/inv.platforms/ZYXEL/MES3500-24.json
  collections/inv.platforms/ZYXEL/MES3500-24F.json
Due: prettier

Merge branch 'generic_interfaces' into 'master'
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Huawei.MA5600T profile
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'ma5600_error' into 'master'
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'update/Huawei.MA5600_get_lldp_neigbors' into 'master'
  sa/profiles/Huawei/MA5600T/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-109-5db02c85ac3c444a321c20a1' into 'master'
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6028_R2_sysObjectID.json
Due: prettier

pymongo 3.11.0
  requirements.txt
Due: none

Remove remaining __future__ imports
  core/etl/loader/subscriberprofile.py
  sa/profiles/Eltex/MES/get_mac_address_table.py
  services/classifier/patternset.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Network Map: Stencil overlays
  core/stencil.py
  core/topology/base.py
  core/topology/types.py
  main/models/glyph.py
  project/migrations/0002_shape_overlay.py
  project/models/project.py
  sa/migrations/0207_managedobject_shape_overlay.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/apps/inv/map/views.py
  services/web/apps/main/ref/views.py
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/ShapeRegistry.js
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/project/project/Application.js
  ui/web/project/project/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize
