Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix circular reference.
  peer/models/peer.py
Due: py-lint, mypy, py:test

change crutch to getting enterprise id from caps
  sa/profiles/Rotek/RTBSv1/get_interface_status_ex.py
  sa/profiles/Rotek/RTBSv1/get_interfaces.py
  sa/profiles/Rotek/RTBSv1/profile.py
Due: py-lint, mypy, py:test

change year
  sa/profiles/Rotek/RTBSv1/get_interfaces.py
Due: py-lint, mypy, py:test

Fix migration.
  commands/discovery.py
  peer/migrations/0048_peer_remote_asn_bigint.py
  peer/models/asn.py
  peer/models/peer.py
  services/discovery/jobs/box/bgppeer.py
Due: py-lint, mypy, py:test

Fix set object on discovered.
  services/discovery/jobs/box/bgppeer.py
  ui/web/peer/peer/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Delete cache from ensure_asn function.
  services/discovery/jobs/box/bgppeer.py
  ui/web/peer/peer/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix IGetBGPPeer interface default.
  sa/interfaces/igetbgppeer.py
  sa/interfaces/igetbgppeerstatus.py
Due: py-lint, mypy, py:test

Add config-defined inputs.
  core/cdag/node/base.py
  core/cdag/node/composeprobe.py
  core/cdag/node/probe.py
  core/cdag/tx.py
Due: py-lint, mypy, py:test

Fix black.
  commands/cdag.py
  core/cdag/node/composeprobe.py
Due: py-lint, mypy, py:test

Cleanup unused imports.
  core/cdag/node/composeprobe.py
Due: py-lint, mypy, py:test

isValid fixed
  ui/web/main/desktop/ChangePassword.js
Due: eslint, build:web

fix card managedobject exception when confdb not valid
  services/card/cards/managedobject.py
Due: py-lint, mypy, py:test

set mask on change password
  ui/web/main/desktop/ChangePassword.js
Due: eslint, build:web

Add 'errors_policy' to get_confdb.
  sa/models/managedobject.py
  services/card/cards/managedobject.py
Due: py-lint, mypy, py:test

Fix http profile diagnostic.
  core/profile/diagnostic.py
  services/activator/checkers/http.py
Due: py-lint, mypy, py:test

Remove unused vars.
  core/profile/diagnostic.py
Due: py-lint, mypy, py:test

Fix create collection reference.
  core/cdag/node/composeprobe.py
  core/collection/base.py
Due: py-lint, mypy, py:test

Disable send Interface Status Alarm when first set status.
  services/discovery/jobs/periodic/interfacestatus.py
Due: py-lint, mypy, py:test

Fix profile diagnostic error logging.
  core/profile/diagnostic.py
  services/activator/checkers/http.py
Due: py-lint, mypy, py:test

Generic.get_interfaces. Add IEEE8021-Q-BRIDGE-MIB for collect interface - vlan map.
  cmibs/ieee8021_bridge_mib.py
  cmibs/ieee8021_q_bridge_mib.py
  collections/inv.capabilities/SNMP/MIB/IEEE8021-Q-BRIDGE-MIB.json
  collections/inv.capabilities/SNMP/MIB/Q-BRIDGE-MIB.json
  sa/profiles/Generic/get_capabilities.py
  sa/profiles/Generic/get_interfaces.py
Due: py-lint, mypy, prettier, py:test

#2573 Add BGP Peer Discovery.
  commands/discovery.py
  peer/migrations/0047_asn_optional_rir.py
  peer/migrations/0048_peer_remote_asn_bigint.py
  peer/models/asn.py
  peer/models/asprofile.py
  peer/models/peer.py
  peer/models/peerprofile.py
  sa/interfaces/base.py
  sa/interfaces/igetbgppeer.py
  sa/interfaces/igetbgppeerstatus.py
  sa/migrations/0261_managedobjectprofile_add_discovery_bgpeer.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/job.py
  tests/interface/test_base.py
  ui/web/peer/as/Application.js
  ui/web/peer/asprofile/Application.js
  ui/web/peer/asprofile/Model.js
  ui/web/peer/peer/Application.js
  ui/web/peer/peerprofile/Model.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

#2576 Add FIRST_AVAIL diagnostic and 'avail' workflow event.
  core/wf/diagnostic.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

Add capabilities SNMP checks.
  sa/profiles/NAG/SNR/get_capabilities.py
Due: py-lint, mypy, py:test

Add GigaEthernet type.
  sa/profiles/NAG/SNR/get_version.py
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, py:test

Fix flake.
  cmibs/nag_mib.py
  sa/profiles/NAG/SNR/get_metrics.py
Due: py-lint, mypy, py:test

Fix get_interface_type detect.
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, py:test

NAG.SNR.get_interfaces. Add SNMP Support.
  cmibs/nag_mib.py
  collections/fm.mibs/NAG-MIB.json.gz
  sa/profiles/NAG/SNR/add_vlan.py
  sa/profiles/NAG/SNR/get_chassis_id.py
  sa/profiles/NAG/SNR/get_config.py
  sa/profiles/NAG/SNR/get_interface_status.py
  sa/profiles/NAG/SNR/get_interfaces.py
  sa/profiles/NAG/SNR/get_metrics.py
  sa/profiles/NAG/SNR/get_portchannel.py
  sa/profiles/NAG/SNR/get_switchport.py
  sa/profiles/NAG/SNR/get_version.py
  sa/profiles/NAG/SNR/get_vlans.py
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, py:test

Clean code.
  sa/profiles/NAG/SNR/get_capabilities.py
  sa/profiles/NAG/SNR/get_metrics.py
Due: py-lint, mypy, py:test

Add calculate metrics to collection.
  collections/pm.metrictypes/Interface/Bandwidth/In.json
  core/collection/base.py
Due: py-lint, mypy, prettier, py:test

Juniper.JUNOS Fix get_inventory for some MX routers, fix get_sla_probes, fix long terminal width problem
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

linter
  tests/sa/Juniper/JUNOS/test_profile.py
Due: py-lint, mypy, py:test

linter
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
Due: py-lint, mypy, py:test

lint
  sa/profiles/Juniper/JUNOS/get_inventory.py
Due: py-lint, mypy, py:test

date in file
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  tests/sa/Juniper/JUNOS/test_profile.py
Due: py-lint, mypy, py:test

add clear_json func and tests
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  sa/profiles/Juniper/JUNOS/profile.py
  tests/sa/Juniper/JUNOS/__init__.py
  tests/sa/Juniper/JUNOS/test_profile.py
  tests/sa/Juniper/__init__.py
  tests/sa/__init__.py
Due: py-lint, mypy, py:test
