Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Fix typo.
  main/reportsources/reportdiscoverylinks.py
Due: py-lint, mypy, py:test

Iskratel.ESCOM.get_interfaces change ifindex to snmp_ifindex
  sa/profiles/Iskratel/ESCOM/get_interfaces.py
Due: py-lint, mypy, py:test

Fix test.
  core/reporter/formatter/simplereport.py
  core/reporter/report.py
  tests/reporter/report_id_cache_poison.yml
  tests/reporter/report_simple_csv.yml
Due: py-lint, mypy, prettier, py:test

Remove unused import.
  core/reporter/formatter/simplereport.py
Due: py-lint, mypy, py:test

Add SimpleTable formatter.
  collections/main.reports/Alarm_Detail.json
  collections/main.reports/Object_Detail.json
  core/reporter/formatter/base.py
  core/reporter/formatter/simplereport.py
  core/reporter/formatter/simpletable.py
  main/models/report.py
  services/web/apps/main/ref/views.py
  tests/reporter/report_id_cache_poison.csv
  ui/web/main/ref/reportformatter/LookupField.js
  ui/web/main/reportconfig/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

ready for test
  ui/web/inv/inv/plugins/bom/BoMModel.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
  ui/web/inv/inv/plugins/bom/Controller.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/pconf/Controller.js
Due: eslint, build:web

pconf clear trigger fixed
  ui/web/inv/inv/plugins/pconf/PConfPanel.js
Due: eslint, build:web

Add short labels to models IRE-Polus.Horizon. Rename collection files
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/FRA-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/HRA2-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/HRA2B-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA1-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA2-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/BS-1-1-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/CU-H5.json
  collections/inv.objectmodels/IRE-Polus/Horizon/EAU/EAU-2x_40V_18+100_12_-OSC-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/EAU/EAU-P-100V_18-OSC_1511_-C4-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/EAU/EAU-_40V_24+350V_18_-OSC-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FANC-LOGIC_9067-1000-0030.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FB-K4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/HS-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K10-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K4-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/FS-2-1_12-1550-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/IL-2-50_100-C-M-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/IL-2-50_100-C-M-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM-16V_16-100-M-S21-OSC_1511_VP-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM-4V_4-100-M-S21-OSC_1511_VP-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM-8V_8-100-M-S21-OSC_1511_VP-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-H21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-96-50-H13-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-C21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-H21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-96-50-H13-OSC_1511_VP-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-2-100-C-50-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-2x9-S-F-OCM-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-9-C-F-OCM-OSC_1511_-B_50_14_-P_175_18_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM-2-C-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM-4-C-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM-H3.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM_9067-1000-0011.json
  collections/inv.objectmodels/IRE-Polus/Horizon/RLM-EXT-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/RLM-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-10.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
Due: prettier, py:test

Add code from Max
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

ready for testing
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/facade/FacadePanel.js
  ui/web/inv/inv/plugins/rack/Controller.js
  ui/web/inv/inv/plugins/rack/RackPanel.js
Due: eslint, build:web

Fix OTN OTU controller for case when one side of optical channel is not conneected.
  core/techdomain/controller/otn_otu.py
Due: py-lint, mypy, py:test

fixed
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/facade/FacadePanel.js
  ui/web/inv/inv/plugins/rack/RackPanel.js
Due: eslint, build:web

group by vendor and sort by model added
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: eslint, build:web

fix Eltex.MES.get_inventory for 1000BASE-SX transceiver
  sa/profiles/Eltex/MES/get_inventory.py
Due: py-lint, mypy, py:test

Download schemes as SVG
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/facade/FacadePanel.js
  ui/web/inv/inv/plugins/rack/Controller.js
  ui/web/inv/inv/plugins/rack/RackPanel.js
Due: eslint, build:web

Calculate location
  services/web/apps/inv/inv/plugins/bom.py
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix OTN OTU controller for case when one side of optical channel is not connected.
  core/techdomain/controller/otn_otu.py
Due: py-lint, mypy, py:test

before measureText check is string
  ui/web/inv/objectmodel/CrossDiagram.js
Due: eslint, build:web

inv.inv: BoM plugin
  services/web/apps/inv/inv/plugins/bom.py
  services/web/apps/inv/inv/views.py
  ui/web/inv/inv/plugins/bom/BoMModel.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
  ui/web/inv/inv/plugins/bom/Controller.js
  ui/web/inv/inv/plugins/pconf/Controller.js
  ui/web/inv/inv/plugins/pconf/PConfPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

inv.objectmodel: Fix crash when editing crossings
  ui/web/inv/objectmodel/CrossDiagram.js
Due: eslint, build:web

Quote resource
  core/facade/interaction.py
Due: py-lint, mypy, py:test

Generalized interactions for facades
  core/facade/box.py
  core/facade/interaction.py
Due: py-lint, mypy, py:test

change year
  ui/web/core/mixins/SVGInteraction.js
Due: eslint, build:web

refactoring svg interaction
  ui/web/core/mixins/SVGInteraction.js
  ui/web/inv/inv/plugins/facade/FacadePanel.js
Due: eslint, build:web

decodeURIComponent resource
  ui/web/core/mixins/SVGInteraction.js
  ui/web/inv/inv/plugins/facade/FacadePanel.js
Due: eslint, build:web

info backend
  core/facade/box.py
  core/inv/info.py
  inv/models/object.py
  services/web/apps/inv/inv/views.py
Due: py-lint, mypy, py:test

SOVA-161
  ui/web/inv/reportlinkdetail/Application.js
Due: eslint, build:web

inv.inv: pconf: Fix CU handling
  services/web/apps/inv/inv/plugins/pconf.py
Due: py-lint, mypy, py:test

SOVA-101
  ui/web/core/ModelApplication.js
  ui/web/inv/unknownmodel/Application.js
Due: eslint, build:web

SOVA-69
  ui/web/crm/subscriber/Application.js
Due: eslint, build:web

SOVA-58
  ui/web/crm/supplier/Application.js
Due: eslint, build:web

integration fieldSet in core
  ui/web/core/IntegrationField.js
  ui/web/crm/subscriber/Application.js
  ui/web/crm/subscriberprofile/Application.js
  ui/web/crm/supplier/Application.js
  ui/web/crm/supplierprofile/Application.js
  ui/web/project/project/Application.js
Due: eslint, build:web

BI ID label fixed
  ui/web/core/IntegrationField.js
Due: eslint, build:web

noc theme fix
  ui/web/core/IntegrationField.js
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/project/project/Application.js
Due: eslint, build:web

space after case added
  .eslintrc.json
Due: prettier, py:test

Fix test.
  collections/main.reports/Discovery_Caps.json
  services/web/apps/inv/reportdiscovery/views.py
  tests/reporter/report_objectsummary.yml
Due: py-lint, mypy, prettier, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
