Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Change logic of get_current_user
  core/service/jsonrpcapi.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Object Settings to FirmwarePolicy.
  inv/models/firmware.py
  inv/models/firmwarepolicy.py
  sa/models/managedobject.py
  services/sae/api/sae.py
  ui/web/inv/firmwarepolicy/Application.js
  ui/web/inv/firmwarepolicy/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Switch service bi from tornado to FastAPI
  core/service/fastapi.py
  core/service/jsonrpcapi.py
  services/bi/api/__init__.py
  services/bi/paths/bi.py
  services/bi/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Additional docs.
  services/discovery/jobs/periodic/interfacestatus.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  services/discovery/jobs/periodic/interfacestatus.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  inv/models/firmware.py
  inv/models/firmwarepolicy.py
  sa/models/managedobject.py
  services/sae/api/sae.py
  services/web/apps/inv/firmware/views.py
  ui/web/inv/firmwarepolicy/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add Close link down alarm if Admin Down
  inv/models/interfaceprofile.py
  services/discovery/jobs/periodic/interfacestatus.py
  ui/web/inv/interfaceprofile/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1757 Add Object Settings to FirmwarePolicy.
  inv/models/firmware.py
  inv/models/firmwarepolicy.py
  sa/models/managedobject.py
  services/sae/api/sae.py
  services/web/apps/inv/firmware/views.py
  ui/web/inv/firmwarepolicy/Application.js
  ui/web/inv/firmwarepolicy/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

FirmWarePolicy. Invalidate credential cache when change access settings.
  inv/models/firmwarepolicy.py
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add delay.
  fm/models/alarmescalation.py
  fm/models/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix some Cisco models and connectionrules
  collections/inv.connectionrules/Cisco/2800.json
  collections/inv.connectionrules/Cisco/2900.json
  collections/inv.connectionrules/Cisco/3800.json
  collections/inv.connectionrules/Cisco/3900.json
  collections/inv.connectionrules/Cisco/6500-E.json
  collections/inv.connectionrules/Cisco/6500.json
  collections/inv.connectionrules/Cisco/7100.json
  collections/inv.connectionrules/Cisco/7200.json
  collections/inv.connectionrules/Cisco/C4900.json
  collections/inv.connectionrules/Cisco/C6500ME.json
  collections/inv.objectmodels/Cisco/7200/7201_Chassis.json
  collections/inv.objectmodels/Cisco/7200/7204VXR_Chassis.json
  collections/inv.objectmodels/Cisco/7200/7206VXR_Chassis.json
Due: prettier

Fix dereference error when create interface.
  inv/models/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  inv/models/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1758 Fix dereference error when create interface.
  inv/models/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add some ARR1001 models
  collections/inv.objectmodels/Cisco/ASR1000/ASR1001-ESP.json
  collections/inv.objectmodels/Cisco/ASR1000/ASR1001-SIP.json
Due: prettier

Fix Cisco.IOS.get_inventory script
  sa/profiles/Cisco/IOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  sa/profiles/Cisco/IOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  collections/inv.objectmodels/Cisco/ASR1000/ASR1001-SIP.json
  collections/inv.objectmodels/Cisco/ASR1000/ASR1001-SPA.json
Due: prettier

Fix
  collections/inv.objectmodels/Cisco/ASR1000/ASR1001-SIP.json
Due: prettier

Fix
  collections/inv.objectmodels/Cisco/ASR1000/ASR1001.json
Due: prettier

Fix unhashable type: 'Firmware'.
  inv/models/firmware.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix use buffer variable instead self.buffer on cli for check error.
  core/script/cli/cli.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Partial Import on Firmware.
  inv/models/firmware.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo on AS UI Model.
  ui/web/peer/as/Model.js
Due: prettier

Remove transform_query from Syslog BI field.
  bi/models/syslog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  bi/models/syslog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use directed Git for ESMRE package.
  requirements.txt
Due: none

Fix typo.
  requirements.txt
Due: none

Fix typo2.
  requirements.txt
Due: none

Use https.
  requirements.txt
Due: none

Switch correlator.topology_rca_window param to SecondsParameter.
  config.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.SMB.get_interfaces. Add SNMP.
  sa/profiles/Cisco/SMB/get_interfaces.py
  sa/profiles/Cisco/SMB/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1540 Remove transform_query from Syslog BI field.
  bi/models/syslog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-20.4:Backport!6007 Remove transform_query from Syslog BI field.
  bi/models/syslog.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
