Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

add instruction for alerts
  docs/ru/docs/admin/howto/respond-to-alerts/handbook-alerts-noc/ ConsulServicesCountDecrease.md
Due: none

MetricRules
  config.py
  core/cdag/node/alarm.py
  core/cdag/node/base.py
  core/prettyjson.py
  models.py
  pm/models/metricaction.py
  pm/models/metricrule.py
  pm/models/metrictype.py
  services/datastream/streams/cfgmomapping.py
  services/metrics/datastream.py
  services/metrics/rule.py
  services/metrics/service.py
  services/web/apps/pm/metricaction/__init__.py
  services/web/apps/pm/metricaction/views.py
  services/web/apps/pm/metricrule/__init__.py
  services/web/apps/pm/metricrule/views.py
  ui/web/pm/metricaction/Application.js
  ui/web/pm/metricaction/LookupField.js
  ui/web/pm/metricaction/Model.js
  ui/web/pm/metricrule/Application.js
  ui/web/pm/metricrule/LookupField.js
  ui/web/pm/metricrule/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add default Scale to MetricType.
  pm/models/measurementunits.py
  pm/models/metrictype.py
  pm/models/scale.py
  services/web/apps/inv/reportmetrics/views.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add metrics stream settings.
  config.py
  services/selfmon/collectors/liftbridge.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Events clean command add relative date parametr
  commands/events.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix Macro Syntax Error
  docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
Due: none

noc/noc#1791
  ui/web/aaa/user/Application.js
Due: prettier

fix sensors Huawei.MA5600T
  sa/profiles/Huawei/MA5600T/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

branch update
  docs/ru/docs/admin/howto/retention-db/retention-db.md
Due: none

create new branch
  ansible/noc_roles/noc/tasks/config.yml
  ansible/pre.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nginx/tasks/os/RedHat_7/main.yml
Due: prettier

Reworked MetricAction Settings.
  pm/models/metricaction.py
  services/web/apps/pm/metricaction/views.py
  ui/web/pm/metricaction/Application.js
  ui/web/pm/metricaction/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Set Default.
  pm/models/metricaction.py
  ui/web/pm/metricaction/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add EmbeddedDocumentField to ExtDocApplication.
  lib/app/extdocapplication.py
  pm/models/metricaction.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix deprecation
  ansible/molecule/yc/centos7/centos7.tf
  ansible/molecule/yc/centos7/terraform.tfstate
  ansible/molecule/yc/centos7/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu18/terraform.tfstate
  ansible/molecule/yc/ubuntu18/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu18/ubuntu18.tf
  ansible/molecule/yc/ubuntu20/terraform.tfstate
  ansible/molecule/yc/ubuntu20/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu20/ubuntu20.tf
  ansible/noc_roles/noc/templates/syslogcollector.goss.yml.j2
  ansible/noc_roles/noc/templates/trapcollector.goss.yml.j2
  ansible/pre.yml
  ansible/system_roles/consul-template/templates/consul-template.cfg.j2
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
  ansible/system_roles/nginx/tasks/certs.yml
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nginx/tasks/os/RedHat_7/main.yml
  ansible/system_roles/nginx/templates/nginx.goss.yml.j2
  ansible/system_roles/nginx/templates/noc.conf.j2
  ansible/vars/main.yml
Due: prettier

Clear code
  services/card/paths/card.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Revert "Fix telegraf mongodb"
  ansible/system_roles/mongod/tasks/main.yml
Due: prettier

Revert "create new branch"
  ansible/noc_roles/noc/tasks/config.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
Due: prettier

Shadow credential on script debug.
  commands/script.py
  core/script/cli/cli.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Revert "fix deprecation"
  ansible/molecule/yc/centos7/centos7.tf
  ansible/molecule/yc/centos7/terraform.tfstate
  ansible/molecule/yc/centos7/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu18/terraform.tfstate
  ansible/molecule/yc/ubuntu18/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu18/ubuntu18.tf
  ansible/molecule/yc/ubuntu20/terraform.tfstate
  ansible/molecule/yc/ubuntu20/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu20/ubuntu20.tf
  ansible/noc_roles/noc/templates/syslogcollector.goss.yml.j2
  ansible/noc_roles/noc/templates/trapcollector.goss.yml.j2
  ansible/pre.yml
  ansible/system_roles/consul-template/templates/consul-template.cfg.j2
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
  ansible/system_roles/nginx/tasks/certs.yml
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nginx/tasks/os/RedHat_7/main.yml
  ansible/system_roles/nginx/templates/nginx.goss.yml.j2
  ansible/system_roles/nginx/templates/noc.conf.j2
  ansible/vars/main.yml
Due: prettier

Fix classifier xrulelookup.
  requirements.txt
  services/classifier/xrulelookup.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1788 Add periodic_discovery_mac_filter_policy to ManagedObjectProfile for MAC Discovery.
  sa/migrations/0230_managedobjectprofile_mac_discovery_policy.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/periodic/mac.py
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
  vc/models/vlanfilter.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

fix commit
  ansible/noc_roles/noc/templates/syslogcollector.goss.yml.j2
  ansible/noc_roles/noc/templates/trapcollector.goss.yml.j2
  ansible/system_roles/consul-template/templates/consul-template.cfg.j2
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/nginx/templates/nginx.goss.yml.j2
  ansible/system_roles/nginx/templates/noc.conf.j2
Due: prettier

fix DEPRECATION WARNING [skip-ci]
  ansible/noc_roles/noc/tasks/config.yml
  ansible/system_roles/consul/tasks/main.yml
Due: prettier

fix DEPRECATION WARNING
  ansible/system_roles/consul/tasks/main.yml
Due: prettier

fix DEPRECATION WARNINGS
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: none

test [skip-ci]
  ansible/noc_roles/noc/tasks/config.yml
  ansible/noc_roles/noc/templates/syslogcollector.goss.yml.j2
  ansible/noc_roles/noc/templates/trapcollector.goss.yml.j2
  ansible/system_roles/consul-template/templates/consul-template.cfg.j2
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nginx/tasks/os/RedHat_7/main.yml
  ansible/system_roles/nginx/templates/nginx.goss.yml.j2
  ansible/system_roles/nginx/templates/noc.conf.j2
Due: prettier

test [skip-ci]
  ansible/noc_roles/noc/tasks/config.yml
Due: prettier

test [skip-ci]
  ansible/noc_roles/noc/tasks/config.yml
  ansible/system_roles/consul/tasks/main.yml
Due: prettier

test [skip-ci]
  ansible/system_roles/consul/tasks/main.yml
Due: prettier

add "| bool" in CentOS_7/main.yml [skip-ci]
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
Due: prettier

Implement Index page
  services/card/base.py
  services/card/paths/card.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Refactor query params
  services/card/paths/card.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add "| bool" /system_roles/nginx/tasks/os/OracleLinux_7/main.yml [skip-ci]
  ansible/system_roles/nginx/tasks/os/OracleLinux_7/main.yml
Due: prettier
