Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Update get_inventory.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add instruction for alerts
  docs/ru/docs/admin/howto/respond-to-alerts/handbook-alerts-noc/ ConsulServicesCountDecrease.md
  docs/ru/docs/admin/howto/respond-to-alerts/respond-to-alerts.md
Due: none

Add global index
  docs/ru/mkdocs.yml
Due: prettier

add sensors Huawei.MA5600T
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix Macro Syntax Error
  docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
Due: none

add manual retention-db
  docs/ru/docs/admin/howto/retention-db/clean-old-alarms-and-events.md
Due: none

Fix docs monitoring noc escaping
  docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
Due: none

Add proper vars
  ansible/molecule/ubuntu20/molecule.yml
Due: prettier

Add registry fix
  ansible/molecule/yc/templates/template.tf
Due: none

Add var fix
  ansible/molecule/debian10/molecule.yml
  ansible/molecule/debian11/molecule.yml
  ansible/molecule/debian9/molecule.yml
  ansible/molecule/default/molecule.yml
  ansible/molecule/oel7/molecule.yml
  ansible/molecule/ubuntu16/molecule.yml
  ansible/molecule/ubuntu18/molecule.yml
Due: prettier

Comment out centos7 due postgres 9.6
  ansible/.ansible-ci.yml
Due: prettier

Fix deploy tests
  ansible/.ansible-ci.yml
  ansible/molecule/debian10/molecule.yml
  ansible/molecule/debian11/molecule.yml
  ansible/molecule/debian9/molecule.yml
  ansible/molecule/default/molecule.yml
  ansible/molecule/oel7/molecule.yml
  ansible/molecule/ubuntu16/molecule.yml
  ansible/molecule/ubuntu18/molecule.yml
  ansible/molecule/ubuntu20/molecule.yml
  ansible/molecule/yc/templates/template.tf
Due: prettier

Add option for relative date
  commands/events.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black
  commands/events.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add manual retention-db
  docs/ru/docs/admin/howto/index.md
Due: none

add sensors ZTE.ZXDSL98xx
  sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add sensors ZTE.ZXA10
  sa/profiles/ZTE/ZXA10/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update get_version.py
  sa/profiles/ZTE/ZXDSL98xx/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update sa/profiles/ZTE/ZXDSL98xx/profile.py, sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update profile.py
  sa/profiles/ZTE/ZXDSL98xx/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add sensors ZTE.ZXDSL98xx
  sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/get_version.py
  sa/profiles/ZTE/ZXDSL98xx/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix sensors Huawei.MA5600T
  sa/profiles/Huawei/MA5600T/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

NSN.TIMOS. Fix detect get interface type.
  sa/profiles/NSN/TIMOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add DB retain manual
  docs/ru/docs/admin/howto/index.md
  docs/ru/docs/admin/howto/retention-db/retention-db.md
  docs/ru/mkdocs.yml
Due: prettier

Implement Search route
  services/card/paths/card.py
  services/card/search.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Docs retention db
  docs/ru/docs/admin/howto/index.md
  docs/ru/docs/admin/howto/retention-db/retention-db.md
  docs/ru/mkdocs.yml
Due: prettier

Fix descriptions
  docs/ru/docs/admin/howto/respond-to-alerts/respond-to-alerts.md
Due: none
