Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix Audiocodes.Median2000 profile
  docs/profiles-reference/Audiocodes/Mediant2000.md
  docs/profiles-reference/Audiocodes/Mediant2000.ru.md
  macros.py
  sa/profiles/Audiocodes/Mediant2000/get_config.py
  sa/profiles/Audiocodes/Mediant2000/get_version.py
  sa/profiles/Audiocodes/Mediant2000/profile.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

docs: Cleanig False Config Changes Howto
  docs/cleaning-false-config-changes-howto/handler-custom-file.png
  docs/cleaning-false-config-changes-howto/handler-pyrule.png
  docs/cleaning-false-config-changes-howto/index.md
  docs/cleaning-false-config-changes-howto/index.ru.md
  docs/cleaning-false-config-changes-howto/pyrule-function.png
  docs/cleaning-false-config-changes-howto/pyrule.png
  docs/cleaning-false-config-changes-howto/regex101.png
  docs/cleaning-false-config-changes-howto/result.png
  mkdocs.yml
Due: prettier, build:Docs, upload docs

docs: Remove duplicated H1 on home pages
  scripts/docs/minify.py
Due: py-lint, mypy, py:test

Update RED_7.yml pgboouncer vars
  ansible/vars/RED_7.yml
Due: prettier

fix obtaining data from root inventory node
  services/web/apps/inv/inv/views.py
Due: py-lint, mypy, py:test

Fix ObjectModel query to new data.
  core/topology/map/objectcontainer.py
  services/web/apps/inv/inv/plugins/crossing.py
  services/web/apps/inv/inv/views.py
Due: py-lint, mypy, py:test

Move to IRE-Polus.
  sa/profiles/IRE-Polus/Horizon/__init__.py
  sa/profiles/IRE-Polus/Horizon/get_capabilities.py
  sa/profiles/IRE-Polus/Horizon/get_config.py
  sa/profiles/IRE-Polus/Horizon/get_interfaces.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_uptime.py
  sa/profiles/IRE-Polus/Horizon/get_version.py
  sa/profiles/IRE-Polus/Horizon/middleware/__init__.py
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
  sa/profiles/IRE-Polus/Horizon/profile.py
  sa/profiles/Polus/Horizon/get_inventory.py
  sa/profiles/Polus/Horizon/middleware/__init__.py
  sa/profiles/Polus/Horizon/profile.py
Due: py-lint, mypy, py:test

Add Polus.Horizon profile.
  sa/profiles/Polus/Horizon/__init__.py
  sa/profiles/Polus/Horizon/get_config.py
  sa/profiles/Polus/Horizon/get_inventory.py
  sa/profiles/Polus/Horizon/get_version.py
  sa/profiles/Polus/Horizon/middleware/__init__.py
  sa/profiles/Polus/Horizon/middleware/horizonauth.py
  sa/profiles/Polus/Horizon/profile.py
  sa/profiles/Polus/__init__.py
Due: py-lint, mypy, py:test

Fix get_inventory SFP.
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_version.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, py:test

Add Horizon to collection.
  collections/sa.profiles/IRE-Polus/Horizon.json
Due: prettier, py:test

Fix typo.
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, py:test

Add IRE-Polus.Horizon doc.
  docs/profiles-reference/IRE-Polus/Horizon.md
Due: prettier, build:Docs, upload docs

Add Polus vendor Models.
  collections/inv.connectionrules/IRE-Polus/Horizon.json
  collections/inv.connectiontypes/IRE-Polus/CU.json
  collections/inv.connectiontypes/IRE-Polus/FAN.json
  collections/inv.connectiontypes/IRE-Polus/H4_Card.json
  collections/inv.connectiontypes/IRE-Polus/H8_Card.json
  collections/inv.connectiontypes/IRE-Polus/PEM.json
  collections/inv.connectiontypes/Transceiver/CFP2.json
  collections/inv.modelinterfaces/dwdm.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FANC-LOGIC_9067-1000-0030.json
  collections/inv.objectmodels/IRE-Polus/Horizon/HS-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K10-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K4-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM_9067-1000-0011.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
Due: py-lint, mypy, prettier, py:test

Fix test.
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM_9067-1000-0011.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
Due: prettier, py:test

Fix tests.
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
Due: prettier, py:test

Fix test.
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
Due: prettier, py:test

docs: Quickstart (english translation)
  docs/quickstart-guide/areas.png
  docs/quickstart-guide/index.md
  docs/quickstart-guide/index.ru.md
  docs/quickstart-guide/login.png
  docs/quickstart-guide/mo-form.png
  docs/quickstart-guide/mo-profile-form.png
  docs/quickstart-guide/mo-profile.png
  docs/quickstart-guide/mo.png
  mkdocs.yml
Due: prettier, build:Docs, upload docs

Fix typo.
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_version.py
Due: py-lint, mypy, py:test

#2261 Add IRE-Polus.Horizon profile.
  collections/inv.connectionrules/IRE-Polus/Horizon.json
  collections/inv.connectiontypes/IRE-Polus/CU.json
  collections/inv.connectiontypes/IRE-Polus/FAN.json
  collections/inv.connectiontypes/IRE-Polus/H4_Card.json
  collections/inv.connectiontypes/IRE-Polus/H8_Card.json
  collections/inv.connectiontypes/IRE-Polus/PEM.json
  collections/inv.connectiontypes/Transceiver/CFP2.json
  collections/inv.modelinterfaces/dwdm.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FANC-LOGIC_9067-1000-0030.json
  collections/inv.objectmodels/IRE-Polus/Horizon/HS-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K10-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K4-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC(1511)-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM_9067-1000-0011.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
  collections/sa.profiles/IRE-Polus/Horizon.json
  docs/profiles-reference/IRE-Polus/Horizon.md
  sa/profiles/IRE-Polus/Horizon/__init__.py
  sa/profiles/IRE-Polus/Horizon/get_capabilities.py
  sa/profiles/IRE-Polus/Horizon/get_config.py
  sa/profiles/IRE-Polus/Horizon/get_interfaces.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/get_uptime.py
  sa/profiles/IRE-Polus/Horizon/get_version.py
  sa/profiles/IRE-Polus/Horizon/middleware/__init__.py
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Add Protocol model.
  inv/models/protocol.py
  inv/models/technology.py
  models.py
  services/web/apps/inv/protocol/__init__.py
  services/web/apps/inv/protocol/views.py
  ui/web/inv/protocol/Application.js
  ui/web/inv/protocol/LookupField.js
  ui/web/inv/protocol/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

docs: Clean-up left RST markup
  docs/blog/posts/noc-19-1-3.md
  docs/blog/posts/noc-19-2-2.md
  docs/blog/posts/noc-19-3-1.md
  docs/concepts/network-segment/index.md
  docs/glossary/index.md
  mkdocs.yml
Due: prettier, build:Docs, upload docs

Add Protocol Discriminator Source.
  core/protocoldiscriminators/__init__.py
  core/protocoldiscriminators/base.py
  core/protocoldiscriminators/loader.py
  core/protocoldiscriminators/protocol.py
  inv/models/protocol.py
  services/web/apps/main/ref/views.py
  ui/web/inv/protocol/Application.js
  ui/web/inv/protocol/Model.js
  ui/web/main/ref/protocoldiscriminatorsource/LookupField.js
Due: py-lint, mypy, prettier, py:test, build:web

Add Protocol backend.
  inv/models/protocol.py
  services/web/apps/inv/protocol/views.py
  ui/web/inv/protocol/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

Merge branch 'noc_kafkasender_fix_errors' into 'master'
  services/kafkasender/service.py
Due: py-lint, mypy, py:test

Fix typo.
  core/protodcsources/__init__.py
  core/protodcsources/base.py
  core/protodcsources/loader.py
  core/protodcsources/protocol.py
  inv/models/protocol.py
  services/web/apps/inv/protocol/views.py
Due: py-lint, mypy, py:test

Fix typo.
  core/protodcsources/loader.py
  inv/models/protocol.py
  services/web/apps/inv/protocol/views.py
  services/web/apps/main/ref/views.py
Due: py-lint, mypy, py:test

Fixing LACP interfaces for new versions of software Alcatel.TIMOS
  sa/profiles/Alcatel/TIMOS/get_interfaces.py
Due: py-lint, mypy, py:test

Add objectmodel migration.
  core/protodcsources/base.py
  core/protodcsources/optical_cwdm.py
  inv/migrations/0033_objectmodel_protocols_structure.py
  inv/models/objectmodel.py
  inv/models/protocol.py
  services/web/apps/inv/protocol/views.py
  ui/web/inv/protocol/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

blog: Hosting an Mkdocs-generated Site Using Nginx
  docs/blog/posts/nginx-serving-mkdocs-site/http.conf
  docs/blog/posts/nginx-serving-mkdocs-site/https.conf
  docs/blog/posts/nginx-serving-mkdocs-site/index.md
  docs/blog/posts/nginx-serving-mkdocs-site/lighthouse.png
  docs/blog/posts/nginx-serving-mkdocs-site/robots.txt
Due: prettier, build:Docs, upload docs

Noc blog nginx mkdocs
  docs/blog/posts/nginx-serving-mkdocs-site/http.conf
  docs/blog/posts/nginx-serving-mkdocs-site/https.conf
  docs/blog/posts/nginx-serving-mkdocs-site/index.md
  docs/blog/posts/nginx-serving-mkdocs-site/lighthouse.png
  docs/blog/posts/nginx-serving-mkdocs-site/robots.txt
Due: prettier, build:Docs, upload docs

Add ObjectModel migration.
  inv/migrations/0032_initial_protocols.py
  inv/migrations/0033_objectmodel_protocols_structure.py
  inv/models/objectmodel.py
  services/web/apps/inv/protocol/views.py
Due: py-lint, mypy, py:test

Fix flake.
  inv/migrations/0032_initial_protocols.py
Due: py-lint, mypy, py:test

Fix collection typo.
  collections/inv.protocols/10GBASE-T.json
Due: prettier, py:test

Fix protocols on objectmodel.
  collections/inv.objectmodels/Cisco/C2950/WS-C2950G-24-EI.json
  collections/inv.objectmodels/Huawei/Quidway_S5300/E4XY-4-Port_10GE_SFP+_subcard.json
  collections/inv.objectmodels/Huawei/SmartAX/MA5616/H831PDIA.json
Due: prettier, py:test

Fix test_inv_objectmodel test.
  tests/collections/test_inv_objectmodels.py
Due: py-lint, mypy, py:test

Fix typo.
  tests/collections/test_inv_objectmodels.py
Due: py-lint, mypy, py:test

Remove unused protocol.
  core/inv/path.py
  inv/models/objectmodel.py
  inv/models/protocol.py
  services/card/cards/managedobject.py
  tests/collections/test_inv_objectmodels.py
Due: py-lint, mypy, py:test
