Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Replace Service Profile caps settings to CapsProfile.
  core/caps/decorator.py
  core/models/valuetype.py
  sa/models/capsprofile.py
  sa/models/serviceprofile.py
  services/web/base/decorators/caps.py
  ui/web/pm/agent/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-23.1:Backport!9763
  core/caps/decorator.py
  core/models/valuetype.py
  sa/models/capsprofile.py
  sa/models/serviceprofile.py
  services/web/base/decorators/caps.py
  ui/web/pm/agent/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Use Key for getting RemoteSystem on metrics collector.
  collections/pm.metrictypes/CPU/Usage.json
  collections/pm.metrictypes/Memory/Usage.json
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'patch-avs-metricscollecto-use-key-auth' into 'master'
  collections/pm.metrictypes/CPU/Usage.json
  collections/pm.metrictypes/Memory/Usage.json
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9765
  collections/pm.metrictypes/CPU/Usage.json
  collections/pm.metrictypes/Memory/Usage.json
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Due: py-lint, mypy, prettier, py:test

fix: update monaco.css import path in app-dev and app-prod stylesheets (#89)
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
Due: prettier

noc-supp-fix-collections-Alstec-2100-03
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
Due: prettier, py:test

Django 4.2.26 (#91)
  pyproject.toml
Due: py-lint

Configurable home dashboards (#95)
  config.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/home.md
  services/web/apps/main/home/views.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Add ActionSet to Action model.
  sa/models/action.py
  sa/models/actioncommands.py
  tests/collections/test_sa_actioncommands.py
  ui/web/sa/action/Application.js
  ui/web/sa/action/Model.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9768
  sa/models/action.py
  sa/models/actioncommands.py
  tests/collections/test_sa_actioncommands.py
  ui/web/sa/action/Application.js
  ui/web/sa/action/Model.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add inv/Topology Problem report
  collections/main.reports/Topology_Problem.json
  core/datasources/topologyproblemds.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'report-engine-topology-problem' into 'master'
  collections/main.reports/Topology_Problem.json
  core/datasources/topologyproblemds.py
Due: py-lint, mypy, prettier, py:test

Add inv/Link Detail report
  collections/main.reports/Link_Detail.json
  core/datasources/linkdetailds.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'report-engine-link-detail' into 'master'
  collections/main.reports/Link_Detail.json
  core/datasources/linkdetailds.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9719
  collections/main.reports/Topology_Problem.json
  core/datasources/topologyproblemds.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9755
  collections/main.reports/Link_Detail.json
  core/datasources/linkdetailds.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'noc-supp-fix-collections-Alstec-2100-03' into 'master'
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
Due: prettier, py:test

Merge branch 'fix-rm-simpletable-formatter-for-csv' into 'master'
  core/reporter/formatter/simpletable.py
  core/reporter/formatter/utils.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9767
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
Due: prettier, py:test

Add fix for fix suspended jobs that occures on big outage
  fixes/fix_jobs.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9647
  core/reporter/formatter/simpletable.py
  core/reporter/formatter/utils.py
Due: py-lint, mypy, py:test

Merge branch 'noc-fixes-fix-jobs' into 'master'
  fixes/fix_jobs.py
Due: py-lint, mypy, py:test

release-25.1:Backport!8914
  fixes/fix_jobs.py
Due: py-lint, mypy, py:test

Fix end-date in 'Alarm Detail (new)' report
  core/datasources/reportdsalarms.py
Due: py-lint, mypy, py:test

Add time_params to Report Config.
  core/datasources/reportdsalarms.py
  core/reporter/base.py
  core/reporter/types.py
  main/models/report.py
  ui/web/main/reportconfig/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add to application.
  main/models/report.py
  ui/web/main/reportconfig/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Clean typo.
  core/datasources/reportdsalarms.py
Due: py-lint, mypy, py:test

Add inv/Moved MACs report
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'report-engine-moved-mac' into 'master'
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9538
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Due: py-lint, mypy, prettier, py:test

ServiceStub: batching publisher (#79)
  core/service/stub.py
Due: py-lint, mypy, py:test

Migrate requests to gufo-http
  core/etl/extractor/fias.py
  support/cp.py
Due: py-lint, mypy, py:test

Tranform pm/ddash application to use resources
  core/importer.py
  services/web/apps/pm/ddash/dashboards/base.py
Due: py-lint, mypy, py:test

ReportEngine: Fix saving to xlsx file in 'simpletable' handler
  core/reporter/formatter/simpletable.py
Due: py-lint, mypy, py:test

Fix Render action method on Run Commands.
  sa/models/action.py
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-runcommands-render-action' into 'master'
  sa/models/action.py
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9776
  sa/models/action.py
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Due: py-lint, mypy, py:test

refactor: enhance ColorField to use HTML5 color input and improve color handling (#98)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/main/style/Application.js
  ui/web/ux/form/ColorField.js
Due: eslint, prettier, py:test, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
