Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Django 3.0.5
  core/csvutils.py
  core/migration/db.py
  core/model/db/base.py
  core/model/fields.py
  core/model/util.py
  lib/app/extmodelapplication.py
  lib/app/modelinline.py
  lib/app/site.py
  main/models/audittrail.py
  requirements/docker.txt
  requirements/node.txt
  sa/models/managedobject.py
  services/sae/api/sae.py
  services/web/apps/main/csv/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove scheduler IOLoop parameter
  core/scheduler/scheduler.py
  services/correlator/service.py
  services/discovery/service.py
  services/escalator/service.py
  services/scheduler/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_new_model_eltex_mes-3116F
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'add_new_model_eltex_mes-3116F' into 'master'
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix_objectmodels_comboports_eltex_mes
  collections/inv.objectmodels/Eltex/MES/2124.json
  collections/inv.objectmodels/Eltex/MES/2124F.json
  collections/inv.objectmodels/Eltex/MES/2124P.json
  collections/inv.objectmodels/Eltex/MES/2208P.json
  collections/inv.objectmodels/Eltex/MES/2308R.json
  collections/inv.objectmodels/Eltex/MES/3108F.json
  collections/inv.objectmodels/Eltex/MES/3124F.json
  collections/inv.objectmodels/Eltex/MES/3316F.json
  collections/inv.objectmodels/Eltex/MES/3324.json
  collections/inv.objectmodels/Eltex/MES/3324F.json
  collections/inv.objectmodels/Eltex/MES/3508P.json
Due: prettier

Merge branch 'fix_objectmodels_comboports_eltex_mes' into 'master'
  collections/inv.objectmodels/Eltex/MES/2124.json
  collections/inv.objectmodels/Eltex/MES/2124F.json
  collections/inv.objectmodels/Eltex/MES/2124P.json
  collections/inv.objectmodels/Eltex/MES/2208P.json
  collections/inv.objectmodels/Eltex/MES/2308R.json
  collections/inv.objectmodels/Eltex/MES/3108F.json
  collections/inv.objectmodels/Eltex/MES/3124F.json
  collections/inv.objectmodels/Eltex/MES/3316F.json
  collections/inv.objectmodels/Eltex/MES/3324.json
  collections/inv.objectmodels/Eltex/MES/3324F.json
  collections/inv.objectmodels/Eltex/MES/3508P.json
Due: prettier

Merge branch 'patch-avs-extend-portmapper' into 'master'
  core/etl/portmapper/base.py
  services/discovery/jobs/box/nri_portmap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Make Service.subscribe a coroutine
  core/service/base.py
  services/chwriter/service.py
  services/classifier/service.py
  services/correlator/service.py
  services/icqsender/service.py
  services/mailsender/service.py
  services/tgsender/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix SAE return redirect. Was broken on noc/noc!3508.
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cleanup interface service field when remove service.
  sa/models/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add refresh_object ServiceSummary to nri_service.
  services/discovery/jobs/box/nri_service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_chassis_id. Add 00:01:02:03:04:05 to IGNORED_MACS.
  sa/profiles/Generic/get_chassis_id.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Impoved logging when use neighbors discovery cache.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add to Service to on_delete_check.
  crm/models/subscriber.py
  sa/models/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-generic-macs' into 'master'
  sa/profiles/Generic/get_chassis_id.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add pool to reportdiscoverypoison.
  services/web/apps/inv/reportdiscoverypoison/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_mac_address_table. Filter vlan 0 number.
  sa/profiles/Alcatel/7324RU/get_mac_address_table.py
  sa/profiles/Generic/get_mac_address_table.py
  sa/profiles/Zyxel/MSAN/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Raisecom.ROS. Add fastethernet1/0/1 to management for ISCOM26(?:24|08)G.
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-get_mac_address_table' into 'master'
  sa/profiles/Alcatel/7324RU/get_mac_address_table.py
  sa/profiles/Generic/get_mac_address_table.py
  sa/profiles/Zyxel/MSAN/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-raisecom-mgmt' into 'master'
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update VERSION to 20.1
  VERSION
Due: none

Bump pyproj for py3.7 support
  requirements/docker.txt
  requirements/node.txt
Due: none

Bump pyproj library version to 2.2.2.
  requirements/docker.txt
  requirements/node.txt
Due: none

Add custom python3 ver
  ansible/noc_roles/noc/defaults/main.yml
  ansible/noc_roles/noc/meta/tower.yml
  ansible/noc_roles/noc/tasks/checks.yml
  ansible/noc_roles/noc/tasks/compile_python.yml
  ansible/noc_roles/noc/tasks/dirs.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/os/CentOS/for_compile.yml
  ansible/noc_roles/noc/tasks/os/Debian/for_compile.yml
  ansible/noc_roles/noc/tasks/os/OracleLinux/for_compile.yml
  ansible/noc_roles/noc/tasks/os/RedHat/for_compile.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu/for_compile.yml
Due: prettier

Git ignore pyvenv.cfg
  .gitignore
Due: none

Fix Link.managed_objects on Django3
  inv/models/link.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

NetworkX 2.4
  core/topology/base.py
  core/topology/layout/tree.py
  core/topology/segment.py
  requirements/node.txt
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix not operand on ConfDB.
  core/confdb/engine/transformer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix on_error_sequence type check.
  core/script/cli/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_metrics. Disable DOM metrics by default.
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-dom-metric-disable' into 'master'
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.MA5600T.get_interfaces. Add interface hints field.
  sa/profiles/Huawei/MA5600T/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add retry escalation to Escalation limit exceeded.
  services/escalator/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add quiet params to etl extract command. Supress exception if set.
  commands/etl.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-ma5600-interface-hints' into 'master'
  sa/profiles/Huawei/MA5600T/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-add-quiet-to-etl' into 'master'
  commands/etl.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-add-retry-to-escalation' into 'master'
  services/escalator/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix cert force copy
  ansible/system_roles/nginx/tasks/certs.yml
Due: prettier

Generic.get_interfaces. Refactor script for get_interface_properties use.
  sa/profiles/Generic/get_interface_properties.py
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix_objectmodels_eltex_LTP-LTE
  collections/inv.objectmodels/Eltex/LTE/LTE-8ST.json
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
