Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Fix typo.
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Fix typo.
  inv/models/discoveryid.py
Due: py-lint, mypy, py:test

Fix black.
  inv/models/discoveryid.py
Due: py-lint, mypy, py:test

Fix deduplicate function on Discovered Object.
  inv/models/discoveryid.py
  sa/models/discoveredobject.py
  services/web/apps/sa/discoveredobject/views.py
Due: py-lint, mypy, py:test

Add expired TTL to Purgatorium.
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/web/apps/sa/discoveredobject/views.py
  ui/web/sa/discoveredobject/Model.js
  ui/web/sa/discoveredobject/view/Grid.js
Due: py-lint, mypy, prettier, py:test, build:web

Add config param.
  config.py
Due: py-lint, mypy, py:test

Cleanup debug.
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Fix Interface | Speed metric.
  sa/profiles/Ubiquiti/Controller/get_cpe.py
  sa/profiles/Ubiquiti/Controller/get_metrics.py
Due: py-lint, mypy, py:test

Add X-Csrf-Token headers to query.
  sa/profiles/Ubiquiti/Controller/get_metrics.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

Add Ubiquity.Controller profile.
  sa/profiles/Ubiquiti/Controller/get_cpe.py
  sa/profiles/Ubiquiti/Controller/get_metrics.py
  sa/profiles/Ubiquiti/Controller/get_uptime.py
  sa/profiles/Ubiquiti/Controller/get_version.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
  sa/profiles/Ubiquiti/Controller/profile.py
Due: py-lint, mypy, py:test

Fix AuthMiddleware.
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

Fix CLI enable diagnostic on Box discovery.
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

Rewrite UDP Server tests
  core/ioloop/udpserver.py
  tests/test_udpserver.py
  tests/udpserver/client.py
  tests/udpserver/config.py
Due: py-lint, mypy, py:test

Adjust socket sizes
  core/ioloop/udpserver.py
  tests/test_udpserver.py
Due: py-lint, mypy, py:test

Make UDP Server tests more reliable
  core/ioloop/udpserver.py
  tests/test_udpserver.py
  tests/udpserver/client.py
  tests/udpserver/config.py
Due: py-lint, mypy, py:test

add facade to ATP-2x200
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
Due: prettier, py:test

add facade to ATP-2x600
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
Due: prettier, py:test

fix facade ATP-2x600
  collections/inv.facades/RBS/IData/ATP_2x600_QSFP28.json
Due: prettier, py:test

Fix Cookie set on middleware.
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

JSONPreview: Save button
  config.py
  docs/model-interfaces-reference/__SUMMARY__
  docs/model-interfaces-reference/address.md
  docs/model-interfaces-reference/caps.md
  docs/model-interfaces-reference/cpe.md
  docs/model-interfaces-reference/dwdm.md
  docs/model-interfaces-reference/index.md
  scripts/docs/gen-model-interfaces-reference.py
  services/web/apps/main/desktop/views.py
  services/web/base/extdocapplication.py
  ui/common/settings_loader.js
  ui/web/core/JSONPreview.js
  ui/web/js/boot.js
Due: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

docs
  docs/config-reference/collections.md
Due: prettier, build:Docs, upload docs

Caps model interface
  collections/inv.modelinterfaces/caps.json
  docs/model-interfaces-reference/__SUMMARY__
  docs/model-interfaces-reference/address.md
  docs/model-interfaces-reference/caps.md
  docs/model-interfaces-reference/cpe.md
  docs/model-interfaces-reference/dwdm.md
  docs/model-interfaces-reference/index.md
  scripts/docs/gen-model-interfaces-reference.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Rollback docs changes
  docs/model-interfaces-reference/__SUMMARY__
  docs/model-interfaces-reference/address.md
  docs/model-interfaces-reference/caps.md
  docs/model-interfaces-reference/cpe.md
  docs/model-interfaces-reference/dwdm.md
  docs/model-interfaces-reference/index.md
  scripts/docs/gen-model-interfaces-reference.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix service sort by state
  sa/models/service.py
Due: py-lint, mypy, py:test

Fix Services sort by state status
  sa/models/service.py
Due: py-lint, mypy, py:test

Polus ATP-2x200, 2x600 facades
  collections/inv.facades/RBS/IData/ATP_2x600_QSFP28.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
Due: prettier, py:test

Add controller param to script.
  commands/script.py
  core/script/base.py
  core/script/caller.py
  sa/models/managedobject.py
  services/activator/models/controller.py
  services/activator/paths/activator.py
  services/sae/paths/sae.py
Due: py-lint, mypy, py:test

Add LocalId caps.
  collections/inv.capabilities/Controller/LocalId.json
  sa/models/managedobject.py
  services/activator/models/controller.py
  services/sae/paths/sae.py
Due: py-lint, mypy, prettier, py:test

#2526 Add controller param to script.
  collections/inv.capabilities/Controller/LocalId.json
  commands/script.py
  core/script/base.py
  core/script/caller.py
  sa/models/managedobject.py
  services/activator/models/controller.py
  services/activator/paths/activator.py
  services/sae/paths/sae.py
Due: py-lint, mypy, prettier, py:test

Fix typo.
  sa/models/discoveredobject.py
  ui/web/sa/objectdiscoveryrule/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

inv.inv: Smart drag&drop processing
  inv/models/object.py
  services/web/apps/inv/inv/views.py
  ui/web/inv/inv/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

inv.inv: Usage summary
  inv/models/object.py
  services/web/apps/inv/inv/plugins/data.py
  services/web/apps/inv/inv/views.py
  ui/web/inv/inv/Application.js
Due: py-lint, mypy, prettier, py:test, build:web

JSONPreview: Save button
  config.py
  docs/config-reference/collections.md
  services/web/apps/main/desktop/views.py
  services/web/base/extdocapplication.py
  ui/common/settings_loader.js
  ui/web/core/JSONPreview.js
  ui/web/js/boot.js
Due: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

inv.inv: Merge commutation and crossing plugins.
  services/web/apps/inv/inv/plugins/commutation.py
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: py-lint, mypy, prettier, py:test, build:web

Show labels
  services/web/apps/inv/inv/plugins/commutation.py
Due: py-lint, mypy, py:test

click on edge select grid row
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: prettier, build:web

crossing chart
  inv/models/object.py
  services/web/apps/inv/inv/plugins/commutation.py
  services/web/apps/inv/inv/plugins/crossing.py
  ui/web/inv/inv/plugins/crossing/CrossingPanel.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix renderer
  services/web/apps/inv/inv/plugins/commutation.py
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: py-lint, mypy, prettier, py:test, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
