Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Merge branch 'ansible-add-corr-slots' into 'master'
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/noc_roles/correlator/meta/tower.yml
  ansible/noc_roles/migrate/tasks/configure_consul.yml
Due: prettier

noc/noc#1603 Fix upload MIB on WEB.
  ansible/noc_roles/mib/defaults/main.yml
  ansible/noc_roles/mib/tasks/main.yml
  ansible/noc_roles/mib/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/mib/tasks/os/Debian_10/main.yml
  ansible/noc_roles/mib/tasks/os/Debian_9/main.yml
  ansible/noc_roles/mib/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/mib/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/mib/tasks/os/Ubuntu_16/main.yml
  ansible/noc_roles/mib/tasks/os/Ubuntu_18/main.yml
  commands/mib.py
  config.py
  fm/models/mib.py
  services/mib/api/mib.py
  services/web/apps/fm/mib/views.py
  ui/web/fm/mib/MIBUpload.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update Orion.NOS profile
  sa/profiles/Orion/NOS/get_arp.py
  sa/profiles/Orion/NOS/get_chassis_id.py
  sa/profiles/Orion/NOS/get_interface_status.py
  sa/profiles/Orion/NOS/get_interfaces.py
  sa/profiles/Orion/NOS/get_lldp_neighbors.py
  sa/profiles/Orion/NOS/get_mac_address_table.py
  sa/profiles/Orion/NOS/get_vlans.py
  sa/profiles/Orion/NOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'orion_nos' into 'master'
  ansible/noc_roles/sae/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/sae/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/sae/tasks/os/RedHat/main.yml
  ansible/noc_roles/scheduler/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/selfmon/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/selfmon/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/selfmon/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/syslogcollector/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/syslogcollector/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/syslogcollector/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/tgsender/tasks/os/CentOS/main.yml
  ansible/noc_roles/tgsender/tasks/os/Debian/main.yml
  ansible/noc_roles/tgsender/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/tgsender/tasks/os/RedHat/main.yml
  ansible/noc_roles/trapcollector/tasks/os/Debian/main.yml
  ansible/noc_roles/trapcollector/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/trapcollector/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/web/tasks/os/CentOS/main.yml
  ansible/noc_roles/web/tasks/os/RedHat/main.yml
  ansible/system_roles/goss/tasks/os/OracleLinux/main.yml
  ansible/system_roles/goss/tasks/os/RedHat/main.yml
  ansible/system_roles/nats/tasks/os/FreeBSD/main.yml
  sa/profiles/Orion/NOS/get_arp.py
  sa/profiles/Orion/NOS/get_chassis_id.py
  sa/profiles/Orion/NOS/get_interface_status.py
  sa/profiles/Orion/NOS/get_interfaces.py
  sa/profiles/Orion/NOS/get_lldp_neighbors.py
  sa/profiles/Orion/NOS/get_mac_address_table.py
  sa/profiles/Orion/NOS/get_vlans.py
  sa/profiles/Orion/NOS/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update docs about use docker-compose-infra.yml file
  docker/Readme.infra.md
Due: none

#1598 moving Street, Address, Building extractors to fias module
  core/etl/extractor/address.py
  core/etl/extractor/building.py
  core/etl/extractor/fias.py
  core/etl/extractor/street.py
  core/etl/models/building.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add proxy for container who need internet
  docker/docker-compose.yml
Due: prettier

Fix flake.
  core/cdag/node/metrics.py
  sa/profiles/Eltex/LTE/get_arp.py
  services/metrics/service.py
  services/mib/api/mib.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc-agent: http collector
  .gitlab-ci.yml
  docs/en/docs/admin/reference/agent/collectors/http.md
  docs/en/mkdocs.yml
  rust/agent/Cargo.toml
  rust/agent/src/collectors/block_io/out.rs
  rust/agent/src/collectors/http/collector.rs
  rust/agent/src/collectors/http/config.rs
  rust/agent/src/collectors/http/mod.rs
  rust/agent/src/collectors/http/out.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/registry.rs
Due: prettier

#1598 moving admdiv to fias remote system
  core/etl/extractor/admdiv.py
  core/etl/extractor/fias.py
  core/etl/remotesystem/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

tests: Check @on_delete for ReferenceField
  fm/models/alarmclass.py
  gis/models/layer.py
  inv/models/interfaceprofile.py
  inv/models/networksegment.py
  main/models/remotesystem.py
  maintenance/models/maintenancetype.py
  sa/models/action.py
  sa/models/service.py
  sa/models/serviceprofile.py
  tests/models/test_0002_reference.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add ZTE.ZXA10.get_ifindexes script
  sa/profiles/ZTE/ZXA10/get_ifindexes.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add service field to slaprobe.
  sa/models/service.py
  sla/models/slaprobe.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

worker service and defer function
  commands/migrate-liftbridge.py
  config.py
  core/datastream/change.py
  core/defer.py
  core/deprecations.py
  core/service/stub.py
  docs/en/docs/admin/reference/services/worker.md
  docs/en/docs/dev/reference/streams/jobs.md
  docs/en/mkdocs.yml
  fm/models/activealarm.py
  fm/models/archivedalarm.py
  phone/models/phonerange.py
  sa/models/managedobjectprofile.py
  sa/models/serviceprofile.py
  services/web/apps/sa/managedobject/views.py
  services/worker/__init__.py
  services/worker/service.py
  wf/models/state.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'zte_zxa10_ifindexes' into 'master'
  ansible/noc_roles/sae/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/sae/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/sae/tasks/os/RedHat/main.yml
  ansible/noc_roles/scheduler/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/selfmon/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/selfmon/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/selfmon/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/syslogcollector/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/syslogcollector/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/syslogcollector/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/tgsender/tasks/os/CentOS/main.yml
  ansible/noc_roles/tgsender/tasks/os/Debian/main.yml
  ansible/noc_roles/tgsender/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/tgsender/tasks/os/RedHat/main.yml
  ansible/noc_roles/trapcollector/tasks/os/Debian/main.yml
  ansible/noc_roles/trapcollector/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/trapcollector/tasks/os/Ubuntu/main.yml
  ansible/noc_roles/web/tasks/os/CentOS/main.yml
  ansible/noc_roles/web/tasks/os/RedHat/main.yml
  ansible/system_roles/goss/tasks/os/OracleLinux/main.yml
  ansible/system_roles/goss/tasks/os/RedHat/main.yml
  ansible/system_roles/nats/tasks/os/FreeBSD/main.yml
  sa/profiles/ZTE/ZXA10/get_ifindexes.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo
  rust/agent/src/collectors/cpu/platform/mod.rs
Due: none

noc-agent: twamp-sender: Set sender/receiver addresses and ports in Request-Tw-Session
  rust/agent/Cargo.toml
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/proto/twamp/mod.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
Due: none

Add SLA metrics.
  cmibs/juniper_rpm_mib.py
  collections/pm.metrictypes/SLA/Jitter/Jitter_Avg.json
  collections/pm.metrictypes/SLA/Jitter/Jitter_ICPIF.json
  collections/pm.metrictypes/SLA/Jitter/Jitter_In_Avg.json
  collections/pm.metrictypes/SLA/Jitter/Jitter_MOS.json
  collections/pm.metrictypes/SLA/Jitter/Jitter_Out_Avg.json
  collections/pm.metrictypes/SLA/OWL/OWL_Out_Max.json
  collections/pm.metrictypes/SLA/OWL/OWL_Out_Min.json
  collections/pm.metrictypes/SLA/Packets.json
  collections/pm.metrictypes/SLA/Packets_Loss_In.json
  collections/pm.metrictypes/SLA/Packets_Loss_Out.json
  collections/pm.metrictypes/SLA/Probes/Error.json
  main/models/label.py
  sa/interfaces/igetslaprobes.py
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Cisco/IOS/get_sla_probes.py
  sa/profiles/Huawei/VRP/get_capabilities.py
  sa/profiles/Huawei/VRP/get_metrics.py
  sa/profiles/Huawei/VRP/get_sla_probes.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  services/discovery/jobs/box/sla.py
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add summary fields to ReportDatasource.
  lib/app/reportdatasources/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc-agent: connect twamp-sender socket
  rust/agent/Cargo.toml
  rust/agent/src/agent.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/proto/connection.rs
Due: none

noc-agent: RFC-6038 Request-TW-Session packet format and proper padding
  rust/agent/Cargo.toml
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/proto/twamp/mod.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
Due: none

Add convert List value from consul config store.
  core/config/params.py
  core/config/proto/consul.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix group
  ansible/noc_roles/mib/tasks/main.yml
Due: prettier

noc-agent: TWAMP reflector uses connect() to avoid lookups
  rust/agent/src/collectors/twamp_reflector/collector.rs
  rust/agent/src/proto/udp.rs
Due: none

Add func Escalation Now
  fm/models/alarmescalation.py
  services/escalator/escalation.py
  services/web/apps/fm/alarm/views.py
  ui/web/core/ModelApplication.js
  ui/web/fm/alarm/view/form/AlarmController.js
  ui/web/fm/alarm/view/grids/Container.js
  ui/web/fm/alarm/view/grids/ContainerController.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc-agent: Configurable TWAMP reflector port request
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/collectors/twamp_sender/config.rs
Due: none

Add metrics and worker services
  ansible/noc_roles/metrics/defaults/main.yml
  ansible/noc_roles/metrics/meta/main.yml
  ansible/noc_roles/metrics/meta/tower.yml
  ansible/noc_roles/metrics/tasks/checks.yml
  ansible/noc_roles/metrics/tasks/main.yml
  ansible/noc_roles/metrics/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/metrics/tasks/os/Debian_10/main.yml
  ansible/noc_roles/metrics/tasks/os/Debian_9/main.yml
  ansible/noc_roles/metrics/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/metrics/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/metrics/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/metrics/tasks/os/Ubuntu_16/main.yml
  ansible/noc_roles/metrics/tasks/os/Ubuntu_18/main.yml
  ansible/noc_roles/noc/templates/metrics.goss.yml.j2
  ansible/noc_roles/noc/templates/worker.goss.yml.j2
  ansible/noc_roles/worker/defaults/main.yml
  ansible/noc_roles/worker/meta/main.yml
  ansible/noc_roles/worker/meta/tower.yml
  ansible/noc_roles/worker/tasks/checks.yml
  ansible/noc_roles/worker/tasks/main.yml
  ansible/noc_roles/worker/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/worker/tasks/os/Debian_10/main.yml
  ansible/noc_roles/worker/tasks/os/Debian_9/main.yml
  ansible/noc_roles/worker/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/worker/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/worker/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/worker/tasks/os/Ubuntu_16/main.yml
  ansible/noc_roles/worker/tasks/os/Ubuntu_18/main.yml
Due: prettier

Additional metrics to worker service.
  services/worker/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo
  ansible/noc_roles/metrics/meta/tower.yml
Due: prettier

Update services/metrics/service.py
  services/metrics/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add slots for worker service
  ansible/noc_roles/migrate/tasks/configure_consul.yml
  ansible/noc_roles/worker/meta/tower.yml
Due: prettier

Fix slots for worker
  ansible/noc_roles/migrate/tasks/configure_consul.yml
Due: prettier

#1602 loading data GIS models
  core/etl/extractor/fias.py
  core/etl/loader/address.py
  core/etl/loader/building.py
  core/etl/loader/street.py
  gis/models/building.py
  gis/models/division.py
  gis/models/street.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Escalate Now(Fix)
  services/escalator/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1620 optimization of loading gis data
  core/etl/loader/address.py
  core/etl/loader/building.py
  core/etl/loader/street.py
  gis/models/address.py
  gis/models/building.py
  gis/models/division.py
  gis/models/street.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1572 Removing update-addr command
  commands/update-addr.py
  docs/en/docs/admin/reference/man/update-addr.md
  docs/en/mkdocs.yml
  docs/ru/docs/admin/reference/man/update-addr.md
  docs/ru/mkdocs.yml
  gis/parsers/address/__init__.py
  gis/parsers/address/base.py
  gis/parsers/address/fias.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Cleanup bi_id field on Division.
  gis/models/division.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add jobs stream to selfmon liftbridge collector.
  services/selfmon/collectors/liftbridge.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use Scalar measurement for unknown sensor.
  sa/profiles/ElectronR/KO01M/get_inventory.py
  sa/profiles/Ttronics/KUB/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize
