Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Add vendor filtering for command collection export
  commands/collection.py
Due: py-lint, mypy, py:test

linter
  commands/collection.py
Due: py-lint, mypy, py:test

Remake set_param for IRE-Polus.Horizon crate params
  sa/profiles/IRE-Polus/Horizon/get_params_crate.py
  sa/profiles/IRE-Polus/Horizon/set_param.py
  services/web/apps/inv/inv/plugins/pconf.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2698' into 'master'
  core/etl/remotemappings.py
  core/models/inputsources.py
  main/models/remotemappingsitem.py
  sa/models/managedobject.py
  sa/models/service.py
  services/card/cards/managedobject.py
  services/web/apps/sa/managedobject/views.py
  tests/models/test_remote_mappings.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9323
  core/etl/remotemappings.py
  core/models/inputsources.py
  main/models/remotemappingsitem.py
  sa/models/managedobject.py
  sa/models/service.py
  services/card/cards/managedobject.py
  services/web/apps/sa/managedobject/views.py
  tests/models/test_remote_mappings.py
Due: py-lint, mypy, py:test

Fix InputSource on ETL Remote Mappings.
  core/caps/decorator.py
  core/etl/loader/base.py
  core/etl/models/service.py
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

fix address optional on FMEvent extractor.
  core/etl/models/fmevent.py
Due: py-lint, mypy, py:test

Fix InputSource on ETL Remote Mappings.
  core/caps/decorator.py
  core/etl/loader/base.py
  core/etl/models/fmevent.py
  core/etl/models/service.py
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-input-source-typo' into 'master'
  core/caps/decorator.py
  core/etl/loader/base.py
  core/etl/models/fmevent.py
  core/etl/models/service.py
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9329
  core/caps/decorator.py
  core/etl/loader/base.py
  core/etl/models/fmevent.py
  core/etl/models/service.py
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

Fix processed DispositionRule for Ping Failed event class.
  services/correlator/service.py
Due: py-lint, mypy, py:test

Add dispositionreq.
  services/correlator/models/disposereq.py
  services/correlator/models/dispositionreq.py
Due: py-lint, mypy, py:test

Fix error when mappings fields is empty.
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-empty-model-mapping-typo' into 'master'
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

Enhance MapPanel to handle destroyed state and prevent operations during refresh and update processes
  ui/web/inv/inv/plugins/map/MapPanel.js
Due: eslint, build:web

release-25.1:Backport!9331
  core/etl/remotemappings.py
Due: py-lint, mypy, py:test

Fix flake.
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix raise alarm on service.
  sa/models/service.py
  services/correlator/models/dispositionreq.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Set default visibility for layers in MapPanel during initialization
  ui/web/inv/inv/plugins/map/MapPanel.js
Due: eslint, build:web

Fix set_status method.
  services/correlator/rule.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Remove default visibility setting for layers in MapPanel initialization
  ui/web/inv/inv/plugins/map/MapPanel.js
Due: eslint, build:web

Add object_status condition.
  fm/models/dispositionrule.py
  services/correlator/rule.py
  services/correlator/service.py
  ui/web/fm/dispositionrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Update AlarmClass settings.
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_Failed_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_Chassis/PSU/Power_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_NOC/Managed_Object/Ping_Failed_dispose_.json
  fm/models/dispositionrule.py
  services/correlator/rule.py
  services/correlator/service.py
Due: py-lint, mypy, prettier, py:test

Fix load rules.
  fm/models/dispositionrule.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix event UI.
  collections/main.labels/noc_severity_ignore.json
  collections/main.labels/noc_severity_info.json
  collections/main.labels/noc_severity_minor.json
  services/classifier/service.py
  services/correlator/models/dispositionreq.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
  ui/web/fm/event/Application.js
  ui/web/fm/eventclass/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Fix flake.
  services/classifier/service.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

Fix flake.
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

Fix skip load_rules when loading.
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix set severity.
  services/classifier/service.py
Due: py-lint, mypy, py:test

Fix collect SVI metrics on interface.
  collections/wf.workflows/Default_Resource.json
  inv/models/interface.py
  inv/models/interfaceprofile.py
  services/web/apps/pm/ddash/dashboards/mo.py
Due: py-lint, mypy, prettier, py:test

#2128 Fix processed DispositionRule for Ping Failed event class.
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_Failed_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_Chassis/PSU/Power_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/main.labels/noc_severity_ignore.json
  collections/main.labels/noc_severity_info.json
  collections/main.labels/noc_severity_minor.json
  fm/models/dispositionrule.py
  sa/models/service.py
  services/classifier/service.py
  services/correlator/models/disposereq.py
  services/correlator/models/dispositionreq.py
  services/correlator/rule.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/event/Application.js
  ui/web/fm/eventclass/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Merge branch 'noc-2128' into 'master'
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_Failed_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_Chassis/PSU/Power_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/main.labels/noc_severity_ignore.json
  collections/main.labels/noc_severity_info.json
  collections/main.labels/noc_severity_minor.json
  fm/models/dispositionrule.py
  sa/models/service.py
  services/classifier/service.py
  services/correlator/models/disposereq.py
  services/correlator/models/dispositionreq.py
  services/correlator/rule.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/event/Application.js
  ui/web/fm/eventclass/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Add enabled afi label.
  collections/main.labels/noc_interface_afi_.json
  inv/models/subinterface.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9333
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_Failed_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_Chassis/PSU/Power_Failed_dispose_.json
  collections/fm.dispositionrules/NOC/Managed_Object/Ping_OK_NOC/Managed_Object/Ping_Failed_dispose_.json
  collections/main.labels/noc_severity_ignore.json
  collections/main.labels/noc_severity_info.json
  collections/main.labels/noc_severity_minor.json
  fm/models/dispositionrule.py
  sa/models/service.py
  services/classifier/service.py
  services/correlator/models/disposereq.py
  services/correlator/models/dispositionreq.py
  services/correlator/rule.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/event/Application.js
  ui/web/fm/eventclass/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Fix collection typo.
  collections/wf.workflows/Default_Resource.json
Due: prettier, py:test

Add unique_value param to Label.
  main/models/label.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix collect SVI metrics on interface.
  collections/main.labels/noc_interface_afi_.json
  collections/wf.workflows/Default_Resource.json
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/subinterface.py
  services/web/apps/pm/ddash/dashboards/mo.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'fix-avs-collect-svi-metrics' into 'master'
  collections/main.labels/noc_interface_afi_.json
  collections/wf.workflows/Default_Resource.json
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/subinterface.py
  services/web/apps/pm/ddash/dashboards/mo.py
Due: py-lint, mypy, prettier, py:test

Fix error when check remote_system on DiscoveredObject reset_data.
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9335
  collections/main.labels/noc_interface_afi_.json
  collections/wf.workflows/Default_Resource.json
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/subinterface.py
  services/web/apps/pm/ddash/dashboards/mo.py
Due: py-lint, mypy, prettier, py:test
