Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

move button to name column
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: prettier, build:web

Change for discussion
  inv/migrations/0037_connectiontypes_data_format.py
Due: py-lint, mypy, py:test

Remove no_cursor_timeout
  inv/migrations/0037_connectiontypes_data_format.py
Due: py-lint, mypy, py:test

Добавление тестов для коллекций ConnectionType, ObjectModel. Добавление миграции для ConnectionType.data
  inv/migrations/0037_connectiontypes_data_format.py
  tests/collections/test_inv_connectiontypes.py
  tests/collections/test_inv_objectmodels.py
Due: py-lint, mypy, py:test

Fix arrows
  ui/web/inv/objectmodel/Application.js
Due: prettier, build:web

inv.objectmodel: Glyph infographics
  ui/web/inv/objectmodel/Application.js
Due: prettier, build:web

inv.inv: Add current position to Add form title
  ui/web/inv/inv/AddObjectForm.js
  ui/web/inv/inv/Application.js
Due: prettier, build:web

Remove unnecessary uiStyle
  ui/web/inv/objectmodel/Application.js
Due: prettier, build:web

inv.inv: Adjust connection rule combobox size
  ui/web/inv/objectmodel/Application.js
Due: prettier, build:web

make padding 4px
  ui/web/inv/inv/AddObjectForm.js
Due: prettier, build:web

add lock icon, and move copy to value
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: prettier, build:web

Refactoring
  commands/collection.py
  core/collection/base.py
  main/models/template.py
Due: py-lint, mypy, py:test

Add try to find conflicting item to PostrgreSQL
  core/collection/base.py
  main/models/template.py
Due: py-lint, mypy, py:test

#2465 Loading Template from collections
  collections/main.templates/_QA1.json
  collections/main.templates/dns_zone_change.json
  collections/main.templates/dns_zone_new.json
  collections/main.templates/inv_discovery_address_collision_report.json
  collections/main.templates/inv_discovery_interface_status_change.json
  collections/main.templates/inv_discovery_new_addresses_report.json
  collections/main.templates/inv_discovery_new_prefixes_report.json
  collections/main.templates/inv_discovery_new_vlans_report.json
  collections/main.templates/sa_mnaged_object_config_change.json
  collections/main.templates/sa_mnaged_object_config_policy_violation.json
  collections/main.templates/sa_mnaged_object_delete.json
  collections/main.templates/sa_mnaged_object_new.json
  collections/main.templates/sa_mnaged_object_version_changed.json
  commands/collection.py
  core/collection/base.py
  main/migrations/0073_add_uuid_in_template_collection.py
  main/models/template.py
  models.py
Due: py-lint, mypy, prettier, py:test

add quotes
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: prettier, build:web

Add _json_collection to Template
  commands/collection.py
  core/collection/base.py
  main/models/template.py
Due: py-lint, mypy, py:test

inv.inv Data plugin: Add lock glyph and copy id icon
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: prettier, build:web

Clean typo.
  core/collection/base.py
Due: py-lint, mypy, py:test

eslint config files
  .eslintrc.json
  ui/.eslintrc.json
Due: prettier, py:test

add new rules
  .eslintrc.json
  ui/.eslintrc.json
Due: prettier, py:test

create sym link
  ui/.eslintrc.json
Due: prettier, py:test

Fix symlink and add to gitignore
  .gitignore
  ui/.eslintrc.json
Due: prettier, py:test

remove symbol link
  ui/.eslintrc.json
Due: prettier, py:test

devcontainer: Use eslint as JS formatter
  .devcontainer/devcontainer.json
Due: prettier, py:test

welcome page: Enlarge font on welcome page
  ui/web/css/extjs.css
Due: prettier, build:web

Cancel changes to name_field()
  core/collection/base.py
Due: py-lint, mypy, py:test

CI: Use eslint to check javascript code
  .gitlab-ci.yml
Due: py-lint, prettier

inv.inv: Adjust rack panel's editors
  ui/web/inv/inv/plugins/rack/RackPanel.js
Due: prettier, build:web

eslint linter for javascript
  .devcontainer/devcontainer.json
  .eslintrc.json
  .gitignore
  .gitlab-ci.yml
  ui/.eslintrc.json
Due: py-lint, prettier, py:test

Fix getting fields.
  core/collection/base.py
Due: py-lint, mypy, py:test

Change for discussion
  services/datastream/streams/managedobject.py
Due: py-lint, mypy, py:test

Fix DjangoModel Check.
  core/collection/base.py
Due: py-lint, mypy, py:test

#2106 Fix with race condition in ActiveAlarm.set_root
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Merge branch 'noc-1206' into 'master'
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8025
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Remove unused template.
  collections/main.templates/_QA1.json
Due: prettier, py:test

#2465 Add Template model to JSON collections
  collections/main.templates/dns_zone_change.json
  collections/main.templates/dns_zone_new.json
  collections/main.templates/inv_discovery_address_collision_report.json
  collections/main.templates/inv_discovery_interface_status_change.json
  collections/main.templates/inv_discovery_new_addresses_report.json
  collections/main.templates/inv_discovery_new_prefixes_report.json
  collections/main.templates/inv_discovery_new_vlans_report.json
  collections/main.templates/sa_mnaged_object_config_change.json
  collections/main.templates/sa_mnaged_object_config_policy_violation.json
  collections/main.templates/sa_mnaged_object_delete.json
  collections/main.templates/sa_mnaged_object_new.json
  collections/main.templates/sa_mnaged_object_version_changed.json
  commands/collection.py
  core/collection/base.py
  main/migrations/0073_add_uuid_in_template_collection.py
  main/models/template.py
  models.py
Due: py-lint, mypy, prettier, py:test

Add MX MessageType enum.
  core/datastream/base.py
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/wf/diagnostic.py
  examples/handlers/hk/handler.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  main/migrations/0073_add_template_message_type_fields.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  main/models/template.py
  sa/models/managedobject.py
  services/classifier/service.py
  services/discovery/jobs/periodic/uptime.py
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

Add ManagedObject.
  services/datastream/streams/managedobject.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
