Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

Set is_managed label.
  sa/migrations/0247_managedobject_add_state.py
  sa/models/managedobject.py
  services/web/apps/sa/managedobject/views.py
  wf/migrations/0007_managedobject_default.py
  wf/models/workflow.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  services/web/apps/sa/managedobject/views.py
  wf/models/workflow.py
Due: flake8, black, mypy, pylint, py:test

Fix config indent
  ansible/system_roles/redpanda/templates/redpanda_config.yaml.j2
Due: none

#1865 Add Workflow to ManagedObject.
  core/etl/loader/managedobject.py
  core/wf/decorator.py
  core/wf/diagnostic.py
  core/wf/interaction.py
  inv/models/networksegment.py
  main/models/label.py
  sa/migrations/0246_managedobjectprofile_add_workflow.py
  sa/migrations/0247_managedobject_add_state.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  sa/wipe/managedobject.py
  services/correlator/service.py
  services/datastream/streams/cfgping.py
  services/datastream/streams/cfgsyslog.py
  services/datastream/streams/cfgtrap.py
  services/datastream/streams/managedobject.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/cpe.py
  services/sae/paths/sae.py
  services/selfmon/collectors/managedobject.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/wf/state/views.py
  services/web/apps/wf/workflow/views.py
  services/web/base/extapplication.py
  services/web/base/extmodelapplication.py
  ui/web/ip/vrf/Application.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/ApplicationModel.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/Model.js
  ui/web/sa/managedobject/form/View.js
  ui/web/wf/state/Application.js
  ui/web/wf/state/Model.js
  ui/web/wf/workflow/Application.js
  ui/web/wf/workflow/Model.js
  ui/web/wf/workflow/WFEditor.js
  wf/migrations/0007_managedobject_default.py
  wf/models/state.py
  wf/models/workflow.py
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

DLink.DxS.get_interfaces: Fix CLI returns wrong oper_status
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, pylint, py:test

Fix cachemethod cache function.
  inv/models/firmware.py
  inv/models/platform.py
  inv/models/resourcegroup.py
  main/models/label.py
Due: flake8, black, mypy, pylint, py:test

Bump cachetools to 5.3.0
  .requirements/node.txt
Due: none

Update get_capabilities.py
  sa/profiles/Qtech/QOS/get_capabilities.py
Due: flake8, black, mypy, pylint, py:test

Fix flake.
  inv/models/platform.py
  main/models/label.py
Due: flake8, black, mypy, pylint, py:test

Add new report FM-Escalations
  collections/main.reports/Escalations.json
  core/datasources/escalationsds.py
Due: flake8, black, mypy, prettier, pylint, py:test

Fix P1 interfaces on port1 Qtech.QOS
  sa/profiles/Qtech/QOS/get_capabilities.py
  sa/profiles/Qtech/QOS/get_interfaces.py
  sa/profiles/Qtech/QOS/profile.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#2046 Bump cachetools to 5.3.0
  .requirements/node.txt
  inv/models/firmware.py
  inv/models/platform.py
  inv/models/resourcegroup.py
  main/models/label.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix_interfaces_Qtech.QOS' into 'master'
  sa/profiles/Qtech/QOS/get_capabilities.py
  sa/profiles/Qtech/QOS/get_interfaces.py
  sa/profiles/Qtech/QOS/profile.py
Due: flake8, black, mypy, pylint, py:test

Fix config [skip ci]
  ansible/system_roles/redpanda/meta/tower.yml
  ansible/system_roles/redpanda/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/redpanda/tasks/os/RedHat_7/main.yml
  ansible/system_roles/redpanda/templates/redpanda_config.yaml.j2
Due: prettier

release-22.2:Backport!7132
  sa/profiles/Qtech/QOS/get_capabilities.py
  sa/profiles/Qtech/QOS/get_interfaces.py
  sa/profiles/Qtech/QOS/profile.py
Due: flake8, black, mypy, pylint, py:test

Modify datasource escalationsds
  collections/main.reports/Escalations.json
  core/datasources/escalationsds.py
Due: flake8, black, mypy, prettier, pylint, py:test

enable overprovision [skip ci]
  ansible/system_roles/redpanda/defaults/main.yml
  ansible/system_roles/redpanda/tasks/dirs.yml
  ansible/system_roles/redpanda/tasks/main.yml
  ansible/system_roles/redpanda/templates/redpanda_config.yaml.j2
Due: prettier

Fix classifier Event Message format for send to ch.events.
  services/classifier/service.py
  services/discovery/jobs/box/interface.py
  services/web/apps/sa/managedobject/views.py
Due: flake8, black, mypy, pylint, py:test

BDCOM.xPON.get_interfaces. Fix parse tagged vlans.
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Add get_cpe scripts.
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
Due: flake8, black, mypy, pylint, py:test

Add type 10Giga-FX-SFP
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Fix script name.
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
Due: flake8, black, mypy, pylint, py:test

#2037 BDCOM.xPON.get_interfaces. Fix parse tagged vlans.
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-2037-2' into 'master'
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Fix flake.
  sa/profiles/BDCOM/xPON/get_cpe_status.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!7143
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#1928 Correlator add downlink objects for detect ring RCA.
  services/correlator/rcacondition.py
  services/correlator/service.py
Due: flake8, black, mypy, pylint, py:test

Set pool_active param default to 1.
  main/models/authldapdomain.py
  services/login/backends/ldap.py
Due: flake8, black, mypy, pylint, py:test

#1539 Set pool_active param default to 1.
  main/models/authldapdomain.py
  services/login/backends/ldap.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  main/migrations/0067_create_interface_member_labels.py
Due: flake8, black, mypy, pylint, py:test

Add LAGs interface labels.
  inv/models/interface.py
  main/migrations/0067_create_interface_member_labels.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  inv/models/interface.py
Due: flake8, black, mypy, pylint, py:test

topo service
  config.py
  docs/en/docs/admin/reference/config/topo.md
  docs/en/docs/admin/reference/services/topo.md
  docs/en/mkdocs.yml
  services/topo/__init__.py
  services/topo/datastream.py
  services/topo/service.py
  services/topo/topo.py
  services/topo/types.py
Due: flake8, black, mypy, prettier, pylint, py:test, build:Docs:en, upload docs

Fix typo.
  services/topo/service.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  config.py
  services/topo/datastream.py
  services/topo/service.py
  services/topo/topo.py
Due: flake8, black, mypy, pylint, py:test

Calculate RCA neighbbors
  services/topo/service.py
  services/topo/topo.py
Due: flake8, black, mypy, pylint, py:test

Fix sorted.
  services/topo/topo.py
Due: flake8, black, mypy, pylint, py:test

Fix logging format.
  services/topo/topo.py
Due: flake8, black, mypy, pylint, py:test

#817 Add LAGs interface labels.
  inv/models/interface.py
  main/migrations/0067_create_interface_member_labels.py
Due: flake8, black, mypy, pylint, py:test

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
