Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

noc/noc#534 Add Diagnostic discovery.
  commands/discovery.py
  core/checkers/__init__.py
  core/checkers/base.py
  core/checkers/credentialchecker.py
  core/checkers/loader.py
  core/checkers/profilechecker.py
  core/datastream/base.py
  core/models/problem.py
  core/profile/checker.py
  core/script/credentialchecker.py
  core/wf/diagnostic.py
  sa/models/managedobject.py
  services/activator/api/activator.py
  services/datastream/streams/cfgsyslog.py
  services/datastream/streams/cfgtrap.py
  services/discovery/jobs/base.py
  services/discovery/jobs/periodic/diagnostic.py
  services/web/apps/main/ref/views.py
  services/web/apps/sa/managedobject/views.py
  ui/web/core/status/StatusField.js
  ui/web/main/ref/check/LookupField.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add get_data apply.
  services/activator/api/activator.py
  services/activator/models/streaming.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add streaming param to caller.
  core/script/caller.py
  services/activator/api/activator.py
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  core/script/caller.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Convert streaming.
  services/activator/api/activator.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add StreamingConfig param to Activator.script RPC call.
  services/activator/api/activator.py
  services/activator/models/__init__.py
  services/activator/models/streaming.py
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add DiagnosticCheck to Discovery.
  bi/models/diagnostichistory.py
  sa/models/managedobject.py
  services/discovery/jobs/box/job.py
  services/discovery/jobs/periodic/diagnostic.py
  services/discovery/jobs/periodic/job.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  commands/discovery.py
  core/datastream/base.py
  core/wf/diagnostic.py
  services/discovery/jobs/box/job.py
  services/discovery/jobs/periodic/diagnostic.py
  services/discovery/jobs/periodic/job.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add sync_diagnostic_alarm method for sync diagnostic alarms.
  bi/models/diagnostichistory.py
  core/service/stub.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add register diagnostic data.
  config.py
  core/checkers/base.py
  core/checkers/credentialchecker.py
  core/checkers/profilechecker.py
  core/wf/diagnostic.py
  sa/models/managedobject.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  bi/models/diagnostichistory.py
  core/checkers/credentialchecker.py
  core/checkers/profilechecker.py
  sa/models/managedobject.py
  services/discovery/jobs/base.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  bi/models/diagnostichistory.py
  core/checkers/credentialchecker.py
  core/checkers/profilechecker.py
  sa/models/managedobject.py
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Access Alarm Class.
  collections/fm.alarmclasses/NOC/Managed_Object/ Access_Lost.json
  collections/fm.alarmclasses/NOC/Managed_Object/Access_Degraded.json
  core/wf/diagnostic.py
  sa/models/managedobject.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add check metrics register.
  bi/models/diagnostichistory.py
  collections/pm.metricscopes/Check.json
  collections/pm.metrictypes/Check/Result.json
  core/checkers/base.py
  sa/models/managedobject.py
  services/discovery/jobs/periodic/diagnostic.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Cleanup unused code.
  core/checkers/base.py
  core/checkers/credentialchecker.py
  core/checkers/profilechecker.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  core/checkers/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add test for UDP-server
  tests/test_udpserver.py
  tests/udpserver/client.py
  tests/udpserver/config.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix DLink.DxS_Industrial_CLI.get_lldp_neighbors script
  sa/profiles/DLink/DxS_Industrial_CLI/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo
  tests/test_udpserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#534 Add DiagnosticCheck to Discovery.
  bi/models/diagnostichistory.py
  collections/fm.alarmclasses/NOC/Managed_Object/ Access_Lost.json
  collections/fm.alarmclasses/NOC/Managed_Object/Access_Degraded.json
  collections/pm.metricscopes/Check.json
  collections/pm.metrictypes/Check/Result.json
  commands/discovery.py
  config.py
  core/checkers/base.py
  core/checkers/credentialchecker.py
  core/checkers/profilechecker.py
  core/datastream/base.py
  core/service/stub.py
  core/wf/diagnostic.py
  sa/models/managedobject.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/job.py
  services/discovery/jobs/periodic/diagnostic.py
  services/discovery/jobs/periodic/job.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix flake8
  sa/profiles/Mellanox/Cumulus/get_interfaces.py
  sa/profiles/Mellanox/Cumulus/get_vlans.py
  sa/profiles/Mellanox/Cumulus/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix change ip script
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-change-ip-script' into 'master'
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix linters
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add escalation options on Maintenance
  maintenance/models/maintenance.py
  services/escalator/escalation.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6536
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add 22.1.2 Release Notes
  docs/en/docs/about/releases/22.1.2.md
  docs/en/mkdocs.yml
Due: prettier

Add 22.1.2 Release Notes
  docs/en/docs/about/releases/22.1.2.md
Due: none

Release Notes 22.1.2
  docs/en/docs/about/releases/22.1.2.md
  docs/en/mkdocs.yml
Due: prettier

Fix kafkasender checks condition
  ansible/noc_roles/kafkasender/tasks/checks.yml
Due: prettier

docs: Improve docker compose guide language and readability
  docker/Readme.md
Due: none

Merge branch 'EKbfh-master-patch-77028' into 'master'
  ansible/noc_roles/kafkasender/tasks/checks.yml
Due: prettier

Add ObjectDiagnosticConfig model.
  bi/models/diagnostichistory.py
  core/bi/dictionaries/diagnosticconfig.py
  models.py
  sa/models/managedobject.py
  sa/models/objectdiagnosticconfig.py
  services/web/apps/sa/objectdiagnosticconfig/__init__.py
  services/web/apps/sa/objectdiagnosticconfig/views.py
  ui/web/sa/objectdiagnosticconfig/Application.js
  ui/web/sa/objectdiagnosticconfig/LookupField.js
  ui/web/sa/objectdiagnosticconfig/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  services/web/apps/sa/objectdiagnosticconfig/views.py
  ui/web/sa/objectdiagnosticconfig/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

fix
  services/escalator/escalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6537
  ansible/noc_roles/kafkasender/tasks/checks.yml
Due: prettier

Fix disadvantages
  tests/test_udpserver.py
  tests/udpserver/client.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

black
  maintenance/models/maintenance.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
