Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Merge branch 'patch-avs-service-instance-sync' into 'master'
  core/caps/types.py
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
  core/etl/loader/service.py
  core/etl/models/service.py
  core/models/inputsources.py
  core/models/serviceinstanceconfig.py
  core/models/valuetype.py
  inv/models/capability.py
  sa/migrations/0264_service_profile_instance_settings_to_list.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/nri_service.py
  services/web/apps/sa/service/views.py
  services/web/apps/sa/serviceprofile/views.py
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9209
  core/caps/types.py
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
  core/etl/loader/service.py
  core/etl/models/service.py
  core/models/inputsources.py
  core/models/serviceinstanceconfig.py
  core/models/valuetype.py
  inv/models/capability.py
  sa/migrations/0264_service_profile_instance_settings_to_list.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/nri_service.py
  services/web/apps/sa/service/views.py
  services/web/apps/sa/serviceprofile/views.py
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix processed watchers on ActiveAlarm.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Add alarm_action TT Tests.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/escalation.py
  services/escalator/tt/stub.py
  tests/fm/test_alarm_actions.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Fix tests.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/alarmwatch.py
  services/correlator/actionlog.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-alarmrule-add-escalation-profile' into 'master'
  commands/alarm.py
  core/fm/enum.py
  core/fm/request.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmescalation.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  fm/models/ttsystem.py
  sa/models/managedobject.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/escalation.py
  services/escalator/jobs/check_tt.py
  services/escalator/tt/tg_bot.py
  services/web/apps/fm/escalationprofile/__init__.py
  services/web/apps/fm/escalationprofile/views.py
  tests/fm/test_alarm_actions.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/LookupField.js
  ui/web/fm/escalationprofile/Model.js
  ui/web/fm/ttsystem/Application.js
  ui/web/fm/ttsystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix processed watchers on ActiveAlarm.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/escalation.py
  services/escalator/tt/stub.py
  services/web/apps/fm/alarm/views.py
  tests/fm/test_alarm_actions.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9230
  commands/alarm.py
  core/fm/enum.py
  core/fm/request.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmescalation.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  fm/models/ttsystem.py
  sa/models/managedobject.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/escalation.py
  services/escalator/jobs/check_tt.py
  services/escalator/tt/tg_bot.py
  services/web/apps/fm/escalationprofile/__init__.py
  services/web/apps/fm/escalationprofile/views.py
  tests/fm/test_alarm_actions.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/escalationprofile/Application.js
  ui/web/fm/escalationprofile/LookupField.js
  ui/web/fm/escalationprofile/Model.js
  ui/web/fm/ttsystem/Application.js
  ui/web/fm/ttsystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'patch-avs-add-fm-filter-test' into 'master'
  tests/fm/__init__.py
  tests/fm/events/mac_events.json
  tests/fm/test_event_filters.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9177
  tests/fm/__init__.py
  tests/fm/events/mac_events.json
  tests/fm/test_event_filters.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'fix-avs-alarm-watchers' into 'master'
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/escalation.py
  services/escalator/tt/stub.py
  services/web/apps/fm/alarm/views.py
  tests/fm/test_alarm_actions.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-filter-unknown-macs' into 'master'
  sa/profiles/Juniper/JUNOS/get_chassis_id.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9242
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/escalation.py
  services/escalator/tt/stub.py
  services/web/apps/fm/alarm/views.py
  tests/fm/test_alarm_actions.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Add bind ASSETs instances to interface by refs.
  sa/models/serviceinstance.py
  services/scheduler/jobs/sync_service_instance.py
Due: py-lint, mypy, py:test

Fix wipe user command.
  commands/wipe.py
Due: py-lint, mypy, py:test

Fix apply rules when update alarm.
  services/correlator/service.py
Due: py-lint, mypy, py:test

#2686 Fix wipe user command.
  commands/wipe.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2686' into 'master'
  commands/wipe.py
Due: py-lint, mypy, py:test

Fix flake.
  services/correlator/service.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9175
  sa/profiles/Juniper/JUNOS/get_chassis_id.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9247
  commands/wipe.py
Due: py-lint, mypy, py:test

Fix match_suppress value on EventClass collection to_json.
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-update-alar-rule-error' into 'master'
  services/correlator/service.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9248
  services/correlator/service.py
Due: py-lint, mypy, py:test

#2697 Fix match_suppress value on EventClass collection to_json.
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2687' into 'master'
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

Fix Service Instance view backend.
  core/etl/loader/service.py
  core/etl/models/service.py
  core/models/inputsources.py
  core/models/valuetype.py
  inv/models/capability.py
  services/web/apps/sa/service/views.py
  ui/web/inv/capability/Application.js
  ui/web/sa/service/InstancesPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9250
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

Fix create ServiceInstance.
  core/mac.py
  sa/models/service.py
  sa/models/serviceinstance.py
  services/scheduler/jobs/network_instance_service.py
  tests/test_mac.py
  ui/web/sa/service/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix ManagedObjectDS caps flag.
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Fix flake.
  core/etl/loader/service.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-managedobjectds-caps-flag' into 'master'
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9253
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Add filter tagged interfaces.
  services/scheduler/jobs/network_instance_service.py
Due: py-lint, mypy, py:test

Add some D-Link switch models
  collections/inv.objectmodels/DLink/DES/DES-1210-28_ME_A1.json
  collections/inv.objectmodels/DLink/DGS/DGS-3000-28L.json
Due: prettier, py:test

Add TTL.
  collections/inv.capabilities/Asset/MAC_Addresses.json
  core/models/inputsources.py
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/nri_service.py
  services/scheduler/jobs/network_instance_service.py
  ui/web/sa/serviceprofile/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

fix flake.
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Add job to scheduler.
  services/scheduler/jobs/network_instance_service.py
  services/scheduler/service.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
