Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix typo
  pyproject.toml
Due: py-lint

Merge branch 'noc-fix-credentialcheckrule-li' into 'master'
  core/script/diagnostic.py
Due: py-lint, mypy, py:test

Cisco.IOS Add HundredGigE interface type.
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Cisco/IOS/get_lldp_neighbors.py
  sa/profiles/Cisco/IOS/get_version.py
  sa/profiles/Cisco/IOS/profile.py
Due: py-lint, mypy, py:test

Merge branch 'noc-supp-fix-iskratel-msan-keep-cli-session' into 'master'
  sa/profiles/Iskratel/MSAN/get_inventory.py
Due: py-lint, mypy, py:test

release-23.1:Backport!9952
  sa/profiles/Iskratel/MSAN/get_inventory.py
Due: py-lint, mypy, py:test

Add is_complete check on update_maintenance
  maintenance/models/maintenance.py
Due: py-lint, mypy, py:test

Fix update ManagedObject status when last_ts is Null.
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Merge branch 'noc-improve-ifaceprofile-log' into 'master'
  services/discovery/jobs/box/interface.py
Due: py-lint, mypy, py:test

Merge branch 'noc-supp-sks-lldp' into 'master'
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Due: py-lint, mypy, py:test

Noc fix maintenance flag completed
  maintenance/models/maintenance.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-empty-lastts-on-mo-statuses' into 'master'
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Merge branch 'fix-ensure-labels-on-etl-processed' into 'master'
  core/etl/loader/base.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-speedup-iterate-datastream' into 'master'
  fm/models/dispositionrule.py
  inv/models/interfaceprofile.py
  services/login/paths/auth.py
Due: py-lint, mypy, py:test

Merge branch 'noc-fix-mistype' into 'master'
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-multiple-asset-part-no-list' into 'master'
  inv/migrations/0045_fix_duplicate_part_no_list.py
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-service-default-oper-status' into 'master'
  core/models/servicestatus.py
  sa/models/service.py
Due: py-lint, mypy, py:test

Merge branch 'noc-supp-fix-qtech2800-normalizer-card' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp4.yml
Due: py-lint, mypy, prettier, py:test

release-23.1:Backport!9995
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp4.yml
Due: py-lint, mypy, prettier, py:test

Add 'fqdn' field to ApplicationModel
  ui/web/sa/managedobject/ApplicationModel.js
Due: eslint, build:web

Add FQDN column to managed object table
  ui/web/sa/managedobject/Application.js
Due: eslint, build:web

Add fqdn field to managed object view
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Merge branch 'pathc-avs-diagnostic-ttl' into 'master'
  core/checkers/base.py
  core/checkers/fail.py
  core/checkers/http.py
  core/checkers/loader.py
  core/checkers/registry.py
  core/diagnostic/decorator.py
  core/diagnostic/handler.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/diagnostic/types.py
  core/models/cfgactions.py
  core/profile/diagnostic.py
  core/script/credentialchecker.py
  core/script/diagnostic.py
  core/watchers/types.py
  core/wf/decorator.py
  sa/models/diagnosticitem.py
  sa/models/managedobject.py
  sa/models/service.py
  tests/models/test_sa_diagnostics.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-peer-organization-error' into 'master'
  core/diagnostic/item.py
  core/wf/decorator.py
  peer/models/peer.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Add Register as Notification Method to MessageRoute.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
  services/web/apps/main/ref/views.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
  ui/web/main/notificationgroup/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'fix-avs-stopped-watchers' into 'master'
  core/watchers/decorator.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-diagnostic-typo' into 'master'
  core/diagnostic/decorator.py
  core/script/diagnostic.py
Due: py-lint, mypy, py:test

feat: refactor MapPanel and MapRendererPlaceholder to remove currentHighlight and enhance event handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web

feat: enhance map interaction with search functionality and event handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web

Add MapRenderer and MapRendererPlaceholder classes for network map visualization
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web

feat: add event handler removal
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web

feat: integrate Zoom plugin into map application and enhance zoom functionality
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web

feat: enhance build process and add new bundling scripts for improved development workflow
  ui/build-bundle.ts
  ui/build-bundles-prod.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/bundles/joint/index.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/watch-bundles.ts
Due: prettier, py:test

feat: enhance context menu handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web

feat: update Node.js version and adjust build scripts for compatibility
  ui/package.json
  ui/scripts/index-template.html
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, prettier, py:test, build:web

feat: add topo-map build script and dependency to package.json
  ui/pnpm-lock.yaml
Due: none

feat: remove zoom combo and related components from map application
  ui/web/inv/map/Application.js
Due: eslint, build:web

feat: implement topology map rendering and update map panel structure
  ui/eslint.config.mjs
  ui/scripts/index-template.html
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/main/desktop/WorkplacePanel.js
Due: eslint, build:web

feat: remove MiniMap component and refactor event handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

feat: remove unused JointJS dependencies and clean up related code
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/ShapeRegistry.js
Due: eslint, prettier, build:web

feat: update event names in MapPanel and MapRendererPlaceholder for consistency
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Due: eslint, build:web
