Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

fix add consul apt key
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/liftbridge/tasks/install.yml
Due: prettier

Remove Datasource service
  services/datasource/__init__.py
  services/datasource/datasources/__init__.py
  services/datasource/datasources/base.py
  services/datasource/datasources/ch_administrativedomain.py
  services/datasource/datasources/ch_alarmclass.py
  services/datasource/datasources/ch_container.py
  services/datasource/datasources/ch_cpe.py
  services/datasource/datasources/ch_interfaceattributes.py
  services/datasource/datasources/ch_interfacedescription.py
  services/datasource/datasources/ch_interfaceprofile.py
  services/datasource/datasources/ch_managedobject.py
  services/datasource/datasources/ch_networksegment.py
  services/datasource/datasources/ch_objectprofile.py
  services/datasource/datasources/ch_platform.py
  services/datasource/datasources/ch_pool.py
  services/datasource/datasources/ch_profile.py
  services/datasource/datasources/ch_serviceprofile.py
  services/datasource/datasources/ch_state.py
  services/datasource/datasources/ch_subscriberprofile.py
  services/datasource/datasources/ch_vendor.py
  services/datasource/datasources/ch_version.py
  services/datasource/datasources/ch_workflow.py
  services/datasource/handler.py
  services/datasource/loader.py
  services/datasource/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove RegexpLabel model
  main/models/regexplabel.py
  models.py
  services/web/apps/main/regexplabel/__init__.py
  services/web/apps/main/regexplabel/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Switch to FastAPI services with scheduler
  core/scheduler/scheduler.py
  services/correlator/service.py
  services/discovery/service.py
  services/escalator/service.py
  services/scheduler/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-etl-checkpoint-param' into 'master'
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix on_delete_handler for Array EmbeddedDocument field.
  core/model/decorator.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6346
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Handle apt_key not using http_proxy
  ansible/system_roles/clickhouse/defaults/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_11/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_11/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_10/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_11/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/postgres/tasks/os/Debian_10/install.yml
  ansible/system_roles/postgres/tasks/os/Debian_11/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_18/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_20/install.yml
Due: prettier

Fix typos
  ansible/system_roles/nginx/tasks/os/Debian_10/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_11/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
Due: prettier

Fix typo ch_apt_key_id
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_11/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
Due: prettier

Fix wrong indent
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_11/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_11/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_10/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_11/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/postgres/tasks/os/Debian_10/install.yml
  ansible/system_roles/postgres/tasks/os/Debian_11/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_18/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_20/install.yml
Due: prettier

Bring ch repo back
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
Due: prettier

Exclude Auto generate fields from managedobject save.
  core/model/base.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add DOM Errors metric.
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Laser_Status.json
Due: prettier

Ansible fix apt key proxy problem
  ansible/system_roles/clickhouse/defaults/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_11/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_11/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_10/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_11/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/postgres/tasks/os/Debian_10/install.yml
  ansible/system_roles/postgres/tasks/os/Debian_11/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_18/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_20/install.yml
Due: prettier

Merge branch 'ansible-fix-apt-key-proxy' into 'master'
  ansible/system_roles/clickhouse/defaults/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_11/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_11/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_10/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_11/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/postgres/tasks/os/Debian_10/install.yml
  ansible/system_roles/postgres/tasks/os/Debian_11/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_18/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_20/install.yml
Due: prettier

Fix PON Metrics.
  sa/profiles/Huawei/MA5600T/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add DOM Errors metric.
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Laser_Status.json
  sa/profiles/Huawei/MA5600T/get_metrics.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-dom-errors-metrics' into 'master'
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Laser_Status.json
  sa/profiles/Huawei/MA5600T/get_metrics.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Remove DataSourceCache model
  commands/ensure-indexes.py
  main/models/datasourcecache.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6361
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Laser_Status.json
  sa/profiles/Huawei/MA5600T/get_metrics.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6359
  ansible/system_roles/clickhouse/defaults/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_10/main.yml
  ansible/system_roles/clickhouse/tasks/os/Debian_11/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_11/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_10/main.yml
  ansible/system_roles/nginx/tasks/os/Debian_11/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/postgres/tasks/os/Debian_10/install.yml
  ansible/system_roles/postgres/tasks/os/Debian_11/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_18/install.yml
  ansible/system_roles/postgres/tasks/os/Ubuntu_20/install.yml
Due: prettier

Remove Datasource service, DataSourceCache and RegexpLabel models
  commands/ensure-indexes.py
  main/models/datasourcecache.py
  main/models/regexplabel.py
  models.py
  services/datasource/__init__.py
  services/datasource/datasources/__init__.py
  services/datasource/datasources/base.py
  services/datasource/datasources/ch_administrativedomain.py
  services/datasource/datasources/ch_alarmclass.py
  services/datasource/datasources/ch_container.py
  services/datasource/datasources/ch_cpe.py
  services/datasource/datasources/ch_interfaceattributes.py
  services/datasource/datasources/ch_interfacedescription.py
  services/datasource/datasources/ch_interfaceprofile.py
  services/datasource/datasources/ch_managedobject.py
  services/datasource/datasources/ch_networksegment.py
  services/datasource/datasources/ch_objectprofile.py
  services/datasource/datasources/ch_platform.py
  services/datasource/datasources/ch_pool.py
  services/datasource/datasources/ch_profile.py
  services/datasource/datasources/ch_serviceprofile.py
  services/datasource/datasources/ch_state.py
  services/datasource/datasources/ch_subscriberprofile.py
  services/datasource/datasources/ch_vendor.py
  services/datasource/datasources/ch_version.py
  services/datasource/datasources/ch_workflow.py
  services/datasource/handler.py
  services/datasource/loader.py
  services/datasource/service.py
  services/web/apps/main/regexplabel/__init__.py
  services/web/apps/main/regexplabel/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add new platform MES3348 Eltex.MES
  sa/profiles/Eltex/MES/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove ObjectData model
  models.py
  sa/models/managedobject.py
  sa/models/objectdata.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add checkpoint param to etl extract command.
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Type annotations for ConfDB DEF
  core/confdb/syntax/defs.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix FM ReportDetailAlarm required
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

rebasing on master
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

Fix MetricType on_delete Check for SLAProfile.
  pm/models/metrictype.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-on-delete_check-sla' into 'master'
  pm/models/metrictype.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Rename _ignore_on_save field.
  core/model/base.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6366
  pm/models/metrictype.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove fixes which refer to ObjectData model
  fixes/fix_object_paths.py
  fixes/fix_segment_redundancy.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Return modified fix_segment_redundancy
  fixes/fix_segment_redundancy.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove ch_datasource service
  ansible/deploy.yml
  ansible/noc_roles/ch_datasource/meta/main.yml
  ansible/noc_roles/ch_datasource/meta/tower.yml
  ansible/noc_roles/ch_datasource/tasks/checks.yml
  ansible/noc_roles/ch_datasource/tasks/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/Debian_10/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/Debian_11/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/Debian_9/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/Ubuntu_16/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/Ubuntu_18/main.yml
  ansible/noc_roles/ch_datasource/tasks/os/Ubuntu_20/main.yml
  ansible/noc_roles/noc/service.yml
  ansible/system_roles/clickhouse/tasks/checks.yml
Due: prettier
