Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

fix deprecation warning
  ansible/noc_roles/noc/tasks/config.yml
  ansible/noc_roles/noc/templates/etc/noc_services.conf.j2
  ansible/noc_roles/noc/templates/etc/pooled.yml.j2
  ansible/noc_roles/noc/templates/etc/tower.yml.j2
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: prettier

fix deprecation warning
  ansible/noc_roles/noc/tasks/config.yml
  ansible/pre.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nginx/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/nginx/tasks/os/RedHat_7/main.yml
Due: prettier

change consul repository for CentOS
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
Due: prettier

update grafana plugins
  ansible/vars/main.yml
Due: prettier

add instruction for alerts
  docs/ru/docs/admin/howto/respond-to-alerts/handbook-alerts-noc/ ConsulServicesCountDecrease.md
Due: none

add instruction for alerts
  docs/ru/docs/admin/howto/respond-to-alerts/handbook-alerts-noc/ ConsulServicesCountDecrease.md
  docs/ru/docs/admin/howto/respond-to-alerts/respond-to-alerts.md
Due: none

update branch
  ansible/system_roles/consul/tasks/install.yml
Due: prettier

Revert "fix deprecation warning"
  ansible/noc_roles/noc/tasks/config.yml
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: prettier

update branch
  ansible/noc_roles/noc/tasks/config.yml
  ansible/pre.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/nginx/tasks/os/CentOS_7/main.yml
  ansible/system_roles/nginx/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/nginx/tasks/os/RedHat_7/main.yml
Due: prettier

change consul repository for RH
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
Due: prettier

fix deprecation warning
  ansible/noc_roles/noc/tasks/config.yml
  ansible/noc_roles/noc/templates/etc/noc_services.conf.j2
  ansible/noc_roles/noc/templates/etc/pooled.yml.j2
  ansible/noc_roles/noc/templates/etc/tower.yml.j2
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Debian_9/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

change consul repository
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/Debian_9/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
Due: prettier

fix evaluating 'noc_services' as a bare variable
  ansible/noc_roles/noc/tasks/config.yml
Due: prettier

update grafana
  ansible/vars/main.yml
Due: prettier

fix task Add Consul repository
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
Due: prettier

fix deprecation warning
  ansible/noc_roles/noc/tasks/config.yml
Due: prettier

fix task Install Consul
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
Due: prettier

update branch
  ansible/noc_roles/migrate/tasks/main.yml
  ansible/vars/Ubuntu_20.yml
  core/importer.py
  core/version.py
  docker/docker-compose.yml
  docs/en/docs/dev/reference/streams/dispose.md
  services/correlator/models/clearidreq.py
  services/correlator/models/disposereq.py
  services/correlator/service.py
  services/escalator/escalation.py
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update
  commands/dnszone.py
  services/web/apps/ip/ipam/views.py
  services/web/apps/ip/tools/views.py
  ui/web/ip/ipam/view/forms/prefix/PrefixController.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add Tools button func
  ui/web/ip/ipam/Application.js
  ui/web/ip/ipam/ApplicationController.js
  ui/web/ip/ipam/view/forms/prefix/PrefixController.js
Due: prettier

fix black and f8
  services/web/apps/ip/ipam/views.py
  services/web/apps/ip/tools/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1728 Add VLAN Filter and Prefix Filter to Labels.
  inv/models/subinterface.py
  lib/app/extdocapplication.py
  main/migrations/0063_migrate_filter_labels.py
  main/models/label.py
  main/models/prefixtable.py
  sa/models/managedobject.py
  services/web/apps/main/prefixtable/views.py
  services/web/apps/sa/managedobjectselector/views.py
  services/web/apps/vc/vcfilter/views.py
  services/web/apps/vc/vlanfilter/views.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
  ui/web/main/prefixtable/Application.js
  ui/web/main/prefixtable/Model.js
  ui/web/vc/vlanfilter/Application.js
  ui/web/vc/vlanfilter/Model.js
  vc/migrations/0030_migrate_vc_vlan_filter.py
  vc/models/vcfilter.py
  vc/models/vlanfilter.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize
