Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Add bind ASSETs instances to interface by refs.
  collections/inv.capabilities/Asset/MAC_Addresses.json
  core/etl/loader/service.py
  core/etl/models/service.py
  core/mac.py
  core/models/inputsources.py
  core/models/serviceinstanceconfig.py
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/nri_service.py
  services/scheduler/jobs/network_instance_service.py
  services/scheduler/service.py
  services/web/apps/sa/service/views.py
  tests/test_mac.py
  ui/web/inv/capability/Application.js
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstancesPanel.js
  ui/web/sa/serviceprofile/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Validate message type in onLogout method to ensure it's a string before processing.
  ui/web/main/desktop/Application.js
Due: eslint, build:web

Update onLogout method to trigger logout only for 'Autologout' message
  ui/web/main/desktop/Application.js
Due: eslint, build:web

Remove override for Ext.data.request.Ajax, method onComplete
  ui/web/js/override.js
Due: eslint, build:web

Simplify logout condition by removing unnecessary empty check for 'Autologout' message
  ui/web/main/desktop/Application.js
Due: eslint, build:web

Validate message type in onLogout method to ensure it's a string before processing.
  ui/web/js/override.js
  ui/web/main/desktop/Application.js
Due: eslint, build:web

Remove old summary sections
  core/datasources/pendinglinksds.py
Due: py-lint, mypy, py:test

Refactor
  core/datasources/pendinglinksds.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-set-iface-profile-nri-discovery' into 'master'
  sa/models/service.py
  sa/models/serviceinstance.py
  services/discovery/jobs/box/nri_service.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9060
  sa/models/service.py
  sa/models/serviceinstance.py
  services/discovery/jobs/box/nri_service.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-bind-asset-instance' into 'master'
  collections/inv.capabilities/Asset/MAC_Addresses.json
  core/etl/loader/service.py
  core/etl/models/service.py
  core/mac.py
  core/models/inputsources.py
  core/models/serviceinstanceconfig.py
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/nri_service.py
  services/scheduler/jobs/network_instance_service.py
  services/scheduler/service.py
  services/web/apps/sa/service/views.py
  tests/test_mac.py
  ui/web/inv/capability/Application.js
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstancesPanel.js
  ui/web/sa/serviceprofile/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

release-25.1:Backport!9216
  collections/inv.capabilities/Asset/MAC_Addresses.json
  core/etl/loader/service.py
  core/etl/models/service.py
  core/mac.py
  core/models/inputsources.py
  core/models/serviceinstanceconfig.py
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/nri_service.py
  services/scheduler/jobs/network_instance_service.py
  services/scheduler/service.py
  services/web/apps/sa/service/views.py
  tests/test_mac.py
  ui/web/inv/capability/Application.js
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstancesPanel.js
  ui/web/sa/serviceprofile/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

improve error message
  ui/web/sa/managedobject/SensorsPanel.js
Due: eslint, build:web

Fix watchers key migration on ActiveAlarm.
  fm/migrations/0061_migrate_escalation_tt_to_log.py
  fm/migrations/0062_migrate_notification_group_watch.py
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-watchers-key-migration' into 'master'
  fm/migrations/0061_migrate_escalation_tt_to_log.py
  fm/migrations/0062_migrate_notification_group_watch.py
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9259
  fm/migrations/0061_migrate_escalation_tt_to_log.py
  fm/migrations/0062_migrate_notification_group_watch.py
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Remove unattended upgrades on yc only
  ansible/molecule/yc/prepare.yml
Due: prettier

fix lint
  ansible/molecule/yc/prepare.yml
Due: prettier

Rewrite condition
  ansible/molecule/yc/prepare.yml
Due: prettier

In some Russia regions grafana returns 403 error when install plugins
  ansible/system_roles/grafana/tasks/plugins.yml
Due: prettier

Set CPE caps source to discovery.
  inv/migrations/0042_convert_cpe_capabilities.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/caps.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
Due: py-lint, mypy, py:test

Add database input source.
  core/models/inputsources.py
  core/models/valuetype.py
Due: py-lint, mypy, py:test

Fix ETL Models caps.
  core/etl/models/typing.py
Due: py-lint, mypy, py:test

Add CapsConfig.
  core/caps/decorator.py
  core/caps/types.py
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/serviceprofile.py
  services/web/apps/sa/service/views.py
Due: py-lint, mypy, py:test

Fix migration.
  core/caps/decorator.py
  inv/migrations/0042_convert_cpe_capabilities.py
  sa/models/serviceprofile.py
  services/web/apps/sa/service/views.py
  services/web/base/decorators/caps.py
Due: py-lint, mypy, py:test

Fix flake.
  core/caps/decorator.py
  core/caps/types.py
  core/models/inputsources.py
  inv/models/capability.py
Due: py-lint, mypy, py:test

Set CPE caps source to discovery.
  core/caps/decorator.py
  core/caps/types.py
  core/etl/models/typing.py
  core/models/inputsources.py
  core/models/valuetype.py
  inv/migrations/0042_convert_cpe_capabilities.py
  inv/models/capability.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/caps.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  services/web/apps/sa/service/views.py
  services/web/base/decorators/caps.py
Due: py-lint, mypy, py:test

Merge branch 'fix-cpe-caps-source' into 'master'
  core/caps/decorator.py
  core/caps/types.py
  core/etl/models/typing.py
  core/models/inputsources.py
  core/models/valuetype.py
  inv/migrations/0042_convert_cpe_capabilities.py
  inv/models/capability.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/caps.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  services/web/apps/sa/service/views.py
  services/web/base/decorators/caps.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9262
  core/caps/decorator.py
  core/caps/types.py
  core/etl/models/typing.py
  core/models/inputsources.py
  core/models/valuetype.py
  inv/migrations/0042_convert_cpe_capabilities.py
  inv/models/capability.py
  sa/models/serviceprofile.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/caps.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  services/web/apps/sa/service/views.py
  services/web/base/decorators/caps.py
Due: py-lint, mypy, py:test

Fix grafana plugins installing in some networks
  ansible/system_roles/grafana/tasks/plugins.yml
Due: prettier

Add cleaning description
  core/datasources/pendinglinksds.py
Due: py-lint, mypy, py:test

Implement clipboard functionality in DynamicModalEditing
  ui/web/core/plugins/DynamicModalEditing.js
  ui/web/sa/managedobject/form/View.js
  ui/web/sa/service/Application.js
Due: eslint, build:web

Fix
  ansible/noc_roles/pre/tasks/os/Ubuntu_22/main.yml
Due: prettier

Fix
  pyproject.toml
Due: py-lint

Revert
  ansible/noc_roles/pre/tasks/os/Ubuntu_22/main.yml
Due: prettier

Wait for lock
  ansible/noc_roles/pre/tasks/os/Ubuntu_22/main.yml
Due: prettier

Bump requirements
  .requirements/node.txt
  pyproject.toml
Due: py-lint

debug
  ansible/.ansible-ci.yml
Due: prettier
