Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Patch release for pipeline
  rust/dnssync/Cargo.toml
Due: none

Add uploading binary
  .gitlab-ci.yml
Due: prettier

Incremental ETL
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/models/managedobject.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix error
  services/web/apps/ip/tools/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  core/etl/extractor/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix filter server on dnszone DataStream.
  services/datastream/streams/dnszone.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix exception
  services/web/apps/ip/tools/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

change
  services/web/apps/ip/tools/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix
  services/web/apps/ip/tools/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add stage for upload binary dnssync
  .gitlab-ci.yml
  rust/dnssync/Cargo.toml
Due: prettier

iter_data(checkpoint=...)
  core/etl/extractor/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

update
  services/web/apps/ip/tools/views.py
  ui/web/ip/ipam/view/forms/tools/ToolsController.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

keyword-only parameters for extractors
  core/etl/extractor/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/loader/base.py
  core/etl/remotesystem/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove always master docs build
  .gitlab-ci.yml
Due: prettier

Update docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
  docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
Due: none

noc/noc#1780 Incremental ETL
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/loader/base.py
  core/etl/models/managedobject.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Windows compatible which command.
  core/version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add proper if for upload
  .gitlab-ci.yml
Due: prettier

Fix condition
  .gitlab-ci.yml
Due: prettier

Fix condition 2
  .gitlab-ci.yml
Due: prettier

Fix condition 3
  .gitlab-ci.yml
Due: prettier

Fix condition 4
  .gitlab-ci.yml
Due: prettier

Fix condition 5
  .gitlab-ci.yml
Due: prettier

fix command
  commands/dnszone.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

update form
  ui/web/ip/ipam/view/forms/tools/ToolsForm.js
Due: prettier

remove list
  services/web/apps/ip/tools/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Not setup signal.SIGHUP hanler for NT system.
  core/service/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add test.
  core/datastream/base.py
  services/datastream/streams/dnszone.py
  tests/datastreams/test_clean_meta.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  services/datastream/streams/dnszone.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add telephony metrics
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/Cisco/IOS/snmp_metrics/telephony_isdn_channels.json
  templates/ddash/graph_telephony_activeds0s.j2
  templates/ddash/graph_telephony_isdnchannelsinuse.j2
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update monitoring-noc, add telegraf section
  .gitlab-ci.yml
  docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
