Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

OTU: Add port interaction
  core/techdomain/mapper/base.py
  core/techdomain/mapper/otn_otu.py
Due: py-lint, mypy, py:test

Fine-grained alarms
  core/feature.py
  docs/feature-gates-reference/index.md
  fm/models/activealarm.py
  fm/models/archivedalarm.py
  fm/models/pathitem.py
  models.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

enhance event delegation for channel selection
  ui/web/inv/inv/plugins/FileSchemeController.js
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
Due: eslint, build:web

resolve slots
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2690' into 'master'
  fm/handlers/alarm/stub.py
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  services/web/apps/fm/alarm/views.py
  tests/fm/test_alarm_watchers.py
  tests/fm/utils.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/alarmrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9275
  fm/handlers/alarm/stub.py
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  services/web/apps/fm/alarm/views.py
  tests/fm/test_alarm_watchers.py
  tests/fm/utils.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/alarmrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add Alarm Automatization.
  core/tt/types.py
  fm/models/alarmactionjob.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Step 2
  services/escalator/job.py
Due: py-lint, mypy, py:test

Fix errors when run actions.
  commands/escalation.py
  core/tt/types.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Job methods.
  services/escalator/job.py
Due: py-lint, mypy, py:test

Refactor job.
  core/tt/types.py
  services/escalator/actionlog.py
  services/escalator/job.py
  services/escalator/typing.py
Due: py-lint, mypy, py:test

Add run() method implementation.
  services/escalator/job.py
Due: py-lint, mypy, py:test

Add run() method implementation.
  core/tt/types.py
  fm/models/alarmactionjob.py
Due: py-lint, mypy, py:test

Add EscalationGroupPolicy type.
  core/tt/types.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Add AlarmAction module.
  core/tt/types.py
  fm/models/ttsystem.py
  services/escalator/actionlog.py
  services/escalator/alarmaction.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Fix typo.
  services/escalator/alarmaction.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Move render escalation contex on job.
  services/escalator/actionlog.py
  services/escalator/alarmaction.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/alarmrule.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/escalationprofile/LookupField.js
Due: py-lint, mypy, eslint, py:test, build:web

Add escalation runner.
  services/escalator/job.py
  services/escalator/runner.py
Due: py-lint, mypy, py:test

Add Escalation Profile backend.
  fm/models/alarmrule.py
  fm/models/escalationprofile.py
  ui/web/fm/escalationprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Rename typing.
  fm/models/escalationprofile.py
  services/escalator/actionlog.py
  services/escalator/job.py
  services/escalator/types.py
Due: py-lint, mypy, py:test

Fix typo.
  commands/escalation.py
  fm/models/activealarm.py
  fm/models/escalationprofile.py
  services/escalator/alarmaction.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Add EscalationJob Document.
  commands/escalation.py
  fm/models/escalationjob.py
  fm/models/escalationprofile.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Fix from_dict and save_state.
  services/escalator/actionlog.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/alarmrule.py
Due: py-lint, mypy, py:test

Add alarm state.
  core/fm/enum.py
  fm/models/alarmjob.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Due: py-lint, mypy, py:test

Add event extractor to vcenter.
  core/etl/extractor/vcenter.py
  core/etl/models/managedobject.py
  core/ip.py
Due: py-lint, mypy, py:test

Fix
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Fix json export for DispositionRule
  ui/web/fm/dispositionrule/Application.js
Due: eslint, build:web

Channel balloons
  core/inv/info.py
  core/techdomain/mapper/base.py
  core/techdomain/mapper/otn_odu.py
  core/techdomain/mapper/otn_otu.py
  inv/models/channel.py
  inv/models/endpoint.py
Due: py-lint, mypy, py:test

Go Scope
  core/inv/info.py
Due: py-lint, mypy, py:test

Fix OMS channel map
  core/techdomain/mapper/base.py
  core/techdomain/mapper/otn_oms.py
Due: py-lint, mypy, py:test

Make ODU map ports clickable
  core/techdomain/mapper/otn_odu.py
Due: py-lint, mypy, py:test

Remove tooltip on button action in Mixins.js
  ui/web/inv/inv/plugins/Mixins.js
Due: eslint, build:web

Enhance button action handling in Mixins.js to support channel
  ui/web/inv/inv/plugins/Mixins.js
Due: eslint, build:web

Add override for showGrid function in channel action handling
  ui/web/inv/inv/plugins/Mixins.js
Due: eslint, build:web

Alarm plugin stub
  services/web/apps/inv/inv/plugins/alarm.py
  services/web/apps/inv/inv/views.py
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

inv channel map as embedded svg, zoom control integration to channel application
  ui/web/inv/channel/Application.js
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

alarm plugin
  services/web/apps/inv/inv/plugins/alarm.py
  ui/web/inv/inv/plugins/alarm/AlarmModel.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Add click event listener for scheme container and implement showBallon
  ui/web/inv/channel/Application.js
Due: eslint, build:web
