Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Fix set service id when collected interface and sla metric.
  inv/models/interface.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sla/models/slaprobe.py
Due: py-lint, mypy, py:test

Remove unused import.
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

form for remote mapping added
  ui/web/core/RemoteMappingForm.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: eslint, build:web

remote mappings form remove all button added
  ui/web/core/RemoteMappingForm.js
  ui/web/sa/managedobject/form/View.js
Due: eslint, build:web

Fix update_mappings.
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

move map button and reset button added
  ui/web/core/RemoteMappingForm.js
  ui/web/sa/managedobject/form/View.js
Due: eslint, build:web

delete remove all mappings
  ui/web/core/RemoteMappingForm.js
Due: eslint, build:web

Integration field set removed
  ui/web/sa/managedobject/form/View.js
Due: eslint, build:web

reset and close button added
  ui/web/sa/service/AddressesLinkForm.js
  ui/web/sa/service/InstancesPanel.js
  ui/web/sa/service/ManagedObjectLinkForm.js
  ui/web/sa/service/ResourceLinkForm.js
Due: eslint, build:web

Fix backend.
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

#2571 Add integration mappings to ManagedObject UI.
  services/web/apps/sa/managedobject/views.py
  ui/web/core/RemoteMappingForm.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: py-lint, mypy, eslint, py:test, build:web

report control field width fixed
  ui/web/core/ReportControl.js
  ui/web/inv/reportmaxmetrics/Application.js
  ui/web/inv/reportmetrics/Application.js
  ui/web/inv/reportmovedmac/Application.js
Due: eslint, build:web

mo form move fields
  ui/web/sa/managedobject/form/View.js
Due: eslint, build:web

Create NoC
  NoC
Due: none

Merge branch 'noc-huawei-global-ve' into 'master'
  sa/profiles/Huawei/VRP/profile.py
Due: py-lint, mypy, py:test

release-23.1:Backport!8587
  sa/profiles/Huawei/VRP/profile.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8587
  sa/profiles/Huawei/VRP/profile.py
Due: py-lint, mypy, py:test

Bump minor requirements.
  .requirements/node.txt
Due: py-lint

Additional commands to './noc snmp'.
  commands/snmp.py
Due: py-lint, mypy, py:test

Revert motor.
  .requirements/node.txt
Due: py-lint

Bump minor requirements.
  .requirements/node.txt
  commands/snmp.py
Due: py-lint, mypy, py:test

Bump services requirements.
  .requirements/node.txt
Due: py-lint

Fix
  commands/snmp.py
Due: py-lint, mypy, py:test

Fix collect subinterface metrics.
  inv/models/interface.py
Due: py-lint, mypy, py:test

Bump FastAPI requirements.
  .requirements/node.txt
  commands/snmp.py
Due: py-lint, mypy, py:test

Fix header condition on Message Router.
  core/router/route.py
Due: py-lint, mypy, py:test

Bump pymongo.
  .requirements/node.txt
Due: py-lint

fix.
  commands/snmp.py
Due: py-lint, mypy, py:test

fix pymongo version.
  .requirements/node.txt
Due: py-lint

Fix MangedObject to ServiceInstance bind by remote id.
  core/etl/loader/service.py
  core/etl/models/service.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/servicesummary.py
Due: py-lint, mypy, py:test

#2605 NAG.SNR.get_metrics. Fix 'Environment | Temperature' metric metadata.
  sa/profiles/NAG/SNR/get_metrics.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2605' into 'master'
  sa/profiles/NAG/SNR/get_metrics.py
Due: py-lint, mypy, py:test

Add tt_num to Prefix Datastream.
  docs/datastream-api-reference/prefix.md
  services/datastream/streams/prefix.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Add to model.
  models.py
  ui/web/fm/eventcategory/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Add EventCategory bi dictionary.
  core/bi/dictionaries/eventcategory.py
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
