Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Revert Service changes.
  sa/models/service.py
Due: py-lint, mypy, py:test

Fix typo in ActiveAlarm.get_summary.
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Fix update managed_object summary.
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Fix profile diagnostic error logging.
  core/profile/diagnostic.py
Due: py-lint, mypy, py:test

Cleanup script.
  core/profile/diagnostic.py
Due: py-lint, mypy, py:test

Fix typo.
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

remove visibilityjs package
  requirements/web.json
  services/web/apps/main/desktop/templates/desktop.html
  ui/web/fm/alarm/ApplicationModel.js
  ui/web/fm/alarm/view/grids/Container.js
  ui/web/fm/alarm/view/grids/SidebarController.js
Due: eslint, prettier, py:test, build:web

Juniper.JUNOS Fix get_inventory for some MX routers, fix get_sla_probes, fix long terminal width problem
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

add clear_json func and tests
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  sa/profiles/Juniper/JUNOS/profile.py
  tests/sa/Juniper/JUNOS/__init__.py
  tests/sa/Juniper/JUNOS/test_profile.py
  tests/sa/Juniper/__init__.py
  tests/sa/__init__.py
Due: py-lint, mypy, py:test

lint
  sa/profiles/Juniper/JUNOS/get_inventory.py
Due: py-lint, mypy, py:test

linter
  tests/sa/Juniper/JUNOS/test_profile.py
Due: py-lint, mypy, py:test

linter
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
Due: py-lint, mypy, py:test

Remove typo.
  inv/models/interface.py
Due: py-lint, mypy, py:test

check focus and blur events
  ui/web/fm/alarm/view/grids/SidebarController.js
Due: eslint, build:web

date in file
  sa/profiles/Juniper/JUNOS/get_sla_probes.py
  tests/sa/Juniper/JUNOS/test_profile.py
Due: py-lint, mypy, py:test

Add resource map to ServiceInstance
  fm/models/activealarm.py
  inv/models/interface.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  sa/models/servicesummary.py
  services/discovery/jobs/box/nri_service.py
  services/web/apps/sa/serviceprofile/views.py
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add use closed_template in Escalation job.
  fm/models/escalation.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

NOC move login
  .docker/files/nginx.conf
  ansible/system_roles/nginx/templates/noc.conf.j2
  services/login/paths/auth.py
  services/web/apps/main/desktop/templates/desktop.html
  services/web/apps/main/desktop/views.py
  services/web/base/site.py
  ui/web/core/QuickRepoPreview.js
  ui/web/js/colors.js
  ui/web/js/glyph.js
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/ChangePassword.js
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/desktop/LoginView.js
  ui/web/main/desktop/app.js
  urls.py
Due: py-lint, mypy, eslint, py:test, build:web

merge must_change and login
  services/login/auth.py
  services/login/paths/login.py
  services/login/paths/must_change.py
Due: py-lint, mypy, py:test

must_change endpoint
  services/login/auth.py
  services/login/paths/must_change.py
Due: py-lint, mypy, py:test

Password policy
  aaa/migrations/0002_default_user.py
  aaa/migrations/0009_user_password_policy.py
  aaa/models/user.py
  commands/user.py
  config.py
  core/password/__init__.py
  core/password/check.py
  core/password/hasher.py
  services/login/backends/local.py
  services/web/apps/aaa/user/views.py
  tests/core/test_password.py
Due: py-lint, mypy, py:test

Fetch backend error message
  services/login/paths/change_credentials.py
  ui/web/main/desktop/ChangePassword.js
Due: py-lint, mypy, eslint, py:test, build:web

username from login form in change_credentials
  ui/web/main/desktop/ChangePassword.js
  ui/web/main/desktop/LoginView.js
Due: eslint, build:web

username from login form
  ui/web/main/desktop/LoginView.js
Due: eslint, build:web

Add calculate metrics to collection.
  collections/pm.metrictypes/Interface/Bandwidth/In.json
  core/collection/base.py
Due: py-lint, mypy, prettier, py:test

Generic.get_interfaces. Add IEEE8021-Q-BRIDGE-MIB for collect interface - vlan map.
  cmibs/ieee8021_bridge_mib.py
  cmibs/ieee8021_q_bridge_mib.py
  collections/inv.capabilities/SNMP/MIB/IEEE8021-Q-BRIDGE-MIB.json
  sa/profiles/Generic/get_capabilities.py
  sa/profiles/Generic/get_interfaces.py
Due: py-lint, mypy, prettier, py:test

Decrease logging level for StormProtection.
  core/service/stormprotection.py
Due: py-lint, mypy, py:test

Fix black.
  collections/inv.capabilities/SNMP/MIB/Q-BRIDGE-MIB.json
  sa/profiles/Generic/get_capabilities.py
Due: py-lint, mypy, prettier, py:test

ChangeCredentialsError
  aaa/models/user.py
  core/error.py
  services/login/auth.py
  services/login/models/status.py
  services/login/paths/change_credentials.py
Due: py-lint, mypy, py:test

inv.inv: OPM plugin
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-2x9-S-F-OCM-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM-4-C-H4.json
  services/web/apps/inv/inv/plugins/opm.py
  services/web/apps/inv/inv/plugins/pconf.py
Due: py-lint, mypy, prettier, py:test

Rotek.RTBSv1 fix SSID recognition for some devices
  sa/profiles/Rotek/RTBSv1/get_interface_status_ex.py
  sa/profiles/Rotek/RTBSv1/get_interfaces.py
  sa/profiles/Rotek/RTBSv1/profile.py
Due: py-lint, mypy, py:test

Add BGP Peer Discovery.
  sa/interfaces/igetbgppeer.py
  sa/interfaces/igetbgppeerstatus.py
Due: py-lint, mypy, py:test

Add Managed Object Profile Settings.
  sa/interfaces/base.py
  sa/interfaces/igetbgppeer.py
  sa/migrations/0261_managedobjectprofile_add_discovery_bgpeer.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  tests/interface/test_base.py
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix black.
  sa/interfaces/igetbgppeerstatus.py
  tests/interface/test_base.py
Due: py-lint, mypy, py:test

Add ASN Profile strict settings.
  peer/migrations/0047_asn_optional_rir.py
  peer/models/asn.py
  peer/models/asprofile.py
  ui/web/peer/as/Application.js
  ui/web/peer/asprofile/Application.js
  ui/web/peer/asprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix migration.
  peer/migrations/0047_asn_optional_rir.py
Due: py-lint, mypy, py:test

Add BGPPeerCheck.
  peer/models/peer.py
  peer/models/peerprofile.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/job.py
  ui/web/peer/peerprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Clean unused import.
  sa/migrations/0261_managedobjectprofile_add_discovery_bgpeer.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
