Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Password policy
  aaa/migrations/0002_default_user.py
  aaa/migrations/0009_user_password_policy.py
  aaa/models/user.py
  commands/user.py
  config.py
  core/password/__init__.py
  core/password/check.py
  core/password/hasher.py
  services/login/backends/local.py
  services/web/apps/aaa/user/views.py
  tests/core/test_password.py
Due: py-lint, mypy, py:test

reset button, mask, NOC.error added
  ui/web/main/desktop/LoginView.js
Due: eslint, build:web

must_change endpoint
  services/login/auth.py
  services/login/paths/must_change.py
Due: py-lint, mypy, py:test

Add resource map to ServiceInstance
  inv/models/interface.py
  sa/models/service.py
  sa/models/serviceinstance.py
  sa/models/serviceprofile.py
  sa/models/servicesummary.py
  services/discovery/jobs/box/nri_service.py
  services/web/apps/sa/serviceprofile/views.py
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add allow_resources to Service Profile UI.
  sa/models/serviceprofile.py
  ui/web/sa/serviceprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix typo in ActiveAlarm.get_summary.
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Revert Service changes.
  sa/models/service.py
Due: py-lint, mypy, py:test

Cleanup Resources.
  services/discovery/jobs/box/nri_service.py
Due: py-lint, mypy, py:test

Cleanup unused imports.
  sa/models/serviceprofile.py
Due: py-lint, mypy, py:test

fix
  core/fm/event.py
  fm/handlers/event/mac.py
Due: py-lint, mypy, py:test

fix
  fm/handlers/event/mac.py
Due: py-lint, mypy, py:test

Collect MACs from MAC Move/MAC Learned events
  fm/handlers/event/mac.py
Due: py-lint, mypy, py:test

Fix clean resources.
  services/discovery/jobs/box/nri_service.py
Due: py-lint, mypy, py:test

Fix calculate cfgtarget stream when Managed Object Created and before set default state.
  services/datastream/streams/cfgtarget.py
Due: py-lint, mypy, py:test

Fix update managed_object summary.
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Fix typo.
  services/datastream/streams/cfgtarget.py
Due: py-lint, mypy, py:test

Generic.get_capabilities. Fix get_snmp_table_idx typo.
  sa/profiles/Generic/get_capabilities.py
Due: py-lint, mypy, py:test

Add test.
  tests/confdb/profiles/MikroTik/RouterOS/bgp_peer1.yml
Due: prettier

Add affected services to escalation context.
  core/tt/base.py
  core/tt/types.py
  fm/models/escalation.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test

Fix typo.
  core/tt/types.py
Due: py-lint, mypy, py:test

Add FIRST_AVAIL diagnostic and 'avail' workflow event.
  core/wf/diagnostic.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

form fields vertical align
  ui/web/main/desktop/LoginView.js
Due: eslint, build:web

Add rewrites
  .docker/files/nginx.conf
  ansible/system_roles/nginx/templates/noc.conf.j2
Due: none

merge must_change and login
  services/login/auth.py
  services/login/paths/login.py
  services/login/paths/must_change.py
Due: py-lint, mypy, py:test

Fix cards/object.py when clickhouse return \\N
  services/card/cards/object.py
Due: py-lint, mypy, py:test

change password form added
  ui/web/main/desktop/ChangePassword.js
  ui/web/main/desktop/LoginView.js
Due: eslint, build:web

Fix get_interface_type detect.
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, py:test

Cast query value.
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Fix delete probes on Ping Service.
  services/ping/service.py
Due: py-lint, mypy, py:test

#2578 Fix delete probes on Ping Service.
  services/ping/service.py
Due: py-lint, mypy, py:test

Mikrotik.RouterOS. Add BGP Peer parsing to CMDB normalizer.
  core/confdb/tokenizer/routeros.py
  sa/profiles/MikroTik/RouterOS/confdb/normalizer.py
  tests/confdb/profiles/MikroTik/RouterOS/bgp_peer1.yml
Due: py-lint, mypy, prettier, py:test

Add use closed_template in Escalation job.
  fm/models/escalation.py
  services/escalator/jobs/escalation.py
Due: py-lint, mypy, py:test
