Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Merge branch 'fix-avs-catch-bgp-peer-error' into 'master'
  services/discovery/jobs/box/bgppeer.py
Due: py-lint, mypy, py:test

kafkasender: Fix compression_type = "none" handing
  services/kafkasender/service.py
Due: py-lint, mypy, py:test

Add Service Status Change MX message.
  core/mx.py
  docs/mx-messages-reference/SUMMARY.md
  docs/mx-messages-reference/service_status_change.md
  sa/models/service.py
  sa/models/serviceprofile.py
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

release-25.1:Backport!9010
  services/discovery/jobs/box/bgppeer.py
Due: py-lint, mypy, py:test

Bump grpcio to 1.59.5
  .requirements/node.txt
Due: py-lint

release-25.1:Backport!9015
  .requirements/node.txt
Due: py-lint

Fix error when call active_members NotificationGroup.
  main/models/notificationgroup.py
Due: py-lint, mypy, py:test

Merge branch 'fix-notification-group-check-typo' into 'master'
  main/models/notificationgroup.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9017
  main/models/notificationgroup.py
Due: py-lint, mypy, py:test

Update NAG.SNR profile
  collections/sa.profilecheckrules/NAG/SNR/FoxGate-S6424-S2C2_sysObjectID.json
  sa/profiles/NAG/SNR/get_capabilities.py
  sa/profiles/NAG/SNR/get_interfaces.py
  sa/profiles/NAG/SNR/get_lldp_neighbors.py
  sa/profiles/NAG/SNR/get_version.py
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, prettier, py:test

Add checking noc-custom and refactor
  services/web/apps/pm/ddash/dashboards/base.py
Due: py-lint, mypy, py:test

DLink.DxS Fix command `show stp` on old devices
  sa/profiles/DLink/DxS/get_capabilities.py
  sa/profiles/DLink/DxS/profile.py
Due: py-lint, mypy, py:test

Add kafka compression
  .requirements/node.txt
  config.py
  core/msgstream/redpanda.py
  services/kafkasender/service.py
Due: py-lint, mypy, py:test

lint
  core/msgstream/redpanda.py
Due: py-lint, mypy, py:test

Fix bug in discovery-id-cache-poison report
  fixes/fix_discoveryid_object.py
  inv/models/discoveryid.py
Due: py-lint, mypy, py:test

Fix protocol changed on CLI Diagnostic.
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

#2641 Fix protocol changed on CLI Diagnostic.
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2641' into 'master'
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

Fix bi models.
  bi/models/events.py
Due: py-lint, mypy, py:test

Add to model.
  models.py
  ui/web/fm/eventcategory/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Add category to EventClassification Rule.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Add EventCategory bi dictionary.
  core/bi/dictionaries/eventcategory.py
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Add EventCategory.
  bi/models/events.py
  core/etl/loader/fmevent.py
  core/etl/models/fmevent.py
  core/fm/enum.py
  core/fm/event.py
  fm/models/eventcategory.py
  fm/models/eventclassificationrule.py
  services/classifier/rule.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Add web backend.
  fm/models/eventcategory.py
  services/web/apps/fm/eventcategory/__init__.py
  services/web/apps/fm/eventcategory/views.py
  ui/web/fm/eventcategory/Application.js
  ui/web/fm/eventcategory/LookupField.js
  ui/web/fm/eventcategory/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Move categories to list.
  core/etl/loader/fmevent.py
  core/etl/models/fmevent.py
  core/fm/event.py
  fm/models/eventcategory.py
  services/classifier/rule.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Fix black.
  core/etl/loader/fmevent.py
  fm/models/eventcategory.py
  fm/models/eventclassificationrule.py
Due: py-lint, mypy, py:test

Remove unused import.
  fm/models/eventcategory.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Revert fmevent sharding.
  core/etl/loader/fmevent.py
Due: py-lint, mypy, py:test

Convert categories to bi_id.
  fm/models/eventclassificationrule.py
  services/classifier/rule.py
Due: py-lint, mypy, py:test

Fix model collections.
  models.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/eventcategory.py
  services/classifier/rule.py
Due: py-lint, mypy, py:test

Remove unused imports.
  services/classifier/rule.py
Due: py-lint, mypy, py:test

Fix UI.
  ui/web/fm/classificationrule/Model.js
Due: eslint, build:web

Remove unused imports.
  core/etl/loader/fmevent.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Fix on_delete_check.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Add categories to Datastream.
  fm/models/eventclassificationrule.py
  services/classifier/rule.py
  services/datastream/models/cfgeventrules.py
Due: py-lint, mypy, py:test

Fix.
  ui/web/fm/classificationrule/Application.js
Due: eslint, build:web

Add mapping setting on EventCategory.
  core/fm/enum.py
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Remove unused import.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test
