Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Replace deprecated `imp.new_module()` function
  core/importer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'update/gate_metrics_name' into 'master'
  sa/profiles/STerra/Gate/snmp_metrics/cpu_load_5min.json
  sa/profiles/SecurityCode/Kontinent/snmp_metrics/cpu_load_5min.json
Due: prettier

Fix graph_interface_load_lag.j2 view sum iface load
  templates/ddash/graph_interface_load_lag.j2
Due: none

Merge branch 'fix/graf_iface_lag' into 'master'
  templates/ddash/graph_interface_load_lag.j2
Due: none

inv.objectmodels: Nateks | NetXpert | NetXpert NX-3424 V2
  collections/inv.objectmodels/Nateks/NetXpert/NetXpert_NX-3424_V2.json
Due: prettier

inv.objectmodels: Cisco | C2960 | WS-C2960RX-24TS-L
  collections/inv.objectmodels/Cisco/C2960/WS-C2960RX-24TS-L.json
Due: prettier

inv.objectmodels: APC | SmartUPS | 2200
  collections/inv.objectmodels/APC/SmartUPS/2200.json
Due: prettier

inv.objectmodels: Cisco | C2960 | WS-C2960XR-48LPS-I
  collections/inv.objectmodels/Cisco/C2960/WS-C2960XR-48LPS-I.json
Due: prettier

Update uplinks if MergeDownlink status changed.
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.connectionrules: Cisco | C3850
  collections/inv.objectmodels/Cisco/C3850/STACK-T1-50CM.json
Due: prettier

inv.connectionrules: Cisco | C3850
  collections/inv.objectmodels/Cisco/C3850/WS-C3850-24XS-S.json
Due: prettier

Remove autogenerated words
  collections/inv.objectmodels/Cisco/C2960/WS-C2960-48PST-S.json
  collections/inv.objectmodels/Cisco/C3850/C3850-NM-2-40G.json
  collections/inv.objectmodels/Cisco/C3850/WS-C3850-24XS-S.json
  collections/inv.objectmodels/Cisco/ISR/Module/VIC3-4FXS_DID.json
  collections/inv.objectmodels/Cisco/Transceiver/1G/TRPUG1CLXECISE2G.json
  collections/inv.objectmodels/MikroTik/RouterBoard/RB2011UiAS-2HnD.json
Due: prettier

Move Tornado-specific parts into TornadoService
  core/service/base.py
  core/service/tornado.py
  core/service/ui.py
  services/activator/service.py
  services/chwriter/service.py
  services/classifier/service.py
  services/correlator/service.py
  services/datasource/service.py
  services/datastream/service.py
  services/discovery/service.py
  services/escalator/service.py
  services/icqsender/service.py
  services/mailsender/service.py
  services/mib/service.py
  services/mrt/service.py
  services/nbi/service.py
  services/ping/service.py
  services/sae/service.py
  services/scheduler/service.py
  services/selfmon/service.py
  services/syslogcollector/service.py
  services/tgsender/service.py
  services/trapcollector/service.py
  services/web/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-update-downlink' into 'master'
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'add/eltex24xx_mib' into 'master'
  collections/fm.mibs/ARICENT-ISS-MIB.json.gz
Due: none

Merge branch 'fix-avs-reportobjectdetail-segment' into 'master'
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

confdb: Profile normalizer tests
  core/profile/loader.py
  sa/profiles/Juniper/JUNOS/confdb/normalizer.py
  tests/confdb/profiles/Juniper/JUNOS/dns1.yml
  tests/confdb/profiles/MikroTik/RouterOS/hostname1.yml
  tests/confdb/profiles/MikroTik/RouterOS/timezone1.yml
  tests/confdb/profiles/README.md
  tests/confdb/test_profiles.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

ConfDB: Allow normalizer inheritance
  core/confdb/normalizer/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-confdb-norm-inheritance' into 'master'
  core/confdb/normalizer/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

pynsq 0.9.0
  requirements.txt
Due: none

Fix Fav Filter
  lib/app/extapplication.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix/fav_filter' into 'master'
  lib/app/extapplication.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-2' into 'master'
  inv/models/platform.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add vlan_ids to interface discovery ConfDB source.
  services/discovery/jobs/box/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-condb-iface-vlanids' into 'master'
  services/discovery/jobs/box/interface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1328' into 'master'
  core/confdb/syntax/virtualrouter/interfaces/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Generic.get_mpls_vpn script
  sa/profiles/Generic/get_mpls_vpn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'gereric_mpls' into 'master'
  sa/profiles/Generic/get_mpls_vpn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add check if delete AD Add Indexes ad for maintenance
  fixes/fix_maintenance.py
  maintenance/models/maintenance.py
  sa/models/administrativedomain.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add ifdescr to ReporDiscoveryResult.
  lib/app/reportdatasources/report_discoveryresult.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-add-ifdesc-descoveryresult' into 'master'
  lib/app/reportdatasources/report_discoveryresult.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

SNMP: Better oid wrap detection in GETNEXT
  core/ioloop/snmp.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-getnext-oid-wrap' into 'master'
  core/ioloop/snmp.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Huawei.MA5300.get_interfaces script
  sa/profiles/Huawei/MA5300/get_interfaces.py
  sa/profiles/Huawei/MA5300/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'huawei_ma5300_interfaces' into 'master'
  sa/profiles/Huawei/MA5300/get_interfaces.py
  sa/profiles/Huawei/MA5300/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Allow to use model id in DocumentReferenceField
  core/model/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.VRP. ConfDB normalizer. Add parse vlan_ids.
  sa/profiles/Huawei/VRP/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

features.use_uvloop config option
  config.py
  core/ioloop/timers.py
  core/ioloop/util.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_spanning_tree. Convert designated_port_id to hex if getting int.
  sa/profiles/Generic/get_spanning_tree.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-generic-snmp-stp' into 'master'
  sa/profiles/Generic/get_spanning_tree.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize
