Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

noc/noc#1351 Add capabilities to ManagedObject ETL extractor.
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1851 Convert MessageRoute Settings to new format.
  core/datastream/base.py
  core/mx.py
  main/migrations/0065_message_route_settings.py
  main/models/handler.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  main/models/template.py
  services/mx/router/action.py
  services/mx/router/route.py
  services/mx/router/router.py
  services/mx/router/transmute.py
  services/mx/service.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1837 Add old and new field value to change_fields structure.
  core/change/change.py
  core/change/decorator.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1838 Add event to mx message.
  config.py
  core/mx.py
  docs/en/docs/user/reference/mx/event.md
  docs/en/mkdocs.yml
  docs/ru/docs/user/reference/mx/event.md
  docs/ru/mkdocs.yml
  fm/models/mib.py
  services/classifier/service.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1837' into 'master'
  core/change/change.py
  core/change/decorator.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1445' into 'master'
  core/datastream/base.py
  core/mx.py
  services/datastream/streams/alarm.py
  services/datastream/streams/managedobject.py
  services/discovery/jobs/periodic/uptime.py
  services/mx/router/route.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove UI.
  ui/web/core/filter/Filter.js
  ui/web/inv/interfaceclassificationrule/Application.js
  ui/web/inv/interfaceclassificationrule/LookupField.js
  ui/web/inv/interfaceclassificationrule/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobjectselector/Application.js
  ui/web/sa/managedobjectselector/AttributesModel.js
  ui/web/sa/managedobjectselector/LookupField.js
  ui/web/sa/managedobjectselector/M2MField.js
  ui/web/sa/managedobjectselector/Model.js
  ui/web/sa/managedobjectselector/ObjectsModel.js
  ui/web/sa/managedobjectselector/ObjectsPanel.js
Due: prettier

release-22.1:Backport!6390
  core/change/change.py
  core/change/decorator.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6394
  core/datastream/base.py
  core/mx.py
  services/datastream/streams/alarm.py
  services/datastream/streams/managedobject.py
  services/discovery/jobs/periodic/uptime.py
  services/mx/router/route.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1851' into 'master'
  core/datastream/base.py
  core/mx.py
  main/migrations/0065_message_route_settings.py
  main/models/handler.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  main/models/template.py
  services/mx/router/action.py
  services/mx/router/route.py
  services/mx/router/router.py
  services/mx/router/transmute.py
  services/mx/service.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Remove ManagedObjectSelector and SelectorCache models
  core/model/decorator.py
  fixes/fix_selector_cache.py
  fm/models/ttsystem.py
  inv/models/firmware.py
  inv/models/platform.py
  inv/models/resourcegroup.py
  inv/models/vendor.py
  ip/models/vrf.py
  main/models/pool.py
  main/models/prefixtable.py
  models.py
  sa/models/administrativedomain.py
  sa/models/managedobjectprofile.py
  sa/models/managedobjectselector.py
  sa/models/profile.py
  sa/models/selectorcache.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/managedobjectselector/__init__.py
  services/web/apps/sa/managedobjectselector/views.py
  services/web/apps/sa/objectlist/views.py
  ui/web/core/filter/Filter.js
  ui/web/inv/interfaceclassificationrule/Application.js
  ui/web/inv/interfaceclassificationrule/LookupField.js
  ui/web/inv/interfaceclassificationrule/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobjectselector/Application.js
  ui/web/sa/managedobjectselector/AttributesModel.js
  ui/web/sa/managedobjectselector/LookupField.js
  ui/web/sa/managedobjectselector/M2MField.js
  ui/web/sa/managedobjectselector/Model.js
  ui/web/sa/managedobjectselector/ObjectsModel.js
  ui/web/sa/managedobjectselector/ObjectsPanel.js
  vc/models/vcdomain.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6400
  core/datastream/base.py
  core/mx.py
  main/migrations/0065_message_route_settings.py
  main/models/handler.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  main/models/template.py
  services/mx/router/action.py
  services/mx/router/route.py
  services/mx/router/router.py
  services/mx/router/transmute.py
  services/mx/service.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1872 Check vlanprofiles if create when vc migrate.
  vc/migrations/0028_create_default_vlan_profile.py
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1872' into 'master'
  vc/migrations/0028_create_default_vlan_profile.py
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6425
  vc/migrations/0028_create_default_vlan_profile.py
  vc/migrations/0029_migrate_vc_vlan.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix change MeasurementUnit on MetricType UI form.
  ui/web/pm/metrictype/Application.js
Due: prettier

noc/noc#1875 Add noc alarms command for Alarms management.
  commands/alarms.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1875' into 'master'
  commands/alarms.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-metric-type-ui-mu' into 'master'
  ui/web/pm/metrictype/Application.js
Due: prettier

Add forget-history to gridvcs command.
  commands/gridvcs.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix param docs.
  inv/models/resourcegroup.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add before-days.
  commands/gridvcs.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6456
  ui/web/pm/metrictype/Application.js
Due: prettier

Fix typo.
  commands/gridvcs.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6434
  commands/alarms.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  commands/gridvcs.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add UUIDParameter type to config.
  config.py
  core/config/params.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Implement first version of message storm protection in trapserver service
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Move storm protection functional to module in core
  core/service/stormprotection.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use coroutine for check cycle
  core/service/stormprotection.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add storm parameters to managedobjectprofile model
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use PeriodicCallback class instead of coroutine
  core/service/stormprotection.py
  services/trapcollector/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add storm parameters to datastream/cfgtrap method
  services/datastream/streams/cfgtrap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add migration
  sa/migrations/0232_managedobjectprofile_trapcollector_storm.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Refactor
  core/service/stormprotection.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Migrate params to global config
  config.py
  core/service/stormprotection.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Change code of storm policy from I to A
  sa/migrations/0232_managedobjectprofile_trapcollector_storm.py
  sa/models/managedobjectprofile.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
