Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Fix typo in getting object uplinks.
  sa/models/managedobject.py
  services/web/apps/inv/reportmaxmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Disable AlarmDiagnostic Script for unmanaged object.
  fm/models/alarmdiagnosticconfig.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  fm/models/alarmdiagnosticconfig.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add more xcvrs
  collections/inv.objectmodels/FiboTelecom/Transceiver/1G/FT-S1-W5520SD.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-13d-20-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-13d-40-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-15d-20-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-15d-40-12gSC-3c.json
Due: prettier

Bump liftbridge version to 1.7.1
  ansible/system_roles/liftbridge/defaults/main.yml
Due: prettier

Clear Interface alarm when delete that.
  inv/models/interface.py
  inv/models/subinterface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Clear Interface alarm on delete
  inv/models/interface.py
  inv/models/subinterface.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add works Alarm Component from custom.
  fm/models/activealarm.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Additional mongo fatal errors.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Additional cache to periodic discovery.
  inv/models/interfaceprofile.py
  pm/models/metrictype.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/periodic/interfacestatus.py
  services/discovery/jobs/periodic/metrics.py
  sla/models/slaprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo systemd consul
  ansible/system_roles/consul/defaults/main.yml
Due: prettier

Add more transceivers
  collections/inv.objectmodels/FiboTelecom/Transceiver/10G/FT-S10-W2720LD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/10G/FT-S10-W3320LD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/1G/FT-S1-W313SD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/1G/FT-S1-W5520SD.json
  collections/inv.objectmodels/FiboTelecom/Transceiver/GPON/FT-PX20++.json
  collections/inv.objectmodels/Gateray/Transceiver/10G/GR-SP10-W2720L-D.json
  collections/inv.objectmodels/Gateray/Transceiver/10G/GR-SP10-W3320L-D.json
  collections/inv.objectmodels/Hisense/Transceiver/10G/LTF1303-BH+.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+1.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+1DM.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+2.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE3680P-BC+2DM.json
  collections/inv.objectmodels/Hisense/Transceiver/GPON/LTE4302M-BC+DM.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-13d-20-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-13d-40-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-15d-20-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF-15d-40-12gSC-3c.json
  collections/inv.objectmodels/Optronic/Transceiver/1G/TBSF15-3-12GSC-3I.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOEB4366-PSGB-DM.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOGQ4321-PSGB-DM.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOGQ4321-PSGC-DM.json
  collections/inv.objectmodels/Superxon/Transceiver/GPON/SOGQ4321-PSGC.json
  collections/inv.objectmodels/Tsuhan/Transceiver/GPON/THMPRS4343GDA-DM.json
  collections/inv.objectmodels/Tsuhan/Transceiver/GPON/THMPRS4343GQA-DM.json
  collections/inv.vendors/OPTRONIC.json
Due: prettier

Add more Huawei models
  collections/inv.connectionrules/Huawei/S12700E.json
  collections/inv.connectiontypes/Huawei/S12700/CMU.json
  collections/inv.connectiontypes/Huawei/S12700/FAN-770A-B.json
  collections/inv.connectiontypes/Huawei/S12700/MPU.json
  collections/inv.connectiontypes/Huawei/S12700/PIC.json
  collections/inv.connectiontypes/Huawei/S12700/SFU.json
  collections/inv.objectmodels/Huawei/S12700/CMU.json
  collections/inv.objectmodels/Huawei/S12700/FAN-770A-B.json
  collections/inv.objectmodels/Huawei/S12700/LST7C24HX6E0.json
  collections/inv.objectmodels/Huawei/S12700/LST7G48TX5E1.json
  collections/inv.objectmodels/Huawei/S12700/LST7X48SX6E0.json
  collections/inv.objectmodels/Huawei/S12700/MPU.json
  collections/inv.objectmodels/Huawei/S12700/S12700E-4.json
  collections/inv.objectmodels/Huawei/S12700/SFU.json
Due: prettier

Add catch component error.
  fm/models/activealarm.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix DLink.DxS profile
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

edit consul.hcl.j2
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: none

fix consul server template
  ansible/system_roles/consul/templates/consul.hcl.j2
Due: none

noc/noc#1668 Additional mongo fatal errors.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix config_from_settings method on SLAProfile.
  sla/models/slaprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Bump jinja2 to 3.0.3.
  requirements.txt
Due: none

Additional fatal PostgresSQL errors.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix check_fatal_errors value processed.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix pylint.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix alarmheat memory leak.
  services/card/cards/alarmheat.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1135 Additional fatal PostgresSQL errors.
  core/debug.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ConfDB query chart
  docs/en/docs/dev/reference/confdb/query.md
Due: none

noc/noc#1726 Add works Alarm Component from custom.
  fm/models/activealarm.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Modified LoggingMiddleware class for use in the NBI service
  core/service/middleware/logging.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Implement service NBI - API config
  services/nbi/api/config.py
  services/nbi/api/configrevisions.py
  services/nbi/api/getmappings.py
  services/nbi/api/objectmetrics.py
  services/nbi/api/objectstatus.py
  services/nbi/api/path.py
  services/nbi/api/telemetry.py
  services/nbi/base.py
  services/nbi/loader.py
  services/nbi/paths/__init__.py
  services/nbi/paths/config.py
  services/nbi/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add middleware-function for update metrics
  core/service/middleware/logging.py
  services/nbi/paths/config.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - add API configrevisions
  services/nbi/paths/config.py
  services/nbi/paths/configrevisions.py
  services/nbi/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Refactor objectstatus_handler
  services/nbi/paths/objectstatus.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - add API objectstatus
  services/nbi/paths/objectstatus.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Implement base class for NBI API
  services/nbi/base.py
  services/nbi/paths/objectstatus.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - add API objectmetrics
  services/nbi/paths/objectmetrics.py
  services/nbi/paths/objectstatus.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Refactor config and configrevisions API
  services/nbi/base.py
  services/nbi/paths/config.py
  services/nbi/paths/configrevisions.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - add API path
  services/nbi/paths/path.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - add API getmappings
  services/nbi/paths/config.py
  services/nbi/paths/configrevisions.py
  services/nbi/paths/getmappings.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Service NBI - add API telemetry
  services/nbi/paths/telemetry.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
