Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

Add ReportForm.
  services/web/apps/main/report/views.py
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/LookupField.js
  ui/web/main/reportconfig/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Rename Report Application.
  services/web/apps/main/reportconfig/__init__.py
  services/web/apps/main/reportconfig/views.py
Due: flake8, black, mypy, pylint, py:test

Fix Typo.
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Due: prettier, build:web

Run report return OutputDoc.
  core/reporter/base.py
  core/reporter/types.py
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
  tests/reporter/test_report.py
  tests/reporter/test_report_config.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Due: prettier, build:web

Fix typo.
  core/datasources/base.py
  core/datasources/discoveryidcachepoisonds.py
  core/reporter/base.py
  core/reporter/formatter/simplereport.py
  services/web/apps/main/reportconfig/views.py
Due: flake8, black, mypy, pylint, py:test

Add ReportConfigApplication for configured report.
  services/web/base/reportapplication.py
  services/web/base/site.py
Due: flake8, black, mypy, pylint, py:test

Add CSS to SimpleReport HTML format.
  core/reporter/base.py
  core/reporter/formatter/simplereport.py
  services/web/apps/main/reportconfig/views.py
  services/web/base/simplereport.py
  tests/reporter/test_report_config.py
Due: flake8, black, mypy, pylint, py:test

run report form
  ui/web/main/desktop/Report.js
  ui/web/main/desktop/ReportColSelect.js
Due: prettier, build:web

Fix datasource DataFrame create.
  core/datasources/base.py
  main/models/report.py
Due: flake8, black, mypy, pylint, py:test

Fix duplicate ReportConfig class.
  services/web/base/simplereport.py
  services/web/base/site.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  main/models/report.py
Due: flake8, black, mypy, pylint, py:test

Fix flake.
  services/web/apps/main/reportconfig/views.py
Due: flake8, black, mypy, pylint, py:test

Add title localization.
  services/web/apps/main/reportconfig/views.py
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix black.
  services/web/apps/main/reportconfig/views.py
  ui/web/main/reportconfig/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

save 'Report Format' field fixed
  ui/web/core/ModelApplication.js
  ui/web/main/reportconfig/Application.js
Due: prettier, build:web

Add ttsystemstatds datasource
  core/datasources/ttsystemstatds.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#2013 Add buckets to iter_collected_metrics for discovery.
  collections/inv.capabilities/DB/CPEs.json
  collections/inv.capabilities/DB/SLAProbes.json
  core/models/cfgmetrics.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/interface.py
  inv/models/sensor.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/sla.py
  services/discovery/jobs/interval/job.py
  services/discovery/jobs/interval/metrics.py
  services/zeroconf/util.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/inv/cpeprofile/Application.js
  ui/web/inv/cpeprofile/Model.js
  ui/web/sla/slaprofile/Application.js
  ui/web/sla/slaprofile/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix test.
  core/reporter/formatter/simplereport.py
  core/reporter/types.py
  services/web/apps/main/reportconfig/views.py
Due: flake8, black, mypy, pylint, py:test

Fix test2.
  core/datasources/base.py
Due: flake8, black, mypy, pylint, py:test

Fix Card (Metrics Interval)
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint, py:test

fix
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint, py:test

fix black
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint, py:test

fix flake8
  services/web/apps/pm/ddash/dashboards/mo.py
Due: flake8, black, mypy, pylint, py:test

fix ddash
  services/web/apps/pm/ddash/dashboards/mo.py
Due: flake8, black, mypy, pylint, py:test

fix interval
  services/web/apps/pm/ddash/dashboards/mo.py
Due: flake8, black, mypy, pylint, py:test

fix black
  services/web/apps/pm/ddash/dashboards/mo.py
Due: flake8, black, mypy, pylint, py:test

Fix discovery interval.
  services/web/apps/pm/ddash/dashboards/mo.py
Due: flake8, black, mypy, pylint, py:test

Fix sensor dash.
  services/web/apps/pm/ddash/dashboards/modvbc.py
  services/web/apps/pm/ddash/dashboards/sensor_controller.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  core/datasources/base.py
Due: flake8, black, mypy, pylint, py:test

Fix Card/Ddash (Metrics Interval)
  sa/models/managedobjectprofile.py
  services/web/apps/pm/ddash/dashboards/mo.py
  services/web/apps/pm/ddash/dashboards/modvbc.py
  services/web/apps/pm/ddash/dashboards/sensor_controller.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  core/reporter/formatter/simplereport.py
Due: flake8, black, mypy, pylint, py:test

add shadowDom for style encapsulation
  ui/web/main/desktop/Report.js
Due: prettier, build:web

add profilecheckrules zyxel.dslam VES-1624FT-55A
  collections/sa.profilecheckrules/Zyxel/DSLAM/VES-1624FT-55A_sysObjectID.json
Due: prettier, py:test

fix Zyxel.DSLAM
  sa/profiles/Zyxel/DSLAM/get_interfaces.py
  sa/profiles/Zyxel/DSLAM/get_inventory.py
  sa/profiles/Zyxel/DSLAM/profile.py
Due: flake8, black, mypy, pylint, py:test

Update ttsystemstatds datasource
  core/datasources/ttsystemstatds.py
Due: flake8, black, mypy, pylint, py:test

Rename format field.
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
  services/web/base/reportapplication.py
  services/web/base/site.py
  ui/web/main/reportconfig/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix black.
  services/web/apps/main/reportconfig/views.py
  services/web/base/reportapplication.py
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
