Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix collection code.
  cm/models/configurationparam.py
  collections/cm.configurationparams/Administrative_State.json
  collections/cm.configurationparams/Description.json
  collections/cm.configurationparams/Destination.json
  collections/cm.configurationparams/EnableTx.json
  collections/cm.configurationparams/Mode.json
  collections/cm.configurationparams/SetDataType.json
  collections/cm.configurationparams/SetFECType.json
  collections/cm.configurationparams/SetFreq.json
  collections/cm.configurationparams/SetModType.json
  collections/cm.configurationparams/SetPayload.json
  collections/cm.configurationparams/SetState.json
  collections/cm.configurationparams/SetTxPwr.json
  inv/models/object.py
  inv/models/objectconfigurationrule.py
Due: py-lint, mypy, prettier, py:test

Fix collection.
  cm/models/configurationparam.py
  cm/models/configurationscope.py
  collections/cm.configurationparams/EnableTx.json
  collections/cm.configurationparams/SetTxPwr.json
Due: py-lint, mypy, prettier, py:test

Add cfgdata plugin to base view.
  services/web/apps/inv/inv/views.py
Due: py-lint, mypy, py:test

Merge branch 'fix_promt_SKS' into 'master'
  sa/profiles/SKS/SKS/profile.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7682
  sa/profiles/SKS/SKS/profile.py
Due: py-lint, mypy, py:test

save
  services/web/apps/inv/inv/plugins/param.py
  services/web/apps/inv/inv/views.py
  ui/web/inv/inv/plugins/param/ParamModel.js
  ui/web/inv/inv/plugins/param/ParamPanel.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
Due: py-lint, mypy, prettier, py:test, build:web

Add scopes API.
  cm/models/configurationparam.py
  inv/models/object.py
  services/web/apps/inv/inv/plugins/param.py
Due: py-lint, mypy, py:test

Fix scope id.
  cm/models/configurationparam.py
  services/web/apps/inv/inv/plugins/param.py
Due: py-lint, mypy, py:test

layout ready
  services/web/apps/inv/inv/plugins/param.py
  ui/web/inv/inv/plugins/data/DataPanel.js
  ui/web/inv/inv/plugins/param/ParamModel.js
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: py-lint, mypy, prettier, py:test, build:web

Add filter by scope to Inventory Param Plugin.
  cm/models/configurationparam.py
  inv/models/object.py
  services/web/apps/inv/inv/plugins/param.py
Due: py-lint, mypy, py:test

Fix managedobjectcapsds datasource
  core/datasources/managedobjectcapsds.py
Due: py-lint, mypy, py:test

Fix year
  core/datasources/managedobjectcapsds.py
Due: py-lint, mypy, py:test

add param filter
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

Fix managedobjectlabelsstatds datasource
  core/datasources/managedobjectlabelsstatds.py
Due: py-lint, mypy, py:test

filter ready
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

Merge branch 'fix-RTSUPP-166-2' into 'master'
  core/datasources/managedobjectcapsds.py
Due: py-lint, mypy, py:test

RTSUPP-166 Fix managedobjectlabelsstatds datasource
  core/datasources/managedobjectlabelsstatds.py
Due: py-lint, mypy, py:test

Merge branch 'fix-RTSUPP-166-3' into 'master'
  core/datasources/managedobjectlabelsstatds.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7687
  core/datasources/managedobjectcapsds.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7688
  core/datasources/managedobjectlabelsstatds.py
Due: py-lint, mypy, py:test

#2272 Update class SlowOp
  main/migrations/0069_add_col_SlowOp.py
  main/models/slowop.py
  services/web/apps/sa/managedobject/views.py
  services/web/base/extapplication.py
Due: py-lint, mypy, py:test

Rollback del main.SlowOp
  models.py
Due: py-lint, mypy, py:test

Patch black formatted
  services/web/base/extapplication.py
Due: py-lint, mypy, py:test

Update views.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

dynamic editor for value
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

Add ConfigurationParam limits for UI schema.
  cm/models/configurationparam.py
  services/web/apps/inv/inv/plugins/param.py
Due: py-lint, mypy, py:test

validation added
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

save ready
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

save fixed
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

buffer size field added
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

fix
  ui/web/inv/inv/plugins/param/ParamPanel.js
Due: prettier, build:web

#2277 Шаблоны моделей Inventory
  collections/inv.objectmodels/Generic/Transceiver/GBIC.json
  collections/inv.objectmodels/Generic/Transceiver/QSFP+.json
  collections/inv.objectmodels/Generic/Transceiver/SFP+.json
  collections/inv.objectmodels/Generic/Transceiver/SFP.json
  collections/inv.objectmodels/Generic/Transceiver/XFP.json
  collections/inv.objectmodels/NoName/Transceiver/QSFP+.json
  collections/inv.objectmodels/NoName/Transceiver/SFP+.json
  collections/inv.objectmodels/NoName/Transceiver/SFP.json
  collections/inv.objectmodels/NoName/Transceiver/XFP.json
  collections/inv.vendors/GENERIC.json
  sa/profiles/MikroTik/RouterOS/get_inventory.py
  sa/profiles/NAG/SNR/get_inventory.py
  services/discovery/jobs/box/asset.py
Due: py-lint, mypy, prettier, py:test

Fix ObjectConfiguration Rule match_protocols format.
  services/web/apps/inv/objectconfigurationrule/views.py
Due: py-lint, mypy, py:test

added generic switches
  collections/inv.objectmodels/Generic/Switch/24F-c_2G-cf.json
  collections/inv.objectmodels/Generic/Switch/24F-c_4G-cf.json
  collections/inv.objectmodels/Generic/Switch/24F-f_4G-cf.json
  collections/inv.objectmodels/Generic/Switch/48F-c_2G-cf.json
  collections/inv.objectmodels/Generic/Switch/48F-c_4G-cf.json
  collections/inv.objectmodels/Generic/Switch/48F-c_4G-f.json
Due: prettier, py:test

Fix archived param in reportdsalarms datasource
  core/datasources/reportdsalarms.py
Due: py-lint, mypy, py:test

Fix archived param in reportdsalarms datasource ('archived' radiobutton in UI)
  core/datasources/reportdsalarms.py
Due: py-lint, mypy, py:test

Merge branch 'fix-RTSUPP-173' into 'master'
  core/datasources/reportdsalarms.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7692
  core/datasources/reportdsalarms.py
Due: py-lint, mypy, py:test
