Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

noc/noc#1960 Fix error on service without router.
  core/service/base.py
  services/classifier/service.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-router-on-service-disable' into 'master'
  core/service/base.py
  services/classifier/service.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6873
  core/service/base.py
  services/classifier/service.py
Due: flake8, black, mypy, pylint, py:test

Set SNMPTRAP/SYSLOG diagnostics set.
  sa/models/managedobject.py
  services/classifier/service.py
  services/discovery/jobs/box/version.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'patch-avs-update-syslog-trap-diagnostics' into 'master'
  sa/models/managedobject.py
  services/classifier/service.py
  services/discovery/jobs/box/version.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6868
  sa/models/managedobject.py
  services/classifier/service.py
  services/discovery/jobs/box/version.py
Due: flake8, black, mypy, pylint, py:test

Add tests prompt.
  sa/profiles/OS/Linux/profile.py
Due: flake8, black, mypy, pylint, py:test

Fix etl changed labels when object labels is None.
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-etl-add-labels' into 'master'
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6849
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Add metrics check
  ansible/noc_roles/metrics/tasks/checks.yml
Due: prettier

Ansible tower add metrics check
  ansible/noc_roles/metrics/tasks/checks.yml
Due: prettier

Merge branch 'ansible-add-worker-check' into 'master'
  ansible/noc_roles/metrics/tasks/checks.yml
Due: prettier

release-22.2:Backport!6877
  ansible/noc_roles/metrics/tasks/checks.yml
Due: prettier

Add ObjectGroup Topology generator.
  core/topology/base.py
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
Due: flake8, black, mypy, pylint, py:test

Fix save settings.
  inv/models/mapsettings.py
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, pylint, py:test

Add MapSettings migration.
  core/topology/base.py
  inv/migrations/0030_mapsettins_add_generator_type.py
  inv/models/mapsettings.py
Due: flake8, black, mypy, pylint, py:test

Fix migration.
  inv/migrations/0030_mapsettins_add_generator_type.py
Due: flake8, black, mypy, pylint, py:test

Move node_stencil to TopologyBase.
  core/topology/base.py
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
Due: flake8, black, mypy, pylint, py:test

Move q_node to TopologyBase.
  core/topology/base.py
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
  inv/models/mapsettings.py
Due: flake8, black, mypy, pylint, py:test

Customize map backend by loader.
  core/bioseg/policies/base.py
  core/topology/base.py
  core/topology/layout/spring.py
  core/topology/loader.py
  core/topology/map/__init__.py
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
  core/topology/uplink.py
  fixes/fix_object_uplinks.py
  inv/migrations/0030_mapsettins_add_generator_type.py
  inv/models/mapsettings.py
  inv/models/networksegment.py
  sa/models/managedobjectprofile.py
  services/web/apps/inv/map/views.py
  ui/web/core/TreeCombo.js
  ui/web/core/TreePanel.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/inspectors/Inspector.js
  ui/web/inv/map/inspectors/ManagedObjectInspector.js
  ui/web/sa/managedobject/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Profile: Eltex.ESR - Update get_version
  sa/profiles/Eltex/ESR/get_version.py
Due: flake8, black, mypy, pylint, py:test

Service: TGsender - update send message format #1957
  services/tgsender/service.py
Due: flake8, black, mypy, pylint, py:test

Profile: Eltex.ESR - Update get_version #1951
  sa/profiles/Eltex/ESR/get_version.py
Due: flake8, black, mypy, pylint, py:test

Add ImageStore for Network Map background files.
  main/models/imagestore.py
  services/web/apps/main/imagestore/__init__.py
  services/web/apps/main/imagestore/views.py
  ui/web/main/imagestore/Application.js
  ui/web/main/imagestore/LookupField.js
  ui/web/main/imagestore/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add image API for getting image.
  lib/app/extdocapplication.py
  main/models/imagestore.py
  services/web/apps/main/imagestore/views.py
  ui/web/main/imagestore/Application.js
  ui/web/main/imagestore/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix save filename.
  services/web/apps/main/imagestore/views.py
  ui/web/main/imagestore/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add background_image attribute to response.
  core/topology/base.py
  inv/models/mapsettings.py
  services/web/apps/main/imagestore/views.py
Due: flake8, black, mypy, pylint, py:test

Fix migration to OS.Linux profile.
  sa/migrations/0239_profile_os_linux.py
Due: flake8, black, mypy, pylint, py:test

set background
  ui/web/inv/map/MapPanel.js
Due: prettier, build:web

Fix collection name.
  config.py
  main/models/imagestore.py
Due: flake8, black, mypy, pylint, py:test

Fix Qtech.QSW.get_version script
  sa/profiles/Qtech/QSW/get_version.py
Due: flake8, black, mypy, pylint, py:test

Add ImageStore for Network Map background files
  config.py
  core/topology/base.py
  inv/models/mapsettings.py
  lib/app/extdocapplication.py
  main/models/imagestore.py
  services/web/apps/main/imagestore/__init__.py
  services/web/apps/main/imagestore/views.py
  ui/web/inv/map/MapPanel.js
  ui/web/main/imagestore/Application.js
  ui/web/main/imagestore/LookupField.js
  ui/web/main/imagestore/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix calculate MetricType for delta type.
  core/cdag/node/probe.py
  pm/models/metrictype.py
  services/metrics/service.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix Probe.get_value.
  core/cdag/node/composeprobe.py
  core/cdag/node/probe.py
  services/metrics/service.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Add is_delta to collection.
  collections/pm.metrictypes/Interface/CBQOS/Drops/In_Delta.json
  collections/pm.metrictypes/Interface/CBQOS/Drops/Out_Delta.json
  collections/pm.metrictypes/Interface/CBQOS/Octets/In_Delta.json
  collections/pm.metrictypes/Interface/CBQOS/Octets/Out_Delta.json
  collections/pm.metrictypes/Interface/CBQOS/Packets/In_Delta.json
  collections/pm.metrictypes/Interface/CBQOS/Packets/Out_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Downstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/BIP_Upstream_Delta.json
  collections/pm.metrictypes/Interface/DOM/Errors/HEC_Upstream_Delta.json
  collections/pm.metrictypes/Interface/Errors/CRC_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Delta.json
  collections/pm.metrictypes/Interface/Errors/Frame_Delta.json
  collections/pm.metrictypes/Interface/Errors/In_Delta.json
  collections/pm.metrictypes/Interface/Errors/Out_Delta.json
  collections/pm.metrictypes/Interface/Multicast/In_Delta.json
  collections/pm.metrictypes/Interface/QOS/Discards/ In_Delta.json
  collections/pm.metrictypes/Interface/QOS/Discards/ Out_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/ES_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/LOF_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/LOLS_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/LOSS_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/LPRS_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/Retrain_Delta.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/SES_Errors.json
  collections/pm.metrictypes/Interface/xDSL/Line/Errors/UAS_Delta.json
  collections/pm.metrictypes/Network/STP/Topology_Changes_Delta.json
  collections/pm.metrictypes/Radius/Policy/Request_Delta.json
  collections/pm.metrictypes/Radius/Policy/Response_Delta.json
  collections/pm.metrictypes/Sensor/Value_Delta.json
Due: prettier, py:test

Merge branch 'patch-avs-correlator-components' into 'master'
  services/correlator/service.py
Due: flake8, black, mypy, pylint, py:test

Refactor database_storage
  core/model/databasestorage.py
  main/models/databasestorage.py
Due: flake8, black, mypy, pylint, py:test

Refactor lib/database_storage module
  lib/database_storage.py
  main/models/databasestorage.py
Due: flake8, black, mypy, pylint, py:test
