Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Add some SNR models
  collections/inv.objectmodels/Nag/SNR/SNR-S4550-24XQ-AC.json
Due: prettier

Add new file
  collections/inv.objectmodels/Nag/SNR/SNR-S2990G-48TX.json
Due: prettier

Add new file
  collections/inv.objectmodels/Nag/SNR/SNR-S2990-16X.json
Due: prettier

Add new nag model
  collections/inv.objectmodels/Nag/SNR/SNR-S2985G-24T-POE.json
Due: prettier

Bump consul version to 1.8.6
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/config_server.json.j2
  ansible/vars/main.yml
Due: prettier

Add 'Exclude Device if SerialNumber changed' option to ReportMACMoved.
  services/web/apps/inv/reportmovedmac/views.py
  ui/web/inv/reportmovedmac/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Huawei.VRP.get_version. Fix parse_serial for SNMP only devices.
  sa/profiles/Huawei/VRP/get_version.py
  sa/profiles/Huawei/VRP/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.MA5600T. Add 'Evironment | Temperature' metric.
  collections/inv.capabilities/Slot/Member_Ids_Temperature.json
  sa/profiles/Huawei/MA5600T/get_capabilities.py
  sa/profiles/Huawei/MA5600T/get_metrics.py
  sa/profiles/Huawei/MA5600T/oidrules/hw_slots.py
  sa/profiles/Huawei/MA5600T/profile.py
  sa/profiles/Huawei/MA5600T/snmp_metrics/environment_temperature.json
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-huawei-version' into 'master'
  sa/profiles/Huawei/VRP/get_version.py
  sa/profiles/Huawei/VRP/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-add-temperature-metrics' into 'master'
  collections/inv.capabilities/Slot/Member_Ids_Temperature.json
  sa/profiles/Huawei/MA5600T/get_capabilities.py
  sa/profiles/Huawei/MA5600T/get_metrics.py
  sa/profiles/Huawei/MA5600T/oidrules/hw_slots.py
  sa/profiles/Huawei/MA5600T/profile.py
  sa/profiles/Huawei/MA5600T/snmp_metrics/environment_temperature.json
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fi BI uuid generate on save.
  collections/bi.dashboards/0a542cf3-0ec9-489d-9d28-1bccdf845e41.json
  services/bi/api/bi.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'add-check-serial-movedmacs' into 'master'
  services/web/apps/inv/reportmovedmac/views.py
  ui/web/inv/reportmovedmac/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-bi-uuid-generate' into 'master'
  collections/bi.dashboards/0a542cf3-0ec9-489d-9d28-1bccdf845e41.json
  services/bi/api/bi.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update SNR-S4550-24XQ-AC.json
  collections/inv.objectmodels/Nag/SNR/SNR-S4550-24XQ-AC.json
Due: prettier

Update SNR-S2990G-48TX.json
  collections/inv.objectmodels/Nag/SNR/SNR-S2990G-48TX.json
Due: prettier

Update SNR-S2990-16X.json
  collections/inv.objectmodels/Nag/SNR/SNR-S2990-16X.json
Due: prettier

Update SNR-S2985G-24T-POE.json
  collections/inv.objectmodels/Nag/SNR/SNR-S2985G-24T-POE.json
Due: prettier

Find by partial hostname on get_neighbor_by_hostname.
  services/discovery/jobs/base.py
  services/discovery/jobs/box/ifdesc.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

FastAPI 0.62
  requirements.txt
Due: none

Merge branch 'fix-hostname-find' into 'master'
  services/discovery/jobs/base.py
  services/discovery/jobs/box/ifdesc.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo on ifdesc discovery maybe_create_interface.
  services/discovery/jobs/box/ifdesc.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix mermaid diagrams
  .gitlab-ci.yml
  docs/en/docs/dev/confdb/query.md
  docs/en/docs/dev/confdb/tokenizer.md
  docs/en/docs/reference/concepts/workflow/index.md
Due: prettier

Merge branch 'fix-avs-ifdescr-auto-policy' into 'master'
  services/discovery/jobs/box/ifdesc.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-fastapi-0.62' into 'master'
  ansible/system_roles/consul/tasks/checks.yml
Due: prettier

mx and kafkasender documentation
  docs/en/docs/admin/services/kafkasender.md
  docs/en/docs/admin/services/mx.md
  docs/en/docs/dev/streams/index.md
  docs/en/docs/dev/streams/kafkasender.md
  docs/en/docs/dev/streams/mx.md
  docs/en/docs/reference/mx/alarm.md
  docs/en/docs/reference/mx/index.md
  docs/en/docs/reference/mx/managedobject.md
  docs/en/docs/reference/mx/reboot.md
  docs/en/mkdocs.yml
  services/discovery/jobs/periodic/uptime.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'ansible-fix-consul-check' into 'master'
  ansible/system_roles/consul/tasks/checks.yml
  requirements.txt
Due: prettier

Modbus model interface
  collections/inv.modelinterfaces/modbus.json
  docs/en/docs/dev/modelinterface/modbus.md
  docs/en/docs/glossary.md
  docs/en/mkdocs.yml
Due: prettier

Add Huawei CAB-10G-CU5M
  collections/inv.objectmodels/Huawei/Transceiver/10G/CAB-10G-CU5M.json
Due: prettier

Add clickhouse versioning
  ansible/system_roles/clickhouse/defaults/main.yml
  ansible/system_roles/clickhouse/tasks/os/CentOS/main.yml
Due: prettier

Fix trace when service without subscriber.
  core/etl/models/service.py
  sa/models/servicesummary.py
  services/card/templates/service.html.j2
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Luxshare-ICT SFP+ DAC
  collections/inv.vendors/LUXSHARE-ICT.json
Due: prettier

Bump grafana to 7.3.4
  ansible/system_roles/grafana/tasks/plugins.yml
  ansible/system_roles/grafana/templates/grafana.ini
  ansible/vars/main.yml
Due: prettier

Fix neighbor search on OAM Topology discovery.
  services/discovery/jobs/box/oam.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-service-subscriber-trace' into 'master'
  core/etl/models/service.py
  sa/models/servicesummary.py
  services/card/templates/service.html.j2
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
