Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Update get_inventory.py
  sa/profiles/Eltex/LTP/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

fix Eltex.LTP get_version
  sa/profiles/Eltex/LTP/get_inventory.py
  sa/profiles/Eltex/LTP/get_version.py
Due: flake8, black, mypy, pylint, py:test

Add RedPanda client.
  commands/liftbridge.py
  commands/migrate-liftbridge.py
  core/messagestream/__init__.py
  core/messagestream/base.py
  core/messagestream/message.py
  core/messagestream/queue.py
  core/messagestream/queuebuffer.py
  core/mx.py
  core/redpanda/__init__.py
  core/redpanda/base.py
  core/service/base.py
  core/service/pub.py
  core/service/stub.py
Due: flake8, black, mypy, pylint, py:test

Add RedPanda Config.
  config.py
Due: flake8, black, mypy, pylint, py:test

Reset ManagedObject diagnostic when disabled Box.
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#1785 removed item_frequencies method in fm.reporteventsummary
  services/web/apps/fm/reporteventsummary/views.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix_fm.reporteventsummary' into 'master'
  services/web/apps/fm/reporteventsummary/views.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6822
  services/web/apps/fm/reporteventsummary/views.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-vlan-allocation-order-typo' into 'master'
  vc/models/vlan.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6834
  vc/models/vlan.py
Due: flake8, black, mypy, pylint, py:test

Add inspector and get_path endpoints.
  core/topology/base.py
  core/topology/map/segment.py
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, pylint, py:test

open map from combo fixed
  ui/web/inv/map/Application.js
Due: prettier, build:web

Fix etl changed labels when object labels is None.
  core/etl/loader/base.py
Due: flake8, black, mypy, pylint, py:test

Juniper.JUNOS.get_metrics. Fix labels format on slot generator.
  sa/profiles/Alcatel/AOS/oidrules/slot.py
  sa/profiles/Huawei/VRP/oidrules/slot.py
  sa/profiles/Huawei/VRP/oidrules/sslot.py
  sa/profiles/Juniper/JUNOS/oidrules/slot.py
  sa/profiles/Qtech/QSW2800/oidrules/enterprise.py
  sa/profiles/Qtech/QSW2800/oidrules/slot.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  sa/profiles/Qtech/QSW2800/oidrules/enterprise.py
  sa/profiles/Qtech/QSW2800/oidrules/slot.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-juniper-generator-labels' into 'master'
  sa/profiles/Alcatel/AOS/oidrules/slot.py
  sa/profiles/Huawei/VRP/oidrules/slot.py
  sa/profiles/Huawei/VRP/oidrules/sslot.py
  sa/profiles/Juniper/JUNOS/oidrules/slot.py
  sa/profiles/Qtech/QSW2800/oidrules/enterprise.py
  sa/profiles/Qtech/QSW2800/oidrules/slot.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6850
  sa/profiles/Alcatel/AOS/oidrules/slot.py
  sa/profiles/Huawei/VRP/oidrules/slot.py
  sa/profiles/Huawei/VRP/oidrules/sslot.py
  sa/profiles/Juniper/JUNOS/oidrules/slot.py
  sa/profiles/Qtech/QSW2800/oidrules/enterprise.py
  sa/profiles/Qtech/QSW2800/oidrules/slot.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix_Eltex.LTP_get_version' into 'master'
  sa/profiles/Eltex/LTP/get_inventory.py
  sa/profiles/Eltex/LTP/get_version.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!6845
  sa/profiles/Eltex/LTP/get_inventory.py
  sa/profiles/Eltex/LTP/get_version.py
Due: flake8, black, mypy, pylint, py:test

Add enable_box_alarm check.
  sa/models/managedobjectprofile.py
  ui/web/sa/managedobjectprofile/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix typo.
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint, py:test

Reset ManagedObject diagnostic when disabled Box.
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/sa/managedobjectprofile/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Merge branch 'fix-avs-reset-diagnostic-when-disabled-box' into 'master'
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/sa/managedobjectprofile/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

release-22.2:Backport!6830
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/sa/managedobjectprofile/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Update profile
  sa/profiles/Linux/Linux/snmp_metrics/cpu_load_1min.json
  sa/profiles/Linux/Linux/snmp_metrics/cpu_load_5min.json
  templates/ddash/graph_cpu_load_1min.j2
  templates/ddash/graph_cpu_load_5min.j2
  templates/ddash/graph_memory_usage.j2
Due: prettier, py:test

Update Metric scope for CPU Load
  collections/pm.metrictypes/CPU/Load/1min.json
  collections/pm.metrictypes/CPU/Load/5min.json
Due: prettier, py:test

fix pytest
  sa/migrations/0239_profile_os_linux.py
Due: flake8, black, mypy, pylint, py:test

Update profile Update migrate
  sa/migrations/0239_profile_os_linux.py
  sa/profiles/OS/Linux/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint, py:test

change migrate num
  sa/migrations/0239_profile_os_linux.py
Due: flake8, black, mypy, pylint, py:test

Update Linux Profile
  collections/pm.metrictypes/Memory/Usage/Bytes.json
  core/script/metrics.py
  sa/profiles/Linux/Linux/snmp_metrics/memory_usage_bytes.json
  templates/ddash/graph_memory_usage_bytes.j2
Due: flake8, black, mypy, prettier, pylint, py:test

fix flake8
  sa/profiles/OS/Linux/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint, py:test

Add Linux Profile
  collections/sa.profiles/Linux/Linux.json
  sa/profiles/Linux/Linux/__init__.py
  sa/profiles/Linux/Linux/get_capabilities.py
  sa/profiles/Linux/Linux/get_chassis_id.py
  sa/profiles/Linux/Linux/get_config.py
  sa/profiles/Linux/Linux/get_fqdn.py
  sa/profiles/Linux/Linux/get_ifindexes.py
  sa/profiles/Linux/Linux/get_interface_properties.py
  sa/profiles/Linux/Linux/get_interfaces.py
  sa/profiles/Linux/Linux/get_version.py
  sa/profiles/Linux/Linux/profile.py
  sa/profiles/Linux/Linux/snmp_metrics/cpu_load_1min.json
  sa/profiles/Linux/Linux/snmp_metrics/cpu_load_5min.json
Due: flake8, black, mypy, prettier, pylint, py:test

fix pytest
  sa/profiles/OS/Linux/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint, py:test

fix black
  sa/profiles/OS/Linux/get_version.py
Due: flake8, black, mypy, pylint, py:test

add metric
  sa/profiles/Linux/Linux/snmp_metrics/memory_usage.json
Due: prettier, py:test

Fix migration typo.
  sa/migrations/0239_profile_os_linux.py
Due: flake8, black, mypy, pylint, py:test
