Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Add timeout param to Activator snmp_get API.
  core/script/credentialchecker.py
  services/activator/api/activator.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update Enterprise_sysDescr.json
  collections/sa.profilecheckrules/DCN/WL/Enterprise_sysDescr.json
Due: prettier

add row_class to Prefix Address Lists
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Due: prettier

update
  collections/sa.profilecheckrules/DCN/WL/Enterprise_sys.json
Due: prettier

Update Yandex Geocoder
  config.py
  core/geocoder/yandex.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

date
  core/geocoder/yandex.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add svc-redpanda-exec in inv.yml
  ansible/deploy.yml
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/molecule/ubuntu22/inv.yml
Due: prettier

Update Enterprise_sys.json
  collections/sa.profilecheckrules/DCN/WL/Enterprise_sys.json
Due: prettier

Add Credential result.
  core/script/credentialchecker.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  sa/models/credentialcheckrule.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1857 Add CredentialCheckRule model.
  core/script/credentialchecker.py
  models.py
  sa/models/credentialcheckrule.py
  services/activator/api/activator.py
  services/web/apps/sa/credentialcheckrule/__init__.py
  services/web/apps/sa/credentialcheckrule/views.py
  ui/web/sa/credentialcheckrule/Application.js
  ui/web/sa/credentialcheckrule/LookupField.js
  ui/web/sa/credentialcheckrule/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1884 Add row_class to Assigned Address API.
  services/web/apps/ip/ipam/views.py
  ui/web/ip/ipam/view/Grid.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1884' into 'master'
  services/web/apps/ip/ipam/views.py
  ui/web/ip/ipam/view/Grid.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6479
  services/web/apps/ip/ipam/views.py
  ui/web/ip/ipam/view/Grid.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

fix reportobjectsserial
  services/web/apps/inv/reportobjectsserial/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Modified model_set_state function
  core/wf/decorator.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

update
  core/geocoder/yandex.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add interface_status_change message type.
  core/mx.py
  inv/models/interface.py
  main/models/notificationgroup.py
  sa/models/managedobject.py
  services/mx/router/action.py
  services/mx/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Extend use Scope param on Capability Item
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/service.py
  sa/models/managedobject.py
  sa/models/service.py
  services/sae/api/sae.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/Application.js
  ui/web/sa/service/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix black.
  services/web/apps/sa/managedobject/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix black.
  sa/models/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Catch connection timeout when start stream.
  core/script/cli/base.py
  core/script/snmp/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix config timeout.
  config.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add strip_value to StringParameter.
  sa/interfaces/base.py
  services/web/apps/sa/managedobject/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add connect_timeout to Stream.connect method.
  config.py
  core/script/cli/base.py
  core/script/cli/stream.py
  core/script/snmp/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-add-connect-timeout' into 'master'
  config.py
  core/script/cli/base.py
  core/script/cli/stream.py
  core/script/snmp/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-extend-caps-scope' into 'master'
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/service.py
  sa/models/managedobject.py
  sa/models/service.py
  services/sae/api/sae.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/Application.js
  ui/web/sa/service/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6511
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/service.py
  sa/models/managedobject.py
  sa/models/service.py
  services/sae/api/sae.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/Application.js
  ui/web/sa/service/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6504
  config.py
  core/script/cli/base.py
  core/script/cli/stream.py
  core/script/snmp/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo on SAE.
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-sae-typo' into 'master'
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6515
  services/sae/api/sae.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add qtech profilecheckrule
  collections/sa.profilecheckrules/Qtech/QSW/QSW-4610-28T-AC_sysObjectID.json
Due: prettier

add model QSW2800.get_version
  sa/profiles/Qtech/QSW2800/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update get_version.py
  sa/profiles/Qtech/QSW2800/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add template for interface_change.
  inv/migrations/0026_interface_change_template.py
  inv/models/interface.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  services/datastream/streams/cfgmxroute.py
  services/mx/router/action.py
  services/mx/router/route.py
  services/mx/router/router.py
  services/mx/service.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
  ui/web/main/systemtemplate/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  main/models/template.py
  services/mx/router/route.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
