Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Switch service classifier from tornado to FastAPI
  services/classifier/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add Eltex.LTE SysUptime snmp metric
  sa/profiles/Eltex/LTE/snmp_metrics/object_sysuptime.json
Due: prettier

add instruction for alerts
  docs/ru/docs/admin/howto/respond-to-alerts/respond-to-alerts.md
Due: none

Fix liftbridge migrate in docker-compose
  docker/docker-compose.yml
  docker/noc-docker-setup.sh
Due: prettier

add sensors Huawei.MA5600T
  sa/profiles/Huawei/MA5600T/get_inventory.py
  sa/profiles/Huawei/MA5600T/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Make zero a valid ASN-number
  core/validators.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix pattern_more Iskratel.MSAN
  sa/profiles/Iskratel/MSAN/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add manual for alerts
  docs/ru/docs/admin/howto/index.md
  docs/ru/docs/admin/howto/respond-to-alerts/respond-to-alerts.md
Due: none

Update Cisco.IOS profile
  sa/profiles/Cisco/IOS/get_cdp_neighbors.py
  sa/profiles/Cisco/IOS/get_inventory.py
  sa/profiles/Cisco/IOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add instruction for alerts
  docs/ru/docs/admin/howto/respond-to-alerts/handbook-alerts-noc/ ConsulServicesCountDecrease.md
  docs/ru/docs/admin/howto/respond-to-alerts/respond-to-alerts.md
Due: none

Add global index
  docs/ru/mkdocs.yml
Due: prettier

Fix deploy tests
  ansible/.ansible-ci.yml
  ansible/molecule/debian10/molecule.yml
  ansible/molecule/debian11/molecule.yml
  ansible/molecule/debian9/molecule.yml
  ansible/molecule/default/molecule.yml
  ansible/molecule/oel7/molecule.yml
  ansible/molecule/ubuntu16/molecule.yml
  ansible/molecule/ubuntu18/molecule.yml
  ansible/molecule/ubuntu20/molecule.yml
Due: prettier

Fix docs monitoring noc escaping
  docs/ru/docs/admin/howto/monitoring/monitoring-noc.md
Due: none

Docs retention db
  docs/ru/docs/admin/howto/index.md
  docs/ru/docs/admin/howto/retention-db/retention-db.md
  docs/ru/mkdocs.yml
Due: prettier

add sensors ZTE.ZXA10
  sa/profiles/ZTE/ZXA10/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add sensors ZTE.ZXDSL98xx
  sa/profiles/ZTE/ZXDSL98xx/get_inventory.py
  sa/profiles/ZTE/ZXDSL98xx/get_version.py
  sa/profiles/ZTE/ZXDSL98xx/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

NSN.TIMOS. Fix detect get interface type.
  sa/profiles/NSN/TIMOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add install.yml in consul role
  ansible/system_roles/consul/tasks/install.yml
Due: prettier

add defaults/main.yml in consul role
  ansible/system_roles/consul/defaults/main.yml
Due: prettier

Fix telegraf mongodb
  ansible/system_roles/mongod/tasks/main.yml
Due: prettier

Migrate noc.core.script.oidrules.loader to ContextVar
  core/script/oidrules/loader.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Allow to raise alarms on BI ID
  docs/en/docs/dev/reference/streams/dispose.md
  services/correlator/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix get.capabilities Eltex.MA4000
  sa/profiles/Eltex/MA4000/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Migrate noc.core.script.caller to ContextVar
  core/script/caller.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

NSN.TIMOS.get_interfaces. Fix vrf detected.
  sa/profiles/NSN/TIMOS/get_interfaces.py
  sa/profiles/NSN/TIMOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix iter_grouped method on body template on alarm_class 'Policy | Violation'.
  collections/fm.alarmclasses/Config/Policy_Violations.json
Due: prettier

Migrate ManagedObjectProfile metrics PickledField to JSONB.
  pm/models/metrictype.py
  sa/migrations/0229_managedobjectprofile_metrics_jsonb.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add type annotations to JSON collection support methods
  bi/models/dashboard.py
  bi/models/dashboardlayout.py
  cm/models/confdbquery.py
  dev/models/quiz.py
  dev/models/spec.py
  fm/models/alarmclass.py
  fm/models/alarmplugin.py
  fm/models/alarmrootcausecondition.py
  fm/models/alarmseverity.py
  fm/models/cloneclassificationrule.py
  fm/models/datasource.py
  fm/models/enumeration.py
  fm/models/eventclass.py
  fm/models/eventclassificationrule.py
  fm/models/mibalias.py
  fm/models/mibpreference.py
  fm/models/oidalias.py
  fm/models/syntaxalias.py
  gis/models/layer.py
  inv/models/capability.py
  inv/models/connectionrule.py
  inv/models/connectiontype.py
  inv/models/firmware.py
  inv/models/macblacklist.py
  inv/models/modelinterface.py
  inv/models/objectmodel.py
  inv/models/platform.py
  inv/models/technology.py
  inv/models/vendor.py
  main/models/font.py
  main/models/glyph.py
  pm/models/measurementunits.py
  pm/models/metricscope.py
  pm/models/metrictype.py
  pm/models/scale.py
  pm/models/thresholdprofile.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/profile.py
  sa/models/profilecheckrule.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add HTTPError handler OAuth formatter to FastAPI
  core/service/fastapi.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1705 Catch LiftBridge cluster error when request metadata.
  core/liftbridge/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix platform Alcatel.7302
  sa/profiles/Alcatel/7302/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

SNMP on Script set get_tables bulk param to None (for Capabilities use).
  core/script/snmp/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Migrate noc.core.span to ContextVar
  core/change/policy.py
  core/span.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add cfgmomapping Datastream.
  commands/datastream.py
  config.py
  main/models/label.py
  sa/models/managedobject.py
  services/datastream/streams/cfgmomapping.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Extend description field in peer models
  peer/migrations/0044_extend_description.py
  peer/models/asn.py
  peer/models/community.py
  peer/models/peer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Send post_save on ensure_platform.
  inv/models/platform.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Catch 'Invalid Script' error on AlarmDiagnostiConfig.
  fm/models/alarmdiagnosticconfig.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Rewrite label methods for model working.
  inv/models/firmwarepolicy.py
  inv/models/link.py
  main/models/label.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
