Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

Update translation files.
  services/web/translations/messages.pot
  services/web/translations/messages_js.pot
  services/web/translations/pt_BR/LC_MESSAGES/messages.po
  services/web/translations/pt_BR/LC_MESSAGES/messages_js.po
  services/web/translations/ru/LC_MESSAGES/messages.po
  services/web/translations/ru/LC_MESSAGES/messages_js.po
  ui/web/translations/ru.json
Due: prettier, py:test

release-23.1:Backport!7408
  ui/web/sa/managedobject/Application.js
Due: prettier, build:web

Merge branch 'patch-avs-update-translation' into 'master'
  services/web/translations/messages.pot
  services/web/translations/messages_js.pot
  services/web/translations/pt_BR/LC_MESSAGES/messages.po
  services/web/translations/pt_BR/LC_MESSAGES/messages_js.po
  services/web/translations/ru/LC_MESSAGES/messages.po
  services/web/translations/ru/LC_MESSAGES/messages_js.po
  ui/web/translations/ru.json
Due: prettier, py:test

release-23.1:Backport!7410
  services/web/translations/messages.pot
  services/web/translations/messages_js.pot
  services/web/translations/pt_BR/LC_MESSAGES/messages.po
  services/web/translations/pt_BR/LC_MESSAGES/messages_js.po
  services/web/translations/ru/LC_MESSAGES/messages.po
  services/web/translations/ru/LC_MESSAGES/messages_js.po
  ui/web/translations/ru.json
Due: prettier, py:test

fix
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

hide basket icon added
  ui/web/sa/managedobject/Application.js
Due: prettier, build:web

Fix AlarmDetailReport writer_csv method.
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, pylint, py:test

clean basket button added
  ui/web/sa/managedobject/Application.js
Due: prettier, build:web

Merge branch 'fix-avs-alarmdetail-report' into 'master'
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7413
  core/topology/map/objectgroup.py
  core/topology/map/segment.py
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, pylint, py:test

Add release notes 23.1.5
  docs/en/docs/about/releases/23.1.5.md
Due: prettier, build:Docs:en, upload docs

Possibility to disable installing of consul from repo
  ansible/system_roles/consul/defaults/main.yml
  ansible/system_roles/consul/meta/tower.yml
  ansible/system_roles/consul/tasks/install_wo_repo.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/RED_7/main.yml
Due: prettier

Possibility to disable installing of consul from repo
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/consul/tasks/os/RED_7/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_22/main.yml
Due: prettier

Possibility to disable installing of consul-template from repo
  ansible/system_roles/consul-template/defaults/main.yml
  ansible/system_roles/consul-template/meta/tower.yml
  ansible/system_roles/consul-template/tasks/install.yml
Due: prettier

Fix lint
  ansible/system_roles/consul-template/defaults/main.yml
  ansible/system_roles/consul/defaults/main.yml
Due: prettier

Add grafana own_install
  ansible/system_roles/grafana/defaults/main.yml
  ansible/system_roles/grafana/meta/tower.yml
  ansible/system_roles/grafana/tasks/os/CentOS_7/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/grafana/tasks/os/RED_7/main.yml
  ansible/system_roles/grafana/tasks/os/RedHat_7/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_22/main.yml
Due: prettier

Ansible switch disable install
  ansible/system_roles/consul-template/defaults/main.yml
  ansible/system_roles/consul-template/meta/tower.yml
  ansible/system_roles/consul-template/tasks/install.yml
  ansible/system_roles/consul/defaults/main.yml
  ansible/system_roles/consul/meta/tower.yml
  ansible/system_roles/consul/tasks/install_wo_repo.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/Debian_10/main.yml
  ansible/system_roles/consul/tasks/os/Debian_11/main.yml
  ansible/system_roles/consul/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/consul/tasks/os/RED_7/main.yml
  ansible/system_roles/consul/tasks/os/RedHat_7/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/consul/tasks/os/Ubuntu_22/main.yml
  ansible/system_roles/grafana/defaults/main.yml
  ansible/system_roles/grafana/meta/tower.yml
  ansible/system_roles/grafana/tasks/os/CentOS_7/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_10/main.yml
  ansible/system_roles/grafana/tasks/os/Debian_11/main.yml
  ansible/system_roles/grafana/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/grafana/tasks/os/RED_7/main.yml
  ansible/system_roles/grafana/tasks/os/RedHat_7/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/grafana/tasks/os/Ubuntu_22/main.yml
Due: prettier

Fix ManagedObject filter on FM Event UI.
  core/etl/models/serviceprofile.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, pylint, py:test

Cleanup print.
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, pylint, py:test

Fix CRC MetricType MeasurementUnit.
  collections/pm.measurementunits/Rate.json
  collections/pm.metrictypes/Interface/Errors/CRC.json
  collections/pm.metrictypes/Interface/Errors/CRC_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Rate.json
Due: prettier, py:test

Merge branch 'fix-avs-fm-events-web-mo-filter' into 'master'
  core/etl/models/serviceprofile.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'patch-avs-add-rate-measurement' into 'master'
  collections/pm.measurementunits/Rate.json
  collections/pm.metrictypes/Interface/Errors/CRC.json
  collections/pm.metrictypes/Interface/Errors/CRC_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Rate.json
Due: prettier, py:test

release-23.1:Backport!7418
  core/etl/models/serviceprofile.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7419
  collections/pm.measurementunits/Rate.json
  collections/pm.metrictypes/Interface/Errors/CRC.json
  collections/pm.metrictypes/Interface/Errors/CRC_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Delta.json
  collections/pm.metrictypes/Interface/Errors/Collision_Rate.json
Due: prettier, py:test

Bump Django version.
  .requirements/node.txt
Due: none

release-23.1:Backport!7422
  .requirements/node.txt
Due: none

Migrate Report Event Summary and Report Unclassified Trap OIDs to New API.
  collections/main.reports/Event_Summary.json
  main/reportsources/reportunclassifiedoids.py
  services/classifier/service.py
  services/web/apps/fm/reportalarmdetail/views.py
Due: flake8, black, mypy, prettier, pylint, py:test

Migrate ReportEventSummary and to New API.
  main/reportsources/reporteventsummary.py
Due: flake8, black, mypy, pylint, py:test

Fix query.
  main/reportsources/reportunclassifiedoids.py
Due: flake8, black, mypy, pylint, py:test

Add Unclassified Trap OIDs report_config.
  collections/main.reports/Unclassified_Trap_OIDs.json
  main/reportsources/reporteventsummary.py
  main/reportsources/reportunclassifiedoids.py
Due: flake8, black, mypy, prettier, pylint, py:test

Remove Old reports.
  collections/main.reports/Event_Summary.json
  collections/main.reports/Unclassified_Trap_OIDs.json
  services/web/apps/fm/reporteventsummary/__init__.py
  services/web/apps/fm/reporteventsummary/views.py
  services/web/apps/fm/reportunclassifiedoids/__init__.py
  services/web/apps/fm/reportunclassifiedoids/views.py
Due: flake8, black, mypy, prettier, pylint, py:test

Fix flake.
  main/reportsources/reportunclassifiedoids.py
Due: flake8, black, mypy, pylint, py:test

Migrate Report Event Summary and Report Unclassified Trap OIDs to New API.
  collections/main.reports/Event_Summary.json
  collections/main.reports/Unclassified_Trap_OIDs.json
  main/reportsources/reporteventsummary.py
  main/reportsources/reportunclassifiedoids.py
  services/classifier/service.py
  services/web/apps/fm/reportalarmdetail/views.py
  services/web/apps/fm/reporteventsummary/__init__.py
  services/web/apps/fm/reporteventsummary/views.py
  services/web/apps/fm/reportunclassifiedoids/__init__.py
  services/web/apps/fm/reportunclassifiedoids/views.py
Due: flake8, black, mypy, prettier, pylint, py:test

Merge branch 'patch-avs-migrate-event-report-1' into 'master'
  collections/main.reports/Event_Summary.json
  collections/main.reports/Unclassified_Trap_OIDs.json
  main/reportsources/reporteventsummary.py
  main/reportsources/reportunclassifiedoids.py
  services/classifier/service.py
  services/web/apps/fm/reportalarmdetail/views.py
  services/web/apps/fm/reporteventsummary/__init__.py
  services/web/apps/fm/reporteventsummary/views.py
  services/web/apps/fm/reportunclassifiedoids/__init__.py
  services/web/apps/fm/reportunclassifiedoids/views.py
Due: flake8, black, mypy, prettier, pylint, py:test

release-23.1:Backport!7425
  collections/main.reports/Event_Summary.json
  collections/main.reports/Unclassified_Trap_OIDs.json
  main/reportsources/reporteventsummary.py
  main/reportsources/reportunclassifiedoids.py
  services/classifier/service.py
  services/web/apps/fm/reportalarmdetail/views.py
  services/web/apps/fm/reporteventsummary/__init__.py
  services/web/apps/fm/reporteventsummary/views.py
  services/web/apps/fm/reportunclassifiedoids/__init__.py
  services/web/apps/fm/reportunclassifiedoids/views.py
Due: flake8, black, mypy, prettier, pylint, py:test

fix_interfaces_Eltex.TAU
  sa/profiles/Eltex/TAU/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Update get_interfaces.py
  sa/profiles/Eltex/TAU/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
