Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Add alarm status column to inv.inv.ChannelPanel
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
Due: eslint, build:web

Skip snmp_raw for reclassify SNMP Trap event.
  collections/fm.eventclassificationrules/Unknown/SNMP_Trap.json
  collections/fm.eventclassificationrules/Unknown/SNMP_Trap_Raw_.json
  services/classifier/ruleset.py
  services/classifier/service.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'fix-avs-reclassify-snmp-trap-event' into 'master'
  collections/fm.eventclassificationrules/Unknown/SNMP_Trap.json
  collections/fm.eventclassificationrules/Unknown/SNMP_Trap_Raw_.json
  services/classifier/ruleset.py
  services/classifier/service.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9341
  collections/fm.eventclassificationrules/Unknown/SNMP_Trap.json
  collections/fm.eventclassificationrules/Unknown/SNMP_Trap_Raw_.json
  services/classifier/ruleset.py
  services/classifier/service.py
  services/correlator/service.py
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, prettier, py:test

add missed collections
  collections/fm.alarmclasses/Chassis/Hardware/Module/Transceiver_Ejected.json
  collections/fm.alarmclasses/OTN/ODU/TIM.json
  collections/fm.alarmclasses/OTN/ODU/TIM_ERR.json
  collections/fm.alarmclasses/OTN/OTU/TIM.json
  collections/fm.alarmclasses/OTN/OTU/TIM_ERR.json
  collections/fm.dispositionrules/Chassis/Hardware/Module/Module_Present.json
  collections/fm.dispositionrules/Chassis/Hardware/Module/Module_not_Present.json
  collections/fm.eventclassificationrules/IRE-Polus/Horizon/Chassis/Hardware/Module/Module_Present_SNMP_TRAP_.json
  collections/fm.eventclassificationrules/IRE-Polus/Horizon/Chassis/Hardware/Module/Module_not_Present_SNMP_TRAP_.json
Due: prettier, py:test

Change -v to -o
  commands/collection.py
Due: py-lint, mypy, py:test

Add NEXT get delay oved datastream client query.
  core/datastream/client.py
Due: py-lint, mypy, py:test

fix decoding unescaped event
  services/classifier/service.py
Due: py-lint, mypy, py:test

Add unescaped flag to event data.
  core/fm/event.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

linter
  services/classifier/service.py
Due: py-lint, mypy, py:test

Clean trapcollector escaped.
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: py-lint, mypy, py:test

Fix flake.
  core/fm/event.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-add-datastream-client-delay-get' into 'master'
  core/datastream/client.py
Due: py-lint, mypy, py:test

Add refresh_alarm_class
  fm/models/activealarm.py
  fm/models/alarmclass.py
  fm/models/alarmwatch.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9343
  core/datastream/client.py
Due: py-lint, mypy, py:test

Add alarm status column to ChannelPanel with custom renderer
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
Due: eslint, build:web

Add override to close channel grid on object launch from inv.inv.AlarmPanel
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
Due: eslint, build:web

Add group_type field to ActiveAlarm.
  core/fm/enum.py
  core/fm/request.py
  fm/models/activealarm.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix
  fm/models/activealarm.py
  services/web/apps/inv/inv/plugins/map.py
Due: py-lint, mypy, py:test

Channel alarms
  core/techdomain/mapper/base.py
  core/techdomain/mapper/otn_odu.py
  core/techdomain/mapper/otn_otu.py
  fm/models/activealarm.py
  fm/models/pathitem.py
  services/web/apps/inv/inv/plugins/alarm.py
  services/web/apps/inv/inv/plugins/channel.py
  services/web/apps/inv/inv/plugins/map.py
  ui/web/css/extjs.css
  ui/web/inv/inv/plugins/alarm/AlarmModel.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Add FontAwesome7
  requirements/web.json
Due: prettier, py:test

Enhance inv.inv.BoMPanel location column to renderer and add click event for clickable objects
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: eslint, build:web

noc collection sync: Prefer custom
  core/collection/base.py
Due: py-lint, mypy, py:test

Fix backend
  services/web/apps/inv/inv/plugins/bom.py
Due: py-lint, mypy, py:test

inv.inv.BoMPanel fix click event listener
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: eslint, build:web

Fix dispositionreq.
  fm/models/activealarm.py
  sa/models/service.py
  services/classifier/service.py
  services/correlator/alarmrule.py
  services/correlator/models/dispositionreq.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/alarmjob.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Remove ignore severity from Group AlarmClass.
  collections/fm.alarmclasses/NOC/Group.json
  fm/models/activealarm.py
  services/correlator/service.py
Due: py-lint, mypy, prettier, py:test

Add g_type to EnsureGroupReq.
  services/correlator/models/dispositionreq.py
  services/correlator/models/ensuregroupreq.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Cleanup Alarm Job changes.
  core/fm/request.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Due: py-lint, mypy, py:test

Fix flake.
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Fix service.
  sa/models/service.py
Due: py-lint, mypy, py:test

Fix typo.
  services/classifier/service.py
Due: py-lint, mypy, py:test

Add group_type field to ActiveAlarm.
  collections/fm.alarmclasses/NOC/Group.json
  core/fm/enum.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  services/classifier/service.py
  services/correlator/alarmrule.py
  services/correlator/models/dispositionreq.py
  services/correlator/models/ensuregroupreq.py
  services/correlator/service.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!9347
  collections/fm.alarmclasses/NOC/Group.json
  core/fm/enum.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  services/classifier/service.py
  services/correlator/alarmrule.py
  services/correlator/models/dispositionreq.py
  services/correlator/models/ensuregroupreq.py
  services/correlator/service.py
Due: py-lint, mypy, prettier, py:test

Add CfgAlarm to AlarmClass config.
  core/models/cfgactions.py
  fm/models/alarmclass.py
  fm/models/dispositionrule.py
  services/datastream/models/cfgalarm.py
Due: py-lint, mypy, py:test

Add Rule to cfgalarm.
  fm/models/alarmclass.py
  services/datastream/models/cfgalarm.py
Due: py-lint, mypy, py:test

Fix load config on Correlator.
  services/correlator/rule.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Add interaction Audit.
  core/models/cfgactions.py
  core/models/cfginteractions.py
  fm/models/alarmclass.py
  fm/models/dispositionrule.py
  services/classifier/actionset.py
  services/datastream/models/cfgalarm.py
  services/datastream/models/cfgevent.py
  services/datastream/models/utils.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
