Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

release-23.1:Backport!9509
  fixes/fix_link_all_objects.py
Due: py-lint, mypy, py:test

Add some D-Link switch models
  collections/inv.objectmodels/DLink/DES/DES-1210-28_ME_A1.json
  collections/inv.objectmodels/DLink/DES/DES-3200-10_B1.json
  collections/inv.objectmodels/DLink/DES/DES-3200-18_B1.json
  collections/inv.objectmodels/DLink/DES/DES-3200-18_C1.json
  collections/inv.objectmodels/DLink/DES/DES-3200-26_B1.json
  collections/inv.objectmodels/DLink/DES/DES-3200-26_C1.json
  collections/inv.objectmodels/DLink/DES/DES-3200-28_B1.json
  collections/inv.objectmodels/DLink/DGS/DGS-1210-12TS_ME.json
  collections/inv.objectmodels/DLink/DGS/DGS-3000-10L.json
  collections/inv.objectmodels/DLink/DGS/DGS-3000-20L.json
  collections/inv.objectmodels/DLink/DGS/DGS-3000-28L.json
Due: prettier, py:test

Add runner service
  ansible/deploy.yml
  ansible/noc_roles/runner/meta/main.yml
  ansible/noc_roles/runner/meta/tower.yml
  ansible/noc_roles/runner/tasks/checks.yml
  ansible/noc_roles/runner/tasks/main.yml
  ansible/noc_roles/runner/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/runner/tasks/os/Debian_10/main.yml
  ansible/noc_roles/runner/tasks/os/Debian_11/main.yml
  ansible/noc_roles/runner/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/runner/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/runner/tasks/os/RED_7/main.yml
  ansible/noc_roles/runner/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/runner/tasks/os/Ubuntu_20/main.yml
  ansible/noc_roles/runner/tasks/os/Ubuntu_22/main.yml
Due: prettier

Add tests
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/templates/runner.goss.yml.j2
Due: prettier

fix lint
  ansible/molecule/ubuntu22/inv.yml
Due: prettier

Edit .ansible-ci.yml remove molecule debug
  ansible/.ansible-ci.yml
Due: prettier

Add runner service
  ansible/deploy.yml
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/templates/runner.goss.yml.j2
  ansible/noc_roles/runner/meta/main.yml
  ansible/noc_roles/runner/meta/tower.yml
  ansible/noc_roles/runner/tasks/checks.yml
  ansible/noc_roles/runner/tasks/main.yml
  ansible/noc_roles/runner/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/runner/tasks/os/Debian_10/main.yml
  ansible/noc_roles/runner/tasks/os/Debian_11/main.yml
  ansible/noc_roles/runner/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/runner/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/runner/tasks/os/RED_7/main.yml
  ansible/noc_roles/runner/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/runner/tasks/os/Ubuntu_20/main.yml
  ansible/noc_roles/runner/tasks/os/Ubuntu_22/main.yml
Due: prettier

Fix classify command
  commands/classify.py
Due: py-lint, mypy, py:test

Fix syntax
  commands/classify.py
Due: py-lint, mypy, py:test

Allow used port-range on listen config directive.
  core/service/base.py
Due: py-lint, mypy, py:test

Add capability decorator to ManagedObject model.
  core/caps/decorator.py
  core/models/inputsources.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix typo.
  core/change/policy.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Fix discovery logging.
  core/caps/decorator.py
  services/discovery/jobs/base.py
Due: py-lint, mypy, py:test

Add capability decorator to ManagedObject model.
  core/caps/decorator.py
  core/change/policy.py
  core/models/inputsources.py
  inv/models/capability.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/base.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'patch-avs-mo-caps-decorator' into 'master'
  core/caps/decorator.py
  core/change/policy.py
  core/models/inputsources.py
  inv/models/capability.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/base.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9523
  core/caps/decorator.py
  core/change/policy.py
  core/models/inputsources.py
  inv/models/capability.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/base.py
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Additional condition to CPE Profile match Rules.
  inv/models/cpe.py
  inv/models/cpeprofile.py
  ui/web/inv/cpeprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Add profile classification to CPE Discovery.
  services/discovery/jobs/box/cpe.py
Due: py-lint, mypy, py:test

Fix typo.
  core/model/dynamicprofile.py
  inv/models/cpeprofile.py
  services/discovery/jobs/box/cpe.py
  ui/web/inv/cpeprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Juniper.JUNOS. Add qfx supported.
  sa/profiles/Juniper/JUNOS/get_mac_address_table.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

Fix typo.
  sa/profiles/Juniper/JUNOS/get_mac_address_table.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

Additional condition to CPE Profile match Rules.
  core/model/dynamicprofile.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  services/discovery/jobs/box/cpe.py
  ui/web/inv/cpeprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'additional-condition-to-cpeprofile-match' into 'master'
  core/model/dynamicprofile.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  services/discovery/jobs/box/cpe.py
  ui/web/inv/cpeprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Catch error when caps Source is unknown.
  core/caps/decorator.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9525
  core/model/dynamicprofile.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  services/discovery/jobs/box/cpe.py
  ui/web/inv/cpeprofile/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'fix-avs-junos-get-metrics-service' into 'master'
  sa/profiles/Juniper/JUNOS/get_mac_address_table.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9526
  sa/profiles/Juniper/JUNOS/get_mac_address_table.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/get_version.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-catch-error-when-unkonw-caps-source' into 'master'
  core/caps/decorator.py
Due: py-lint, mypy, py:test

Add allow_multiple_header flag to _process_cookies for parse multiple headers.
  core/script/http/base.py
Due: py-lint, mypy, py:test

Fix ubiquityauth middleware.
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9528
  core/caps/decorator.py
Due: py-lint, mypy, py:test

Add allow_multiple_header flag to _process_cookies for parse multiple headers.
  core/script/http/base.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-process-multiple-cookies' into 'master'
  core/script/http/base.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9531
  core/script/http/base.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

Partially revert changes
  commands/classify.py
Due: py-lint, mypy, py:test

Update Cisco.IOS.get_version script
  sa/profiles/Cisco/IOS/get_version.py
Due: py-lint, mypy, py:test

Add some BDCOM.xPON models
  collections/inv.objectmodels/Bdcom/xPON/GP3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/GP3600-08B.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x-2AC.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08E.json
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Due: prettier, py:test

s/EPON/GEPON/
  collections/inv.objectmodels/Bdcom/xPON/P3310x-2AC.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x.json
Due: prettier, py:test

s/EPON/GEPON/
  collections/inv.objectmodels/Bdcom/xPON/P3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08E.json
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Due: prettier, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
