Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

release-24.1:Backport!8425
  main/models/label.py
  services/discovery/jobs/box/interface.py
Due: py-lint, mypy, py:test

Fix discoveryproblemds datasource.
  collections/main.reports/Discovery_Problem.json
  core/datasources/discoveryproblemds.py
Due: py-lint, mypy, prettier, py:test

Fix start and end parameters in datasource
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

Add new report Availability config
  collections/main.reports/Availability.json
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, prettier, py:test

Add condition to ignore data for removed MO
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

Update column titles and localization
  collections/main.reports/Availability.json
Due: prettier, py:test

Remove unused method
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

Fix black
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

Change type of availability field to float
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

Add full and zero availability skip checkboxes
  collections/main.reports/Availability.json
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, prettier, py:test

Replace ObjectStatus with ManagedObjectStatus
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, py:test

Add skip zero access port checkbox
  collections/main.reports/Availability.json
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, prettier, py:test

Update localization
  collections/main.reports/Availability.json
Due: prettier, py:test

Change order of datasources
  collections/main.reports/Availability.json
Due: prettier, py:test

Fix
  sa/profiles/IRE-Polus/Horizon/controller/otn_odu.py
Due: py-lint, mypy, py:test

Fix managedobjectavailabilityds datasource.
  collections/main.reports/Availability.json
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, prettier, py:test

To ReportEngine: Discovery Problem
  collections/main.reports/Discovery_Problem.json
  core/datasources/discoveryproblemds.py
Due: py-lint, mypy, prettier, py:test

Fix
  core/runner/actions/script.py
  sa/profiles/IRE-Polus/Horizon/controller/otn_odu.py
Due: py-lint, mypy, py:test

#2518 Transferring information storage to ClickHouse
  bi/models/changes.py
  core/change/change.py
  core/change/decorator.py
  core/change/policy.py
  core/model/decorator.py
  core/wf/decorator.py
  fixes/convert_audittrails.py
  fm/models/activealarm.py
  fm/models/archivedalarm.py
  inv/models/discoveryid.py
  inv/models/forwardinginstance.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/link.py
  inv/models/sensor.py
  inv/models/subinterface.py
  sa/models/service.py
  services/web/apps/main/audittrail/views.py
Due: py-lint, mypy, py:test

Enable/Disable laser in ODU provisioning
  sa/profiles/IRE-Polus/Horizon/controller/base.py
  sa/profiles/IRE-Polus/Horizon/controller/otn_odu.py
Due: py-lint, mypy, py:test

Aggregate ODU jobs together
  core/techdomain/controller/otn_odu.py
Due: py-lint, mypy, py:test

Change ISetParam returns to None. Remove bool return from set_param
  sa/profiles/IRE-Polus/Horizon/set_param.py
Due: py-lint, mypy, py:test

Integrate orchestrator with channel management
  core/msgstream/config.py
  core/runner/actions/base.py
  core/runner/actions/script.py
  core/runner/job.py
  core/runner/models/jobreq.py
  core/techdomain/controller/otn_odu.py
  core/techdomain/profile/__init__.py
  core/techdomain/profile/base.py
  core/techdomain/profile/channel.py
  core/techdomain/profile/otn_odu.py
  inv/models/endpoint.py
  sa/models/job.py
  sa/profiles/IRE-Polus/Horizon/controller/__init__.py
  sa/profiles/IRE-Polus/Horizon/controller/base.py
  sa/profiles/IRE-Polus/Horizon/controller/otn_odu.py
  services/runner/service.py
Due: py-lint, mypy, py:test

fix mistype
  sa/profiles/IRE-Polus/Horizon/set_param.py
Due: py-lint, mypy, py:test

fix
  sa/profiles/IRE-Polus/Horizon/set_param.py
Due: py-lint, mypy, py:test

fix lint
  sa/profiles/IRE-Polus/Horizon/set_param.py
Due: py-lint, mypy, py:test

BoM plugin: Show ardware revision and firmware version
  services/web/apps/inv/inv/plugins/bom.py
  ui/web/inv/inv/plugins/bom/BoMModel.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

Search by version/revision
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: eslint, build:web

BoM: Include revision and firmware version columns
  services/web/apps/inv/inv/plugins/bom.py
  ui/web/inv/inv/plugins/bom/BoMModel.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

OSC channels support
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-H21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-C21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-H21-OSC_1511_-H8.json
  collections/inv.techdomains/otn_osc.json
  core/discriminator.py
  core/techdomain/controller/otn_osc.py
  core/techdomain/mapper/otn_osc.py
  core/techdomain/profile/otn_osc.py
  sa/profiles/IRE-Polus/Horizon/controller/base.py
  sa/profiles/IRE-Polus/Horizon/controller/otn_odu.py
  sa/profiles/IRE-Polus/Horizon/controller/otn_osc.py
  tests/core/test_discriminator.py
Due: py-lint, mypy, prettier, py:test

Fix
  sa/profiles/IRE-Polus/Horizon/controller/otn_osc.py
Due: py-lint, mypy, py:test

Fix checks conditions
  ansible/noc_roles/correlator/tasks/checks.yml
  ansible/noc_roles/kafkasender/tasks/checks.yml
  ansible/noc_roles/mx/task/checks.yml
  ansible/system_roles/kafka/templates/kafka.service.j2
Due: prettier

inv.inv: Show channels on transceiver level
  inv/models/object.py
  services/web/apps/inv/inv/plugins/channel.py
Due: py-lint, mypy, py:test

Fix
  inv/models/object.py
Due: py-lint, mypy, py:test

Use matchers for interface classification.
  inv/models/interface.py
  inv/models/interfaceprofile.py
  services/discovery/jobs/box/interface.py
Due: py-lint, mypy, py:test

Add subinterface_apply_policy setting.
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/subinterface.py
  services/discovery/jobs/box/interface.py
  ui/web/inv/interfaceprofile/Application.js
  ui/web/inv/interfaceprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
