Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Merge branch 'fix-avs-dlink-inventory-set-stack' into 'master'
  sa/profiles/DLink/DxS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6477
  sa/profiles/DLink/DxS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

model fix in get_version Huawei.MA5300
  sa/profiles/Huawei/MA5300/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update get_version.py
  sa/profiles/Huawei/MA5300/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  services/login/backends/ldap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix CLI Name.
  collections/inv.capabilities/NAG/SNR/CLI_FoxGate.json
  sa/profiles/NAG/SNR/get_capabilities.py
  sa/profiles/NAG/SNR/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1369 Request user_info over bind_user for OpenLDAP Auth settings.
  services/login/backends/ldap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1369' into 'master'
  services/login/backends/ldap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1860 Add forget-history to gridvcs command.
  commands/gridvcs.py
  inv/models/resourcegroup.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1860' into 'master'
  commands/gridvcs.py
  inv/models/resourcegroup.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6388
  commands/gridvcs.py
  inv/models/resourcegroup.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6470
  services/login/backends/ldap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix_model_Huawei.MA5300' into 'master'
  sa/profiles/Huawei/MA5300/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

release-22.1:Backport!6497
  sa/profiles/Huawei/MA5300/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add roles redpanda
  ansible/system_roles/redpanda/defaults/main.yml
  ansible/system_roles/redpanda/handlers/main.yml
  ansible/system_roles/redpanda/meta/main.yml
  ansible/system_roles/redpanda/meta/tower.yml
  ansible/system_roles/redpanda/service.yml
  ansible/system_roles/redpanda/tasks/main.yml
  ansible/system_roles/redpanda/tasks/os/CentOS_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_11/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_9/main.yml
  ansible/system_roles/redpanda/tasks/os/FreeBSD_12/main.yml
  ansible/system_roles/redpanda/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/redpanda/tasks/os/RedHat_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_22/main.yml
  ansible/system_roles/redpanda/templates/redpanda.goss.yml.j2
  ansible/system_roles/redpanda/templates/redpanda_systemd.service.j2
  ansible/system_roles/redpanda/vars/CentOS_7.yml
  ansible/system_roles/redpanda/vars/Debian_10.yml
  ansible/system_roles/redpanda/vars/Debian_11.yml
  ansible/system_roles/redpanda/vars/Debian_9.yml
  ansible/system_roles/redpanda/vars/FreeBSD_12.yml
  ansible/system_roles/redpanda/vars/OracleLinux_7.yml
  ansible/system_roles/redpanda/vars/RedHat_7.yml
  ansible/system_roles/redpanda/vars/Ubuntu_16.yml
  ansible/system_roles/redpanda/vars/Ubuntu_18.yml
  ansible/system_roles/redpanda/vars/Ubuntu_20.yml
  ansible/system_roles/redpanda/vars/Ubuntu_22.yml
Due: prettier

fix syntax error
  ansible/system_roles/redpanda/defaults/main.yml
  ansible/system_roles/redpanda/handlers/main.yml
  ansible/system_roles/redpanda/meta/main.yml
  ansible/system_roles/redpanda/meta/tower.yml
  ansible/system_roles/redpanda/tasks/os/CentOS_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_11/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_9/main.yml
  ansible/system_roles/redpanda/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/redpanda/tasks/os/RedHat_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_22/main.yml
Due: prettier

fix syntax error try 2
  ansible/system_roles/redpanda/tasks/os/CentOS_7/main.yml
Due: prettier

Reformat raw_pdu values.
  core/snmp/ber.py
  core/snmp/trap.py
  services/classifier/service.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix resolved_vars method on mib.
  docs/en/docs/user/reference/mx/event.md
  docs/en/docs/user/reference/mx/snmptrap.md
  docs/en/docs/user/reference/mx/syslog.md
  fm/models/mib.py
  services/classifier/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake.
  core/snmp/trap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add TTL support for django models in workflow decorator
  core/wf/decorator.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add generate_message_id config param.
  config.py
  services/classifier/service.py
  services/syslogcollector/service.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix syntax error try 3
  ansible/system_roles/redpanda/defaults/main.yml
  ansible/system_roles/redpanda/tasks/os/CentOS_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_11/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_9/main.yml
  ansible/system_roles/redpanda/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/redpanda/tasks/os/RedHat_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_22/main.yml
Due: prettier

fix syntax error try 4
  ansible/system_roles/redpanda/defaults/main.yml
  ansible/system_roles/redpanda/tasks/os/CentOS_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_11/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_9/main.yml
  ansible/system_roles/redpanda/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/redpanda/tasks/os/RedHat_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_22/main.yml
Due: prettier

Fix typo.
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix syntax error try 5
  ansible/system_roles/redpanda/handlers/main.yml
Due: prettier

fix syntax error try 6
  ansible/system_roles/redpanda/tasks/os/CentOS_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_11/main.yml
  ansible/system_roles/redpanda/tasks/os/Debian_9/main.yml
  ansible/system_roles/redpanda/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/redpanda/tasks/os/RedHat_7/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/redpanda/tasks/os/Ubuntu_22/main.yml
Due: prettier

Remove error_report.
  services/classifier/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Event message generated for MX.
  config.py
  core/snmp/ber.py
  core/snmp/trap.py
  docs/en/docs/user/reference/mx/event.md
  docs/en/docs/user/reference/mx/snmptrap.md
  docs/en/docs/user/reference/mx/syslog.md
  docs/ru/docs/user/reference/mx/event.md
  docs/ru/docs/user/reference/mx/snmptrap.md
  docs/ru/docs/user/reference/mx/syslog.md
  fm/models/mib.py
  services/classifier/service.py
  services/syslogcollector/service.py
  services/trapcollector/service.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add deploy redpanda
  ansible/deploy.yml
Due: prettier

add profilecheckrule WL8200-TL3-S
  collections/sa.profilecheckrules/DCN/WL/Enterprise_sysDescr.json
Due: prettier

Add CredentialCheckRule model.
  core/script/credentialchecker.py
  models.py
  sa/models/credentialcheckrule.py
  services/web/apps/sa/credentialcheckrule/__init__.py
  services/web/apps/sa/credentialcheckrule/views.py
  ui/web/sa/credentialcheckrule/Application.js
  ui/web/sa/credentialcheckrule/LookupField.js
  ui/web/sa/credentialcheckrule/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix typo.
  services/web/apps/ip/ipam/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

ip.ipam.view.Grid add viewConfig
  ui/web/ip/ipam/view/Grid.js
Due: prettier

Add Protocol enum.
  core/script/credentialchecker.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add connect_timeout to Stream.connect method.
  config.py
  core/script/cli/stream.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  core/script/credentialchecker.py
  sa/models/credentialcheckrule.py
  ui/web/sa/credentialcheckrule/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
