Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

#2560 Add Internal Job for ETL Sync.
  commands/etl.py
  core/etl/extractor/base.py
  core/etl/loader/base.py
  core/etl/loader/chain.py
  core/etl/remotesystem/base.py
  core/mx.py
  main/models/remotesystem.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix Peer Profile migration.
  peer/migrations/0045_add_peerprofile.py
Due: py-lint, mypy, py:test

Add mappings to ManagedObject UI.
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
  services/web/apps/sa/managedobject/views.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add remotesystem object_url_template
  main/models/remotesystem.py
Due: py-lint, mypy, py:test

Fix on_delete.
  models.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

web: Allow unauthorized endpoints
  services/login/paths/auth.py
  services/web/apps/main/desktop/templates/desktop.html
  services/web/apps/main/desktop/views.py
  services/web/base/access.py
  services/web/base/application.py
  services/web/base/site.py
Due: py-lint, mypy, py:test

Add workflow Migration.
  peer/migrations/0045_add_peerprofile.py
  peer/migrations/0046_migrate_peer_for_discovery.py
  peer/models/peer.py
  wf/migrations/0014_add_peer_default_workflow.py
Due: py-lint, mypy, py:test

Change vc to vlan column in IPAM reports
  services/web/apps/ip/reportallocated/views.py
  services/web/apps/ip/reportexpanded/views.py
Due: py-lint, mypy, py:test

Fix CustomField renaming
  main/models/customfield.py
Due: py-lint, mypy, py:test

Apply VPN on PrefixDiscovery.
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
Due: py-lint, mypy, py:test

open home app on empty workplace
  ui/web/main/desktop/WorkplacePanel.js
Due: eslint, build:web

Fix tt_system param in maintenance escalator.
  services/escalator/maintenance.py
Due: py-lint, mypy, py:test

#2570 Add BGP protocol Syntax to ConfDB.
  core/confdb/syntax/patterns.py
  core/confdb/syntax/virtualrouter/protocols/base.py
  core/confdb/syntax/virtualrouter/protocols/bgp/__init__.py
  core/confdb/syntax/virtualrouter/protocols/bgp/base.py
Due: py-lint, mypy, py:test

move login app to ui
  services/login/paths/auth.py
  ui/web/main/desktop/LoginView.js
  ui/web/main/desktop/app.js
Due: py-lint, mypy, eslint, py:test, build:web

Add workflow to UI.
  services/web/apps/peer/peer/views.py
  services/web/apps/peer/peerprofile/__init__.py
  services/web/apps/peer/peerprofile/views.py
  ui/web/peer/peer/Application.js
  ui/web/peer/peer/Model.js
  ui/web/peer/peerprofile/Application.js
  ui/web/peer/peerprofile/LookupField.js
  ui/web/peer/peerprofile/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

rebase move login app to ui
  services/web/apps/main/desktop/templates/desktop.html
  ui/web/core/QuickRepoPreview.js
  ui/web/js/colors.js
  ui/web/js/glyph.js
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/desktop/LoginView.js
  ui/web/main/desktop/app.js
Due: eslint, build:web

operation with url fixed
  ui/web/main/desktop/LoginView.js
  ui/web/main/desktop/app.js
Due: eslint, build:web

Add Generalized Mappings to ETL base.
  core/etl/loader/base.py
  core/etl/models/managedobject.py
  core/etl/models/typing.py
Due: py-lint, mypy, py:test

Add priority.
  core/etl/loader/managedobject.py
  core/etl/loader/networksegment.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

NAG.SNR.get_interfaces. Add SNMP Support.
  cmibs/nag_mib.py
  collections/fm.mibs/NAG-MIB.json.gz
  sa/profiles/NAG/SNR/add_vlan.py
  sa/profiles/NAG/SNR/get_chassis_id.py
  sa/profiles/NAG/SNR/get_config.py
  sa/profiles/NAG/SNR/get_interface_status.py
  sa/profiles/NAG/SNR/get_interfaces.py
  sa/profiles/NAG/SNR/get_metrics.py
  sa/profiles/NAG/SNR/get_portchannel.py
  sa/profiles/NAG/SNR/get_switchport.py
  sa/profiles/NAG/SNR/get_version.py
  sa/profiles/NAG/SNR/get_vlans.py
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, py:test

Fix flake.
  cmibs/nag_mib.py
  sa/profiles/NAG/SNR/get_metrics.py
Due: py-lint, mypy, py:test

Add capabilities SNMP checks.
  sa/profiles/NAG/SNR/get_capabilities.py
Due: py-lint, mypy, py:test

Generic.get_arp. Skip MAC address without interface PID.
  sa/profiles/Generic/get_arp.py
  sa/profiles/Generic/get_mac_address_table.py
Due: py-lint, mypy, py:test

default favicon added and url fixed
  services/web/apps/main/desktop/templates/desktop.html
  ui/web/main/desktop/app.js
Due: eslint, build:web

url fixed
  ui/web/main/desktop/app.js
Due: eslint, build:web

#1442 Add Generalized Mappings to ETL base.
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/networksegment.py
  core/etl/models/managedobject.py
  core/etl/models/typing.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Add GigaEthernet type.
  sa/profiles/NAG/SNR/get_version.py
  sa/profiles/NAG/SNR/profile.py
Due: py-lint, mypy, py:test

Add is_private method to MAC module.
  core/mac.py
Due: py-lint, mypy, py:test

HP.Aruba. Add 'CPU | Usage' metric.
  cmibs/host_resources_mib.py
  sa/profiles/Generic/get_capabilities.py
  sa/profiles/HP/Aruba/get_capabilities.py
  sa/profiles/HP/Aruba/get_metrics.py
Due: py-lint, mypy, py:test

Mikrotik.RouterOS. Add BGP Peer parsing to CMDB normalizer.
  core/confdb/tokenizer/routeros.py
  sa/profiles/MikroTik/RouterOS/confdb/normalizer.py
Due: py-lint, mypy, py:test

Add capabilities.
  collections/inv.capabilities/SNMP/HOST-RESOURCES-MIB/CPU_Cores/Idx.json
  collections/inv.capabilities/SNMP/MIB/HOST-RESOURCES-MIB.json
  sa/profiles/Generic/get_capabilities.py
Due: py-lint, mypy, prettier, py:test

Fix flake.
  sa/profiles/MikroTik/RouterOS/confdb/normalizer.py
Due: py-lint, mypy, py:test

Remove unused import.
  sa/profiles/MikroTik/RouterOS/confdb/normalizer.py
Due: py-lint, mypy, py:test

Move /main/desktop/ to /index.html
  .docker/files/nginx.conf
  ansible/system_roles/nginx/templates/noc.conf.j2
  services/login/paths/auth.py
  services/web/apps/main/desktop/views.py
  services/web/base/site.py
  urls.py
Due: py-lint, mypy, py:test

HP.Aruba. Add 'CPU | Usage' metric.
  cmibs/host_resources_mib.py
  collections/inv.capabilities/SNMP/HOST-RESOURCES-MIB/CPU_Cores/Idx.json
  collections/inv.capabilities/SNMP/MIB/HOST-RESOURCES-MIB.json
  sa/profiles/Generic/get_capabilities.py
  sa/profiles/HP/Aruba/get_capabilities.py
  sa/profiles/HP/Aruba/get_metrics.py
Due: py-lint, mypy, prettier, py:test

Optimize Event.get_by_id query
  core/clickhouse/connect.py
  core/fm/event.py
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

Remove debug message.
  core/confdb/tokenizer/routeros.py
Due: py-lint, mypy, py:test

#2573 Add Workflow to Peer and adapt it for internal use.
  collections/wf.states/BGP_Peer_Default_Active.json
  collections/wf.states/BGP_Peer_Default_Missed.json
  collections/wf.states/BGP_Peer_Default_Planned.json
  collections/wf.states/BGP_Peer_Default_Provisioning.json
  collections/wf.states/BGP_Peer_Default_Shutdown.json
  collections/wf.transitions/BGP_Peer_Default_Active_Missed_Missed.json
  collections/wf.transitions/BGP_Peer_Default_Active_Shutdown_Down.json
  collections/wf.transitions/BGP_Peer_Default_Missed_Active_Seen.json
  collections/wf.transitions/BGP_Peer_Default_Planned_Active_Up.json
  collections/wf.transitions/BGP_Peer_Default_Planned_Provisioning_Deploy.json
  collections/wf.transitions/BGP_Peer_Default_Provisioning_Active_Approve.json
  collections/wf.transitions/BGP_Peer_Default_Shutdown_Active_Up.json
  collections/wf.workflows/BGP_Peer_Default.json
  models.py
  peer/migrations/0045_add_peerprofile.py
  peer/migrations/0046_migrate_peer_for_discovery.py
  peer/models/peer.py
  peer/models/peerprofile.py
  sa/models/managedobject.py
  services/web/apps/peer/peer/views.py
  services/web/apps/peer/peerprofile/__init__.py
  services/web/apps/peer/peerprofile/views.py
  ui/web/peer/peer/Application.js
  ui/web/peer/peer/Model.js
  ui/web/peer/peerprofile/Application.js
  ui/web/peer/peerprofile/LookupField.js
  ui/web/peer/peerprofile/Model.js
  wf/migrations/0014_add_peer_default_workflow.py
  wf/models/state.py
  wf/models/workflow.py
Due: py-lint, mypy, eslint, prettier, py:test, build:web
