Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

HP.Aruba.get_interfaces. Fix getting description.
  sa/profiles/Generic/get_interfaces.py
  sa/profiles/HP/Aruba/get_interfaces.py
  sa/profiles/HP/Aruba/get_version.py
Due: py-lint, mypy, py:test

Fix pattern prompt.
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, py:test

Fix get_version for Aruba.
  sa/profiles/HP/ProCurve/get_version.py
Due: py-lint, mypy, py:test

Fix GroupEdit form open.
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Revert get_interfaces change.
  sa/profiles/Generic/get_interfaces.py
Due: py-lint, mypy, py:test

Add CData.xPON.get_lldp_neighbors
  sa/profiles/CData/xPON/get_lldp_neighbors.py
Due: py-lint, mypy, py:test

Add PortAggregator interface to BDCOM.IOS.get_interface and BDCOM.xPON.get_interfaces
  sa/profiles/BDCOM/IOS/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: py-lint, mypy, py:test

linter
  sa/profiles/CData/xPON/get_lldp_neighbors.py
Due: py-lint, mypy, py:test

py:test
  sa/profiles/CData/xPON/get_lldp_neighbors.py
Due: py-lint, mypy, py:test

Fix typo.
  sa/profiles/HP/Aruba/get_interfaces.py
Due: py-lint, mypy, py:test

Merge branch 'patch-bdcom-portaggregator-interface' into 'master'
  sa/profiles/BDCOM/IOS/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: py-lint, mypy, py:test

HP.Comware. Add SNMP Support to Profile.
  sa/profiles/HP/Comware/get_capabilities.py
  sa/profiles/HP/Comware/get_chassis_id.py
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/HP/Comware/get_mac_address_table.py
  sa/profiles/HP/Comware/get_mpls_vpn.py
  sa/profiles/HP/Comware/get_version.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-group-edit-form' into 'master'
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

HP.Aruba.get_interfaces. Fix getting description.
  sa/profiles/HP/Aruba/get_interfaces.py
  sa/profiles/HP/Aruba/get_version.py
  sa/profiles/HP/Aruba/profile.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7803
  sa/profiles/BDCOM/IOS/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7800
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Fix flake.
  sa/profiles/HP/Comware/get_mpls_vpn.py
Due: py-lint, mypy, py:test

Fix typo.
  sa/profiles/HP/Comware/get_mac_address_table.py
Due: py-lint, mypy, py:test

Add Old CLI Caps.
  collections/inv.capabilities/HP/ProCurve/CLI_Old.json
  sa/profiles/HP/ProCurve/get_capabilities.py
  sa/profiles/HP/ProCurve/get_config.py
  sa/profiles/HP/ProCurve/get_interfaces.py
  sa/profiles/HP/ProCurve/get_mac_address_table.py
Due: py-lint, mypy, prettier, py:test

Add matcher.
  sa/profiles/HP/ProCurve/profile.py
Due: py-lint, mypy, py:test

Fixed regexp in get_arp.py, docstring in get_capabilities.py, get_fqdn import in get_fqdn.py
  sa/profiles/HP/ProCurve/get_arp.py
  sa/profiles/HP/ProCurve/get_capabilities.py
  sa/profiles/HP/ProCurve/get_fqdn.py
Due: py-lint, mypy, py:test

Fixed cli escape sequence processing
  sa/profiles/MikroTik/RouterOS/profile.py
Due: py-lint, mypy, py:test

HP.ProCurve. Add new HPE CLI supported.
  collections/inv.capabilities/HP/ProCurve/CLI_Old.json
  sa/profiles/HP/ProCurve/get_arp.py
  sa/profiles/HP/ProCurve/get_capabilities.py
  sa/profiles/HP/ProCurve/get_config.py
  sa/profiles/HP/ProCurve/get_fqdn.py
  sa/profiles/HP/ProCurve/get_interfaces.py
  sa/profiles/HP/ProCurve/get_lacp_neighbors.py
  sa/profiles/HP/ProCurve/get_lldp_neighbors.py
  sa/profiles/HP/ProCurve/get_mac_address_table.py
  sa/profiles/HP/ProCurve/get_switchport.py
  sa/profiles/HP/ProCurve/get_version.py
  sa/profiles/HP/ProCurve/profile.py
Due: py-lint, mypy, prettier, py:test

convert value to hex
  ui/web/main/style/Application.js
  ui/web/ux/form/ColorField.js
Due: prettier, build:web

defaultValues added
  ui/web/main/style/Model.js
Due: prettier, build:web

Update file noc.conf.j2
  ansible/system_roles/nginx/templates/noc.conf.j2
Due: none

Fix style delete process
  main/models/style.py
Due: py-lint, mypy, py:test

changing the font color for the colorfield field depending on the value
  ui/web/ux/form/ColorField.js
Due: prettier, build:web

fontend send font color fixed
  ui/web/main/label/Model.js
  ui/web/ux/form/ColorField.js
Due: prettier, build:web

pm measurementunits dashboard_sr_color model changed
  ui/web/pm/measurementunits/Model.js
Due: prettier, build:web

Fix ColorParameter for style creation
  sa/interfaces/base.py
Due: py-lint, mypy, py:test

Fix year
  sa/interfaces/base.py
Due: py-lint, mypy, py:test

Fix style deleting
  main/models/style.py
Due: py-lint, mypy, py:test

Fix color saving in labels and measurementunits
  main/models/label.py
  pm/models/measurementunits.py
Due: py-lint, mypy, py:test

#2321 Add Yandex layers to maps
  config.py
  requirements/card.json
  services/card/cards/alarmheat.py
  services/card/cards/monmap.py
  services/card/cards/path.py
  services/web/apps/main/desktop/views.py
  ui/card/js/alarmheat.js
  ui/card/js/monmap.js
  ui/card/js/path.js
  ui/common/map_layer_creator.js
  ui/common/settings_loader.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/js/boot.js
Due: py-lint, mypy, prettier, py:test, build:web

Fix nginx expose version
  ansible/system_roles/nginx/templates/noc.conf.j2
Due: none

Move color fields handling to apps
  main/models/label.py
  pm/models/measurementunits.py
  services/web/apps/main/label/views.py
  services/web/apps/pm/measurementunits/views.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
