Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

noc/noc#1555 Add propagate setting for labels.
  lib/app/extdocapplication.py
  main/models/label.py
  services/datastream/streams/managedobject.py
  services/web/apps/main/label/views.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

trapcollector: Fix failed trap error report
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update ResourceGroup translation.
  services/web/translations/messages.pot
  services/web/translations/messages_js.pot
  services/web/translations/ru/LC_MESSAGES/messages.mo
  services/web/translations/ru/LC_MESSAGES/messages.po
  services/web/translations/ru/LC_MESSAGES/messages_js.po
  ui/web/translations/ru.json
Due: prettier

Fix tower doc links
  ansible/noc_roles/activator/meta/tower.yml
  ansible/noc_roles/bi/meta/tower.yml
  ansible/noc_roles/card/meta/tower.yml
  ansible/noc_roles/ch_datasource/meta/tower.yml
  ansible/noc_roles/chwriter/meta/tower.yml
  ansible/noc_roles/classifier/meta/tower.yml
  ansible/noc_roles/correlator/meta/tower.yml
  ansible/noc_roles/datastream/meta/tower.yml
  ansible/noc_roles/discovery/meta/tower.yml
  ansible/noc_roles/escalator/meta/tower.yml
  ansible/noc_roles/grafanads/meta/tower.yml
  ansible/noc_roles/icqsender/meta/tower.yml
  ansible/noc_roles/kafkasender/meta/tower.yml
  ansible/noc_roles/login/meta/tower.yml
  ansible/noc_roles/mailsender/meta/tower.yml
  ansible/noc_roles/metrics/meta/tower.yml
  ansible/noc_roles/mib/meta/tower.yml
  ansible/noc_roles/mrt/meta/tower.yml
  ansible/noc_roles/mx/meta/tower.yml
  ansible/noc_roles/nbi/meta/tower.yml
  ansible/noc_roles/ping/meta/tower.yml
  ansible/noc_roles/sae/meta/tower.yml
  ansible/noc_roles/scheduler/meta/tower.yml
  ansible/noc_roles/selfmon/meta/tower.yml
  ansible/noc_roles/syslogcollector/meta/tower.yml
  ansible/noc_roles/tgsender/meta/tower.yml
  ansible/noc_roles/trapcollector/meta/tower.yml
  ansible/noc_roles/ui/meta/tower.yml
  ansible/noc_roles/web/meta/tower.yml
  ansible/noc_roles/worker/meta/tower.yml
Due: prettier

Add index field in sensor model.
  inv/models/sensor.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ping service set status.
  services/ping/service.py
  ui/web/main/label/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

BER: Check for TLV length overrun
  speedup/ber.pyx
Due: none

Add FM Event classification rules part4.
  collections/fm.alarmclasses/Network/MAC/Link_MAC_Exceed.json
  collections/fm.eventclasses/Chassis/Linecard/Redundancy_Switchover.json
  collections/fm.eventclasses/Network/LAG/LACP_Timeout.json
  collections/fm.eventclasses/Network/MAC/Link_MAC_Exceed.json
  collections/fm.eventclasses/Network/MPLS/Link_Down.json
  collections/fm.eventclasses/Network/MPLS/Link_Up.json
  collections/fm.eventclasses/Network/RMON/Agent_Get_Error.json
  collections/fm.eventclasses/Network/RMON/Agent_Get_Ok.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/RF/RF_State_Notif_rev_1_1_SNMP.json
  collections/fm.eventclassificationrules/Huawei/VRP/Chassis/Hardware/Module/Board_Fail_Recover_SNMP.json
  collections/fm.eventclassificationrules/Huawei/VRP/Config/Config_Changed_3_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Linecard/Redundancy_Switchover.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/LAG/LACP_Timeout_1_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/MAC/MAC_Exceed_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/MPLS/VPN_Link_Down_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/MPLS/VPN_Link_Up_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/RMON/Alarms_Get_Failure.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Network/RMON/Alarms_Get_Ok.json
  collections/fm.eventclassificationrules/Network/MPLS/LSP_Path_Change_SNMP.json
Due: prettier

Add ExtNRILink to model.py
  main/models/remotesystem.py
  models.py
  services/discovery/jobs/box/nri.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update requirements.txt
  requirements.txt
Due: none

Add Trap Classifiaction rules part 5.
  collections/fm.eventclasses/Chassis/Hardware/Version_Upgrading.json
  collections/fm.eventclasses/Chassis/Memory/Memory_Usage_Above_Threshold.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/RF/RF_State_Notif_rev_1_1_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Error_1_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Offline_1_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_Up_1_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Hardware/Module/Module_not_Present_1_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/Chassis/Memory/Memory_Usage_Above_Threshold_SNMP.json
  collections/fm.eventclassificationrules/Juniper/JUNOS/System/Syslog_SNMP.json
  collections/fm.eventclassificationrules/Network/MPLS/LSP_Down_SNMP.json
  collections/fm.eventclassificationrules/Network/MPLS/LSP_Up_SNMP.json
Due: prettier

Fix availability calculate on reports.
  core/etl/bi/extractor/managedobject.py
  services/web/apps/fm/reportavailability/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix the graph of the total subscribers
  templates/ddash/graph_subscribers_summary_total.j2
Due: none

sa.managedobjectprofile layout fixed
  ui/web/sa/managedobjectprofile/Application.js
Due: prettier

noc/noc!1415
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/ShapeRegistry.js
Due: prettier

Bump django-media to 3.1.8, fix reports images
  main/templatetags/noctags.py
  requirements/web.json
  services/web/apps/main/csv/templates/import.html
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Bump docker to 4.4
  .docker/docker-compose.yml
Due: prettier

Move molecule defaults to 4.4
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
Due: prettier

Remove storadge engine select
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/meta/tower.yml
  ansible/system_roles/mongod/templates/mongod-arbiter.conf.j2
  ansible/system_roles/mongod/templates/mongod.conf.j2
  ansible/system_roles/mongod/templates/os/RedHat_7/etc/default/mongod-arbiter.j2
  ansible/system_roles/mongod/templates/os/RedHat_7/etc/default/mongod.j2
Due: prettier

Make syslog reat again for logging mongodb
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
Due: prettier

Fix typo on AlarmClass get_discriminator.
  fm/models/alarmclass.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix FastAPI Exception error handler for return JSON.
  core/service/fastapi.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Apply regex label when create.
  main/models/label.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove storadge engine select
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
  ansible/system_roles/mongod/templates/mongo.key.j2
Due: prettier

noc/noc#1650
  ui/web/core/tagfield/Tagfield.js
  ui/web/core/tagfield/TagfieldController.js
  ui/web/css/extjs.css
Due: prettier

Add mongo apt id
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
Due: prettier

Add native mongo handling [skip ci]
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/meta/tower.yml
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/master_unused.yml
Due: prettier

Add pymongo and ans interpreter [skip ci]
  ansible/system_roles/mongod/tasks/master_unused.yml
Due: prettier

noc/noc#1666 Migrate ManagedObject Capabilities to caps field from ObjectCapabilities.
  core/etl/bi/extractor/managedobject.py
  core/model/decorator.py
  inv/models/capability.py
  inv/models/capsitem.py
  lib/app/extapplication.py
  lib/app/reportdatasources/report_objectstat.py
  sa/migrations/0222_managedobject_caps_field.py
  sa/models/managedobject.py
  services/datastream/streams/managedobject.py
  services/sae/api/sae.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/objectlist/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix imports
  fm/models/alarmseverity.py
  sa/profiles/Qtech/BFC_PBIC_S/get_metrics.py
  sa/profiles/Ttronics/KUB/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove old libraries [skip ci]
  ansible/library/consul_kv.py
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/mongod/library/mongodb_replica_set
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/master_unused.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Move to rs [skip ci]
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

remove state [skip ci]
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

change vars [skip ci]
  ansible/system_roles/mongod/tasks/master_rs.yml
Due: prettier

noc/noc#1669
  ui/web/fm/alarm/view/grids/Container.js
  ui/web/fm/alarm/view/grids/ContainerController.js
Due: prettier

Migrate ActiveAlarm to new discriminator.
  fm/migrations/0050_alarm_class_name_descriminator.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

DLink.DIR.login. Fix return result.
  sa/profiles/DLink/DIR/login.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ansible changed_when
  ansible/noc_roles/migrate/tasks/main.yml
  ansible/noc_roles/noc/tasks/tests.yml
  ansible/noc_roles/post/tasks/main.yml
  ansible/noc_roles/pre/tasks/main.yml
  ansible/system_roles/clickhouse/tasks/checks.yml
  ansible/system_roles/clickhouse/tasks/tests.yml
  ansible/system_roles/consul-template/tasks/install.yml
  ansible/system_roles/consul-template/tasks/tests.yml
  ansible/system_roles/consul/tasks/install.yml
  ansible/system_roles/consul/tasks/main.yml
  ansible/system_roles/consul/tasks/os/CentOS_7/main.yml
  ansible/system_roles/consul/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/consul/tasks/service_config_update.yml
  ansible/system_roles/consul/tasks/tests.yml
  ansible/system_roles/grafana/tasks/tests.yml
  ansible/system_roles/liftbridge/tasks/install.yml
  ansible/system_roles/mongod/tasks/main.yml
  ansible/system_roles/mongod/tasks/tests.yml
  ansible/system_roles/nats/tasks/install.yml
  ansible/system_roles/nginx/tasks/tests.yml
  ansible/system_roles/nsqd/tasks/tests.yml
  ansible/system_roles/nsqlookupd/tasks/tests.yml
  ansible/system_roles/postgres/tasks/main.yml
  ansible/system_roles/postgres/tasks/tests.yml
Due: prettier

Huawei.VRP.get_inventory. Fix empty slot trace.
  sa/profiles/Huawei/VRP/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix check changed fields when create.
  core/change/change.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
