Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Merge branch 'CISCO_IOSXR_HundredEthernet' into 'master'
  sa/profiles/Cisco/IOSXR/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

ConfDB syslog Реализация протокола syslog + нормализатор Juniper.JUNOS
  core/confdb/syntax/protocols/base.py
  core/confdb/syntax/protocols/syslog/__init__.py
  core/confdb/syntax/protocols/syslog/base.py
  sa/profiles/Juniper/JUNOS/confdb/normalizer.py
  tests/confdb/profiles/Juniper/JUNOS/syslog1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'condb-syslog' into 'master'
  core/confdb/syntax/protocols/base.py
  core/confdb/syntax/protocols/syslog/__init__.py
  core/confdb/syntax/protocols/syslog/base.py
  sa/profiles/Juniper/JUNOS/confdb/normalizer.py
  tests/confdb/profiles/Juniper/JUNOS/syslog1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add service mxsender
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/noc_roles/mx/meta/main.yml
  ansible/noc_roles/mx/meta/tower.yml
  ansible/noc_roles/mx/task/checks.yml
  ansible/noc_roles/mx/task/main.yml
  ansible/noc_roles/mx/task/os/CentOS/main.yml
  ansible/noc_roles/mx/task/os/Debian/main.yml
  ansible/noc_roles/mx/task/os/FreeBSD/main.yml
  ansible/noc_roles/mx/task/os/OracleLinux/main.yml
  ansible/noc_roles/mx/task/os/RedHat/main.yml
  ansible/noc_roles/mx/task/os/Ubuntu/main.yml
  ansible/noc_roles/noc/templates/mx.goss.yml.j2
Due: prettier

Add ReportMovedMacApplication application.
  services/web/apps/inv/reportmovedmac/views.py
  ui/web/inv/reportmovedmac/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'patch-add-moved-mac' into 'master'
  services/web/apps/inv/reportmovedmac/views.py
  ui/web/inv/reportmovedmac/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add audience param to is_logged jwt.decode.
  services/login/paths/is_logged.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

LiftBridge client: Connection pooling
  commands/liftbridge.py
  core/liftbridge/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add 120 sec to out_of_order escalation time.
  fm/models/alarmescalation.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add sorted to tags application.
  services/web/apps/main/tag/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-add-sorted-tag' into 'master'
  services/web/apps/main/tag/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1416 Extend ConfDB meta section.
  core/confdb/applicator/meta.py
  core/confdb/syntax/meta/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Flake8
  ansible/library/consul_kv.py
  ansible/library/sysrc.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix py3 syntax
  ansible/library/sysrc.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Black format
  ansible/lookup_plugins/get_tags.py
  ansible/lookup_plugins/myglob.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

check-labels: Check for `ansible` label
  docs/src/en/dev/mr-labels.rst
  scripts/check-labels.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Exclude ansible modules from common python tests
  tests/test_py_module.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix docstring in tests
  ansible/library/consul_kv.py
  ansible/library/sysrc.py
  ansible/lookup_plugins/get_tags.py
  ansible/lookup_plugins/myglob.py
  ansible/noc_roles/noc/lookup_plugins/django_key.py
  ansible/noc_roles/noc/lookup_plugins/supervisorctl_key.py
  ansible/system_roles/consul/lookup_plugins/consul_key.py
  ansible/system_roles/mongod/lookup_plugins/mongo_key.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Skip tests ansible module.
  tests/test_py_module.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add csv_zip file format to MetricsDetail Report.
  services/web/apps/inv/reportmaxmetrics/views.py
  services/web/apps/inv/reportmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1368 Model Interface scopes
  commands/clean-asset.py
  commands/inventory.py
  fixes/fix_object_coordinates.py
  inv/migrations/0020_object_data_scope.py
  inv/models/modelinterface.py
  inv/models/object.py
  inv/models/objectmodel.py
  inv/util/pop_links.py
  sa/models/managedobject.py
  scripts/build-pop-links.py
  services/card/cards/monmap.py
  services/datasource/datasources/ch_container.py
  services/discovery/jobs/box/asset.py
  services/web/apps/inv/inv/plugins/data.py
  services/web/apps/inv/inv/plugins/map.py
  services/web/apps/inv/reportobjectsserial/views.py
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix tests
  ansible/library/sysrc.py
  tests/test_py_module.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix NAG.SNR.get_lldp_neighbors script
  sa/profiles/NAG/SNR/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add kafkasender service
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/noc_roles/kafkasender/meta/main.yml
  ansible/noc_roles/kafkasender/meta/tower.yml
  ansible/noc_roles/kafkasender/tasks/checks.yml
  ansible/noc_roles/kafkasender/tasks/main.yml
  ansible/noc_roles/kafkasender/tasks/os/CentOS/main.yml
  ansible/noc_roles/kafkasender/tasks/os/Debian/main.yml
  ansible/noc_roles/kafkasender/tasks/os/FreeBSD/main.yml
  ansible/noc_roles/kafkasender/tasks/os/OracleLinux/main.yml
  ansible/noc_roles/kafkasender/tasks/os/RedHat/main.yml
  ansible/noc_roles/kafkasender/tasks/os/Ubuntu/main.yml
Due: prettier

Fix invalidate l1 cache for ManagedObject.
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix get_iface_metrics
  core/pm/utils.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add migrate_ts field to ReportMovedMac.
  services/web/apps/inv/reportmovedmac/__init__.py
  services/web/apps/inv/reportmovedmac/views.py
  ui/web/inv/reportmovedmac/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-macs-moved' into 'master'
  services/login/api/__init__.py
  services/web/apps/inv/reportmovedmac/__init__.py
  services/web/apps/inv/reportmovedmac/views.py
  ui/web/inv/reportmovedmac/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add CI build
  .gitlab-ci.yml
Due: prettier

Fix stage name
  .gitlab-ci.yml
Due: prettier

Fix command name
  .gitlab-ci.yml
Due: prettier

Add get_confdb_query method to ManagedObjectSelector and MatchPrefix ConfDB function.
  core/confdb/db/marshall/json.py
  core/confdb/engine/base.py
  core/confdb/normalizer/base.py
  core/confdb/syntax/patterns.py
  sa/models/managedobjectselector.py
  tests/confdb/engine/test_matchprefix.py
  tests/confdb/normalizer/test_normalizer.py
  tests/confdb/profiles/Eltex/MES/default_gateway1.yml
  tests/confdb/profiles/Eltex/MES/dns1.yml
  tests/confdb/profiles/Eltex/MES/tacacs1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface-ip-address1.yml
  tests/confdb/profiles/Eltex/MES24xx/ip_route1.yml
  tests/confdb/profiles/Eltex/MES24xx/sntp1.yml
  tests/confdb/profiles/Juniper/JUNOS/dns1.yml
  tests/confdb/profiles/Juniper/JUNOS/syslog1.yml
  tests/confdb/profiles/Juniper/JUNOS/tacacs1.yml
  tests/confdb/test_profiles.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-109-3c9982838e4bfdb951d98df7' into 'master'
  collections/sa.profilecheckrules/ZTE/ZXA10/C320_sysObjectID.json
  services/login/api/__init__.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-109-a7b6ef4d15dd6222de9b654a' into 'master'
  collections/sa.profilecheckrules/Huawei/MA/MA5801_sysObjectID.json
  services/login/api/__init__.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1397 Additional biosegtrial criteria to policy.
  core/bioseg/moderator/base.py
  core/bioseg/policies/base.py
  core/bioseg/policies/calcify.py
  inv/models/networksegmentprofile.py
  ui/web/inv/networksegmentprofile/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add node modules cache
  .gitlab-ci.yml
Due: prettier

Add rules on frontend changes
  .gitlab-ci.yml
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
