Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

path as label
  ui/web/inv/inv/CreateConnectionForm.js
Due: eslint, build:web

increase height
  ui/web/css/extjs.css
  ui/web/main/home/Application.js
Due: eslint, prettier, build:web

min-height fixed
  ui/web/css/extjs.css
Due: prettier, build:web

#2549 Add Metric Proxy to card.
  core/pm/utils.py
  pm/models/measurementunits.py
  pm/models/scale.py
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
  tests/core/test_metric_proxy.py
Due: py-lint, mypy, py:test

Fix path
  core/inv/info.py
Due: py-lint, mypy, py:test

Switch to ExtJS balloon
  core/inv/info.py
  gis/map.py
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/FileSchemeController.js
  ui/web/inv/inv/plugins/Mixins.js
  ui/web/inv/inv/plugins/map/AddObjectForm.js
  ui/web/inv/inv/plugins/map/MapPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

same height for all widgets
  ui/web/css/extjs.css
  ui/web/main/home/Application.js
Due: eslint, prettier, build:web

fix some errors
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

fix some errors in syslogcollector and classifier
  services/classifier/ruleset.py
  services/classifier/service.py
  services/syslogcollector/service.py
Due: py-lint, mypy, py:test

body label ellipse and tooltip
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/sprites/Body.js
Due: eslint, build:web

home container height fix
  ui/web/css/extjs.css
Due: prettier, build:web

revert MAX changes for test
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

ManagedObject card now use "units" instead "measure"
  services/card/cards/managedobject.py
Due: py-lint, mypy, py:test

download button widget created
  ui/web/inv/inv/plugins/DownloadButton.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: eslint, build:web

remove click on header, new layout on home panel
  ui/web/css/extjs.css
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/home/Application.js
Due: eslint, prettier, build:web

export csv added
  ui/web/inv/inv/plugins/DownloadButton.js
  ui/web/inv/inv/plugins/FileSchemeController.js
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Mixins.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
Due: eslint, build:web

model to label added
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/sprites/Body.js
Due: eslint, build:web

Merge branch 'fix-get_dict_interface_metrics' into 'master'
  core/pm/utils.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8154
  core/pm/utils.py
Due: py-lint, mypy, py:test

inv.inv: Show full path in connection
  services/web/apps/inv/inv/pbuilder.py
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/sprites/Body.js
Due: py-lint, mypy, eslint, py:test, build:web

download button widget
  ui/web/inv/inv/plugins/DownloadButton.js
  ui/web/inv/inv/plugins/FileSchemeController.js
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Mixins.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: eslint, build:web

improve visual and gray-theme fix
  ui/web/css/extjs.css
  ui/web/css/theme-patch-gray.css
  ui/web/main/home/Application.js
Due: eslint, prettier, build:web

Merge branch 'noc-2549' into 'master'
  core/pm/utils.py
  pm/models/measurementunits.py
  pm/models/scale.py
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
  tests/core/test_metric_proxy.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8521
  core/pm/utils.py
  pm/models/measurementunits.py
  pm/models/scale.py
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
  tests/core/test_metric_proxy.py
Due: py-lint, mypy, py:test

reduced indentation
  ui/web/css/extjs.css
  ui/web/css/theme-patch-gray.css
Due: prettier, build:web

inv.inv: Link to model in data
  services/web/apps/inv/inv/plugins/data.py
Due: py-lint, mypy, py:test

save
  ui/web/core/ModelApplication.js
  ui/web/inv/inv/plugins/DownloadButton.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: eslint, build:web

inv.data link to object model
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: eslint, build:web

main navigation mask added
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/WorkplacePanel.js
Due: eslint, build:web

inv.inv: Link to model in data
  services/web/apps/inv/inv/plugins/data.py
  ui/web/core/ModelApplication.js
  ui/web/inv/inv/plugins/DownloadButton.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/data/DataPanel.js
Due: py-lint, mypy, eslint, py:test, build:web

inv scheme zoom by wheel
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

fix
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

onWheel fixed
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/VizSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

set custom zoom field
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

set customZoomField
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

set scale by number
  ui/web/inv/inv/plugins/Zoom.js
Due: eslint, build:web

Fix typo in Transceiver technology.
  collections/inv.protocols/TransEth100G.json
  collections/inv.protocols/TransEth100M.json
  collections/inv.protocols/TransEth10G.json
  collections/inv.protocols/TransEth1G.json
  collections/inv.protocols/TransEth200G.json
  collections/inv.protocols/TransEth25G.json
  collections/inv.protocols/TransEth400G.json
  collections/inv.protocols/TransEth40G.json
  collections/inv.protocols/TransEth50G.json
  collections/inv.protocols/TransSTM1.json
  collections/inv.technologies/Trasceiver.json
  inv/migrations/0032_initial_protocols.py
Due: py-lint, mypy, prettier, py:test

Speedup main web dashboard.
  services/web/apps/main/home/views.py
Due: py-lint, mypy, py:test

Fix black.
  services/web/apps/main/home/views.py
Due: py-lint, mypy, py:test

Fix formatter for ObjectSummary Report.
  core/reporter/base.py
  core/reporter/formatter/simplereport.py
  tests/reporter/report_object_summary_profile.csv
  tests/reporter/report_object_summary_profile.yml
  tests/reporter/test_report.py
Due: py-lint, mypy, prettier, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
