Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

Add update_jobs param to correlator.
  services/correlator/service.py
Due: flake8, black, mypy, pylint, py:test

Add scheduler KEY index.
  core/scheduler/scheduler.py
  sa/models/managedobject.py
  services/discovery/service.py
Due: flake8, black, mypy, pylint, py:test

Fix create_index on scheduler.
  core/scheduler/scheduler.py
Due: flake8, black, mypy, pylint, py:test

Replace ObjectStatus.
  config.py
  sa/models/managedobject.py
  sa/wipe/managedobject.py
  services/card/cards/interfacepath.py
  services/card/cards/segment.py
  services/correlator/service.py
  services/discovery/jobs/base.py
  services/nbi/paths/objectstatus.py
  services/web/apps/inv/map/views.py
  services/web/apps/inv/reportdiscoveryproblem/views.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/reportdiscoveryproblem/views.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  sa/models/objectstatus.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  sa/models/objectstatus.py
Due: flake8, black, mypy, pylint, py:test

Fix GufoSNMP import when script check.
  core/script/base.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-import-gufo-snmp' into 'master'
  core/script/base.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!1571
  core/script/base.py
Due: flake8, black, mypy, pylint, py:test

Change metrics octets in delta
  collections/pm.metrictypes/Interface/Octets/In_Delta.json
  collections/pm.metrictypes/Interface/Octets/Out_Delta.json
  sa/profiles/Generic/snmp_metrics/interface_octets_in_delta.json
  sa/profiles/Generic/snmp_metrics/interface_octets_out_delta.json
Due: prettier, py:test

Disable alarm when CLI Access error on Discovery.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint, py:test

Fix flake.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'disable-cli-access-problem-alarm' into 'master'
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7374
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'delta_for_octets' into 'master'
  collections/pm.metrictypes/Interface/Octets/In_Delta.json
  collections/pm.metrictypes/Interface/Octets/Out_Delta.json
  sa/profiles/Generic/snmp_metrics/interface_octets_in_delta.json
  sa/profiles/Generic/snmp_metrics/interface_octets_out_delta.json
Due: prettier, py:test

release-23.1:Backport!7311
  collections/pm.metrictypes/Interface/Octets/In_Delta.json
  collections/pm.metrictypes/Interface/Octets/Out_Delta.json
  sa/profiles/Generic/snmp_metrics/interface_octets_in_delta.json
  sa/profiles/Generic/snmp_metrics/interface_octets_out_delta.json
Due: prettier, py:test

Fix typo.
  core/datasources/managedobjectds.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Add last condition to update status.
  core/datasources/managedobjectds.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Move ObjectStatus model to PostgreSQL.
  config.py
  core/datasources/managedobjectds.py
  core/scheduler/scheduler.py
  sa/migrations/0252_manageodobject_status_table.py
  sa/models/managedobject.py
  sa/models/objectstatus.py
  sa/wipe/managedobject.py
  services/card/cards/interfacepath.py
  services/card/cards/segment.py
  services/correlator/service.py
  services/discovery/jobs/base.py
  services/discovery/service.py
  services/nbi/paths/objectstatus.py
  services/web/apps/inv/map/views.py
  services/web/apps/inv/reportdiscoveryproblem/views.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/reportdiscoveryproblem/views.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, pylint, py:test

Catch KafkaTimeoutError on RedPanda client.
  core/msgstream/redpanda.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-2073' into 'master'
  config.py
  core/datasources/managedobjectds.py
  core/scheduler/scheduler.py
  sa/migrations/0252_manageodobject_status_table.py
  sa/models/managedobject.py
  sa/models/objectstatus.py
  sa/wipe/managedobject.py
  services/card/cards/interfacepath.py
  services/card/cards/segment.py
  services/correlator/service.py
  services/discovery/jobs/base.py
  services/discovery/service.py
  services/nbi/paths/objectstatus.py
  services/web/apps/inv/map/views.py
  services/web/apps/inv/reportdiscoveryproblem/views.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/reportdiscoveryproblem/views.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-catch-KafkaTimeoutError' into 'master'
  core/msgstream/redpanda.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7358
  config.py
  core/datasources/managedobjectds.py
  core/scheduler/scheduler.py
  sa/migrations/0252_manageodobject_status_table.py
  sa/models/managedobject.py
  sa/models/objectstatus.py
  sa/wipe/managedobject.py
  services/card/cards/interfacepath.py
  services/card/cards/segment.py
  services/correlator/service.py
  services/discovery/jobs/base.py
  services/discovery/service.py
  services/nbi/paths/objectstatus.py
  services/web/apps/inv/map/views.py
  services/web/apps/inv/reportdiscoveryproblem/views.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/reportdiscoveryproblem/views.py
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7377
  core/msgstream/redpanda.py
Due: flake8, black, mypy, pylint, py:test

Changing interpreter fow a while
  ansible/system_roles/consul/tasks/service_config_update.yml
Due: prettier

Fix ManagedObject.get_status.
  core/datasources/managedobjectds.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-mo-get_status' into 'master'
  core/datasources/managedobjectds.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7381
  core/datasources/managedobjectds.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint, py:test

Forcing ansible interpreter for a another venv
  ansible/system_roles/consul/tasks/service_config_update.yml
Due: prettier

Merge branch 'ansible-fix-pyth-consul' into 'master'
  ansible/system_roles/consul/tasks/service_config_update.yml
Due: prettier

release-23.1:Backport!7380
  ansible/system_roles/consul/tasks/service_config_update.yml
Due: prettier

Fix resolve service when interface metric collected.
  inv/models/interface.py
  sa/models/managedobject.py
  sa/models/service.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-resolve-service-interface-metrics' into 'master'
  inv/models/interface.py
  sa/models/managedobject.py
  sa/models/service.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7384
  inv/models/interface.py
  sa/models/managedobject.py
  sa/models/service.py
Due: flake8, black, mypy, pylint, py:test

Set Optional value to None on ETL Models.
  core/etl/models/address.py
  core/etl/models/admdiv.py
  core/etl/models/administrativedomain.py
  core/etl/models/authprofile.py
  core/etl/models/building.py
  core/etl/models/container.py
  core/etl/models/division.py
  core/etl/models/label.py
  core/etl/models/managedobject.py
  core/etl/models/networksegment.py
  core/etl/models/object.py
  core/etl/models/project.py
  core/etl/models/resourcegroup.py
  core/etl/models/sensor.py
  core/etl/models/service.py
  core/etl/models/serviceprofile.py
  core/etl/models/street.py
  core/etl/models/subscriber.py
  core/etl/models/subscriberprofile.py
  core/etl/models/ttsystem.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'patch-avs-set-empty-value-etl-model' into 'master'
  core/etl/models/address.py
  core/etl/models/admdiv.py
  core/etl/models/administrativedomain.py
  core/etl/models/authprofile.py
  core/etl/models/building.py
  core/etl/models/container.py
  core/etl/models/division.py
  core/etl/models/label.py
  core/etl/models/managedobject.py
  core/etl/models/networksegment.py
  core/etl/models/object.py
  core/etl/models/project.py
  core/etl/models/resourcegroup.py
  core/etl/models/sensor.py
  core/etl/models/service.py
  core/etl/models/serviceprofile.py
  core/etl/models/street.py
  core/etl/models/subscriber.py
  core/etl/models/subscriberprofile.py
  core/etl/models/ttsystem.py
Due: flake8, black, mypy, pylint, py:test

release-23.1:Backport!7386
  core/etl/models/address.py
  core/etl/models/admdiv.py
  core/etl/models/administrativedomain.py
  core/etl/models/authprofile.py
  core/etl/models/building.py
  core/etl/models/container.py
  core/etl/models/division.py
  core/etl/models/label.py
  core/etl/models/managedobject.py
  core/etl/models/networksegment.py
  core/etl/models/object.py
  core/etl/models/project.py
  core/etl/models/resourcegroup.py
  core/etl/models/sensor.py
  core/etl/models/service.py
  core/etl/models/serviceprofile.py
  core/etl/models/street.py
  core/etl/models/subscriber.py
  core/etl/models/subscriberprofile.py
  core/etl/models/ttsystem.py
Due: flake8, black, mypy, pylint, py:test

Fix docker login due new gitlab CI_vars
  .gitlab-ci.yml
  scripts/build-collections.py
Due: flake8, black, mypy, prettier, pylint, py:test

Fix DuplicateError when MapSettings saved.
  core/topology/map/objectlevelneighbor.py
  inv/models/mapsettings.py
Due: flake8, black, mypy, pylint, py:test

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
