Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Fix black.
  main/models/label.py
  vc/models/vcfilter.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update ZTE.ZXA10 profile
  collections/sa.profilecheckrules/ZTE/ZXA10/C610_sysObjectID.json
  sa/profiles/ZTE/ZXA10/get_inventory.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update BDCOM.xPON profile
  collections/sa.profilecheckrules/BDCOM/xPON/GP3600_08B_sysObjectID.json
  collections/sa.profilecheckrules/BDCOM/xPON/P3616_2TE_sysObjectID.json
  sa/profiles/BDCOM/xPON/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_mac_address_table.py
  sa/profiles/BDCOM/xPON/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix
  sa/profiles/ZTE/ZXA10/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Speedup Label.get_regex_labels method.
  main/models/label.py
  vc/models/vcfilter.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Speedup calc ResourceGroup lazy_labels.
  inv/models/resourcegroup.py
  sa/models/managedobject.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix time size.
  config.py
  services/datastream/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix getting max_slots on job command.
  commands/job.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add max_await_time_ms param to datastream service.
  config.py
  services/datastream/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Alarms App getting location from None object.
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add bucket-late and bucket-duration options to ./noc job command for Running Job stat.
  commands/job.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Set open socket timeout for TelnetStream.
  core/script/cli/telnet.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove ansible dir from dockerbuild context
  .dockerignore
Due: none

Update Alcatel.7302 profile
  sa/profiles/Alcatel/7302/get_inventory.py
  sa/profiles/Alcatel/7302/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add object_object_profile field to ReportAlarmDetail.
  lib/app/reportdatasources/base.py
  lib/app/reportdatasources/reportdsalarms.py
  ui/web/fm/reportalarmdetail/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

VSCode Dev Container
  .devcontainer/devcontainer.json
  .gitignore
  Dockerfile
  requirements.txt
Due: prettier

True fix.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove logging.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Save order on ObjectIDArrayField field.
  core/model/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix unsave joblog when empty path
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add expose_alarm setting to Label.
  fm/models/activealarm.py
  main/models/label.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

noc/noc#1693
  ui/web/maintenance/maintenance/Application.js
Due: prettier

noc/noc#1693
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/maintenance/maintenance/Application.js
Due: prettier

correlator: Dispose protocol
  docs/en/docs/dev/reference/streams/dispose.md
  services/classifier/service.py
  services/correlator/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix
  services/correlator/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add expose_alarm check.
  fm/models/activealarm.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fox Model.js.
  ui/web/main/label/Model.js
Due: prettier

noc/noc#1697 Add expose_alarm setting to Label.
  fm/models/activealarm.py
  main/models/label.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix Eltex.MES24xx.get_chassis_id script
  sa/profiles/Eltex/MES24xx/get_chassis_id.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1698 Add components to AlarmClass.
  collections/fm.alarmclasses/Network/Link/Link_Down.json
  core/importer.py
  core/prettyjson.py
  fm/models/activealarm.py
  fm/models/alarmclass.py
  fm/models/alarmclassvar.py
  fm/models/alarmplugin.py
  fm/models/alarmrootcausecondition.py
  fm/models/datasource.py
  inv/models/interface.py
  peer/models/peer.py
  sa/models/managedobject.py
  ui/web/fm/alarmclass/Application.js
  ui/web/fm/alarmclass/Model.js
  vc/models/vc.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

correlator: Refactor alarm rising
  fm/models/alarmclass.py
  services/correlator/rule.py
  services/correlator/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo.
  services/correlator/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix typo 2.
  services/correlator/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Install necessary extensions into dev container
  .devcontainer/devcontainer.json
  requirements.txt
Due: prettier

Migrate Datastream Service to FastAPI.
  services/datastream/paths/datastream.py
  services/datastream/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add is_ephemeral attribute to AlarmClass.
  fm/models/activealarm.py
  fm/models/alarmclass.py
  fm/models/alarmescalation.py
  services/web/apps/fm/alarm/views.py
  ui/web/fm/alarmclass/Application.js
  ui/web/fm/alarmclass/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
