Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

sa.job application
  core/techdomain/controller/otn_odu.py
  core/techdomain/controller/otn_osc.py
  sa/models/job.py
  services/web/apps/sa/job/__init__.py
  services/web/apps/sa/job/views.py
  services/web/base/extdocapplication.py
  ui/web/core/ModelApplication.js
  ui/web/css/extjs.css
  ui/web/js/util.js
  ui/web/sa/job/Application.js
  ui/web/sa/job/LookupField.js
  ui/web/sa/job/Model.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

ready for test
  ui/web/core/Export.js
  ui/web/core/ModelApplication.js
  ui/web/core/mixins/Export.js
  ui/web/fm/alarm/view/grids/GridViewTable.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
  ui/web/inv/inv/plugins/bom/Controller.js
  ui/web/inv/map/BasketController.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
  ui/web/sa/getnow/Controller.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/InventoryPanel.js
  ui/web/sa/monitor/Controller.js
Due: eslint, build:web

fix view size of k4-h8 facade
  collections/inv.facades/IRE-Polus/Horizon/Chassis_K4-H8.json
Due: prettier, py:test

change glyph
  ui/web/inv/inv/plugins/bom/BoMPanel.js
Due: eslint, build:web

add E2000 patchcord
  collections/inv.connectiontypes/Optical/E2000.json
  collections/inv.objectmodels/NoName/Patch/E2000-E2000_SMF_Simplex_Patch_Cord.json
Due: prettier, py:test

Add crossing to RA2-H4
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA2-H4.json
Due: prettier, py:test

change input_discr to output for osc
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA2-H4.json
Due: prettier, py:test

split location column
  ui/web/core/mixins/Export.js
  ui/web/inv/inv/plugins/bom/Controller.js
Due: eslint, build:web

BoM: Download CSV
  ui/web/core/Export.js
  ui/web/core/ModelApplication.js
  ui/web/core/mixins/Export.js
  ui/web/fm/alarm/view/grids/GridViewTable.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
  ui/web/inv/inv/plugins/bom/Controller.js
  ui/web/inv/map/BasketController.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
  ui/web/sa/getnow/Controller.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/InventoryPanel.js
  ui/web/sa/monitor/Controller.js
Due: eslint, build:web

fixed
  ui/web/css/extjs.css
  ui/web/sa/job/Application.js
Due: eslint, prettier, build:web

Job.effective_environment
  sa/models/job.py
  services/web/apps/sa/job/views.py
Due: py-lint, mypy, py:test

effective_environment, right panel: increase vertical space
  ui/web/sa/job/Application.js
Due: eslint, build:web

Add --state param to wipe command.
  commands/wipe.py
Due: py-lint, mypy, py:test

Fix on_delete_check reference test.
  inv/models/networksegmentprofile.py
  main/models/handler.py
  main/models/template.py
  models.py
  tests/models/test_0002_reference.py
  vc/models/vpn.py
Due: py-lint, mypy, py:test

Clean unused imports.
  tests/models/test_0002_reference.py
Due: py-lint, mypy, py:test

Fix typo.
  main/models/authldapdomain.py
  main/models/notificationgroup.py
Due: py-lint, mypy, py:test

Fix typo.
  main/models/authldapdomain.py
Due: py-lint, mypy, py:test

Fix NoneType error in map view interface
  services/web/apps/inv/map/views.py
Due: py-lint, mypy, py:test

linter
  services/web/apps/inv/map/views.py
Due: py-lint, mypy, py:test

Fix Type Error when script caps match.
  core/matcher.py
  tests/test_matcher.py
Due: py-lint, mypy, py:test

Remove model import from migration.
  inv/migrations/0016_cleanup_metric_is_active.py
Due: py-lint, mypy, py:test

Fix on_delete_check reference test.
  inv/models/networksegmentprofile.py
  main/models/authldapdomain.py
  main/models/handler.py
  main/models/notificationgroup.py
  main/models/template.py
  models.py
  tests/models/test_0002_reference.py
  vc/models/vpn.py
Due: py-lint, mypy, py:test

#2547 Add --state param to wipe command.
  commands/wipe.py
Due: py-lint, mypy, py:test

linter
  sa/profiles/DLink/DxS/get_inventory.py
Due: py-lint, mypy, py:test

Add media_type matcher for DGS-1210 series
  sa/profiles/DLink/DxS/get_inventory.py
Due: py-lint, mypy, py:test

fix CHASSIS recognition on disabled stacking
  sa/profiles/DLink/DxS/get_inventory.py
Due: py-lint, mypy, py:test

fix for DGS3426
  sa/profiles/DLink/DxS/get_inventory.py
Due: py-lint, mypy, py:test

font color, refresh and action field
  sa/models/job.py
  services/web/apps/sa/job/views.py
  ui/web/css/extjs.css
  ui/web/sa/job/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Add User Subscription to Notification Group.
  core/matcher.py
  core/mx.py
  core/router/base.py
  core/router/route.py
  main/migrations/0076_notification_group_add_subscription.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  sa/models/managedobject.py
  services/datastream/streams/cfgmxroute.py
  services/web/apps/main/notificationgroup/views.py
  services/web/base/modelinline.py
  ui/web/main/notificationgroup/Application.js
  ui/web/main/notificationgroup/Model.js
  ui/web/main/notificationgroup/OtherModel.js
Due: py-lint, mypy, eslint, py:test, build:web

Add subscription settings.
  main/migrations/0076_notification_group_add_subscription.py
  main/models/notificationgroup.py
  models.py
Due: py-lint, mypy, py:test

Fix default.
  main/migrations/0076_notification_group_add_subscription.py
Due: py-lint, mypy, py:test

Remove unused import.
  core/router/route.py
  main/models/reportsubscription.py
Due: py-lint, mypy, py:test

Fix black.
  main/migrations/0076_notification_group_add_subscription.py
Due: py-lint, mypy, py:test

Fix on_delete_check.
  aaa/models/user.py
  main/models/notificationgroup.py
  main/models/remotesystem.py
  main/models/timepattern.py
Due: py-lint, mypy, py:test

Fix flake.
  main/models/notificationgroup.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Add NotificationGroupUserSubscription application.
  core/router/action.py
  core/router/base.py
  core/router/route.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
  services/web/apps/main/notificationgroupusersubscription/__init__.py
  services/web/apps/main/notificationgroupusersubscription/views.py
  ui/web/main/notificationgroup/Application.js
  ui/web/main/notificationgroupusersubscription/Application.js
  ui/web/main/notificationgroupusersubscription/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add watch handler to web.
  main/models/notificationgroup.py
  services/web/base/decorators/watch.py
Due: py-lint, mypy, py:test
