Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

Fix migration.
  sa/migrations/0242_add_cpe_id_managedobject.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  inv/models/cpe.py
  services/discovery/jobs/box/cpe.py
  ui/web/sa/managedobjectprofile/Application.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Fix on_delete.
  inv/models/cpe.py
Due: flake8, black, mypy, pylint, py:test

Fix Eltex.MES get_portchannel command 5324a
  sa/profiles/Eltex/MES/profile.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix_get_inventory_Eltex.MES' into 'master'
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!7041
  sa/profiles/Eltex/MES/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

Add DiscoveryIDCachePoison datasource.
  core/datasources/discoveryidcachepoisonds.py
  services/web/apps/inv/reportdiscoverypoison/views.py
Due: flake8, black, mypy, pylint, py:test

Fix typo.
  inv/models/cpe.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'fix-avs-on_prompt-check' into 'master'
  core/script/cli/cli.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#2020 Huawei.MA5600T.get_inventory. Fix detect board.
  sa/profiles/Huawei/MA5600T/get_interfaces.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-2020' into 'master'
  sa/profiles/Huawei/MA5600T/get_interfaces.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!7038
  core/script/cli/cli.py
Due: flake8, black, mypy, pylint, py:test

release-22.2:Backport!7037
  sa/profiles/Huawei/MA5600T/get_interfaces.py
  sa/profiles/Huawei/MA5600T/get_inventory.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#1964 Huawei.VRP.get_interfaces. Add allow_empty_response for 'display vlan' on cloud_engine_switch.
  sa/profiles/Huawei/VRP/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Merge branch 'noc-1964' into 'master'
  sa/profiles/Huawei/VRP/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Additional AlarmClass to link retention ttl-policy.
  commands/link.py
Due: flake8, black, mypy, pylint, py:test

Fix "no stream jobs" upon collection sync
  docker/Readme.md
  docker/docker-compose.yml
Due: prettier

Bump clickhouse version inside docker-compose
  docker/noc-docker-setup.sh
Due: none

Fix requirements for redpanda stream works.
  commands/msgstream.py
  requirements.txt
Due: flake8, black, mypy, pylint, py:test, gemnasium-python-dependency_scanning

release-22.2:Backport!6895
  sa/profiles/Huawei/VRP/get_interfaces.py
Due: flake8, black, mypy, pylint, py:test

Update core/datasources/discoveryidcachepoisonds.py, services/web/apps/inv/reportdiscoverypoison/views.py
  core/datasources/discoveryidcachepoisonds.py
  services/web/apps/inv/reportdiscoverypoison/views.py
Due: flake8, black, mypy, pylint, py:test

Fix link show-method.
  commands/link.py
Due: flake8, black, mypy, pylint, py:test

Fix typo part2.
  commands/link.py
Due: flake8, black, mypy, pylint, py:test

Add noc reporter module.
  core/reporter/__init__.py
  core/reporter/report.py
  core/reporter/types.py
Due: flake8, black, mypy, pylint, py:test

Add ReportEngine.
  core/reporter/base.py
  core/reporter/report.py
  core/reporter/types.py
Due: flake8, black, mypy, pylint, py:test

Add DataFormatter.
  core/reporter/base.py
  core/reporter/formatter/__init__.py
  core/reporter/formatter/base.py
  core/reporter/formatter/loader.py
  core/reporter/types.py
Due: flake8, black, mypy, pylint, py:test

Add queries support to Band.
  core/reporter/base.py
  core/reporter/formatter/table.py
  core/reporter/report.py
  core/reporter/types.py
  tests/reporter/test_report.py
Due: flake8, black, mypy, pylint, py:test

Add tests.
  core/reporter/base.py
  core/reporter/formatter/base.py
  core/reporter/formatter/table.py
  core/reporter/report.py
  core/reporter/types.py
  tests/reporter/__init__.py
  tests/reporter/test_data_band.py
  tests/reporter/test_report.py
Due: flake8, black, mypy, pylint, py:test

Reformat test config.
  core/reporter/base.py
  core/reporter/formatter/table.py
  core/reporter/report.py
  tests/reporter/report_2.csv
  tests/reporter/report_2.yml
  tests/reporter/report_datasource.csv
  tests/reporter/report_datasource.yml
  tests/reporter/test_report.py
Due: flake8, black, mypy, prettier, pylint, py:test

Fix load_data.
  core/reporter/base.py
  tests/reporter/report_datasource.csv
Due: flake8, black, mypy, pylint, py:test

Fix table formatter.
  core/reporter/base.py
  core/reporter/formatter/table.py
  core/reporter/report.py
  core/reporter/types.py
  tests/reporter/report_2.yml
  tests/reporter/report_datasource.csv
  tests/reporter/report_datasource.yml
Due: flake8, black, mypy, prettier, pylint, py:test

Add ColumnFormat option.
  core/reporter/formatter/table.py
  core/reporter/types.py
Due: flake8, black, mypy, pylint, py:test

Cleanup tests name.
  core/reporter/base.py
  core/reporter/report.py
  core/reporter/types.py
  tests/reporter/report_id_cache_poison.csv
  tests/reporter/report_id_cache_poison.yml
  tests/reporter/report_simple_csv.csv
  tests/reporter/report_simple_csv.yml
  tests/reporter/test_report.py
Due: flake8, black, mypy, prettier, pylint, py:test

Fix tests.
  tests/reporter/report_id_cache_poison.yml
  tests/reporter/report_simple_csv.yml
Due: prettier

Remove duplicate class.
  core/reporter/base.py
  core/reporter/formatter/table.py
  core/reporter/types.py
  tests/reporter/test_report.py
Due: flake8, black, mypy, pylint, py:test

Add ColumnFormat section to ReportBand.
  core/reporter/base.py
  core/reporter/report.py
  core/reporter/types.py
  tests/reporter/report_id_cache_poison.yml
  tests/reporter/test_report.py
Due: flake8, black, mypy, prettier, pylint, py:test

Add test report configs.
  core/reporter/formatter/table.py
  core/reporter/types.py
  tests/reporter/report_objectsummary.yml
  tests/reporter/test_data_band.py
  tests/reporter/test_report_config.py
Due: flake8, black, mypy, prettier, pylint, py:test

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
