Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Move registered 'neighbor' discovered object to lldp from base.
  services/discovery/jobs/base.py
  services/discovery/jobs/box/lldp.py
Due: py-lint, mypy, py:test

Fix Generic.get_metrics some devices return metric as string
  sa/profiles/Generic/get_metrics.py
Due: py-lint, mypy, py:test

Fix temporary error.
  sa/profiles/MikroTik/RouterOS/get_interface_status_ex.py
Due: py-lint, mypy, py:test

Fix processed message re on Event Classification Rule.
  collections/fm.eventclassificationrules/HP/1910/Security/Authentication/Privilege_Level_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/HP/1910/Unknown/Ignore_4_SYSLOG_.json
  services/classifier/rule.py
Due: py-lint, mypy, prettier, py:test

Fix preference.
  collections/fm.eventclassificationrules/HP/1910/Security/Audit/Command_1_SYSLOG_.json
Due: prettier, py:test

Fix processed message re on Event Classification Rule.
  collections/fm.eventclassificationrules/HP/1910/Security/Audit/Command_1_SYSLOG_.json
  collections/fm.eventclassificationrules/HP/1910/Security/Authentication/Privilege_Level_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/HP/1910/Unknown/Ignore_4_SYSLOG_.json
  services/classifier/rule.py
Due: py-lint, mypy, prettier, py:test

Fix typo.
  commands/report.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Fix filename template.
  core/reporter/base.py
  core/reporter/formatter/simpletable.py
  services/web/apps/main/ref/views.py
  services/web/apps/main/reportconfig/views.py
Due: py-lint, mypy, py:test

Fix join datasources with multiple columns.
  commands/report.py
  core/datasources/base.py
  core/datasources/interfacedetailds.py
  core/datasources/interfacemacsstatds.py
  core/reporter/base.py
  core/reporter/formatter/base.py
  core/reporter/formatter/simpletable.py
  core/reporter/types.py
  services/web/apps/sa/managedobject/views.py
  ui/web/main/reportconfig/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix other test.
  collections/fm.eventclassificationrules/HP/1910/Unknown/Syslog_17_SYSLOG_.json
Due: prettier, py:test

Fix SNMP pppp interface type.
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Due: py-lint, mypy, py:test

Add join datasources with multiple columns.
  collections/fm.eventclassificationrules/HP/1910/Unknown/Syslog_17_SYSLOG_.json
  commands/report.py
  core/datasources/base.py
  core/datasources/interfacedetailds.py
  core/datasources/interfacemacsstatds.py
  core/reporter/base.py
  core/reporter/formatter/base.py
  core/reporter/formatter/simpletable.py
  core/reporter/types.py
  services/web/apps/main/ref/views.py
  services/web/apps/main/reportconfig/views.py
  ui/web/main/reportconfig/Application.js
Due: py-lint, mypy, eslint, prettier, py:test, build:web

Collect MACs from MAC Move/MAC Learned events
  fm/handlers/event/mac.py
Due: py-lint, mypy, py:test

fix
  fm/handlers/event/mac.py
Due: py-lint, mypy, py:test

fix
  core/fm/event.py
  fm/handlers/event/mac.py
Due: py-lint, mypy, py:test

fix
  core/topology/map/objectlevelneighbor.py
Due: py-lint, mypy, py:test

fix
  core/topology/map/objectlevelneighbor.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Fix objectlevelneighbor
  core/topology/map/objectlevelneighbor.py
Due: py-lint, mypy, py:test

Fix objectlevelneighbor
  core/topology/map/objectlevelneighbor.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

clear mini map on change map
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

nginx added
  ui/build.ts
  ui/package.json
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/docker-compose.yml
  ui/scripts/index.html
  ui/scripts/nginx.conf
Due: prettier, py:test

alarm add show map menu
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/fm/alarm/view/form/AlarmController.js
  ui/web/inv/map/inspectors/ManagedObjectInspector.js
Due: eslint, build:web

Fix
  services/web/apps/inv/map/views.py
Due: py-lint, mypy, py:test

segment inspector when click on blank
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

segment combo on select move first position
  ui/web/core/TreePanel.js
Due: eslint, build:web

zoom fix
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

map events fixed
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

like 24.1
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

add viewPort only mini
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

move viewPort
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

viewPort size and move fixed
  ui/web/inv/map/MapPanel.js
Due: eslint, build:web

mini map click fixed
  ui/web.tgz
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
Due: eslint, build:web

Apply RemoteSystem settings on DiscoveredObject Rule.
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/web/apps/sa/discoveredobject/views.py
  ui/web/main/modeltemplate/Application.js
  ui/web/sa/objectdiscoveryrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix black.
  services/web/apps/sa/discoveredobject/views.py
Due: py-lint, mypy, py:test

Fix update diagnostic CheckStatus on discovery.
  core/profile/diagnostic.py
  core/script/diagnostic.py
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Clean logging.
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Add MAC_MEDIUM_OIU to Mac Vendor collection.
  config.py
  inv/models/macvendor.py
Due: py-lint, mypy, py:test

Juniper.JunOS. Fixes for CLI not allowed command.
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_fqdn.py
  sa/profiles/Juniper/JUNOS/get_lldp_neighbors.py
  sa/profiles/Juniper/JUNOS/profile.py
Due: py-lint, mypy, py:test

Skip failed status on get_ipv6_neighbor.
  sa/profiles/MikroTik/RouterOS/get_ipv6_neighbor.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
