Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Merge branch 'fix-avs-qtech-qfc-snmp' into 'master'
  sa/profiles/Qtech/QFC/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add tengigabitethernet interfaces Eltex.MES24xx
  sa/profiles/Eltex/MES24xx/get_interfaces.py
  sa/profiles/Eltex/MES24xx/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

comment message html encoded
  ui/web/fm/alarm/view/grids/GridViewTable.js
Due: prettier

Generic.get_lldp_neighbors. Remove bulk argument.
  sa/profiles/Generic/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add escalation_tt to Report Alarm Comments.
  services/web/apps/fm/reportalarmcomments/views.py
  ui/web/fm/reportalarmcomments/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Generic.get_interfaces. Use ifindex if it not in pid-ifindex mappings.
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

MikroTik.RouterOS.get_mac_address_table. Fix black.
  sa/profiles/MikroTik/RouterOS/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-generic-get-interfaces-trace' into 'master'
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-generic-lldp' into 'master'
  sa/profiles/Generic/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-167-d90f232530e446b8f39c5a00' into 'master'
  collections/inv.objectmodels/Huawei/CloudEngine/PAC600S12-CB.json
Due: prettier

H3C fix version matchers regex
  sa/profiles/H3C/VRP/profile.py
  sa/profiles/MikroTik/RouterOS/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-H3C_version_matchers' into 'master'
  sa/profiles/H3C/VRP/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-Huawei_s127xx_get_inventory' into 'master'
  sa/profiles/Huawei/VRP/get_inventory.py
  sa/profiles/Huawei/VRP/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix alarm comments count config
  fm/models/archivedalarm.py
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix flake on events
  commands/inject-event.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ddash, add metric
  sa/profiles/Sumavision/IPQAM/snmp_metrics/environment_temperature.json
  templates/ddash/graph_interface_load.j2
  templates/ddash/graph_multicast_channel.j2
  templates/ddash/graph_multicast_group.j2
Due: prettier

H3C added Serial port type
  sa/profiles/H3C/VRP/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Cisco.IOS fix get_interfaces rx_sh_int for management port
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/MikroTik/RouterOS/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-cisco_ios_mgmt_port_regexp' into 'master'
  sa/profiles/Cisco/IOS/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-inject-event' into 'master'
  commands/inject-event.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'contrib-167-c4622d8513a1b9706a064f7e' into 'master'
  collections/inv.objectmodels/Huawei/CloudEngine/S6330-H48X6C.json
Due: prettier

Merge branch 'contrib-167-0064e2e11b99ad73c9fddf35' into 'master'
  collections/inv.objectmodels/Huawei/CloudEngine/S6330-H24X6C.json
Due: prettier

Fix ZTE.ZXA.get_interfaces script
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.MES.get_lldp_neighbors script
  sa/profiles/Eltex/MES/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1512 Bump grpc to 1.35.
  core/liftbridge/base.py
  requirements.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'bupm-grpc_1_35' into 'master'
  core/liftbridge/base.py
  requirements.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Qtech.ALS.get_interfaces. Fix All tagged vlans.
  sa/profiles/Angtel/Topaz/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add 'Metrics | OID | CPU | Usage | Value' to DLink DxS CPU metrics.
  collections/inv.capabilities/Metrics/OID/cpu_usage_value.json
  sa/profiles/DLink/DxS/get_capabilities.py
  sa/profiles/DLink/DxS/get_metrics.py
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

FastAPIService: Customized validation errors
  core/service/fastapi.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix deadlock when Discovery import ActiveAlarm from umbrella.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1513' into 'master'
  services/discovery/jobs/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Qtech.QSW8200. Add new OS supported.
  sa/profiles/Qtech/QSW8200/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Set address_resolution_policy default value on ManagedObjectProfile form to 'D'.
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: prettier

Change MetricType application condition to icontains.
  services/web/apps/pm/metrictype/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-dlink-cpu-metrics-oid' into 'master'
  collections/inv.capabilities/Metrics/OID/cpu_usage_value.json
  sa/profiles/DLink/DxS/get_capabilities.py
  sa/profiles/DLink/DxS/get_metrics.py
  sa/profiles/DLink/DxS/profile.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-angtel-interface-converter' into 'master'
  sa/profiles/Angtel/Topaz/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1508 Fix TLS support for service mailsender
  services/mailsender/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'arthur-zzz-master-patch-74217' into 'master'
  services/mailsender/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-qtech-qsw8200' into 'master'
  sa/profiles/Qtech/QSW8200/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-mop-default' into 'master'
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: prettier
