Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

ConfDB. MES24xx. normalizer + tests
  sa/profiles/Eltex/MES24xx/confdb/__init__.py
  sa/profiles/Eltex/MES24xx/confdb/normalizer.py
  sa/profiles/Eltex/MES24xx/profile.py
  tests/confdb/profiles/Eltex/MES24xx/clock_source1.yml
  tests/confdb/profiles/Eltex/MES24xx/hostname1.yml
  tests/confdb/profiles/Eltex/MES24xx/hostname2.yml
  tests/confdb/profiles/Eltex/MES24xx/ip_route1.yml
  tests/confdb/profiles/Eltex/MES24xx/sntp1.yml
  tests/confdb/profiles/Eltex/MES24xx/spanning-tree1.yml
  tests/confdb/profiles/Eltex/MES24xx/username1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'add-ubiquiti/wa-support' into 'master'
  sa/profiles/Ubiquiti/AirOS/get_version.py
  sa/profiles/Ubiquiti/AirOS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add some help hints
  config.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1364 Biosegmentation: Configurable segment names
  commands/segment.py
  core/bioseg/policies/base.py
  core/bioseg/policies/calcify.py
  inv/models/networksegment.py
  inv/models/networksegmentprofile.py
  main/models/template.py
  sa/migrations/0208_administrativedomain_bioseg.py
  sa/models/administrativedomain.py
  tests/models/test_0002_reference.py
  ui/web/inv/networksegmentprofile/Application.js
  ui/web/inv/networksegmentprofile/Model.js
  ui/web/sa/administrativedomain/Application.js
  ui/web/sa/administrativedomain/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix table name for routingneighbors BI models.
  bi/models/routingneighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

ConfDB: Expose profile to normalizer tests
  tests/confdb/profiles/Eltex/MES24xx/interface-description1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface-ip-address1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface-loopbback-detection1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface-no-shutdown1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface-storm-control-broadcast1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface-storm-control-multicast1.yml
  tests/confdb/profiles/Eltex/MES24xx/interface1.yml
  tests/confdb/test_profiles.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'fix-macs-table-typo' into 'master'
  bi/models/routingneighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

tag tree widget
  lib/app/extmodelapplication.py
  services/web/apps/fm/alarm/views.py
  ui/web/core/combotree/ComboTree.js
  ui/web/css/extjs.css
  ui/web/css/ux.css
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/alarm/view/grids/Lookup.js
  ui/web/fm/alarm/view/grids/Sidebar.js
  ui/web/fm/alarm/view/grids/Tagfield.js
  ui/web/fm/alarm/view/grids/TagfieldController.js
  ui/web/fm/alarm/view/grids/TreePicker.js
  ui/web/fm/alarm/view/grids/TreePickerController.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MiniMap.js
  ui/web/inv/map/inspectors/Inspector.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

ConfDB Eltex.MES + dns resolver syntax + confdb tests + normalizer fixes (interface vlan, http server, igmp-snooping vlan, spannig tree and storm-control)
  sa/profiles/Eltex/MES/confdb/normalizer.py
  tests/confdb/profiles/Eltex/MES/default_gateway1.yml
  tests/confdb/profiles/Eltex/MES/dns1.yml
  tests/confdb/profiles/Eltex/MES/hostname1.yml
  tests/confdb/profiles/Eltex/MES/spanning_tree1.yml
  tests/confdb/profiles/Eltex/MES/spanning_tree2.yml
  tests/confdb/profiles/Eltex/MES/ssh1.yml
  tests/confdb/profiles/Eltex/MES/user1.yml
  tests/confdb/profiles/Eltex/MES/vlan1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

ConfDB normalizer Raisecom.RCIOS + tests. Тесты, связанные с интерфейсами будут добавлены после исправления (@todo: Create mock ManagedObject)
  sa/profiles/Raisecom/RCIOS/confdb/__init__.py
  sa/profiles/Raisecom/RCIOS/confdb/normalizer.py
  sa/profiles/Raisecom/RCIOS/profile.py
  tests/confdb/profiles/Raisecom/RCIOS/hostname1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Sentry: Change client
  config.py
  core/debug.py
  requirements.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix undef var
  ansible/noc_roles/noc/templates/requirements.list.j2
Due: none

Fix UI style for ConfDB query name.
  ui/web/cm/confdbquery/Application.js
Due: prettier

Merge branch 'fix-avs-confdb-name-style' into 'master'
  ui/web/cm/confdbquery/Application.js
Due: prettier

Close CLI stream if 'Connection reset' receive.
  core/script/cli/cli.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix 1) If one object metric, group metric open, else close 2) Add YY:MM:DD:MM format for Uptime metric
  services/card/cards/managedobject.py
  services/card/templates/card.html.j2
  services/card/templates/managedobject.html.j2
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.administrativedomain biosseg_floating_parent_segment fixed
  ui/web/core/ModelApplication.js
  ui/web/sa/administrativedomain/Application.js
Due: prettier

Alcatel.7302. Fix for 7342 PON platform.
  sa/profiles/Alcatel/7302/get_chassis_id.py
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alcatel/7302/get_inventory.py
  sa/profiles/Alcatel/7302/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-alcatel-pon' into 'master'
  sa/profiles/Alcatel/7302/get_chassis_id.py
  sa/profiles/Alcatel/7302/get_interfaces.py
  sa/profiles/Alcatel/7302/get_inventory.py
  sa/profiles/Alcatel/7302/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Set black format to py37
  pyproject.toml
Due: none

Merge branch 'fix_reportmaxmetrics' into 'master'
  services/web/apps/inv/reportmaxmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update views.py
  services/web/apps/inv/reportmaxmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Optimized run_sync
  core/ioloop/util.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Move pylint configuration to pyproject.toml file
  .gitignore
  .pylintrc
  pyproject.toml
Due: none

gitlab ci: Do not try to lint deleted files
  .gitlab-ci.yml
Due: prettier

Fix ddash refid
  templates/ddash/dash_ipsla.j2
  templates/ddash/graph_interface_card_discards.j2
  templates/ddash/graph_interface_card_error.j2
  templates/ddash/graph_object_sysuptime.j2
  templates/ddash/graph_vpn_ipsec_authfailed.j2
  templates/ddash/panel_errors.j2
  templates/ddash/panel_segment.j2
  templates/ddash/row_errors.j2
Due: none

Parallel build of docs. Disable API docs
  .gitlab-ci.yml
  docs/src/en/dev/confdb-overview.rst
  docs/src/en/profiles/vendor-STerra.rst
Due: prettier

Minimize line-length to 100 like in black
  pyproject.toml
Due: none

NOC 20.3 release notes
  VERSION
  docs/src/en/releases/gen-20.3.rst
  docs/src/en/releases/noc-20.rst
  docs/src/en/releases/release-20.3.rst
Due: none

Add more images for apikey docs
  docs/src/en/images/apikey_edit_api.png
  docs/src/en/images/apikey_edit_api_acl.png
  docs/src/en/reference/apikey.rst
Due: none

20.2.2 Release notes
  docs/src/en/releases/gen-20.2.rst
  docs/src/en/releases/release-20.2.2.rst
Due: none

Merge branch 'noc-20.2.2' into 'master'
  docs/src/en/releases/gen-20.2.rst
  docs/src/en/releases/release-20.2.2.rst
Due: none

Update VERSION to 20.2.2
  VERSION
Due: none

Allow alternative locations for binary speedup modules
  Dockerfile
  __init__.py
  core/handler.py
  core/importer.py
  tests/test_py_module.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fast HeatMap
  services/card/cards/alarmheat.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'update/heatmap' into 'master'
  services/card/cards/alarmheat.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

change pagesize to 500
  ui/web/fm/alarm/view/grids/TreePicker.js
Due: prettier

Fix `the inline if-expression on line 1 evaluated to false and no else section was defined`
  ansible/noc_roles/noc/tasks/hacks.yml
Due: prettier

Merge branch 'patch-tree-picker-pagesize' into 'master'
  ui/web/fm/alarm/view/grids/TreePicker.js
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
