Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Fix invalid vlan number in Generic.get_mac_address_table script
  sa/profiles/Generic/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'generic_get_mac_address_table' into 'master'
  sa/profiles/Generic/get_mac_address_table.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix sorted on confdb meta.
  core/confdb/applicator/meta.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add libssl-dev for ssh2-python build
  ansible/noc_roles/noc/tasks/os/Debian/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu/main.yml
Due: prettier

Replace get_fqdn script to Generic.
  sa/profiles/Cisco/IOS/get_fqdn.py
  sa/profiles/Extreme/XOS/get_fqdn.py
  sa/profiles/Juniper/JUNOS/get_fqdn.py
  sa/profiles/Planet/WGSD/get_fqdn.py
  sa/profiles/Qtech/QSW2800/get_fqdn.py
  sa/profiles/Siklu/EH/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove OrderMap
  fixes/fix_ordermap.py
  main/models/ordermap.py
  models.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

datastream: asyncio waiter
  services/datastream/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix upload docs
  .gitlab-ci.yml
Due: prettier

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier

atomicl 1.1.0
  core/hist/base.py
  core/perf.py
  requirements/docker.txt
  requirements/node.txt
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Enable debug minio
  .gitlab-ci.yml
Due: prettier

Build docs too for debug
  .gitlab-ci.yml
Due: prettier

Add mr pipelining too
  .gitlab-ci.yml
Due: prettier

Skip test
  .gitlab-ci.yml
Due: prettier

ManagedObject: Project
  project/models/project.py
  sa/migrations/0206_managedobject_project.py
  sa/models/managedobject.py
  services/card/cards/project.py
  services/card/templates/managedobject.html.j2
  services/card/templates/project.html.j2
  ui/web/project/project/Application.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add SNMP support for MikroTik.RouterOS.get_fqdn script
  sa/profiles/MikroTik/RouterOS/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Replace get_fqdn script to Generic #2
  sa/profiles/Alcatel/AOS/get_fqdn.py
  sa/profiles/Cisco/IOSXR/get_fqdn.py
  sa/profiles/Cisco/NXOS/get_fqdn.py
  sa/profiles/Cisco/SANOS/get_fqdn.py
  sa/profiles/Cisco/SMB/get_fqdn.py
  sa/profiles/Cisco/WLC/get_fqdn.py
  sa/profiles/DLink/DxS/get_fqdn.py
  sa/profiles/IBM/NOS/get_fqdn.py
  sa/profiles/InfiNet/WANFlexX/get_fqdn.py
  sa/profiles/Linux/Debian/get_fqdn.py
  sa/profiles/Linux/RHEL/get_fqdn.py
  sa/profiles/Nateks/NetXpert/get_fqdn.py
  sa/profiles/Rubytech/l2ms/get_fqdn.py
  sa/profiles/TPLink/EAP/get_fqdn.py
  sa/profiles/TPLink/T2600G/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

new_objectmodels_qtech_part4
  collections/inv.objectmodels/Qtech/QSW/QSW-3470-10T-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-4610-28T-POE-AC.json
Due: prettier

fix_profile_Zyxel_MSAN
  sa/profiles/Zyxel/MSAN/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_new_objectmodels_Zyxel_MSAN
  collections/inv.objectmodels/Zyxel/AAM1212-51.json
  collections/inv.objectmodels/Zyxel/AAM1212-53.json
Due: prettier

Fix Zyxel.ZyNOS.get_inventory self.cli now returns cleaned result. Python3 encode returns bytes, inventory wants strings
  sa/profiles/Zyxel/ZyNOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use MIB, instead of raw oid
  sa/profiles/Cisco/IOS/get_capabilities.py
  sa/profiles/Cisco/SMB/get_capabilities.py
  sa/profiles/Cisco/WLC/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'cisco_cdp' into 'master'
  sa/profiles/Cisco/IOS/get_capabilities.py
  sa/profiles/Cisco/SMB/get_capabilities.py
  sa/profiles/Cisco/WLC/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix monmap card 'not supported between instances of 'int' and 'NoneType''.
  services/card/cards/monmap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix sorted key in ConfDB 'interfaces X meta link'.
  core/confdb/applicator/meta.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-monmap-error' into 'master'
  services/card/cards/monmap.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-confdb-meta' into 'master'
  core/confdb/applicator/meta.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

NOC 20.2.1 Release Notes
  docs/src/en/releases/gen-20.2.rst
  docs/src/en/releases/release-20.2.1.rst
Due: none

Merge branch 'noc-20.2.1' into 'master'
  docs/src/en/releases/gen-20.2.rst
  docs/src/en/releases/release-20.2.1.rst
Due: none

fix for JUNOS: get_version.py - get serial number from CLI
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add some cisco models
  collections/inv.objectmodels/Cisco/6500/VS-F6K-MSFC5.json
  collections/inv.objectmodels/Cisco/6500/WS-C6513-E-FAN.json
  collections/inv.objectmodels/Cisco/7600/WS-F6K-DFC4-E.json
  collections/inv.objectmodels/Cisco/7600/WS-X6848-SFP.json
  collections/inv.objectmodels/Cisco/7600/WS-X6908-10G.json
Due: prettier

Fix Cisco.IOS.get_inventory script
  sa/profiles/Cisco/IOS/get_inventory.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-docker-image-proj' into 'master'
  .docker/Dockerfile
Due: none

Remove "import json" from noc.lib.app.site
  lib/app/site.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.MA5600T. Add pattern_more prompt.
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_objectmodels_dlink_DAS-3224DC
  collections/inv.objectmodels/DLink/DAS/DAS-3224DC.json
Due: prettier

Update DAS-3224DC.json
  collections/inv.objectmodels/DLink/DAS/DAS-3224DC.json
Due: prettier
