Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/black:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/mypy:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

xenon:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - x=0
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

pylint3k:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

futurize:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-lint:master
  script:
  - FLIST=$(git --no-pager diff --name-only $(git merge-base origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME $CI_COMMIT_SHA) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  - /bin/future.sh "$FLIST"
  tags:
  - docker

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

Cisco.IOS.normalizer. Fix digit multi on storm-control level command.
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Remove remaining __future__ imports
  core/etl/loader/subscriberprofile.py
  sa/profiles/Eltex/MES/get_mac_address_table.py
  services/classifier/patternset.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add vlan_ids to unit ConfDB syntax.
  core/confdb/syntax/virtualrouter/interfaces/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix Eltex.DSLAM profile
  sa/profiles/Eltex/DSLAM/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ZTE.ZXA10.get_interfaces script
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add VPN Metric Scope.
  collections/pm.metricscopes/VPN.json
Due: prettier

Raisecom.ROS profile. Fix convert iface name for SNMP ifDescr format.
  sa/profiles/Raisecom/ROS/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Use smart_text on fix tags.
  fixes/fix_tags.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_interfaces. Fix mtu None value trace.
  sa/profiles/Generic/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: Huawei | MA | MA5800-X17 sysObjectID
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X17_sysObjectID.json
Due: prettier

noc/noc#1163 Huawei.VRP.get_metrics. Use getnext for CX200 DuplexStatus.
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: DCN | DCWS | DCWS-6002 sysObjectID
  collections/sa.profilecheckrules/DCN/DCWS/DCWS-6002_sysObjectID.json
Due: prettier

Use BaseList from mongoengine.base.datastructures for PlainReferenceListField value.
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix lookup & tree
  ui/web/fm/alarm/view/grids/Lookup.js
  ui/web/fm/alarm/view/grids/TreePickerController.js
Due: prettier

Update noc_roles/noc/meta/tower.yml
  ansible/noc_roles/noc/meta/tower.yml
Due: prettier

Merge branch 'fix-avs-cisco-typo' into 'master'
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

etl: Configurable compression
  config.py
  core/compressor/__init__.py
  core/compressor/base.py
  core/compressor/bz2.py
  core/compressor/gzip.py
  core/compressor/loader.py
  core/compressor/lzma.py
  core/compressor/plain.py
  core/etl/compression.py
  core/etl/extractor/base.py
  core/etl/loader/base.py
  fixes/fix_etl_files.py
  tests/test_compressor.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add metrics CPU/Memory for MES24xx
  sa/profiles/Eltex/MES24xx/snmp_metrics/cpu_load_1min.json
  sa/profiles/Eltex/MES24xx/snmp_metrics/cpu_load_5min.json
  sa/profiles/Eltex/MES24xx/snmp_metrics/cpu_usage.json
  sa/profiles/Eltex/MES24xx/snmp_metrics/memory_usage.json
Due: prettier

Merge branch 'noc-1337' into 'master'
  sa/migrations/0192_thresholdprofiles.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Catch exception when shutdown_session when remove session.
  core/script/sessionstore.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix call handler on cli object_parser.
  core/script/cli/cli.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Biosegmentation
  commands/segment.py
  config.py
  core/bioseg/__init__.py
  core/bioseg/moderator/__init__.py
  core/bioseg/moderator/base.py
  core/bioseg/policies/__init__.py
  core/bioseg/policies/base.py
  core/bioseg/policies/calcify.py
  core/bioseg/policies/eat.py
  core/bioseg/policies/feed.py
  core/bioseg/policies/keep.py
  core/bioseg/policies/loader.py
  core/bioseg/policies/merge.py
  core/cache/base.py
  inv/models/biosegtrial.py
  inv/models/networksegment.py
  inv/models/networksegmentprofile.py
  models.py
  sa/models/managedobject.py
  tests/test_bioseg.py
  ui/web/inv/networksegmentprofile/Application.js
  ui/web/inv/networksegmentprofile/Model.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

fix_reportmaxmetrics
  services/web/apps/inv/reportmaxmetrics/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

CLI: Distinct timeout error codes
  core/error.py
  core/profile/base.py
  core/script/cli/base.py
  core/script/cli/cli.py
  core/script/cli/error.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-cli-await-py3' into 'master'
  core/script/cli/cli.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Alstec.MSPU. Fix pattern_prompt.
  sa/profiles/Alstec/MSPU/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-alstec-mspu-prompt' into 'master'
  sa/profiles/Alstec/MSPU/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1362 ConfDB: Group expansion in curly tokenizer
  core/confdb/tokenizer/base.py
  core/confdb/tokenizer/curly.py
  core/confdb/tokenizer/line.py
  sa/profiles/Juniper/JUNOS/profile.py
  tests/confdb/tokenizer/test_curly.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add aaa to system confdb syntax.
  core/confdb/applicator/systemaaaorder.py
  core/confdb/applicator/systemaaaservicelocal.py
  core/confdb/syntax/system/aaa/base.py
  core/confdb/syntax/system/base.py
  core/profile/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add dns to protocols confdb syntax.
  core/confdb/syntax/protocols/base.py
  core/confdb/syntax/protocols/dns/__init__.py
  core/confdb/syntax/protocols/dns/base.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ReportObjectDetail trace when empty segment name.
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1327 Add DefaultInterfaceUntaggedVlanApplicator to ConfDB applicators.
  core/confdb/applicator/interfaceuntaggedvlan.py
  core/confdb/syntax/hints.py
  core/confdb/syntax/virtualrouter/hints.py
  core/confdb/syntax/virtualrouter/interfaces/hints.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'update/kripto_metrics' into 'master'
  collections/sa.profilecheckrules/STerra/Gate/ALL_sysObjectID.json
  collections/sa.profilecheckrules/SecurityCode/Kontinent/ALL_sysObjectID.json
  sa/profiles/STerra/Gate/get_version.py
  sa/profiles/STerra/Gate/snmp_metrics/cpu_usage_5min.json
  sa/profiles/STerra/Gate/snmp_metrics/memory_usage.json
  sa/profiles/STerra/Gate/snmp_metrics/vpn_ipsec_auth_failed.json
  sa/profiles/SecurityCode/Kontinent/snmp_metrics/cpu_usage_5min.json
  sa/profiles/SecurityCode/Kontinent/snmp_metrics/memory_usage.json
  templates/ddash/graph_cpu_load_5min.j2
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Add Eltex MES24xx mib
  collections/fm.mibs/ARICENT-ISS-MIB.json.gz
Due: none

Actual arguments
  docs/src/en/dev/tools.rst
Due: none

#1361 work on. ConfDB syntax protocol dns name-server and search Juniper.JUNOS normalizator with "crap&wood" style.
  sa/profiles/Juniper/JUNOS/confdb/normalizer.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

#1333 Change AS.asn type to bigint to extend valid 32-bit ASN range
  peer/migrations/0042_asn_bigint.py
  peer/models/asn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1350 Fix datastream rebuild None id trace.
  commands/datastream.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1350' into 'master'
  commands/datastream.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update gates metrics name
  sa/profiles/STerra/Gate/snmp_metrics/cpu_load_5min.json
  sa/profiles/SecurityCode/Kontinent/snmp_metrics/cpu_load_5min.json
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**
