Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

Fix duplicate notification on one contact.
  main/models/notificationgroup.py
Due: py-lint, mypy, py:test

Add initial support for Maipu
  collections/inv.connectionrules/Maipu/Switch.json
  collections/inv.connectiontypes/Maipu/PSU.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.facades/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.facades/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.objectmodels/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.objectmodels/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/sa.profilecheckrules/Maipu/OS/Maipu_enterprises.json
  sa/profiles/Maipu/OS/get_capabilities.py
  sa/profiles/Maipu/OS/get_config.py
  sa/profiles/Maipu/OS/get_interfaces.py
  sa/profiles/Maipu/OS/get_inventory.py
  sa/profiles/Maipu/OS/get_lldp_neighbors.py
  sa/profiles/Maipu/OS/get_mac_address_table.py
  sa/profiles/Maipu/OS/get_version.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, prettier, py:test

Merge branch 'noc-maipu-os' into 'master'
  collections/inv.connectionrules/Maipu/Switch.json
  collections/inv.connectiontypes/Maipu/PSU.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.facades/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.facades/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.objectmodels/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.objectmodels/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/sa.profilecheckrules/Maipu/OS/Maipu_enterprises.json
  sa/profiles/Maipu/OS/get_capabilities.py
  sa/profiles/Maipu/OS/get_config.py
  sa/profiles/Maipu/OS/get_interfaces.py
  sa/profiles/Maipu/OS/get_inventory.py
  sa/profiles/Maipu/OS/get_lldp_neighbors.py
  sa/profiles/Maipu/OS/get_mac_address_table.py
  sa/profiles/Maipu/OS/get_version.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, prettier, py:test

release-25.1:Backport!8930
  collections/inv.connectionrules/Maipu/Switch.json
  collections/inv.connectiontypes/Maipu/PSU.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.facades/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.facades/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.facades/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-30TXF.json
  collections/inv.objectmodels/Maipu/NSS3530/NSS3530-54TXP.json
  collections/inv.objectmodels/Maipu/NSS4330/NSS4330-32TXP.json
  collections/inv.objectmodels/Maipu/NSS5930/NSS5930-56SQFP.json
  collections/sa.profilecheckrules/Maipu/OS/Maipu_enterprises.json
  sa/profiles/Maipu/OS/get_capabilities.py
  sa/profiles/Maipu/OS/get_config.py
  sa/profiles/Maipu/OS/get_interfaces.py
  sa/profiles/Maipu/OS/get_inventory.py
  sa/profiles/Maipu/OS/get_lldp_neighbors.py
  sa/profiles/Maipu/OS/get_mac_address_table.py
  sa/profiles/Maipu/OS/get_version.py
  sa/profiles/Maipu/OS/profile.py
Due: py-lint, mypy, prettier, py:test

Move render escalation contex on job.
  services/escalator/actionlog.py
  services/escalator/alarmaction.py
  services/escalator/job.py
Due: py-lint, mypy, py:test

save inv.objectmodels 20250617
  collections/inv.objectmodels/IRE-Polus/Horizon/Amplifier/RA2-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/BS-1-1-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/CU-H5.json
  collections/inv.objectmodels/IRE-Polus/Horizon/EAU/EAU-L-100V_18-OSC_1511_-C4-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/FB-K4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/HS-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K10-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/K4-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/FS-2-1_12-1550-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/IL-2-50_100-C-M-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM-16V_16-100-M-S21-OSC_1511_VP-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM-4V_4-100-M-S21-OSC_1511_VP-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OADM-8V_8-100-M-S21-OSC_1511_VP-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-C21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-40-100-H21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OD-96-50-H13-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-C21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-40V-100-H21-OSC_1511_-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/OM-96-50-H13-OSC_1511_VP-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Mux_Demux/ROADM-2x9-S-F-OCM-H8.json
  collections/inv.objectmodels/IRE-Polus/Horizon/OPM-4-C-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/PEM-H3.json
Due: prettier, py:test

update
  collections/inv.connectionrules/IRE-Polus/Horizon.json
  collections/inv.facades/RBS/iData/ADM-200-MRFL.json
  collections/inv.facades/RBS/iData/EAU-L-100-H4.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-10.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x200.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ATP-2x600.json
  collections/inv.vendors/IRE-POLUS.json
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/IRE-Polus/Horizon/profile.py
Due: py-lint, mypy, prettier, py:test

Add TP-2x10 ADM-200-MRFL
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/ADM-200-MRFL.json
  collections/inv.objectmodels/IRE-Polus/Horizon/Transponders/TP-2x10.json
  collections/inv.protocols/TransEth2_5G.json
Due: prettier, py:test

Add micromark dependency to web requirements and include its script in desktop template
  requirements/web.json
  services/web/apps/main/desktop/templates/desktop.html
Due: prettier, py:test

#2668 Fix check interaction_audit event action condition.
  services/classifier/actionset.py
Due: py-lint, mypy, py:test

Fix Alarm backend error when getting subscribers.
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2668' into 'master'
  services/classifier/actionset.py
Due: py-lint, mypy, py:test

Merge branch 'patch-avs-move-escalation-tt-logs' into 'master'
  fm/migrations/0061_migrate_escalation_tt_to_log.py
  fm/models/activealarm.py
  fm/models/alarmescalation.py
  fm/models/alarmlog.py
  main/models/notificationgroup.py
  main/models/template.py
  services/escalator/escalation.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9133
  services/classifier/actionset.py
Due: py-lint, mypy, py:test

release-19.1:Backport!9121
  fm/migrations/0061_migrate_escalation_tt_to_log.py
  fm/models/activealarm.py
  fm/models/alarmescalation.py
  fm/models/alarmlog.py
  main/models/notificationgroup.py
  main/models/template.py
  services/escalator/escalation.py
Due: py-lint, mypy, py:test

Add raiseref to Dispose Protocol.
  main/models/pool.py
  sa/models/service.py
  services/correlator/models/disposereq.py
  services/correlator/models/raiserefreq.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-alarm-backend-for-watch' into 'master'
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Fix Alarm Backend.
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9135
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Fix typo.
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Fix ActiveAlarm.
  fm/models/activealarm.py
Due: py-lint, mypy, py:test

Fix Alarm Card.
  services/card/cards/alarm.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Fix typo on datastream get_format_role cache.
  services/datastream/paths/datastream.py
Due: py-lint, mypy, py:test

Set Capability type field as required.
  inv/models/capability.py
Due: py-lint, mypy, py:test

Fix flake.
  inv/models/capability.py
Due: py-lint, mypy, py:test

Add padding to display field in CommentPanel for improved layout consistency.
  ui/web/inv/inv/plugins/comment/CommentPanel.js
Due: eslint, build:web

fix clear_value thresholds
  core/cdag/node/threshold.py
  tests/cdag/node/test_util.py
Due: py-lint, mypy, py:test

release-23.1 Add operation support to clear condition in thresholds
  core/cdag/node/threshold.py
  tests/cdag/node/test_util.py
Due: py-lint, mypy, py:test

Local classification rules report displays "No Local Rules" when there is no rules
  services/web/apps/fm/reportlocalrules/views.py
Due: py-lint, mypy, py:test

Merge branch 'noc-rm-admindatewidget' into 'master'
  services/web/apps/fm/reportavailability/views.py
  services/web/apps/fm/reportescalations/views.py
  services/web/apps/fm/reportoutages/views.py
  services/web/apps/fm/reportreboots/views.py
  services/web/apps/fm/reportttsystemstat/views.py
  services/web/base/reportapplication.py
  settings.py
Due: py-lint, mypy, py:test

Merge branch 'noc-fix-local-rules' into 'master'
  services/web/apps/fm/reportlocalrules/views.py
Due: py-lint, mypy, py:test

tests: Group fast tests together in report summary
  tests/conftest.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9143
  services/web/apps/fm/reportlocalrules/views.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9127
  services/web/apps/fm/reportavailability/views.py
  services/web/apps/fm/reportescalations/views.py
  services/web/apps/fm/reportoutages/views.py
  services/web/apps/fm/reportreboots/views.py
  services/web/apps/fm/reportttsystemstat/views.py
  services/web/base/reportapplication.py
  settings.py
Due: py-lint, mypy, py:test

Decode bool value.
  core/models/valuetype.py
Due: py-lint, mypy, py:test

Fix datasource.
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Due: py-lint, mypy, py:test

Move .requirements to pyproject.toml
  .gitlab-ci.yml
  .requirements/activator.txt
  .requirements/bh.txt
  .requirements/cache-memcached.txt
  .requirements/cache-redis.txt
  .requirements/classifier.txt
  .requirements/dev.txt
  .requirements/docs.txt
  .requirements/lint.txt
  .requirements/login-ldap.txt
  .requirements/login-pam.txt
  .requirements/login-radius.txt
  .requirements/ping.txt
  .requirements/prod-tools.txt
  .requirements/sender-kafka.txt
  .requirements/supervisor.txt
  .requirements/test.txt
  .requirements/testing.txt
  .requirements/vcenter.txt
  CODEOWNERS
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Due: py-lint, prettier, build:Docs, upload docs

fix pip and yappi
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Due: py-lint, prettier

fix-lint
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Due: prettier

Bump requirements
  .requirements/node.txt
  pyproject.toml
Due: py-lint

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
