Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

classifier: Fix double unescaping
  services/classifier/service.py
Due: py-lint, mypy, py:test

Merge branch 'noc-classifier-fix-double-escape' into 'master'
  services/classifier/service.py
Due: py-lint, mypy, py:test

Parse more transcievers
  sa/profiles/BDCOM/xPON/get_inventory.py
Due: py-lint, mypy, py:test

LDAPDomain: Hide bind_password
  ui/web/main/authldapdomain/Application.js
Due: eslint, build:web

release-25.1:Backport!9293
  services/classifier/service.py
Due: py-lint, mypy, py:test

Refactor form defaults in ModelApplication, add labelWidth and set comboboxes to non-editable in authldapdomain application
  ui/web/core/ModelApplication.js
  ui/web/main/authldapdomain/Application.js
Due: eslint, build:web

Fix calculate severity when refresh alarm.
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  tests/fm/test_calculate_severity.py
Due: py-lint, mypy, py:test

Fix tests.
  tests/fm/test_calculate_severity.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Remove unused imports.
  services/correlator/alarmrule.py
Due: py-lint, mypy, py:test

Fix calculate severity when refresh alarm.
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  tests/fm/test_calculate_severity.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-calculate-severity' into 'master'
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  tests/fm/test_calculate_severity.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Add clear_alarm after delay.
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/web/apps/fm/alarm/views.py
Due: py-lint, mypy, py:test

Add rule config.
  fm/models/activealarm.py
  fm/models/alarmrule.py
  services/correlator/alarmrule.py
  services/correlator/service.py
Due: py-lint, mypy, py:test

Add call alarm_job.
  fm/models/alarmrule.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/alarmrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix recursion.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Add meta.
  fm/models/alarmwatch.py
Due: py-lint, mypy, py:test

Fix recursion.
  fm/handlers/alarm/stub.py
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  tests/fm/test_alarm_watchers.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

fix flake.
  fm/models/alarmwatch.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9295
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  tests/fm/test_calculate_severity.py
  tests/fm/utils.py
Due: py-lint, mypy, py:test

Refactor radiofield value check in ModelApplication to ensure correct field...
  ui/web/core/ModelApplication.js
Due: eslint, build:web

release-25.1:Backport!9290
  ui/web/core/ModelApplication.js
Due: eslint, build:web

Unified channel maps
  core/techdomain/mapper/base.py
  core/techdomain/mapper/otn_odu.py
  core/techdomain/mapper/otn_otu.py
Due: py-lint, mypy, py:test

set selectable class
  core/techdomain/mapper/otn_odu.py
Due: py-lint, mypy, py:test

unified channel representation
  core/techdomain/mapper/otn_odu.py
  core/techdomain/mapper/otn_oms.py
  core/techdomain/mapper/otn_otu.py
Due: py-lint, mypy, py:test

Improve formatting DiscoveredObject model.
  core/purgatorium.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

BaseMapper.add_channel
  core/techdomain/mapper/base.py
Due: py-lint, mypy, py:test

Inventory: Use proper cable model on import
  commands/inventory.py
  core/inv/codec.py
  inv/models/objectmodel.py
Due: py-lint, mypy, py:test

Fix
  core/inv/codec.py
Due: py-lint, mypy, py:test

#2690 Add clear_alarm after delay.
  fm/handlers/alarm/stub.py
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/correlator/service.py
  services/web/apps/fm/alarm/views.py
  tests/fm/test_alarm_watchers.py
  tests/fm/utils.py
  ui/web/fm/alarmrule/Application.js
  ui/web/fm/alarmrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix ETL merge procedure.
  core/purgatorium.py
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Fix send signal.
  sa/models/discoveredobject.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Fix assign hostname.
  sa/models/discoveredobject.py
Due: py-lint, mypy, py:test

Fix refresh_rule.
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
Due: py-lint, mypy, py:test

Improve formatting DiscoveredObject model.
  core/purgatorium.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/objectdiscoveryrule.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-discovered-duplicate' into 'master'
  core/purgatorium.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/objectdiscoveryrule.py
Due: py-lint, mypy, py:test

hover effects for selectable channel in extjs.css
  ui/web/css/extjs.css
Due: prettier, build:web

release-25.1:Backport!9301
  core/purgatorium.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/objectdiscoveryrule.py
Due: py-lint, mypy, py:test

OTU: Mark ports as selectable
  core/techdomain/mapper/otn_otu.py
Due: py-lint, mypy, py:test

Add hover effect for polyline in selectable channels
  ui/web/css/extjs.css
Due: prettier, build:web

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
