Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  - black --target-version py310 --check --diff . 2>&1 | ./scripts/ci/black-junit.py --tee --output=build/reports/junit-black.xml
  - STATUS_BLACK=$?
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

eslint:
  stage: Lint
  image: node:22-bookworm
  script:
  - set -x
  - export ESLINT_USE_FLAT_CONFIG=false
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.js$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  - python3 scripts/docs/minify.py
  tags:
  - docker
  artifacts:
    paths:
    - build/docs
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

fix-lint
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Due: prettier

debug
  ansible/.ansible-ci.yml
Due: prettier

Disable ubuntu 22 auto-updates
  ansible/noc_roles/pre/tasks/os/Ubuntu_22/main.yml
Due: prettier

Move .requirements to pyproject.toml
  .gitlab-ci.yml
  .requirements/activator.txt
  .requirements/bh.txt
  .requirements/cache-memcached.txt
  .requirements/cache-redis.txt
  .requirements/classifier.txt
  .requirements/dev.txt
  .requirements/docs.txt
  .requirements/lint.txt
  .requirements/login-ldap.txt
  .requirements/login-pam.txt
  .requirements/login-radius.txt
  .requirements/ping.txt
  .requirements/prod-tools.txt
  .requirements/sender-kafka.txt
  .requirements/supervisor.txt
  .requirements/test.txt
  .requirements/testing.txt
  .requirements/vcenter.txt
  CODEOWNERS
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Due: py-lint, prettier, build:Docs, upload docs

Fix task
  ansible/noc_roles/pre/tasks/os/Ubuntu_22/main.yml
Due: prettier

fix pip and yappi
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Due: py-lint, prettier

Block account on invalid logins
  aaa/models/failedlogin.py
  config.py
  docs/config-reference/login.md
  models.py
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Fix
  aaa/models/failedlogin.py
Due: py-lint, mypy, py:test

Set width for value column in managed object form view
  ui/web/sa/managedobject/form/View.js
Due: eslint, build:web

gufo-snmp 0.8.3
  .requirements/node.txt
Due: py-lint

Merge branch 'noc-gufo-snmp-0.8.3' into 'master'
  .requirements/node.txt
Due: py-lint

release-25.1:Backport!9266
  .requirements/node.txt
Due: py-lint

Move to postgres
  aaa/migrations/0011_user_blocked_till.py
  aaa/models/failedlogin.py
  aaa/models/user.py
  services/login/paths/login.py
  ui/web/main/desktop/LoginView.js
Due: py-lint, mypy, eslint, py:test, build:web

Add settings to ensure service instance.
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Add Workflow-enabled event to Diagnostic.
  core/wf/diagnostic.py
  sa/models/managedobjectprofile.py
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

Fix flake.
  core/wf/diagnostic.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-instance-settings' into 'master'
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9268
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Due: py-lint, mypy, py:test

Fix detect resource model for IFACE event vars.
  core/models/valuetype.py
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2689' into 'master'
  core/models/valuetype.py
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9271
  core/models/valuetype.py
  fm/models/eventclass.py
Due: py-lint, mypy, py:test

Add managed_object to escalation alarm context.
  services/escalator/escalation.py
  ui/web/main/template/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Merge branch 'fix-avs-escalation-alarm-context' into 'master'
  services/escalator/escalation.py
  ui/web/main/template/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

release-25.1:Backport!9273
  services/escalator/escalation.py
  ui/web/main/template/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Implement clipboard functionality in DynamicModalEditing
  ui/web/core/plugins/DynamicModalEditing.js
  ui/web/sa/managedobject/form/View.js
  ui/web/sa/service/Application.js
Due: eslint, build:web

release-25.1:Backport!9264
  ui/web/core/plugins/DynamicModalEditing.js
  ui/web/sa/managedobject/form/View.js
  ui/web/sa/service/Application.js
Due: eslint, build:web

Remove 'vs-dark' theme from various components and replace 'cmtext' with...
  ui/web/cm/confdbquery/Application.js
  ui/web/core/CodeViewer.js
  ui/web/core/MarkdownEditor.js
  ui/web/core/MonacoPanel.js
  ui/web/main/jsonimport/Application.js
  ui/web/main/pyrule/Application.js
  ui/web/peer/prefixlistbuilder/Application.js
  ui/web/sa/managedobject/ConfDBPanel.js
  ui/web/sa/managedobject/ConsolePanel.js
  ui/web/support/crashinfo/Application.js
Due: eslint, build:web

Merge branch 'noc-md-widget' into 'master'
  requirements/web.json
  services/web/apps/main/desktop/templates/desktop.html
  ui/web/core/MarkdownEditor.js
  ui/web/inv/inv/plugins/comment/CommentPanel.js
Due: eslint, prettier, py:test, build:web

release-25.1:Backport!9124
  requirements/web.json
  services/web/apps/main/desktop/templates/desktop.html
  ui/web/core/MarkdownEditor.js
  ui/web/inv/inv/plugins/comment/CommentPanel.js
Due: eslint, prettier, py:test, build:web

Merge branch 'noc-remove-cmtext' into 'master'
  ui/web/cm/confdbquery/Application.js
  ui/web/core/CodeViewer.js
  ui/web/core/MarkdownEditor.js
  ui/web/core/MonacoPanel.js
  ui/web/main/jsonimport/Application.js
  ui/web/main/pyrule/Application.js
  ui/web/peer/prefixlistbuilder/Application.js
  ui/web/sa/managedobject/ConfDBPanel.js
  ui/web/sa/managedobject/ConsolePanel.js
  ui/web/support/crashinfo/Application.js
Due: eslint, build:web

release-25.1:Backport!9223
  ui/web/cm/confdbquery/Application.js
  ui/web/core/CodeViewer.js
  ui/web/core/MarkdownEditor.js
  ui/web/core/MonacoPanel.js
  ui/web/main/jsonimport/Application.js
  ui/web/main/pyrule/Application.js
  ui/web/peer/prefixlistbuilder/Application.js
  ui/web/sa/managedobject/ConfDBPanel.js
  ui/web/sa/managedobject/ConsolePanel.js
  ui/web/support/crashinfo/Application.js
Due: eslint, build:web

Fix metrics command load encode file.
  commands/metrics.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-metrics-command' into 'master'
  commands/metrics.py
Due: py-lint, mypy, py:test

Fix flake.
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

Fix AdministrativeDomain filter on Events list.
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

Clean unused vars.
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

release-25.1:Backport!9279
  commands/metrics.py
Due: py-lint, mypy, py:test

Fix Capability collection export param.
  collections/inv.capabilities/Asset/MAC_Addresses.json
  inv/models/capability.py
  services/scheduler/jobs/network_instance_service.py
Due: py-lint, mypy, prettier, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
