Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

inv.objectmodels: Nateks | NetXpert | NetXpert NX-3408 V1
  collections/inv.objectmodels/Nateks/NetXpert/NetXpert_NX-3408_V1.json
Due: prettier

inv.objectmodels: Ubiquiti | AP | PowerBeam 5AC 400
  collections/inv.objectmodels/Ubiquiti/AP/PowerBeam_5AC_400.json
Due: prettier

inv.objectmodels: Ubiquiti | AP | PowerBeam 5AC 400 ISO
  collections/inv.objectmodels/Ubiquiti/AP/PowerBeam_5AC_400_ISO.json
Due: prettier

Huawei.MA5600T. Fix pattern_more regex.
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.objectmodels: Cisco | C3850 | C3850-NM-2-40G
  collections/inv.objectmodels/Cisco/C3850/C3850-NM-2-40G.json
Due: prettier

Fix undef var
  ansible/noc_roles/noc/templates/requirements.list.j2
Due: none

ADd dependencies scan
  .gitlab-ci.yml
Due: prettier

Remove useless options and add changes rule.
  .gitlab-ci.yml
Due: prettier

Fix 'RuntimeError: no running event loop' on Datastream notify callback.
  services/datastream/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1345' into 'master'
  services/datastream/service.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add segment_lookup for segment column on ReportObjectDetail.
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Disable `action` button in grid, when we have not permission
  ui/web/core/ModelApplication.js
Due: prettier

Merge branch 'fix-avs-objectdetail-segment-lookup' into 'master'
  services/web/apps/sa/reportobjectdetail/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Huawei.MA5600T. Add Load OID for GPON interface metrics.
  sa/profiles/Huawei/MA5600T/get_metrics.py
  sa/profiles/Huawei/MA5600T/oidrules/__init__.py
  sa/profiles/Huawei/MA5600T/oidrules/gpon_ports.py
  sa/profiles/Huawei/MA5600T/profile.py
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_load_in.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_load_out.json
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix DLink.DxS_Cisco_CLI.get_lldp_neighbors script
  sa/profiles/DLink/DxS_Cisco_CLI/get_lldp_neighbors.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier

Huawei.MA5600T.get_version. Add 'Patch Version'.
  sa/profiles/Huawei/MA5600T/get_version.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.objectmodels: Cisco | C2960 | WS-C2960-48PST-S
  collections/inv.objectmodels/Cisco/C2960/WS-C2960-48PST-S.json
Due: prettier

Add Packet metrics.
  sa/profiles/Huawei/MA5600T/oidrules/gpon_ports.py
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_packets_in.json
  sa/profiles/Huawei/MA5600T/snmp_metrics/interface_packets_out.json
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

inv.connectionrules: Cisco | C3850
  collections/inv.connectionrules/Cisco/C3850.json
Due: prettier

inv.connectiontypes: Cisco | Electrical | StackWise 480
  collections/inv.connectiontypes/Cisco/Electrical/StackWise_480.json
Due: prettier

inv.connectiontypes: Cisco | C3850 | NM
  collections/inv.connectiontypes/Cisco/C3850/NM.json
Due: prettier

inv.connectiontypes: Cisco | C3850 | PSU
  collections/inv.connectiontypes/Cisco/C3850/PSU.json
Due: prettier

inv.connectiontypes: Cisco | C3850 | STACKPORT
  collections/inv.connectiontypes/Cisco/C3850/STACKPORT.json
Due: prettier

Fix Planet.WGSD.get_interfaces script
  sa/profiles/Planet/WGSD/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.connectiontypes: Extreme | Summit | X650 | FAN
  collections/inv.objectmodels/Extreme/Summit/X650/FAN-FB.json
Due: prettier

noc/noc#1346 Filter metric if it value eq SNMP_OVERLOAD_VALUE.
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.connectiontypes: Extreme | Summit | X650 | FAN
  collections/inv.objectmodels/Extreme/Summit/X650-24x.json
Due: prettier

Merge branch 'noc-1346' into 'master'
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

combobox fix
  ui/web/fm/alarm/view/grids/Lookup.js
Due: prettier

Merge branch 'planet_interfaces' into 'master'
  sa/profiles/Planet/WGSD/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

inv.objectmodels: Cisco | PWR | PWR-C1-715WAC
  collections/inv.objectmodels/Cisco/PWR/PWR-C1-715WAC.json
Due: prettier

noc/noc#1343 Use ListField for inheritance on PlainReferenceListField. Fixed extend change on field.
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1343' into 'master'
  core/mongo/fields.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Update list of datastreams in fix_rebuild_datastream
  fixes/fix_rebuild_datastream.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Generic.get_metrics. Skip SNMP rule if metric ID already processed.
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

sa.profilecheckrules: DLink | DES-7206 sysObjectID
  collections/sa.profilecheckrules/DLink/DES-7206_sysObjectID.json
Due: prettier

sa.profilecheckrules: Huawei | MA | MA5800-X17 sysObjectID
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X17_sysObjectID.json
Due: prettier

sa.profilecheckrules: Huawei | MA | MA5800-X7 sysObjectID
  collections/sa.profilecheckrules/Huawei/MA/MA5800-X7_sysObjectID.json
Due: prettier

Add DLink.DxS.get_metrics script
  sa/profiles/DLink/DxS/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize
