Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

py-lint:
  stage: Lint
  image: python:3.11-bullseye
  script:
  - set -x
  - pip install --upgrade pip
  - pip install -r .requirements/lint.txt
  - mkdir -p build/reports
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:
  stage: Build
  environment: docs
  image: python:3.11-bullseye
  script:
  - set -e -x
  - pip3 install -r .requirements/docs.txt
  - mkdocs build
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    - build/docs/ru
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/

release-24.1:Backport!8201
  core/msgstream/redpanda.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2487' into 'master'
  core/http/async_client.py
  core/http/client.py
  core/http/resolver.py
  core/http/sync_client.py
Due: py-lint, mypy, py:test

Fix labels on ETL register discovered object.
  core/etl/extractor/base.py
  core/etl/loader/managedobject.py
  core/etl/models/managedobject.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8200
  core/http/async_client.py
  core/http/client.py
  core/http/resolver.py
  core/http/sync_client.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-etl-discoveredobject-labels' into 'master'
  core/etl/extractor/base.py
  core/etl/loader/managedobject.py
  core/etl/models/managedobject.py
Due: py-lint, mypy, py:test

release-24.1:Backport!8201
  core/wf/decorator.py
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/web/apps/sa/objectdiscoveryrule/views.py
  ui/web/sa/discoveredobject/Model.js
  ui/web/sa/discoveredobject/view/Grid.js
  ui/web/sa/discoveredobject/view/Sidebar.js
  ui/web/sa/objectdiscoveryrule/Application.js
  ui/web/sa/objectdiscoveryrule/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

release-24.1:Backport!8210
  core/etl/extractor/base.py
  core/etl/loader/managedobject.py
  core/etl/models/managedobject.py
Due: py-lint, mypy, py:test

EdgeCore update
  sa/profiles/EdgeCore/ES/get_fqdn.py
  sa/profiles/EdgeCore/ES/get_inventory.py
  sa/profiles/EdgeCore/ES/get_metrics.py
  sa/profiles/EdgeCore/ES/profile.py
  sa/profiles/EdgeCore/ES/snmp_metrics/environment_temperature.json
  sa/profiles/EdgeCore/ES/snmp_metrics/memory_total.json
  sa/profiles/EdgeCore/ES/snmp_metrics/memory_usage.json
Due: py-lint, mypy, prettier, py:test

Add Resource Template.
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  sa/models/resourcetemplate.py
  services/web/apps/sa/resourcetemplate/__init__.py
  services/web/apps/sa/resourcetemplate/views.py
  ui/web/sa/resourcetemplate/Application.js
  ui/web/sa/resourcetemplate/LookupField.js
  ui/web/sa/resourcetemplate/Model.js
Due: py-lint, mypy, prettier, py:test, build:web

Import archive with source
  sa/profiles/NAG/SNR_eNOS/__init__.py
  sa/profiles/NAG/SNR_eNOS/add_vlan.py
  sa/profiles/NAG/SNR_eNOS/get_arp.py
  sa/profiles/NAG/SNR_eNOS/get_capabilities.py
  sa/profiles/NAG/SNR_eNOS/get_chassis_id.py
  sa/profiles/NAG/SNR_eNOS/get_config.py
  sa/profiles/NAG/SNR_eNOS/get_fqdn.py
  sa/profiles/NAG/SNR_eNOS/get_interface_properties.py
  sa/profiles/NAG/SNR_eNOS/get_interface_status.py
  sa/profiles/NAG/SNR_eNOS/get_interfaces.py
  sa/profiles/NAG/SNR_eNOS/get_inventory.py
  sa/profiles/NAG/SNR_eNOS/get_lldp_neighbors.py
  sa/profiles/NAG/SNR_eNOS/get_mac_address_table.py
  sa/profiles/NAG/SNR_eNOS/get_metrics.py
  sa/profiles/NAG/SNR_eNOS/get_version.py
  sa/profiles/NAG/SNR_eNOS/get_vlans.py
  sa/profiles/NAG/SNR_eNOS/profile.py
  sa/profiles/NAG/SNR_eNOS/snmp_metrics/cpu_usage.json
  sa/profiles/NAG/SNR_eNOS/snmp_metrics/environment_temperature.json
Due: py-lint, mypy, prettier, py:test

changes in year and name
  sa/profiles/NAG/SNR_eNOS/add_vlan.py
  sa/profiles/NAG/SNR_eNOS/get_arp.py
  sa/profiles/NAG/SNR_eNOS/get_capabilities.py
  sa/profiles/NAG/SNR_eNOS/get_chassis_id.py
  sa/profiles/NAG/SNR_eNOS/get_config.py
  sa/profiles/NAG/SNR_eNOS/get_fqdn.py
  sa/profiles/NAG/SNR_eNOS/get_interface_properties.py
  sa/profiles/NAG/SNR_eNOS/get_interface_status.py
  sa/profiles/NAG/SNR_eNOS/get_interfaces.py
  sa/profiles/NAG/SNR_eNOS/get_inventory.py
  sa/profiles/NAG/SNR_eNOS/get_lldp_neighbors.py
  sa/profiles/NAG/SNR_eNOS/get_mac_address_table.py
  sa/profiles/NAG/SNR_eNOS/get_metrics.py
  sa/profiles/NAG/SNR_eNOS/get_version.py
  sa/profiles/NAG/SNR_eNOS/get_vlans.py
  sa/profiles/NAG/SNR_eNOS/profile.py
Due: py-lint, mypy, py:test

Cleanup old code and debug code. Add data to get_inventory
  sa/profiles/NAG/SNR_eNOS/add_vlan.py
  sa/profiles/NAG/SNR_eNOS/get_chassis_id.py
  sa/profiles/NAG/SNR_eNOS/get_interfaces.py
  sa/profiles/NAG/SNR_eNOS/get_inventory.py
  sa/profiles/NAG/SNR_eNOS/get_lldp_neighbors.py
  sa/profiles/NAG/SNR_eNOS/get_mac_address_table.py
  sa/profiles/NAG/SNR_eNOS/get_metrics.py
  sa/profiles/NAG/SNR_eNOS/get_version.py
  sa/profiles/NAG/SNR_eNOS/profile.py
Due: py-lint, mypy, py:test

linter
  sa/profiles/NAG/SNR_eNOS/get_interfaces.py
  sa/profiles/NAG/SNR_eNOS/get_inventory.py
  sa/profiles/NAG/SNR_eNOS/get_metrics.py
  sa/profiles/NAG/SNR_eNOS/get_version.py
Due: py-lint, mypy, py:test

Add new report Availability config
  collections/main.reports/Availability.json
  core/datasources/managedobjectavailabilityds.py
Due: py-lint, mypy, prettier, py:test

Update get_lacp_neighbors from Cisco.IOSXR
  sa/profiles/Cisco/IOSXR/get_lacp_neighbors.py
Due: py-lint, mypy, py:test

Add 24.1.1 notes
  docs/blog/posts/noc-24-1-1.md
Due: prettier, build:Docs, upload docs

24.1.1 Release Notes
  docs/blog/posts/noc-24-1-1.md
Due: prettier, build:Docs, upload docs

Add 23.1.6 notes
  docs/blog/posts/noc-23-1-6.md
Due: prettier, build:Docs, upload docs

Fix docs 24.1
  docs/blog/posts/noc-23-1-6.md
  docs/blog/posts/noc-24-1-1.md
  docs/releases/23_1_6.md
  docs/releases/24_1_1.md
  mkdocs.yml
Due: prettier, build:Docs, upload docs

Fix env var https_proxy for nginx ubuntu
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_22/main.yml
Due: prettier

Fix key_url for nginx repo
  ansible/system_roles/nginx/defaults/main.yml
Due: prettier

inv.inv: Select item on expand/collapse
  ui/web/inv/inv/Application.js
Due: prettier, build:web

Mock redos build due to ImportError: /usr/lib64/python3.8/lib-dynload/pyexpat.cpython-38-x86_64-linux-gnu.so: undefined symbol: XML_SetReparseDeferralEnabled
  ansible/.ansible-ci.yml
Due: prettier

Fix env var https_proxy for nginx ubuntu
  ansible/.ansible-ci.yml
  ansible/system_roles/nginx/defaults/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_22/main.yml
Due: prettier

Merge branch 'ansible-fix-nginx-ub-httpsvar' into 'master'
  ansible/.ansible-ci.yml
  ansible/system_roles/nginx/defaults/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_22/main.yml
Due: prettier

release-24.1:Backport!8219
  ansible/.ansible-ci.yml
  ansible/system_roles/nginx/defaults/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_20/main.yml
  ansible/system_roles/nginx/tasks/os/Ubuntu_22/main.yml
Due: prettier

inv.inv: Commutation plugin
  services/web/apps/inv/inv/plugins/commutation.py
  services/web/apps/inv/inv/views.py
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: py-lint, mypy, prettier, py:test, build:web

schemaPanel fixed
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
Due: prettier, build:web

Add has_lacp_cli() from Cisco.IOSXR
  sa/profiles/Cisco/IOSXR/get_capabilities.py
Due: py-lint, mypy, py:test

add collection and doc
  collections/sa.profiles/NAG/SNR_eNOS.json
  docs/profiles-reference/NAG/SNR_eNOS.md
Due: prettier, py:test, build:Docs, upload docs

add dot
  docs/profiles-reference/NAG/SNR_eNOS.md
Due: prettier, build:Docs, upload docs

Add profile NAG.SNR_eNOS
  collections/sa.profiles/NAG/SNR_eNOS.json
  docs/profiles-reference/NAG/SNR_eNOS.md
  sa/profiles/NAG/SNR_eNOS/__init__.py
  sa/profiles/NAG/SNR_eNOS/add_vlan.py
  sa/profiles/NAG/SNR_eNOS/get_arp.py
  sa/profiles/NAG/SNR_eNOS/get_capabilities.py
  sa/profiles/NAG/SNR_eNOS/get_chassis_id.py
  sa/profiles/NAG/SNR_eNOS/get_config.py
  sa/profiles/NAG/SNR_eNOS/get_fqdn.py
  sa/profiles/NAG/SNR_eNOS/get_interface_properties.py
  sa/profiles/NAG/SNR_eNOS/get_interface_status.py
  sa/profiles/NAG/SNR_eNOS/get_interfaces.py
  sa/profiles/NAG/SNR_eNOS/get_inventory.py
  sa/profiles/NAG/SNR_eNOS/get_lldp_neighbors.py
  sa/profiles/NAG/SNR_eNOS/get_mac_address_table.py
  sa/profiles/NAG/SNR_eNOS/get_metrics.py
  sa/profiles/NAG/SNR_eNOS/get_version.py
  sa/profiles/NAG/SNR_eNOS/get_vlans.py
  sa/profiles/NAG/SNR_eNOS/profile.py
  sa/profiles/NAG/SNR_eNOS/snmp_metrics/cpu_usage.json
  sa/profiles/NAG/SNR_eNOS/snmp_metrics/environment_temperature.json
Due: py-lint, mypy, prettier, py:test, build:Docs, upload docs

Render dot
  services/web/apps/inv/inv/plugins/commutation.py
  services/web/apps/inv/inv/views.py
Due: py-lint, mypy, py:test

fix typo description on field $op in clearid message from docs
  docs/streams-reference/dispose.md
Due: prettier, build:Docs, upload docs

Fixed 500 error from URL /inv/inv/<ID>/plugin/facade/front.svg
  services/web/apps/inv/inv/plugins/facade.py
Due: py-lint, mypy, py:test

Styling
  services/web/apps/inv/inv/plugins/commutation.py
Due: py-lint, mypy, py:test

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
