Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  xenon: any of: *.py, **/*.py
  pylint: any of: *.py, **/*.py
  pylint3k: any of: *.py, **/*.py
  futurize: any of: *.py, **/*.py
  build:web: any of: ui/web/**.js, ui/web/**.css, scripts/build/web/**

Eltex.MES. Fix untagged interface normalizer trace.
  sa/profiles/Eltex/MES/confdb/normalizer.py
  tests/confdb/profiles/Eltex/MES/interface_switchport_1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Fix alarm API 'dictionary changed size during iteration' trace.
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-avs-eltex-confdb-untagged' into 'master'
  sa/profiles/Eltex/MES/confdb/normalizer.py
  tests/confdb/profiles/Eltex/MES/interface_switchport_1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1493' into 'master'
  ui/web/inv/map/MapPanel.js
Due: prettier

sova/rtk#896
  ui/web/fm/event/Application.js
  ui/web/fm/event/ApplicationController.js
  ui/web/fm/event/ApplicationModel.js
  ui/web/fm/event/plugins/Traceback.js
  ui/web/fm/event/templates/Data.hbs
  ui/web/fm/event/templates/Data.js
  ui/web/fm/event/templates/Help.hbs
  ui/web/fm/event/templates/Help.js
  ui/web/fm/event/templates/Overview.hbs
  ui/web/fm/event/templates/Overview.js
  ui/web/fm/event/templates/SummaryPanel.hbs
  ui/web/fm/event/templates/SummaryPanel.js
Due: prettier

Merge branch 'sova-896' into 'master'
  ui/web/fm/event/Application.js
  ui/web/fm/event/ApplicationController.js
  ui/web/fm/event/ApplicationModel.js
  ui/web/fm/event/plugins/Traceback.js
  ui/web/fm/event/templates/Data.hbs
  ui/web/fm/event/templates/Data.js
  ui/web/fm/event/templates/Help.hbs
  ui/web/fm/event/templates/Help.js
  ui/web/fm/event/templates/Overview.hbs
  ui/web/fm/event/templates/Overview.js
  ui/web/fm/event/templates/SummaryPanel.hbs
  ui/web/fm/event/templates/SummaryPanel.js
Due: prettier

Merge branch 'add_metrics_memory_heap_Juniper.Junos' into 'master'
  collections/pm.metrictypes/Memory/Heap.json
  sa/profiles/Juniper/JUNOS/snmp_metrics/memory_heap.json
Due: prettier

rust: fix noc-dns-sync warnings
  .gitlab-ci.yml
  rust/Cargo.toml
  rust/datastream/src/client/http.rs
  rust/datastream/src/sync/mod.rs
  rust/dnssync/Cargo.toml
  rust/dnssync/src/change/bind.rs
  rust/dnssync/src/change/mod.rs
  rust/dnssync/src/cmd.rs
  rust/dnssync/src/dnszone.rs
  rust/dnssync/src/error.rs
  rust/dnssync/src/main.rs
Due: prettier

add comment icon & fix for IE 11
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/fm/alarm/view/grids/Grid.js
  ui/web/fm/alarm/view/grids/GridViewTable.js
Due: prettier

Fix Eltex.MA4000 inventory
  collections/inv.connectionrules/Eltex/MA4000.json
  collections/inv.connectiontypes/Eltex/MA4000/linecard.json
  collections/inv.connectiontypes/Eltex/MA4000/sup.json
  collections/inv.objectmodels/Eltex/MA4000/MA4000.json
  collections/inv.objectmodels/Eltex/MA4000/PP4X.json
  sa/profiles/Eltex/MA4000/get_inventory.py
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Update Cisco.NXOS FM rules
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/DOM/Alarm_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/DOM/Alarm_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/DOM/Warning_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/Link_Down_1_SNMP_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/Link_Down_2_SNMP_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/Link_Up_1_SNMP_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/Link_Up_2_SNMP_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/Link/Link_Up_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/NXOS/Network/MAC/MAC_Flap_1_SYSLOG_.json
Due: prettier

fix metrics "Subscribers | Summary" Alcatel.TIMOS
  sa/profiles/Alcatel/TIMOS/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_ddash_memory_heap
  templates/ddash/graph_memory_heap.j2
Due: none

noc/noc#1504 Add AlarmComments Report.
  services/web/apps/fm/reportalarmcomments/__init__.py
  services/web/apps/fm/reportalarmcomments/views.py
  ui/web/fm/reportalarmcomments/Application.js
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Profile: IPQAM
  collections/inv.capabilities/Network/DVBC.json
  collections/pm.metricscopes/Multicast.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Percent.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Used.json
  collections/pm.metrictypes/Multicast/Channel/Group/Count.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/In.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/Out.json
  collections/pm.metrictypes/Multicast/Group/Status.json
  collections/sa.profilecheckrules/Sumavision/IPQAM/10K511N_sysObjectID.json
  collections/sa.profiles/Sumavision/IPQAM.json
  docs/en/docs/user/reference/profiles/Sumavision/Sumavision.IPQAM.md
  sa/profiles/Sumavision/IPQAM/__init__.py
  sa/profiles/Sumavision/IPQAM/get_capabilities.py
  sa/profiles/Sumavision/IPQAM/get_chassis_id.py
  sa/profiles/Sumavision/IPQAM/get_interface_status_ex.py
  sa/profiles/Sumavision/IPQAM/get_interfaces.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
  sa/profiles/Sumavision/IPQAM/get_version.py
  sa/profiles/Sumavision/IPQAM/profile.py
  services/web/apps/pm/ddash/dashboards/modvbc.py
  services/web/apps/pm/ddash/views.py
  templates/ddash/dash_modvbc.j2
  templates/ddash/dash_multicast.j2
  templates/ddash/graph_multicast_channel.j2
  templates/ddash/graph_multicast_group.j2
  templates/ddash/graph_multicast_group_bitrate.j2
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Grafana. Fix Iface Load, Multicast Channel
  templates/ddash/graph_interface_load.j2
  templates/ddash/graph_multicast_channel.j2
Due: none

Add load ETL loaders from custom.
  core/etl/loader/loader.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

add_ddash_subscribers_summary
  templates/ddash/dash_mo.j2
  templates/ddash/graph_subscribers_summary_port.j2
  templates/ddash/graph_subscribers_summary_slot.j2
  templates/ddash/graph_subscribers_summary_total.j2
Due: none

fix_metrics_subscribers_summary_Juniper.Junose
  sa/profiles/Juniper/JUNOSe/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

fix_metrics_subscribers_summary_Juniper.Junos
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

noc/noc#1494 Add hostname to ManagedObject card.
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'noc-1494' into 'master'
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Orion.NOS. Add get_fqdn script.
  sa/profiles/Orion/NOS/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-orion-nos-gqdn' into 'master'
  sa/profiles/Orion/NOS/get_fqdn.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix stupid error in -envflag.prefix string Prefix for environment variables if -envflag.enable is set
  docker/docker-compose-infra.yml
Due: prettier

fix black add alarm class add event class add event class rule
  collections/fm.alarmclasses/Multicast/Frequency/Overflow.json
  collections/fm.eventclasses/Multicast/Frequency/Overflow.json
  collections/fm.eventclasses/Multicast/Frequency/Overflow_Resume.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Multicast/Frequency/Overflow_Resume_SNMP.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Multicast/Frequency/Overflow_SNMP.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Network/Link/Link_Down_SNMP.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Network/Link/Link_Up_SNMP.json
  sa/profiles/Sumavision/IPQAM/get_interface_status_ex.py
  sa/profiles/Sumavision/IPQAM/get_interfaces.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
  services/web/apps/pm/ddash/dashboards/modvbc.py
  templates/ddash/graph_multicast_channel.j2
  templates/ddash/graph_multicast_group.j2
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

inv.objectmodels: Huawei | CloudEngine | PAC600S12-CB
  collections/inv.objectmodels/Huawei/CloudEngine/PAC600S12-CB.json
Due: prettier

inv.objectmodels: Huawei | CloudEngine | S6330-H24X6C
  collections/inv.objectmodels/Huawei/CloudEngine/S6330-H24X6C.json
Due: prettier

inv.objectmodels: Huawei | CloudEngine | S6330-H48X6C
  collections/inv.objectmodels/Huawei/CloudEngine/S6330-H48X6C.json
Due: prettier

Add Eltex.TAU.get_lldp_neighbors script
  sa/profiles/Eltex/TAU/get_capabilities.py
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Juniper.JUNOS.get_capabilities. Catch SNMP error on capabilities.
  sa/profiles/Juniper/JUNOS/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Eltex.MES. Fix confdb untagged vlan fix.
  sa/profiles/Eltex/MES/confdb/normalizer.py
  tests/confdb/profiles/Eltex/MES/interface_switchport_1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

Merge branch 'patch-avs-juniper-junose' into 'master'
  sa/profiles/Juniper/JUNOS/get_capabilities.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Merge branch 'fix-eltex-untagged-confdb' into 'master'
  sa/profiles/Eltex/MES/confdb/normalizer.py
  tests/confdb/profiles/Eltex/MES/interface_switchport_1.yml
Due: flake8, black, mypy, prettier, xenon, pylint, pylint3k, futurize

ZTE.ZXR10. Fixes for 2928E V2.05.10B26.
  sa/profiles/ZTE/ZXR10/get_capabilities.py
  sa/profiles/ZTE/ZXR10/get_chassis_id.py
  sa/profiles/ZTE/ZXR10/get_fqdn.py
  sa/profiles/ZTE/ZXR10/get_interfaces.py
  sa/profiles/ZTE/ZXR10/get_lldp_neighbors.py
  sa/profiles/ZTE/ZXR10/get_version.py
  sa/profiles/ZTE/ZXR10/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix inject-event command for sending to liftbridge.
  commands/inject-event.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Fix ZTE.ZXA10.get_interface script
  sa/profiles/ZTE/ZXA10/get_interfaces.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize

Add port to Subscriber Scope path.
  collections/pm.metricscopes/Subscriber.json
Due: prettier

Qtech.QFC. Add custom SNMP parser.
  sa/profiles/Qtech/QFC/profile.py
Due: flake8, black, mypy, xenon, pylint, pylint3k, futurize
