Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix 0100_managedobject_set_pool.py
  sa/migrations/0100_managedobject_set_pool.py
Due: py-lint, mypy, py:test

button disabled if filter empty or no selected rows
  ui/web/sa/discoveredobject/Application.js
  ui/web/sa/discoveredobject/ApplicationModel.js
  ui/web/sa/discoveredobject/controller/Grid.js
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/discoveredobject/model/Container.js
  ui/web/sa/discoveredobject/model/Sidebar.js
  ui/web/sa/discoveredobject/view/Container.js
  ui/web/sa/discoveredobject/view/Grid.js
  ui/web/sa/discoveredobject/view/Sidebar.js
Due: prettier, build:web

#2344 Rename pool P0001
  main/migrations/0055_default_pool.py
  main/migrations/0071_del_PXXXX_is_null.py
  sa/migrations/0100_managedobject_set_pool.py
Due: py-lint, mypy, py:test

Add cfgtarget datastream.
  commands/datastream.py
  config.py
  core/ip.py
  sa/models/managedobject.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  services/ping/probesetting.py
  services/ping/service.py
Due: py-lint, mypy, py:test

Fix typo.
  services/datastream/streams/cfgtarget.py
Due: py-lint, mypy, py:test

widget source added
  ui/web/sa/discoveredobject/view/Sidebar.js
  ui/web/sa/discoveredobject/widget/Source.js
Due: prettier, build:web

by last update filter added
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/discoveredobject/view/Container.js
  ui/web/sa/discoveredobject/view/Sidebar.js
  ui/web/sa/discoveredobject/widget/Source.js
Due: prettier, build:web

check widget added
  ui/web/sa/discoveredobject/view/Sidebar.js
  ui/web/sa/discoveredobject/widget/Check.js
  ui/web/sa/discoveredobject/widget/Source.js
Due: prettier, build:web

reload added
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/discoveredobject/model/Container.js
  ui/web/sa/discoveredobject/widget/Check.js
Due: prettier, build:web

some fix
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/discoveredobject/view/Grid.js
  ui/web/sa/discoveredobject/view/Sidebar.js
Due: prettier, build:web

Add cleaned_query query.
  services/web/apps/sa/discoveredobject/views.py
Due: py-lint, mypy, py:test

config query for group buttons, list-query fixed
  ui/web/sa/discoveredobject/controller/Container.js
  ui/web/sa/discoveredobject/controller/Grid.js
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/discoveredobject/model/Container.js
  ui/web/sa/discoveredobject/store/DiscoveredObject.js
  ui/web/sa/discoveredobject/view/Container.js
  ui/web/sa/discoveredobject/view/Grid.js
Due: prettier, build:web

field holder added
  ui/web/sa/discoveredobject/view/Sidebar.js
  ui/web/sa/discoveredobject/widget/Check.js
Due: prettier, build:web

manual scan form added
  ui/web/sa/discoveredobject/controller/Container.js
  ui/web/sa/discoveredobject/view/Container.js
Due: prettier, build:web

Fixed 'NoneType' object has no attribute 'credentials'
  sa/models/managedobjectprofile.py
Due: py-lint, mypy, py:test

Fix Date Filter from Events
  services/web/apps/fm/event/views.py
Due: py-lint, mypy, py:test

Fix Classifier error is handler in trigger is None
  services/classifier/trigger.py
Due: py-lint, mypy, py:test

Add proxy supported.
  core/http/async_client.py
  core/http/client.py
Due: py-lint, mypy, py:test

Fix tests.
  tests/test_py_module.py
Due: py-lint, mypy, py:test

Fix import.
  core/http/async_client.py
  core/http/sync_client.py
Due: py-lint, mypy, py:test

Fix await.
  core/consul.py
  core/service/rpc.py
  services/chwriter/service.py
Due: py-lint, mypy, py:test

Fix consul body convert.
  core/consul.py
  core/http/async_client.py
  core/http/sync_client.py
  core/service/rpc.py
Due: py-lint, mypy, py:test

noc-2449
  ui/web/fm/alarm/ApplicationController.js
Due: prettier, build:web

Add resolver to datastream client.
  core/datastream/client.py
  core/http/async_client.py
  core/script/http/middleware/digestauth.py
Due: py-lint, mypy, py:test

Fix Classifier error if handler in trigger is None
  services/classifier/trigger.py
Due: py-lint, mypy, py:test

Merge branch 'noc-2445' into 'master'
  services/classifier/trigger.py
Due: py-lint, mypy, py:test

Encode Span headers.
  core/script/http/base.py
  core/service/rpc.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7936
  services/classifier/trigger.py
Due: py-lint, mypy, py:test

Remove address from Diagnostic check config.
  core/checkers/base.py
  core/checkers/cli.py
  core/checkers/profile.py
  core/checkers/snmp.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Fix auth profile on CredentialCheck Rule.
  sa/models/credentialcheckrule.py
Due: py-lint, mypy, py:test

Fixed 'NoneType' object has no attribute 'credentials'
  core/checkers/base.py
  core/checkers/cli.py
  core/checkers/profile.py
  core/checkers/snmp.py
  sa/models/credentialcheckrule.py
  sa/models/managedobjectprofile.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Remove propagate filter from get_effective_settings to.
  main/models/label.py
Due: py-lint, mypy, py:test

Catch HTTP Error.
  core/http/async_client.py
  core/http/sync_client.py
Due: py-lint, mypy, py:test

Fix typo.
  core/http/async_client.py
Due: py-lint, mypy, py:test

Add Gufo HTTP client for replace NOC HTTP Client.
  .requirements/node.txt
  Dockerfile
  core/clickhouse/connect.py
  core/consul.py
  core/datastream/client.py
  core/geocoder/base.py
  core/http/async_client.py
  core/http/client.py
  core/http/sync_client.py
  core/script/http/base.py
  core/script/http/middleware/digestauth.py
  core/service/rpc.py
  main/refbooks/downloaders/url_csv.py
  sa/profiles/Dahua/DH/middleware/dahuaauth.py
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
  services/activator/paths/activator.py
  services/chwriter/service.py
  tests/test_py_module.py
Due: py-lint, mypy, py:test

Remove old pythons, add new ones
  ansible/noc_roles/noc/tasks/bring_python.yml
Due: prettier

Fix python path in /opt/
  ansible/noc_roles/noc/defaults/main.yml
  ansible/noc_roles/noc/tasks/bring_python.yml
Due: prettier

Fix dir path
  ansible/noc_roles/noc/tasks/bring_python.yml
Due: prettier

Fix typo.
  main/models/label.py
Due: py-lint, mypy, py:test
