Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

Fix style delete process
  main/models/style.py
Due: py-lint, mypy, py:test

#2329 Fix style creation
  main/models/style.py
  sa/interfaces/base.py
Due: py-lint, mypy, py:test

#2329 convert value to hex
  main/models/style.py
  services/web/apps/main/label/views.py
  services/web/apps/pm/measurementunits/views.py
  ui/web/main/label/Model.js
  ui/web/main/style/Application.js
  ui/web/main/style/Model.js
  ui/web/pm/measurementunits/Model.js
  ui/web/ux/form/ColorField.js
Due: py-lint, mypy, prettier, py:test, build:web

Merge branch 'noc-2329' into 'master'
  main/models/style.py
  services/web/apps/main/label/views.py
  services/web/apps/pm/measurementunits/views.py
  ui/web/main/label/Model.js
  ui/web/main/style/Application.js
  ui/web/main/style/Model.js
  ui/web/pm/measurementunits/Model.js
  ui/web/ux/form/ColorField.js
Due: py-lint, mypy, prettier, py:test, build:web

release-23.1:Backport!7807
  main/models/style.py
  services/web/apps/main/label/views.py
  services/web/apps/pm/measurementunits/views.py
  ui/web/main/label/Model.js
  ui/web/main/style/Application.js
  ui/web/main/style/Model.js
  ui/web/pm/measurementunits/Model.js
  ui/web/ux/form/ColorField.js
Due: py-lint, mypy, prettier, py:test, build:web

MikroTik.RouterOS fix CLI working on new RouterOS version
  sa/profiles/MikroTik/RouterOS/profile.py
Due: py-lint, mypy, py:test

Merge branch 'patch-mikrotik-routeros-various-fix' into 'master'
  sa/profiles/MikroTik/RouterOS/profile.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7808
  sa/profiles/MikroTik/RouterOS/profile.py
Due: py-lint, mypy, py:test

fixed
  ui/web/sa/managedobject/form/FormController.js
Due: prettier, build:web

Add global_cpe_id and local_cpe_id to ignored_fields
  services/web/apps/sa/managedobject/views.py
Due: py-lint, mypy, py:test

#2323 Fix Create ManagedObject when Custom Field set
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/form/FormController.js
Due: py-lint, mypy, prettier, py:test, build:web

Merge branch 'noc-2323' into 'master'
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/form/FormController.js
Due: py-lint, mypy, prettier, py:test, build:web

release-23.1:Backport!7814
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/form/FormController.js
Due: py-lint, mypy, prettier, py:test, build:web

Remove bad param from insert_many on whois update.
  peer/models/whoisassetmembers.py
  peer/models/whoisoriginroute.py
Due: py-lint, mypy, py:test

Fix Interface | Speed metric.
  sa/profiles/Ubiquiti/Controller/get_cpe.py
  sa/profiles/Ubiquiti/Controller/get_metrics.py
Due: py-lint, mypy, py:test

Add Ubiquity.Controller profile.
  sa/profiles/Ubiquiti/Controller/get_cpe.py
  sa/profiles/Ubiquiti/Controller/get_metrics.py
  sa/profiles/Ubiquiti/Controller/get_uptime.py
  sa/profiles/Ubiquiti/Controller/get_version.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
  sa/profiles/Ubiquiti/Controller/profile.py
Due: py-lint, mypy, py:test

Add X-Csrf-Token headers to query.
  sa/profiles/Ubiquiti/Controller/get_metrics.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
Due: py-lint, mypy, py:test

Merge branch 'fix-avs-query-param-update-whois' into 'master'
  peer/models/whoisassetmembers.py
  peer/models/whoisoriginroute.py
Due: py-lint, mypy, py:test

Fix 'different vertices on map' error when request same coordinates for box.
  core/geo.py
  gis/map.py
Due: py-lint, mypy, py:test

Fix black.
  gis/map.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7817
  peer/models/whoisassetmembers.py
  peer/models/whoisoriginroute.py
Due: py-lint, mypy, py:test

Fix saving KB Entry with attachments
  core/model/databasestorage.py
  kb/models/kbentry.py
  services/web/base/extmodelapplication.py
Due: py-lint, mypy, py:test

Optimize code
  services/web/base/extmodelapplication.py
Due: py-lint, mypy, py:test

Fix firmare_recommended_version output in MO card
  services/card/templates/managedobject.html.j2
Due: none

Update Rotek.RTBS profile
  sa/profiles/Rotek/RTBS/snmp_metrics/memory_total.json
Due: prettier, py:test

#2242 Fix saving KB Entry with attachments
  core/model/databasestorage.py
  kb/models/kbentry.py
  services/web/base/extmodelapplication.py
Due: py-lint, mypy, py:test

Merge branch 'fix-2242-kb' into 'master'
  core/model/databasestorage.py
  kb/models/kbentry.py
  services/web/base/extmodelapplication.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7820
  core/model/databasestorage.py
  kb/models/kbentry.py
  services/web/base/extmodelapplication.py
Due: py-lint, mypy, py:test

Drop unique index when CPE migration.
  inv/migrations/0034_cpe_controller_to_many.py
Due: py-lint, mypy, py:test

Send firmware parameter entirely
  inv/models/firmwarepolicy.py
  services/card/templates/managedobject.html.j2
Due: py-lint, mypy, py:test

#2335 Fix firmare_recommended_version output in MO card
  inv/models/firmwarepolicy.py
Due: py-lint, mypy, py:test

Merge branch 'fix-2335-firmware-version' into 'master'
  inv/models/firmwarepolicy.py
Due: py-lint, mypy, py:test

release-23.1:Backport!7821
  inv/models/firmwarepolicy.py
Due: py-lint, mypy, py:test

Update Get SLA Metrics and SLA Ddash
  sa/profiles/Huawei/VRP/get_metrics.py
  templates/ddash/dash_ipsla.j2
Due: py-lint, mypy, py:test

Merge branch 'noc-sla-metrics-fix' into 'master'
  sa/profiles/Huawei/VRP/get_metrics.py
  templates/ddash/dash_ipsla.j2
Due: py-lint, mypy, py:test

release-23.1:Backport!7830
  sa/profiles/Huawei/VRP/get_metrics.py
  templates/ddash/dash_ipsla.j2
Due: py-lint, mypy, py:test

Update inv.objectmodels/FANGHANG/Transceiver/1G/FH-SB3512CDL20
  collections/inv.objectmodels/FANGHANG/Transceiver/1G/FH-SB3512CDL20.json
Due: prettier, py:test

Add inv.objectmodels/Raisecom/ROS/ISCOM2110EA-MA-PWR.json
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2110EA-MA-PWR.json
Due: prettier, py:test

added Raisecom ISCOM2924GF-4C and ISCOM2924GF-4GE variations
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2110EA-MA-PWR-AC.json
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2924GF-4C-ACD.json
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2924GF-4C-AC_DC.json
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2924GF-4C-DCD.json
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2924GF-4GE-ACD.json
  collections/inv.objectmodels/Raisecom/ROS/ISCOM2924GF-4GE-DCD.json
Due: prettier, py:test
