Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: py-lint, mypy, eslint, prettier, py:test, build:Docs, build:web, upload docs

Path conditions:
  py-lint: any of: *.py, **/*.py, .requirements/*.txt, .gitlab-ci.yml, pyproject.toml
  mypy: any of: *.py, **/*.py
  eslint: any of: *.js, **/*.js
  prettier: any of: *.json, *.css, *.yml, *.md, **/*.json, **/*.css, **/*.yml, **/*.md
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*, mkdocs.yml, macros.py, .requirements/docs.txt

csv and ssv fixed
  services/web/base/simplereport.py
Due: py-lint, mypy, py:test

Remove unused import
  services/web/apps/main/desktop/views.py
Due: py-lint, mypy, py:test

Add datastream sync on EventClassificationRule.
  commands/datastream.py
  commands/events.py
  config.py
  fixes/fix_rebuild_datastream.py
  fm/models/eventclassificationrule.py
  services/classifier/datastream.py
  services/classifier/rule.py
  services/classifier/rulelookup.py
  services/classifier/ruleset.py
  services/classifier/service.py
  services/datastream/models/cfgeventrules.py
  services/datastream/streams/cfgeventrules.py
Due: py-lint, mypy, py:test

dlproxy endpoint removed
  services/web/apps/main/desktop/views.py
  services/web/base/simplereport.py
Due: py-lint, mypy, py:test

Add EventCategory.
  bi/models/events.py
  core/etl/loader/fmevent.py
  core/etl/models/fmevent.py
  core/fm/enum.py
  core/fm/event.py
  fm/models/eventcategory.py
  fm/models/eventclassificationrule.py
  services/classifier/rule.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Add category to EventClassification Rule.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Add EventCategory bi dictionary.
  core/bi/dictionaries/eventcategory.py
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Add to model.
  models.py
  ui/web/fm/eventcategory/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Add web backend.
  fm/models/eventcategory.py
  services/web/apps/fm/eventcategory/__init__.py
  services/web/apps/fm/eventcategory/views.py
  ui/web/fm/eventcategory/Application.js
  ui/web/fm/eventcategory/LookupField.js
  ui/web/fm/eventcategory/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Move categories to list.
  core/etl/loader/fmevent.py
  core/etl/models/fmevent.py
  core/fm/event.py
  fm/models/eventcategory.py
  services/classifier/rule.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Fix black.
  core/etl/loader/fmevent.py
  fm/models/eventcategory.py
  fm/models/eventclassificationrule.py
Due: py-lint, mypy, py:test

Fix bi models.
  bi/models/events.py
Due: py-lint, mypy, py:test

Remove unused import.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Remove unused import.
  fm/models/eventcategory.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/eventcategory.py
  services/classifier/rule.py
Due: py-lint, mypy, py:test

Fix.
  ui/web/fm/classificationrule/Application.js
Due: eslint, build:web

Fix model collections.
  models.py
Due: py-lint, mypy, py:test

Fix typo.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Fix on_delete_check.
  fm/models/eventcategory.py
Due: py-lint, mypy, py:test

Fix UI.
  ui/web/fm/classificationrule/Model.js
Due: eslint, build:web

Revert fmevent sharding.
  core/etl/loader/fmevent.py
Due: py-lint, mypy, py:test

Remove unused imports.
  core/etl/loader/fmevent.py
Due: py-lint, mypy, py:test

Add categories to Datastream.
  fm/models/eventclassificationrule.py
  services/classifier/rule.py
  services/datastream/models/cfgeventrules.py
Due: py-lint, mypy, py:test

Convert categories to bi_id.
  fm/models/eventclassificationrule.py
  services/classifier/rule.py
  services/classifier/service.py
Due: py-lint, mypy, py:test

Remove unused imports.
  services/classifier/rule.py
Due: py-lint, mypy, py:test

Set defaults
  config.py
  core/msgstream/redpanda.py
Due: py-lint, mypy, py:test

Remove unused imports.
  sa/models/authprofile.py
  sa/models/managedobject.py
Due: py-lint, mypy, py:test

Add DispositionRule.
  fm/models/dispositionrule.py
  models.py
Due: py-lint, mypy, py:test

Add UI Application.
  fm/models/dispositionrule.py
  services/web/apps/fm/dispositionrule/__init__.py
  services/web/apps/fm/dispositionrule/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Add cfgdispositionrules datastream.
  commands/datastream.py
  fm/models/dispositionrule.py
  services/datastream/models/cfgdispositionrule.py
  services/datastream/streams/cfgdispositionrules.py
Due: py-lint, mypy, py:test

Fix UI Application.
  fm/models/dispositionrule.py
  services/datastream/models/cfgdispositionrule.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/LookupField.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix decorator.
  fm/models/dispositionrule.py
Due: py-lint, mypy, py:test

Fix.
  services/datastream/streams/cfgdispositionrules.py
Due: py-lint, mypy, py:test

Add matcher to DispositionRule.
  fm/models/dispositionrule.py
  ui/web/fm/dispositionrule/Application.js
Due: py-lint, mypy, eslint, py:test, build:web

Fux UI is_active.
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: eslint, build:web

Fix datastream name.
  fm/models/dispositionrule.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Fix typo.
  fm/models/dispositionrule.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Due: py-lint, mypy, eslint, py:test, build:web

Block on login user with long inactive time
  config.py
  services/login/auth.py
  services/login/paths/auth.py
  services/login/paths/login.py
  services/login/paths/token.py
Due: py-lint, mypy, py:test

Used update credential on diagnostic.
  core/checkers/base.py
  core/wf/diagnostic.py
  sa/models/authprofile.py
  sa/models/credentialcheckrule.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/activator/checkers/snmp.py
  services/discovery/jobs/periodic/diagnostic.py
Due: py-lint, mypy, py:test

Fix formatting.
  sa/models/credentialcheckrule.py
Due: py-lint, mypy, py:test
