Repository nocproject/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, py:test, build:Docs:ru, build:Docs:en, build:web, upload docs, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css|md)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

py:test:
  stage: Test
  before_script:
  - DOCKER_COMPOSE_PROJECT=${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-pytests
  - mv .dockerignore .dockerignore.prod
  - cp .dockerignore.tests .dockerignore
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - ls -al
  ...

build:Docs:ru:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/ru/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/ru
    expire_in: 2 hours

build:Docs:en:
  stage: Build
  environment: docs
  image: registry.getnoc.com/infrastructure/mkdocs:master
  script:
  - set -x
  - mkdocs build --strict --config-file=docs/en/mkdocs.yml
  tags:
  - docker
  artifacts:
    paths:
    - build/docs/en
    expire_in: 2 hours

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

upload docs:
  stage: Upload
  environment: docs
  variables:
    SOURCE: build/docs/*
    DEST: cdn/$S3_BUCKET/$CI_COMMIT_REF_SLUG/

noc/noc#2059
  ui/web/inv/interface/Application.js
Due: prettier, build:web

Fix TopoDatastreamClient.
  services/topo/datastream.py
  services/topo/topo.py
Due: flake8, black, mypy, pylint, py:test

Slice activator script result publish.
  core/jsonutils.py
  services/activator/paths/activator.py
  services/discovery/jobs/interval/metrics.py
Due: flake8, black, mypy, pylint, py:test

Catch Kafkasender Service connect producer errors.
  services/kafkasender/service.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#2061
  ui/web/core/ModelStore.js
  ui/web/sa/managedobject/ConfDBPanel.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/LinkForm.js
Due: prettier, build:web

Fix black.
  services/discovery/jobs/interval/metrics.py
Due: flake8, black, mypy, pylint, py:test

add error when status is 500
  ui/web/core/ModelStore.js
  ui/web/sa/managedobject/form/FormController.js
Due: prettier, build:web

Fix flake.
  services/activator/paths/activator.py
Due: flake8, black, mypy, pylint, py:test

Fix black.
  commands/msgstream.py
Due: flake8, black, mypy, pylint, py:test

disabled Save button, when form is not valid
  ui/web/sa/managedobject/form/View.js
Due: prettier, build:web

noc/noc#2060
  ui/web/sa/managedobject/Controller.js
Due: prettier, build:web

noc/noc#2063
  ui/web/wf/workflow/WFEditor.js
Due: prettier, build:web

noc/noc#2062
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/View.js
Due: prettier, build:web

add state combo in filter
  ui/web/core/filter/Filter.js
Due: prettier, build:web

fix deploy errors
  ansible/molecule/ubuntu20/molecule.yml
  ansible/molecule/yc/centos7/centos7.tf
  ansible/molecule/yc/centos7/terraform.tfstate
  ansible/molecule/yc/centos7/terraform.tfstate.backup
  ansible/molecule/yc/debian11/debian11.tf
  ansible/molecule/yc/debian11/terraform.tfstate
  ansible/molecule/yc/debian11/terraform.tfstate.backup
  ansible/molecule/yc/redos/redos.tf
  ansible/molecule/yc/redos/terraform.tfstate
  ansible/molecule/yc/redos/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu18/terraform.tfstate
  ansible/molecule/yc/ubuntu18/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu18/ubuntu18.tf
  ansible/molecule/yc/ubuntu20/terraform.tfstate
  ansible/molecule/yc/ubuntu20/terraform.tfstate.backup
  ansible/molecule/yc/ubuntu20/ubuntu20.tf
  ansible/noc_roles/noc/tasks/os/RED_7/main.yml
  ansible/system_roles/grafana/tasks/main.yml
  ansible/system_roles/mongod/defaults/main.yml
  ansible/system_roles/mongod/templates/etc/logrotate.d/mongod.conf.j2
  ansible/system_roles/nginx/tasks/certs.yml
  ansible/system_roles/nginx/tasks/main.yml
  ansible/system_roles/nginx/tasks/os/RED_7/main.yml
  ansible/system_roles/nginx/templates/upstream.conf.ctmpl
  ansible/system_roles/nginx/vars/RED_7.yml
  ansible/vars/RED_7.yml
  ansible/vars/main.yml
Due: prettier

Catch Internal Server Error on extmodelapplication.
  services/web/apps/sa/managedobject/views.py
  services/web/base/extmodelapplication.py
Due: flake8, black, mypy, pylint, py:test

Fix flake.
  services/web/apps/sa/managedobject/views.py
Due: flake8, black, mypy, pylint, py:test

noc/noc#2060 Add protected field to ManagedObject form
  ui/web/sa/managedobject/Controller.js
Due: prettier, build:web

noc/noc#2059 Catch getting error for MAC Collection button
  ui/web/inv/interface/Application.js
Due: prettier, build:web

noc/noc#2062 Add state combo in filter
  ui/web/core/filter/Filter.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/View.js
Due: prettier, build:web

release-22.2:Backport!7148
  ui/web/inv/interface/Application.js
Due: prettier, build:web

noc/noc#2063 Add labels to WF Editior State inspector
  ui/web/wf/workflow/WFEditor.js
Due: prettier, build:web

noc/noc#2061 Add error when status is 500 to ManagedObject list
  services/web/apps/sa/managedobject/views.py
  services/web/base/extmodelapplication.py
  ui/web/core/ModelStore.js
  ui/web/sa/managedobject/ConfDBPanel.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/LinkForm.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Set Generic.Host as default SA Profile.
  sa/models/managedobject.py
  sa/models/profile.py
  ui/web/sa/managedobject/form/View.js
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Move SA Profile field to Access.
  ui/web/sa/managedobject/form/View.js
Due: prettier, build:web

Add _sleep_on_error.
  services/kafkasender/service.py
Due: flake8, black, mypy, pylint, py:test

Send reboot to BI direct.
  bi/models/reboots.py
  core/etl/bi/extractor/reboots.py
  fm/models/uptime.py
Due: flake8, black, mypy, pylint, py:test

Add Dahua.DH profile to collection
  collections/sa.profilecheckrules/Dahua/DH/DH_HTTP.json
  collections/sa.profilecheckrules/Dahua/DH/DH_HTTP_VTO.json
  collections/sa.profiles/Dahua/DH.json
  sa/profiles/Dahua/DH/profile.py
Due: flake8, black, mypy, prettier, pylint, py:test

Merge branch 'Dahua_cam' into 'master'
  collections/sa.profilecheckrules/Dahua/DH/DH_HTTP.json
  collections/sa.profilecheckrules/Dahua/DH/DH_HTTP_VTO.json
  collections/sa.profiles/Dahua/DH.json
  sa/profiles/Dahua/DH/profile.py
Due: flake8, black, mypy, prettier, pylint, py:test

release-22.2:Backport!7147
  collections/sa.profilecheckrules/Dahua/DH/DH_HTTP.json
  collections/sa.profilecheckrules/Dahua/DH/DH_HTTP_VTO.json
  collections/sa.profiles/Dahua/DH.json
  sa/profiles/Dahua/DH/profile.py
Due: flake8, black, mypy, prettier, pylint, py:test

Fix test.
  tests/bi/test_reboots.py
Due: flake8, black, mypy, pylint, py:test

Add alter.
  commands/msgstream.py
  core/msgstream/client.py
  core/msgstream/liftbridge.py
  core/msgstream/metadata.py
  core/msgstream/redpanda.py
Due: flake8, black, mypy, pylint, py:test

Fix ReplicaFactor for redpanda.
  core/msgstream/client.py
  core/msgstream/liftbridge.py
  core/msgstream/redpanda.py
Due: flake8, black, mypy, pylint, py:test

Fix calculate for not uplink root.
  .requirements/node.txt
  services/topo/topo.py
Due: flake8, black, mypy, pylint, py:test

Add labels to set_state dispose protocol.
  commands/alarm.py
  services/correlator/models/setstatusreq.py
  services/correlator/service.py
Due: flake8, black, mypy, pylint, py:test

Fix np_random_state.
  core/topology/layout/spring.py
Due: flake8, black, mypy, pylint, py:test

Add migrations for allowed_models to Workflow.
  sa/models/managedobjectprofile.py
  wf/migrations/0007_managedobject_default.py
  wf/migrations/0008_add_allowed_models.py
Due: flake8, black, mypy, pylint, py:test

Add workflow field to ManagedObjectProfile UI.
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: prettier, build:web

Add hide_with_state param to State.
  sa/models/managedobjectprofile.py
  services/web/base/decorators/state.py
  services/web/base/extapplication.py
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/wf/state/Application.js
  ui/web/wf/state/Model.js
  wf/models/state.py
Due: flake8, black, mypy, prettier, pylint, py:test, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, *.md, **/*.js, **/*.json, **/*.css, **/*.yml, **/*.md
  pylint: any of: *.py, **/*.py
  py:test: any of: *.py, **/*.py, requirements.txt, **/*.json
  build:Docs:ru: any of: docs/ru/*, docs/ru/**/*
  build:Docs:en: any of: docs/en/*, docs/en/**/*
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  upload docs: any of: docs/*, docs/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
